[2015-10-26 18:04] davisagli commented on #328
Did you work on this one @alecpm?

[2015-10-26 18:07] WaBirder57 commented on #348
This is just for staging.wta.org:6543   .

[2015-10-26 18:15] WaBirder57 opened #349 "VMS: When a WP is full we should not display how many slots there are left (a negative number)"
In the find a work party list view we should not show the number of spaces available if the WP is full.  Currently the system is showing a negative number if there is a wait list and this is confusing.  We think we should just not show the number of slots anymore once the WP is at capacity.

![wplistshowsnegativeslotswhenwaitlist](https://cloud.githubusercontent.com/assets/8312206/10738035/9e4a225

[2015-10-26 18:17] davisagli commented on #349
Should we show the number of people on the waitlist instead?

[2015-10-26 18:21] WaBirder57 opened #350 "VMS: Friends and family sign ups are registered with the same role as the main person."
When an assistant crew leader registers with a +1, the additional family/friends are also showing up as assistant crew leaders. This is not acceptable. See this work party for example. I signed myself up as an ACL, and also signed up a youth, Little Jimmy. Little Jimmy is showing up as an ACL in the work party roster.

Also, if the friend or family doesn't have the required ACL certifications then

[2015-10-26 18:25] davisagli commented on #350
I think this is a duplicate of the second part of #79.

[2015-10-26 18:29] davisagli commented on #79
I'm changing this one to "high priority" since it's come up a few times and Charlie used the words "not acceptable" in #350

[2015-10-26 18:29] WaBirder57 opened #351 "VMS: Volunteer Detail view missing WP dates"
In VMS when a Crew leader looks a the roster and clicks on a volunteer a detailed view of that volunteer is displayed.  On this, the list of prior work parties doesn't display the dates of the work parties.  That column is blank.

![volunteerdetailviewmissingwpdates](https://cloud.githubusercontent.com/assets/8312206/10738442/bd6d73a2-7bd4-11e5-8c8a-325067421f12.png)

[2015-10-26 18:49] WaBirder57 commented on #349
Yes, lets do that. For a work party that is full in the Find a WP list view show the number of volunteers on the wait list.

[2015-10-26 18:55] WaBirder57 opened #352 "VMS: Find a Work party list shows a place holder ad for more information"
Per the prototype design: http://07.wta.emptycan.com/volunteer/ there is a space near the top of the list of work parties with a banner like "ad" for a visitor to get more information on what a Work Party is and click through to additional information.

I don't think this ever got implemented or perhaps a story never generated for this.  Is this feature hard to implement?  Can we have the content

[2015-10-26 19:04] WaBirder57 opened #353 "VMS: Crew Corner message board - where did this go?"
I thought we had implemented the Crew Corner message board as a way for the crew leader to send messages to the full crew and have a record of the messages show in the WP Crew Corner tab.

See the design: http://07.wta.emptycan.com/volunteer/details/crew-corner/cl/

[2015-10-26 21:18] WaBirder57 opened #354 "MBP: My Hikes page format changes"
In the My Backpack - My Hikes page here are some subtle changes to the design to make these consistent with the rest of the site.

1) Font change: change the region font to light grey (#99999)
![mbphikeregion-subregionfont](https://cloud.githubusercontent.com/assets/8312206/10742788/3870369a-7bec-11e5-86ba-dda34fcbef5c.JPG)

2) Love the new "Hiked" state (green outline and check). Is great. Thank

[2015-10-26 21:22] WaBirder57 opened #355 "MBP: Dashboard design tweeks"
For the My Backpack Dashboard we have 2 tweaks:
1) Delete: the mysterious "Public" button
2) Text change: "Completed" to "Hiked" under the My Hikes tile.
![mbpdashboard](https://cloud.githubusercontent.com/assets/8312206/10742906/fb49fe1c-7bec-11e5-8ae7-8efad076b6d2.JPG)

[2015-10-26 21:33] WaBirder57 opened #356 "MBP: My Trip reports display"
For a user logged in, on their own My Backpack Trip Report List make the following design tweaks:

1) Delete the thin grey horizontal rule within a report
2) In the Highest Upvote box, combine the total upvote title and count on one line: TOTAL UPVOTES: 1
3) Remove the option to delete a trip report from this list display.

![mbpmytrlist](https://cloud.githubusercontent.com/assets/8312206/10743134

[2015-10-26 22:09] WaBirder57 opened #357 "MBP: Main Trip report list design tweaks"
- [x] Remove the tabbed List/Map display and restore the pagination (100 per page)

![mbptrlistpagination](https://cloud.githubusercontent.com/assets/8312206/10743686/0377a800-7bf2-11e5-8a59-e889d76540a3.JPG)

- [x] Restore the region - subregion (in grey) [See above screen shot]

- [x] Restore the spacing for the "Beware of..." text (still drops to it's own line on a responsive display.   This te

[2015-10-26 22:15] WaBirder57 opened #358 "MBP: Hiking guide Trip Report List design tweaks"
For the Trip Report List under a Hike (these are very similar to the changes with screen shots described in Ticket #357 )

- [x] Remove the tabbed List/Map display and restore the pagination (5 per page)
- [x] Restore the spacing for the "Beware of..." text (still drops to it's own line on a responsive display.
- [x] Fix the font size for the expanded trip report text (looks too large)
- [x] Delet

[2015-10-26 22:48] WaBirder57 opened #359 "VMS: Waitlist confirmation pop up doesn't also cancel the friend and family registration."
When signing up for a work party with one slot left, if i also register a "+1" friend I will get the red pop-up to confirm that i want to join the wait list.  If I cancel at that point, the primary person's registration is marked "canceled" but the +1 friends registration is still marked Waitlisted.

I would expect that "canceling" at this point would cancel both registration records.

Here is Jul

[2015-10-26 22:52] WaBirder57 commented on #259
Here is more info on this which i hope will clear up once this fix is deployed.  Report from Julie:

The image is not showing up in the thank you email.
Here's what it looks like in the email to the participants, simply saying "Images": http://prntscr.com/8v12fh
Here's what's in the summary report: http://prntscr.com/8v12wz
Here's the actual link I entered into the summary report: https://lh3.goog

[2015-10-27 01:23] davisagli commented on #348
How does it behave now? I haven't been able to reproduce the issue, but I changed the space between the two words to a non-breaking space so the browser should not add a line break there now.

[2015-10-27 01:54] davisagli commented on #354
Done. You might need to force-reload for uncached styles.

From now on I'll deploy My Backpack fixes to staging.wta.org, and not necessarily update mybackpack.wta.org unless you ask for it.

[2015-10-27 02:00] davisagli commented on #355
done

[2015-10-27 02:12] davisagli commented on #356
done

[2015-10-27 15:57] WaBirder57 commented on #348
Seems to have fixed the problem.  Thanks.

[2015-10-27 15:57] #348 closed

[2015-10-27 16:04] WaBirder57 commented on #354
These changes look as we described.  I will check with Loren on the new big Write a Trip Report button.

[2015-10-27 16:04] #354 closed

[2015-10-27 16:06] WaBirder57 commented on #355
Great, thanks.

[2015-10-27 16:06] #355 closed

[2015-10-27 16:11] WaBirder57 commented on #356
Looks good.

[2015-10-27 16:11] #356 closed

[2015-10-27 16:15] WaBirder57 opened #360 "MBP: Trip Report Comment displays Code instead of authors screen name"
In MBP when you post a comment to a trip report that comment is displayed at the bottom of the trip report.  Where it says "Posted By" you instead see code (see screen shot).  Note that I did tick yes to be notified if anyone else made a comment.

![mbptripreportcommentcodedisplay](https://cloud.githubusercontent.com/assets/8312206/10764388/26e5767a-7c8b-11e5-9294-73809146e95f.JPG)

[2015-10-27 17:01] WaBirder57 opened #361 "MVS: WP registration pages takes users to Firends and Family name field before completing registration"
When registering for a WP (any type) after you click the Register Button, focus shifts to the First Name field of the Add Another Person section.  Some times this happens quickly (in a flash) other times the screen with focus on this field will pop up the tip to add the additional persons name.  Then after a short (1 sec or so) period of time the registration completes as normal (no action taken b

[2015-10-27 18:53] davisagli commented on #360
Fixed. This was a hard-to-track-down bug in caching that was added related to the switch from showing user ids to screen names. @jessesnyder you might want to cherry pick this fix to master.

[2015-10-27 19:37] davisagli commented on #360
Turns out the problem was due to something we added for My Backpack, not something that's on the production site. So we're all set now.

[2015-10-27 20:24] davisagli commented on #357
Done

[2015-10-27 20:24] davisagli commented on #358
done

[2015-10-27 20:57] WaBirder57 commented on #357
Looks good.

[2015-10-27 20:57] #357 closed

[2015-10-27 21:03] WaBirder57 commented on #358
Great!

[2015-10-27 21:03] #358 closed

[2015-10-27 21:15] ebskopin commented on #346
The number of days can be configured on the work party type. It will generally be 2 days prior for day WPs and 5 days for Backcountry trips (VV, BCRTs, YVV etc).

I would say that registration should be cut-off, even for the waitlist.

I'm not sure about the correspondence between this and the waitlist volunteer window.

[2015-10-27 21:15] WaBirder57 opened #363 "MBP: Hiking Guide Hike Icon list is vertical not horizontal"
On staging.wta.org when looking at the Hiking Guide list of hikes (Find a Hike, Hiking Guide) the icon's that represent the hike's features are lined up vertically not horizontally as they are on the production server.  Compare the two screen shots to see the difference.

![mbphikingguideiconlist](https://cloud.githubusercontent.com/assets/8312206/10772613/3a6c4718-7cb4-11e5-8073-3d3b543dad73.JPG)

[2015-10-27 21:18] davisagli commented on #346
You mean that you want us to add a field for that, not that one already exists. Right?

[2015-10-27 21:26] ebskopin commented on #346
Correct, it would be a new field as there is no field (as far as I know) for WP type that presently dictates when a WP should close for registration.

[2015-10-27 21:34] WaBirder57 opened #364 "VMS: Crew Corner Tab - list should show only the logged in volunteers information."
Currently when a Volunteer who has signed up for a work party looks at the Crew Corner Tab of the Work Party the see the following:

![vmscrewcornertab](https://cloud.githubusercontent.com/assets/8312206/10773224/607cbe1c-7cb7-11e5-9508-189b44b4a23b.JPG)

This should be changed to show:
1) Don't list the CL, they are listed above so don't need to show the volunteer the CL again.
2) Show the Volunt

[2015-10-27 21:36] davisagli commented on #364
Which work party and user is the above screenshot from?

[2015-10-27 21:37] WaBirder57 opened #365 "VMS: Crew Corner tab for Group leaders"
Group leaders have their own view of the Crew Corner Tab: http://prntscr.com/8uxuzc (also attached screen shot) This should not include the CL (again, it's redundant) nor ACL's, nor the statement at the bottom, "5 Registered Volunteers." They should only see the people they signed up.
![vmscrewcornerforgroup](https://cloud.githubusercontent.com/assets/8312206/10773365/3f8f1ba4-7cb8-11e5-953e-14c4f

[2015-10-27 21:46] WaBirder57 opened #366 "VMS: Wait list email invitation to join WP - need to add the due date based on Rescind Interval"
The email that volunteers receive inviting him/her off the waitlist does not contain the date by which they must reply. Can that please be added? (Having to do with the "Default Waitlist Rescind Interval (Days)")
Here's a screenshot of what that email looks like: http://prntscr.com/8v0yge

[2015-10-27 21:48] WaBirder57 opened #367 "VMS: Email invitation to join WP has links the return an error"
From the waitlist invite email, the following links results in an error:
Accept the invitation:
http://staging.wta.org:6543/workparty/a2eK0000000wZT8/confirm?r=a2oK0000000mRTl

The blank white error page says this: {"code": 500, "detail": "u'a2oK0000000mRTl'", "title": "KeyError"}
The decline link results in the same error.

Here is a link to the screen shot of this email invitation: http://prntsc

[2015-10-27 22:05] WaBirder57 commented on #364
http://staging.wta.org:6543/workparty/a2eK0000000wbav/  The User is with email address: wabirder57@live.com  screen name WaBirder

[2015-10-27 22:36] davisagli commented on #292
@WaBirder57 can you clarify why you removed the 'reviewing' tag and reassigned this to me? I'm not sure what action needs to be taken.

[2015-10-27 22:45] davisagli commented on #340
How about now? I'm sorry, when I made the fix the other day I did it in the wrong file and it didn't make it onto the server. I just tried it in Safari on the ipad and it worked okay.

[2015-10-27 22:56] davisagli commented on #341
Both of these scenarios should work now.

[2015-10-27 22:59] davisagli commented on #350
Closing this as a duplicate

[2015-10-27 22:59] #350 closed

[2015-10-27 23:02] cewing commented on #213
@davisagli: this is ready for review, and hopefully to be merged and closed.

[2015-10-27 23:09] davisagli commented on #213
@cewing I tried it on http://staging.wta.org:6543/workparty/a2eK00000000jOR/ and got this traceback:

[code]

[2015-10-27 23:10] davisagli commented on #351
Fixed

[2015-10-27 23:11] cewing commented on #213
oh darn.  Means that the key is there, but None.  Will fix now

[2015-10-27 23:19] davisagli commented on #353
It got accidentally disabled due to a faulty permission check. Fixed.

[2015-10-27 23:20] cewing commented on #213
Should be fixed now, @davisagli, see 8e66156de0ee90dcecb86959540172fedc5ef743

[2015-10-27 23:29] davisagli commented on #213
Works now.

[2015-10-28 15:44] WaBirder57 commented on #292
I'm doing more testing on this, sorry have flipped at assignment.

[2015-10-28 15:51] WaBirder57 commented on #340
This looks much better. @davisagli however the security code field on my iPad is to narrow to see 3 digits. Can this be positioned closer to the card expire month and date fields to give it room to be wider?

I LOVE the new position for the Time Remaining banner.  Great idea.

[2015-10-28 15:51] #340 closed

[2015-10-28 16:20] WaBirder57 commented on #341
Seems to be working, thanks.

[2015-10-28 16:20] #341 closed

[2015-10-28 16:41] WaBirder57 commented on #213
Looks Great, thanks. @cewing I'm going to open a new ticket with a few tweaks to this sign in sheet layout.

[2015-10-28 16:41] #213 closed

[2015-10-28 16:48] WaBirder57 opened #369 "VMS: WP Sign-in Sheet Layout tweaks"
From VMS Crew Corner tab of a work party the Crew Leader can view and print the roster for the Work Party.  Can you make the following adjustments:

- Adjust the column widths for the write in portion of this sheet to have more room for the Name and Signature (say 20% wider), perhaps sacrifice Address column Width.
- Make the font size for the Liability language at the top a little larger.  Think

[2015-10-28 16:53] davisagli commented on #369
You mean for the Sign-In Sheet, not the Contact List, right?

[2015-10-28 17:00] WaBirder57 commented on #369
Correct. Sign-in sheet.

[2015-10-28 17:24] WaBirder57 opened #370 "VMS: Landmanager Access to Summary Reports in MBP Crew Corner"
Land managers need to be able to see all Summary Reports for work done on trails in their lands.

Can we add a Summary Reports link, as we have for Crew Leaders, on the My Backpack, Crew Corner area so that Land Managers can see all these reports?

Julie reports:
On Story #95 - This method for Land Managers does not work: "Navigate to a work party which has trails for which the user is a land mana

[2015-10-28 17:26] WaBirder57 opened #371 "VMS: Story #95 - Landmanager Summary reports from VMS WP Reports Tab."
As Julie Reports:

BUG - For Land Manager, it's getting stuck on "Loading," after clicking Reports. From the Reports tab, when you click on "See All Summaries," it gets stuck on "Loading..." I tested many work parties (CHrome and Firefox) with the same result. (These all should work; they're all work parties on the specific land manager's trail segments.) The only time it DID work was for a work p

[2015-10-28 17:35] WaBirder57 opened #372 "VMS: MBP Workparty Summary Reports Page advance not working"
Julie reports:

In Firefox and Chrome, in MyBackpack, logged in as a crew leader (myself), I click on summary reports. It is not letting me get beyond the first page: Nothing happens when I click on any of the other page numbers or "Next 10 items." (The reports can be funny, I want to move onto the next page and read more!)

[2015-10-28 18:11] WaBirder57 opened #374 "MBP: MyBackPack side menu needs to handle users name wrap by expanding height"
When viewing a My Backpack for any user if their name is to long the top of the green side memu will wrap.  Such as "Loren Drummond's Backpack" (see screenshot).  The darker green header behind this name should expand in height.

Here is a link: http://staging.wta.org/@@backpacks/scrnm-Loren%20Drummond/photo-gallery

![mbpmenutitlenametolong](https://cloud.githubusercontent.com/assets/8312206/1079

[2015-10-28 18:33] WaBirder57 opened #375 "MBP: Photo Collage not including TR Photos"
In MyBackpack on the Dashboard page the Images at the top should include photo's from that users Trip Reports.  This is not working for my own My Backpack.  WaBirder57 is my screen name: http://staging.wta.org/@@backpacks/scrnm-WaBirder57

I only see the general place holder image.

[2015-10-28 18:37] WaBirder57 opened #376 "MBP: My Backpack Trip report sort by upvotes truncates result set"
In My Backpack Trip reports if i choose to sort my Trip Reports by Up Votes it truncates the results to that not all TR are shown.

For Kindra for example, she has 13 trip reports, 6 have received up votes.  When she chooses this sort option the 6 TR with up votes are shown (sorted correctly) then only one with no Up votes.  so just 7 of the 13 are shown.

For WaBirder57 MyBackpack i have 2 trip r

[2015-10-28 20:23] WaBirder57 commented on #360
Good trouble shooting, working now.

[2015-10-28 20:23] #360 closed

[2015-10-28 20:23] WaBirder57 commented on #353
Yea, it is back!

[2015-10-28 20:23] #353 closed

[2015-10-28 20:24] WaBirder57 commented on #351
Great.

[2015-10-28 20:24] #351 closed

[2015-10-28 20:24] WaBirder57 commented on #336
Thank you

[2015-10-28 20:24] #336 closed

[2015-10-28 20:25] WaBirder57 commented on #303
All done, other tickets have addressed these issues too.

[2015-10-28 20:25] #303 closed

[2015-10-28 20:29] cewing commented on #361
@WaBirder57, I am unable to reproduce this behavior at all, locally or at staging.wta.org:6543.  What device and browser are you using when you see it?

#### Here's what i've tried:

* registering without entering data in any field (just leaving the pre-filled data from my user profile)
* adding some data in the carpool field so that it was focused when I clicked on 'register'
* clicking on the wa

[2015-10-28 20:30] WaBirder57 opened #377 "MBP: As a logged in user viewing someone elses saved hikes i can toggle if the trip was hiked"
As a logged in user to MBP I can view another persons My Backpack with shared hikes.  While looking at the list of hikes i can click "Hiked", add notes and even start a trip report.  i think we want these features disabled when the user is viewing others My Backpacks.

Check out Kindra's saved hikes: http://staging.wta.org/@@backpacks/scrnm-Kindra/hikes to try this out.

[2015-10-28 20:33] davisagli commented on #377
These are available if you're logged in as a Plone admin looking at another user's My Backpack, but not for normal users looking at another backpack.

[2015-10-28 20:40] cewing commented on #361
In debugging this, I've found another issue that needs fixing.  I will open a separate ticket for that one, as it is only tangentially related to this issue.

[2015-10-28 20:42] cewing opened #378 "VMS: Submitting a registration without checking off the waiver box succeeds and fails"
When submitting a registration, if you fail to check the waiver box, error text correctly informs you that this is required.  Then when you try to register again, it fails because there is already a registration for this user.

It would appear that although not signing the waiver returns an error from Pyramid, a registration is created anyway.

[2015-10-28 20:42] cewing commented on #378
This may be related to #361

[2015-10-28 20:48] cewing commented on #378
Never mind.  Must have been a phantom due to my creating and cancelling so many registrations in testing.  I cannot now reproduce this.  closing

[2015-10-28 20:48] #378 closed

[2015-10-28 20:51] cewing commented on #361
@WaBirder57 I'm going to assign this to you for re-testing.  If you can reliably reproduce it and tell me how to do so as well, please assign back to me.

[2015-10-28 20:52] cewing commented on #378
apologies for the inadvertent assignment, @WaBirder57.  This need not concern you.

[2015-10-28 22:53] KindraRamos opened #380 "MBP: IE profile pic crop error"
In Internet Explorer all  profile picture is not cropping correctly. See attached photos

Firefox correct view
![mybackpack avatar crop correct](https://cloud.githubusercontent.com/assets/15238703/10805553/c293a24e-7d8b-11e5-827d-f1c4efd495d0.PNG)

IE bad crop
![mybackpack avatar crop issue](https://cloud.githubusercontent.com/assets/15238703/10805554/c3c440ba-7d8b-11e5-85a0-80d1d30e1b4d.PNG)

[2015-10-28 22:58] davisagli commented on #380
Which version of IE?

[2015-10-28 23:05] KindraRamos commented on #380
![ie version number](https://cloud.githubusercontent.com/assets/15238703/10805782/b274b838-7d8d-11e5-849f-b7e709695e32.PNG)

[2015-10-28 23:09] KindraRamos commented on #377
Thanks

[2015-10-28 23:09] #377 closed

[2015-10-28 23:10] #301 closed

[2015-10-28 23:44] davisagli commented on #380
Try now (might need to clear your browser's cache to get up to date CSS).

[2015-10-28 23:46] davisagli commented on #363
Fixed. Also added tooltips on mouseover like we added for these icons on trip reports.

[2015-10-28 23:47] davisagli commented on #375
Fixed

[2015-10-28 23:48] davisagli commented on #374
Fixed

[2015-10-28 23:58] davisagli commented on #376
We need to reindex the positive_ratings index (which tracks the number of upvotes) for all existing trip reports...something we need to add to the deploy process. It's a bit tricky to do since there are so many trip reports. I'll work on it.

[2015-10-29 00:25] mscholtz commented on #79
I thought the friends/family were getting Vol role now, but apparently not.

[2015-10-29 00:29] mscholtz commented on #286
done

[2015-10-29 00:59] WaBirder57 commented on #79
Matthew,  any volunteer who is an ACL and joins a work party is an ACL role unless they opt out of that role.  We discourage that but give them an option.

This ticket describes the problem that if an ACL registers for a WP and then signs up one or more friend or family,  all of those individuals are also registered as an ACL even if the don't have that qualification.  It seems like the role of th

[2015-10-29 02:24] davisagli commented on #376
This should be working now.

[2015-10-29 02:34] cguardia commented on #259
Right, I made the silly mistake of not making the image extension check case-independent. Fixed and should be working after next deploy.

[2015-10-29 05:04] mscholtz commented on #79
Hey @WaBirder57 yes, I understood the issue.  Was just trying to express that I think it used to work differently in the past.  In any case, I trust your account of how it works now and we will address it.

[2015-10-29 13:58] KindraRamos commented on #380
Looks good thanks

[2015-10-29 13:58] #380 closed

[2015-10-29 14:39] skleinfeldt commented on #352
@WaBirder57 you're right, I don't think we ever wrote a story for this. It reminds me of story 138, MBP Crew Leader corner (where staff can create a new CL message and image) - except this is in VMS, not MBP.

[2015-10-29 15:54] WaBirder57 commented on #376
looks good, thanks

[2015-10-29 15:54] #376 closed

[2015-10-29 15:59] davisagli commented on #365
Being a group leader only gives you access to see registrations in your group, but users with a permission level of Assistant Crew Leader, Crew Leader, or Admin can also see the work party's crew leader and assistant crew leaders (as requesteed in #238). I assume the above screenshot is from the group leader for the Helio Sequence group, "Seymour Mountains," who has a permission level of Assistant

[2015-10-29 16:03] davisagli commented on #364
1 - I made this change.
2 and 3 - These were working before but got broken; should work again now.
4 - To see other carpoolers, the volunteer must change their own carpool preference to indicate interest in carpooling. Maybe we need help text to that effect?

[2015-10-29 17:38] WaBirder57 commented on #352
Can we add this to our check in this afternoon.  I guess my question is crafting a story/ticket for this so we can capture this functionality.  Kind of like #138 but I think simpler in that is it just an image with hyperlink.  WTA staff can change the image (with embedded text) from time to time. I just don't know how hard this is with Pyramid.

[2015-10-29 17:52] WaBirder57 commented on #207
@ebskopin Elliott can you review this and close the ticket if this is ok.

[2015-10-29 18:12] mscholtz commented on #210
@WaBirder57 @ebskopin Heard from Karen that Elliot and Rebecca are going to work through some details of how these emails need to look.  My suggestion is that I will hold off on this until that's done.  If it turns out that the differences are small, it may be that we will be able to use a single template, in which case this would be much quicker to implement.

[2015-10-29 18:22] WaBirder57 commented on #361
@cewing I have been able to reproduce this 2 times in a row for a single work party, 2 different users.  I will play around a little more to see if I can  get a better understand what is going on.

Using Firefox 41.0.2
Work Party: http://staging.wta.org:6543/workparty/a2eK0000000wRbV/
Register as Volunteer (one user was an ACL, other Volunteer)

Here are my steps:
Click to join Work party
Scroll t

[2015-10-29 18:38] WaBirder57 opened #381 "VMS: Story #320 - URL to Pre-filtered list of Work Parties"
This is working great.  A question; I see that the URL parameter "text=" never goes away after you removed text from the search box.  All the other filters have their parameters field names removed from the ULR when they are un-checked.  I don't think this affects the functionality of this feature but just wanted to double check.

Here is an example of the URL after I remove text from the Keywords

[2015-10-29 18:39] davisagli commented on #381
It's probably treating it as input of length zero rather than no input at all. If it's giving the same results I don't think it's a concern.

[2015-10-29 18:50] WaBirder57 commented on #381
If it isn't broke don't fix it. thanks for answering lets leave it as it.

[2015-10-29 18:50] #381 closed

[2015-10-29 19:03] mscholtz commented on #332
@WaBirder57 @kuffelman Do you already have a way to indicate who's WTA staff on the contact record?  If so, that might take care of reporting on staff participation.  Would that be good enough?  In what situations are non-staff non-CLs paid to participate?

When you say you need to "expense the cost", is that something that needs to be tracked in SF?  Or elsewhere (like in your books)?

This would

[2015-10-29 21:11] WaBirder57 opened #382 "MBP: Story #268 Plone-salesforce sync Trip Report Metrics"
I am not seeing much of any data syncing from Plone to Salesforce around these Trip report metrics. I created a view in .VMS2 sandbox on Contacts to show these metrics.  https://cs9.salesforce.com/003?fcf=00BK0000000SATz&rolodexIndex=-1&page=1

It is really only the SF contacts Carlos and Cris that have data at this point.

Should I expect all the Plone data to sync into Salesforce?
Also, i set An

[2015-10-29 21:14] davisagli commented on #382
We probably missed something in setting up syncing when we deployed to staging.

[2015-10-29 21:29] davisagli commented on #382
Syncing should work now -- Salesforce has a whitelist of which IP addresses can connect, and the staging server was not on this list.

Some caveats:
1. The sync of info from Salesforce to Plone (membership status, hiking guide correspondent, contact info, etc) and from Plone to Salesforce (including metrics) happens nightly, and only for Plone users that are connected to Salesforce contacts. This

[2015-10-29 21:41] WaBirder57 opened #383 "MBP: Story 242 First Thumbs up Email"
This isn't working.

I created the First Trip Report for (CKahle) (wabirder57@gmail.com).  I then logged in as a different users and gave the CKahle trip report a thumbs up.

No email as been delivered. I will check again tomorrow to see if the email arrives.

 I think this is related to story #268 - Plone-Salesforce Sync Trip Reports.

[2015-10-29 21:45] davisagli commented on #383
The "first thumbs up" email is triggered when the "Number of Trip Report Thumbs Up" changes from 0 to 1. And Plone only updates this count in Salesforce once a night. So the email is not expected to go out until then.

[2015-10-29 23:18] WaBirder57 opened #384 "VMS: Story #121 - Add Volunteers post-work party - Error when clicking Add"
As a Crew Leader go to a work party you are the CL for.  On the Crew Corner tab enter a name of a new volunteer for the work party.  I was testing on this work party: http://staging.wta.org:6543/workparty/a2eK0000000wbSd/

You get the following error when you click the "Add" button.

![claddvolunteer](https://cloud.githubusercontent.com/assets/8312206/10834685/9b1e83f0-7e58-11e5-9e61-85d9dc7d90db.

[2015-10-30 00:22] WaBirder57 commented on #332
@ebskopin We do have the Staff Status field on the contact. This is a pick list with values of Current, Past, Prospective.  Know that there are some WP where staff participate as Paid or another WP as a Volunteer.  Thus, regardless of their current "staff status" I think we need to track at the WP registration level if someone is paid or volunteer.  If we have a flag on the WP Registration as paid

[2015-10-30 01:03] mscholtz commented on #332
@WaBirder57 we could have a flag on the registration, but that's not how we're doing it for CLs.  For CLs we're flagging it on the contact and assuming they're either always paid or always unpaid.  I'm a little hesitant to have two very different methods of tracking this.

I guess one answer could be have a Paid flag on the registration, and default that to checked for CLs that have the paid flag

[2015-10-30 16:46] WaBirder57 commented on #382
@davisagli I tested this over night and I don't think the sync is working.  I had Anna Log in to staging.wta.org yesterday.  She now has (as expected) 2 SF contacts:
https://cs9.salesforce.com/003K0000016UXSE?srPos=1&srKp=003
https://cs9.salesforce.com/003K0000016StkJ?srPos=0&srKp=003

However neither of these synced the Trip Report stats with her Plone account:
http://staging.wta.org/@@backpacks/

[2015-10-30 17:08] davisagli commented on #382
Her Plone user did not get marked as connected to Salesforce (even though it clearly created that contact in Salesforce) so I need to look into why not.

[2015-10-30 17:21] ebskopin commented on #332
From my experience, the majority of times staff attend WPs they are considered "paid." It might be best to treat all current staff as we do CLs in the system. Would this mean that there would be an option to un-check "paid" on the registration?

[2015-10-30 17:34] WaBirder57 commented on #382
I also checked with Kindra, she has 2 SF Contacts.  Yesterday in My Backpack she changed her MBP profile Work Phone number.  This morning this change was reflected in her SF contact record with the Website ID of "kindra" not the one with "kindra@wta.org"

https://cs9.salesforce.com/003K000000wTpoC?srPos=1&srKp=003
https://cs9.salesforce.com/003K0000014MNWN?srPos=0&srKp=003

So best I can figure th

[2015-10-30 17:43] WaBirder57 commented on #332
I reviewed this with Rebecca, and while the fields on the Contact record (CL Paid or Staff Status) can help set the default for whether an individual is paid on a specific work party we need the ability to change this at the registration level.  The trail team will review this before and after the work party to adjust if needed.

For example we might a have a monthly report showing WP Participatio

[2015-10-30 18:10] davisagli opened #385 "Production site's root acl_users needs to be converted to PAS"
Otherwise celery tasks won't be able to authenticate.

This can be done by creating a new Plone site and then deleting it, but that also triggers an update that walks the entire tree of objects. To avoid that requires adding "if obj.getId() == 'wtamain': return" in Products.PluggableAuthService.Extensions.upgrade

[2015-10-30 18:22] mscholtz commented on #332
OK, got it.
Charlie, do you want to write a couple of stories for this?  One for the
paid/unpaid status, and one to track expenses etc?

On Fri, Oct 30, 2015 at 10:43 AM, Charles Kahle <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-10-30 18:39] davisagli commented on #382
Okay, this works now (and I just ran the sync manually). The scheduled task that does the sync was failing to authenticate because of an obscure problem with how authentication was set up in Plone. That's now fixed on staging and I added #385 to make the same fix to production before launch.

[2015-10-30 18:42] davisagli commented on #382
The contact with Website ID = "kindra" is the one I would expect, because that is her user id in the production and staging sites. (Note: user id is different from login! when you switched to email logins the user's logins were changed but not their user ids. user ids can never change in Plone because it's how users are referenced internally throughout the system)

[2015-10-30 19:08] WaBirder57 commented on #382
This sync is so CooL !!
Thanks

[2015-10-30 19:08] #382 closed

[2015-10-30 19:09] davisagli commented on #382
I agree! Perfect use for the Salesforce Bulk API.

[2015-10-30 19:22] WaBirder57 opened #386 "MBP: Email on First Trip Report, First Thumbs Up tweaks"
1) These email's should be "from" Loren ( loren@wta.org ).
2) The First Thumbs up email should indicate that at 25 thumbs up you will get a Gold Star recognition.  Plus this number should be used in the code to actually show this on that users My Backpack.

Question: Is the body text of these emails something that we can edit?

![mbpemailfirstthumbsup](https://cloud.githubusercontent.com/assets/83

[2015-10-30 19:27] davisagli commented on #386
The messages come from these Email Templates:
https://cs9.salesforce.com/00XK0000000MlCY
https://cs9.salesforce.com/00XK0000000MlGk

The workflow Email Alerts that use those templates are here, and you can edit them to change the From address:
https://cs9.salesforce.com/01WK00000004bhf
https://cs9.salesforce.com/01WK00000004bjM

[2015-10-30 20:25] WaBirder57 commented on #386
Thanks for this info and links.

[2015-10-30 20:25] #386 closed

[2015-10-30 20:35] davisagli commented on #370
This was almost working, but needed a couple fixes. I think it is working correctly now.

[2015-10-30 21:01] WaBirder57 commented on #332
I have created story #322 in the back log: Work Party registration tracks if participant is volunteer or paid.

Matthew, help me understand what needs to go into the “Track Expenses” story.  I think this needs more discovery to have better clarity on this.

A little of the back story is we get a number of grants to help pay for our work parties.  These grants are typically tied to specific types o

[2015-10-30 21:02] davisagli commented on #371
I think I've fixed this.

[2015-10-30 21:08] mscholtz opened #387 "write up documentation for how capacity & waitlisting logic works"
don't necessarily need to know every field name
send to Elliot and Charlie when done
need this to identify edge cases to test and this will help

[2015-10-30 22:02] WaBirder57 commented on #383
This worked one the sync to Salesforce was fixed.

[2015-10-30 22:02] #383 closed

[2015-10-30 22:03] WaBirder57 commented on #375
Nice!

[2015-10-30 22:03] #375 closed

[2015-10-30 22:15] WaBirder57 opened #388 "VMS: WP Document Tab - change wording for required documents"
When a visitor looks at the Document tab of a WP that has required documents we need to update what they see so that it is more informative with links to take action.

This is what is currently displayed:

![vmswpdocumenttab](https://cloud.githubusercontent.com/assets/8312206/10859116/a94d2804-7f17-11e5-8ea9-27eb836159a6.png)

The following is an example of what we would like. Although note that w

[2015-10-30 22:25] davisagli commented on #388
To remove the "printable version" link, edit the Required Document objects in Salesforce and clear the "Printable Form Link" field:
https://cs9.salesforce.com/a2pK0000000d9ph
https://cs9.salesforce.com/a2pK0000000dAgj
https://cs9.salesforce.com/a2pK0000000boQc

Yeah, that's supposed to be working already so we'll have to look into what's not working.

Doesn't it already work like that?

Good idea.

[2015-10-30 22:44] WaBirder57 opened #389 "MBP/VMS: Crew Corner work party summary total Hrs worked not working"
When a Crew leader is logged into My Backpack Crew Corner tab and clicks on Summary Reports.  The side panel Roll Up Report always shows Zero hours worked.  Seems this should the actual number of hours work across those reports.

Also the paging action doesn't work.  Although it shows 1 2 3 (etc) and Next 10 Items, you are not able to advance to the next page of results.

![vmsworkpartysummaryscre

[2015-10-30 22:47] WaBirder57 opened #390 "VMS: Work Party Summary report Hours worked pop up includes wait listed individuals"
As a crew leader, filling out summary report, when I give volunteers hours by clicking, "edit volunteer hours," the waitlisted people are showing up on the list of people, and are assigned hours when I use the slider. Only participants with the status "registered" should be showing up on this list.

[2015-10-30 22:52] davisagli commented on #389
The pagination issue is already covered by #372

[2015-11-02 19:08] skleinfeldt commented on #346
This is now story 323. @ebskopin if that looks OK please close this ticket.

[2015-11-02 19:17] WaBirder57 opened #391 "MBP: Profile Page add subhead text to each section and redirect on Save."
- I'd like to add some subhead text to each of the major sections on this page, giving some context to the subsections.
o	Your Public Profile
o	Contact Information
o	News & Alerts

•	The password section -- if I have already set this (which I would have to get to this page) why is it still required? Is confusing.   Can we modify the display of the plone red dots which incdicate a required field?
•

[2015-11-02 19:18] davisagli commented on #391
All of that makes sense to me. Please specify the subhead text you want in a comment here.

[2015-11-02 19:23] WaBirder57 opened #392 "MBP: Main navigation menu design tweaks"
- Color shift in logged in/logged out state. Just want to check on this ticket, to make sure it is going to maintain color behaviors when logged in.   This should stay the Beige/Orange color and not change to Blue when logged in.  Avatar icon or image will indicate logged in state as well as who is logged in.

- Change transparent lines between menu heading sections into solid white - 5 places.

!

[2015-11-02 19:24] skleinfeldt commented on #352
This is now story 324. @ebskopin if that looks OK please close this ticket.

[2015-11-02 19:25] davisagli commented on #392
It's ticket #322; we haven't gotten to it yet because it's Medium Priority and there have been other High Priority tickets. Please change the priority if you want us to get to it sooner rather than later.

[2015-11-02 19:37] WaBirder57 opened #393 "MBP: Trip Report - removed the pop up text from up vote "Yes" link"
Currently when looking at the a trip report when you hover you mouse over the Up Vote "Yes" link a pop up  with the word "Title" appears.  Please remove this, no text is needed.

![upvotepopuptext](https://cloud.githubusercontent.com/assets/8312206/10891994/f10fb1da-8155-11e5-82a1-6454c1471c20.JPG)

[2015-11-02 19:45] WaBirder57 opened #394 "MBP: Trip Report trail conditions hard to read when many are selected"
When looking at a trip report when the user has selected many issues with the Trail Condition the list runs together and is hard to read.  Change the display so that each items is indented and on its own line.  the indentation for each should start in the same column.

For example (see  http://staging.wta.org/go-hiking/trip-reports/trip_report.2015-10-29.4745865834 )

Can we changet this look some

[2015-11-02 19:48] WaBirder57 opened #395 "MBP: In My Hikes list reduce space between Search area and Hike List"
•	Can we reduce the space between the "Search My Hikes" box and the list displays below, so that they feel related to each other.

![myhikesspacebetweensearchandlist](https://cloud.githubusercontent.com/assets/8312206/10892319/a06b9f8a-8157-11e5-958f-24693dc1f709.JPG)

[2015-11-02 19:55] WaBirder57 opened #396 "MBP: Make avatar image a circle not oval."
Change from oval to default circle presentation of icon on main profile AND (more importantly) on trip report list displays.

This is lower priority, but enough people have repsonded to it negatively that I would like to address it. We will default to a circle (which happens when people upload a square image) and add a bit of help text around the profile image upload to say that a square image wor

[2015-11-02 20:07] WaBirder57 opened #397 "MBP: Google analytics link tracking"
I'm a little concerned about trip report drop-off with the addition of the notes field and I wonder if it is possible to track the origin of trip reports through this button vs. through the direct "write a trip report" field or app. Not sure if this is in scope, but it's just a thought.

Can we add Google analytic tracking for the circled events?  @jessesnyder might be able to help if there are qu

[2015-11-02 20:12] WaBirder57 commented on #392
@KindraRamos can you review the priority of this ticket as well as #322 .

[2015-11-02 20:21] davisagli commented on #397
Hmm. The "write a trip report" button just links to the normal trip report form, so you would need to do a google analytics report based on where the user came from before submitting the trip report form. Does google analytics handle that?

[2015-11-02 20:28] mscholtz commented on #367
@davisagli can you look into this one?  The registration had been moved to Cancelled, but I switched it back to Invited from Waitlist, and am still getting this error on that URL

[2015-11-02 20:29] mscholtz commented on #79
@ninetaLogik can you work on this one?  Please read all the comments, and let me know if you have questions.

[2015-11-02 20:29] WaBirder57 commented on #397
@jessesnyder Jesse has helped us out with some issues like this.  I hope he can chime in with some thoughts.

[2015-11-02 20:30] #332 closed

[2015-11-02 20:30] mscholtz commented on #332
closed b/c now represented by story

[2015-11-02 20:33] mscholtz commented on #332
also added story 325 to the phase 2 backlog
https://www.scrumdo.com/projects/project/wta/iteration/129249#story_1058325

[2015-11-02 20:36] mscholtz commented on #333
I verified this issue is occuring for me as well.
@davisagli or @ninetaLogik you both worked on the docusign stuff, yes?  Which of you should take this on?

[2015-11-02 20:37] davisagli commented on #333
I did not work on the MOU story.

[2015-11-02 20:40] mscholtz commented on #334
@WaBirder57 @ebskopin are we sure we want to hold aside the entire group capacity?  When we were working on this, it wasn't clear that the group would always take all of those spots.  If the group doesn't fill them all, but we're holding them aside, then the public can never take those spots.

Depending on your answer to that, I'll address the ACL thing.

[2015-11-02 20:44] davisagli commented on #367
This works now. Missed converting 18-char ids to 15-char ids to match the id in the URL.

[2015-11-02 20:53] mscholtz opened #398 "show "log in" on Register button for unauthenticated users, when login is required?"
For WPs like vol vacations where MBP login is required, the text above the button in the main pane is great.  But I just managed to click it without reading that text, so was surprised when it routed me to MBP login and then to form check.

I would suggest two minor additions here:

1) change the text on the button to something like "Log in, then Join"

2) mention in the text that  I may be routed

[2015-11-02 21:00] mscholtz opened #399 "No easy path back to WP/registration after being routed to Required Documents screen"
If I'm attempting to register for a Work Party that requires forms ahead of time, like Vol Vacations, here's what happens now:

1) I click Join
2) I may be asked to log in
3) routed to required forms page (which seems to have no onscreen context re which WP I was trying to sign up for):
![image](https://cloud.githubusercontent.com/assets/931031/10894071/24c593b8-8161-11e5-9755-b48d96ae86ea.png)

4

[2015-11-02 21:01] mscholtz commented on #345
@davisagli @cewing do we want to create a new registration in this case?  Or change the status of the existing one?  When they click "try again", does pyramid know the ID of their existing registration?

[2015-11-02 21:02] mscholtz commented on #399
If we can specify what the "thank you" message is in FA, that might help too.  We could advise users to go back to their original tab.  Although that's still tricky..

[2015-11-02 21:03] davisagli commented on #345
I don't think it matters from the Pyramid side. When you try again it uses the registration webservice the same as it did the first time; no registration id is retained.

[2015-11-02 21:04] davisagli commented on #399
Keep in mind that there are multiple ways users can access these forms (they're also on a page in My Backpack)

[2015-11-02 21:17] mscholtz commented on #399
Good point.

On Mon, Nov 2, 2015 at 1:04 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-11-02 21:17] WaBirder57 commented on #298
We have decided not to provide a blank printable view of these forms so this link will be removed.  See ticket #388 .

[2015-11-02 21:17] #298 closed

[2015-11-02 21:19] #46 closed

[2015-11-02 21:23] #24 closed

[2015-11-02 21:23] WaBirder57 commented on #14
Looks good and got this to work.

[2015-11-02 21:23] #14 closed

[2015-11-02 21:24] #58 closed

[2015-11-02 21:27] WaBirder57 commented on #90
Looks good.

[2015-11-02 21:27] #90 closed

[2015-11-02 21:31] WaBirder57 commented on #108
OK, looks good.

[2015-11-02 21:31] #108 closed

[2015-11-02 21:34] WaBirder57 commented on #111
@davisagli @ebskopin We need to see about changing the WP Summary report to handle one decimal point for the hours as mentioned in the comment above.  We need to entry values like 1.5  .

[2015-11-02 21:36] davisagli commented on #286
@mscholtz okay, I don't understand how to trigger the scenario that was discussed in #231. I thought it says that if I register for a work party with a fee using a name and email that matches but an address that does not, I can expect Click and Pledge to create a temporary contact and no opportunity. But that's what I tried and it created an opportunity attached to the contact whose name and email

[2015-11-02 21:37] davisagli commented on #111
@WaBirder57 did you mean to close this?

[2015-11-02 21:43] WaBirder57 opened #400 "MBP/VMS: Logged in staff/CL gets error in Crew Corner tab, My Work party list"
When i log into My Backpack as charles@wta.org, i go to MyBackpack, Crew Corner Tab and click the right hand menu for My Work Parties.    I get the following error:

Traceback (innermost last):

    Module ZPublisher.Publish, line 138, in publish
    Module ZPublisher.mapply, line 77, in mapply
    Module ZPublisher.Publish, line 48, in call_object
    Module wta.content.backpack.backpack, line 92

[2015-11-02 21:44] WaBirder57 commented on #111
Nope, sorry.

[2015-11-02 21:46] davisagli commented on #400
Looks like it's not handling the case where you have no work parties correctly.

[2015-11-02 21:55] ebskopin commented on #346
Closing. Now represented by story 323.

[2015-11-02 21:55] #346 closed

[2015-11-02 21:56] davisagli commented on #398
Your screenshot above is for a user who's already logged in, not a logged-out user which is the scenario you described.

[2015-11-02 21:57] ebskopin commented on #352
Closing. Now represented by story 324.

[2015-11-02 21:57] #352 closed

[2015-11-02 22:26] ebskopin commented on #334
Group work-parties can either be open to the public or private.  In the instances that they are private we can safely "reserve" all slots for the group and the WP should only be open to ACL registrations.  For open to the public group work parties some number of slots (say 10 of 20) would be saved for the group and 10 would be available for the public, with registration available to ACLs to regard

[2015-11-02 22:27] davisagli commented on #388
The green "complete online" buttons should now be appearing for users who are not registered. I also added a "sign in to complete online" button for users who are not logged in, but it was too wide for the individual document boxes, so I put it above all the documents.

[2015-11-02 22:40] WaBirder57 commented on #388
@davisagli Are you able to address the removal of the "Printable Version" link which we don't want to support.  All volunteers will need to fill out the online form.

[2015-11-02 22:42] davisagli commented on #389
@cguardia I fixed this one. The value it was trying to read was not included in the work party index.

[2015-11-02 22:50] mscholtz commented on #334
@ebskopin ok, and you're saying that those slots to hold aside in the public WP case (the 10-20) would be the same number as the group capacity?

[2015-11-02 22:54] davisagli commented on #334
IIRC, currently when someone registers we check that it doesn't put the work party as a whole over capacity, and if the registration is associated with a group we check that it doesn't put the group over capacity. It sounds like we also need a check for non-group registrations to make sure that enough spots are remaining to fulfill the group capacity.

[2015-11-02 22:55] mscholtz commented on #286
@davisagli did the contact already have an address?  If both are blank it might allow a match.  Not entirely sure how it works, but try that if you haven't already

[2015-11-02 22:56] davisagli commented on #388
@WaBirder57 see my comment above. Once you edit the Required Document records in Salesforce to remove their "Printable Form Link," the "printable version" link will no longer display in the pyramid app.

[2015-11-02 22:56] mscholtz commented on #334
@davisagli we'll handle it on the SF side

[2015-11-02 22:56] davisagli commented on #286
Yes, it already had an address.

[2015-11-02 22:56] mscholtz commented on #398
@davisagli ??
it shows "Sign in to my backpack"..

[2015-11-02 22:57] ebskopin commented on #399
I agree that this flow is not ideal. I vote for a button on the forms page indicating the when the forms are complete they can click to proceed. It might also indicate that they need to refresh their browser to see if the form are complete...

[2015-11-02 22:58] davisagli commented on #334
@mscholtz sorry yeah, by "we" I meant "the registration trigger code in Salesforce"

[2015-11-02 22:58] mscholtz commented on #286
URL, please?

On Mon, Nov 2, 2015 at 2:56 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-11-02 22:58] davisagli commented on #398
But it also says "Hi, Ethan" ... were you logged in or not?

[2015-11-02 23:01] davisagli commented on #286
https://cs9.salesforce.com/003K0000010ImRr is the contact that I didn't expect CnP to match. Before I registered the street was "1541 NW 52nd St", not "bogus addr 123".
https://cs9.salesforce.com/006K000000DVAn1 is the opportunity that I didn't expect CnP to create.

[2015-11-02 23:02] WaBirder57 opened #402 "MBP: Internet Explorer Dashboard display error"
When viewing anyone's MBP Dashboard in Internet Explorer (11.0.9600) the display of icons or # of Trip reports is not correctly formatted.

The following screen shot shows how the number for the # of Trip Reports is formatted in a color that is invisible unless selected (drag mouse across).  Also, the icon for the Hiking Guide Correspondent doesn't seem to display.

![mbpieprofilepagedisplayerror]

[2015-11-02 23:02] mscholtz commented on #399
I would also suggest that we include some sort of instructions on the required forms page so the user knows it'll open in a new tab, and that they should close and go back to this tab when they're done.

[2015-11-02 23:03] mscholtz commented on #399
BTW, it does look like FA can do a redirect, but don't know if we can parameterize it.  @davisagli let me know if you want me to look into that.

[2015-11-02 23:03] mscholtz commented on #399
https://help.formassembly.com/knowledgebase/articles/340545-thank-you-page-or-redirect

[2015-11-02 23:05] ebskopin commented on #398
I agree with those recommendations.  It would be nice if the button said "Create Account to Join" and if possible prompted the MBP registration Form (https://mybackpack.wta.org/@@register?came_from=http%3A//staging.wta.org%3A6543/workparty/a2eK0000003Oz24/register) rather than the login landing page as it presently does.

[2015-11-02 23:07] davisagli commented on #399
That links to https://help.formassembly.com/help/article/link/340547-smart-processing-with-formulas#examples, which looks like it's supposed to be an example of how to do this, but is missing the actual example. :(

[2015-11-02 23:09] mscholtz commented on #286
Hmm, this is puzzling.  I'm not sure.
@WaBirder57 or @barbarachristensen got any ideas?  Settings are here:
https://cnp-paas.cs9.visual.force.com/apex/xmlsettings?sfdc.tabName=01rA000000061K5

and it's already set to "semi-automatic" and Street is included in the match fields.  My understanding was that if any of the match fields was a mismatch it would create a temp contact..

[2015-11-02 23:09] davisagli commented on #398
@ebskopin that'll send people in the wrong direction if they already have an account. We link to the login page because it has the option to either log in or create an account.

[2015-11-02 23:13] mscholtz commented on #398
@davisagli hmm, pretty sure I was not logged in.  Is it possible that it's doing an inconsistent job of reading the session cookies?  I have been logged in as Ethan many times on this machine, including soon after taking this screenshot.

[2015-11-02 23:13] WaBirder57 commented on #388
You are so right, sorry to have overlooked this.  Works great!

[2015-11-02 23:13] #388 closed

[2015-11-02 23:14] davisagli commented on #398
The session is supposed to be cleared when you log out.

[2015-11-02 23:15] mscholtz commented on #399
Looks like it'll work.  I think I can figure it out.
If we can make it work, is that the desired solution?

On Mon, Nov 2, 2015 at 3:07 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-11-02 23:15] cewing commented on #384
@ebskopin

To Test:

log in as a crew leader and add a new member to your roster via the crew-corner.  Verify that the form does not throw the described error, and that the newly added member appears in the roster after the form is submitted.

**Please Note** that the data for the newly added registration is not in sync with any data that might be known about that contact in salesforce.  You shoul

[2015-11-02 23:15] davisagli commented on #399
@mscholtz I'm also worried that if we redirect the user directly back to a page that shows document status, FormAssembly will not have had a chance to communicate with Salesforce yet, so the status may still show as incomplete.

[2015-11-02 23:15] barbarachristensen commented on #286
Looks like sandbox is set to Fully Automatic not semi-automatic Contact creation under the Contacts/accounts settings. That will ignore all matching and just create a contact.

[2015-11-02 23:16] mscholtz commented on #398
Not sure what's up, then.  That screen looks different than the screenshot
when I'm really logged in, so it does seem it was in a halfway state
somehow..

Is it possible that it behaves differently if you don't manually log out
but the session is expired?

On Mon, Nov 2, 2015 at 3:14 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

htt

[2015-11-02 23:17] ebskopin commented on #398
Ahh, that makes sense. Hence the "Log in, then Join". Gotcha.

I agree that some prep for the forms page would be nice.  When I create a MBP account in order to register I Iand on a "This Page Doesn't Exist.." screen so I'm not sure of the flow for a new reigstrant...

[2015-11-02 23:18] barbarachristensen commented on #286
Ignore this-- comment above, my bad. It pulled me into another logged in sandbox. Will look at VMS2

[2015-11-02 23:19] WaBirder57 commented on #389
Excellent, work party hours is fixed.  Will close this knowing that #372 will handle the pagination.

[2015-11-02 23:19] #389 closed

[2015-11-02 23:19] davisagli commented on #398
@ebskopin that "this page doesn't exist" is because the Plone registration form redirects to /new-member-welcome, which doesn't exist in the mybackpack.wta.org site but does on the real site: http://www.wta.org/new-member-welcome

[2015-11-02 23:22] ebskopin commented on #398
Ok. Can safely assume that upon setting up the account a user would be met with the "Required Forms" as the first step of their Vol Vac registration, correct?

[2015-11-02 23:23] mscholtz commented on #399
Hmm, there is that.
Well, your call.  Let me know if you need anything from me.

On Mon, Nov 2, 2015 at 3:15 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-11-02 23:23] mscholtz commented on #334
OK, gotcha.  Yes, that is what we're saying.  FWIW, I'm planning to work it into the capacity calculations, so the registration trigger shouldn't need updates.

[2015-11-02 23:25] ebskopin commented on #334
Correct.

[2015-11-02 23:37] barbarachristensen commented on #286
I can't see anything obvious; your assumptions of how it works are as I understand them, too. Of note-- when matching to an existing contact, it actually shouldn't have overwritten existing address info unless the fields were blank. You should have had to process the address via the C&P Alias page. Might be worth asking in the forum.

[2015-11-02 23:37] mscholtz commented on #345
@ninetaLogik can you take this on?  It just needs to omit registrations w/ status "Payment Provided" when it's checking for an existing registration, as well as those w/ "Cancelled".

@cewing I think you still have something to do on your end once that's done, since it looks like it's changing it to Cancelled when it didn't used to.  So sounds like that needs to be reversed.

[2015-11-02 23:38] mscholtz commented on #333
@ninetaLogik can you take a look?

[2015-11-02 23:42] mscholtz commented on #366
@drewpiston can you take this one on?
@WaBirder57 or @ebskopin can you tell us how this should be worded and where in the email it should appear?

Also: Drew, can we change the Accept/Decline links so that the text is hyperlinked, rather than making the URL visible?

Finally: Charlie or Elliot, do you maybe want to wordsmith this a bit?  For instance, I don't think we have anything called a Trip A

[2015-11-03 00:01] ebskopin commented on #384
I just tested now and received the same error.

[2015-11-03 00:03] ebskopin commented on #384
Tested on this WP: http://staging.wta.org:6543/workparty/a2eK00000000iUN/

[2015-11-03 00:48] davisagli commented on #398
No, it doesn't work that way at this point. We pass a return URL from VMS to Plone, but we've only given the Plone login form an awareness of that return URL, not the registration form.

[2015-11-03 00:51] davisagli commented on #334
Hmm, okay...just make sure you don't break registration of group members.

[2015-11-03 00:53] davisagli commented on #345
No! It should omit "Payment Not Provided", not "Payment Provided"

[2015-11-03 01:18] davisagli commented on #384
Please try again, I think something went wrong with deploying this change earlier, and I just tried it again.

[2015-11-03 01:29] mscholtz commented on #345
That's what I meant.  There is no "Payment Provided" status..

[2015-11-03 15:40] KindraRamos commented on #392
I went ahead and updated the priority. I think it is important to keep the look and feel consistent and not having the lines white looks like  a glitch and lessens the visual cue of the menu.

[2015-11-03 15:44] #374 closed

[2015-11-03 15:55] #363 closed

[2015-11-03 18:05] mscholtz commented on #210
@ebskopin I reviewed Julie's templates (https://docs.google.com/document/d/1sdF393-ouV3cJyaYdqa8X1v4_9Yq96yNKWF0ECyS9mU/edit) and my initial reaction is that as it stands these probably should be separate templates, as they're just different enough that it would be tricky to do it with one.

However, there are several small differences that I'm not sure are intentional/necessary.  Knowing how care

[2015-11-03 18:56] ebskopin commented on #384
This works. Thanks.

[2015-11-03 18:56] #384 closed

[2015-11-03 19:23] davisagli commented on #392
This change is done.

[2015-11-03 19:25] davisagli commented on #322
I've updated the colors for both Plone and the pyramid app. You might need to force-reload or clear your cache.

[2015-11-03 19:35] davisagli commented on #385
FYI, @jessesnyder, I took care of this.

[2015-11-03 19:35] #385 closed

[2015-11-03 19:50] davisagli commented on #402
I think I've fixed this.

[2015-11-03 19:54] davisagli commented on #393
fixed

[2015-11-03 21:56] davisagli commented on #400
Fixed.

[2015-11-03 23:23] ebskopin commented on #367
Looks good.

[2015-11-03 23:23] #367 closed

[2015-11-03 23:55] ebskopin commented on #371
working. Thanks.

[2015-11-03 23:55] #371 closed

[2015-11-04 00:14] ebskopin commented on #210
I took a look over the templates that Julie put together and I would say that all of the differences are intentional. It would certainly seem like these should each be separate templates as outlined.

I agree with Julie that we don't really need separate MBP & guest e-mails and I would also say that we don't need a separate e-mail for guests (it would be hard to make things more explicit to them t

[2015-11-04 00:21] ebskopin commented on #366
The date field can be inserted at the end of the first paragraph (...click the following link by June 15, 2016). I would be happy to wordsmith this -where does the template exist? I'm not seeing in the sandbox e-mail templates. Thanks.

[2015-11-04 00:39] ebskopin opened #404 "VMS: Work Parties with zero value for "Max Friends/Family" inhibit registrations"
Per Tiffany's Recent Testing Results -

Short version: work party types in SF with no value or a value of zero in the "max friends/family" box creates online registration problems for users of Firefox and IE. Registration just doesn't happen in Firefox and in IE registration happens but the user does not see a confirmation screen. No problems noticed in Chrome or Safari. iphone/ipad not tested.

L

[2015-11-04 05:23] alecpm commented on #328
This should be fixed now.  Browsers (like iOS Safari) with native date picker support should use the native date picker.

[2015-11-04 07:30] mscholtz commented on #210
@ebskopin you said "we don't really need separate MBP & guest e-mails and I would also say that we don't need a separate e-mail for guests".
Did you mean to say "we don't need a separate email for groups"?

[2015-11-04 15:12] KindraRamos commented on #235
Question about this email during implementation. Do we have a way to not send this out to everyone who is ever written a trip report on when it first syncs. So that it will only send the congratulations you wrote your first trip report email to folks who are actually writing the FIRST trip report.

[2015-11-04 16:14] ninetaLogik commented on #345
This should be fixed now.

[2015-11-04 16:52] davisagli commented on #235
That's a really good question. @mscholtz do you have a suggestion for how to best avoid that?

[2015-11-04 17:13] ebskopin commented on #210
Yeah, I intended to say groups.  I don't think the e-mail needs to differ for the respective users.

[2015-11-04 17:17] drewpiston commented on #366
Added in the "by date" text, and changed the urls to be links.

Elliot, the templates live here:
https://cs9.salesforce.com/00X?setupid=CommunicationTemplatesEmail&fcf=00lK0000000nkT0

You'll notice there are two for invited from waitlist -- one if a single person is invited and one if a whole family/friends party is invited.

 Drew

[2015-11-04 17:17] drewpiston commented on #366
PS Assigned to Eliot for wordsmithing, my portion is complete.

[2015-11-04 17:38] davisagli commented on #333
Who was testing this? The button does work for me so I suspect you need to set up the Salesforce user as a Docusign user.

In Salesforce switch to the "Docusign for Salesforce" app, go to the Docusign Admin tab, and click on Users. In the list of "DocuSign Inactive Users", select the user you want to activate and click the "Add Users" button.

[2015-11-04 17:48] davisagli commented on #347
We already made this help text configurable as part of the Work Party Type. Edit the "Friends/Family Help Text" field on the work party's Work Party Type.

[2015-11-04 18:13] ninetaLogik opened #405 "Unit tests for WTA_VMS_Hours_RollUp_To_WP_Reg are failing"
Due to new validation rule requiring WP Reg Status to be set.
WTA_VMS_TEST_Hours_Rollup_To_WP_Reg

[2015-11-04 18:17] ninetaLogik commented on #79
I see 2 options here:
1. Set the WP Reg Role for all FF to Volunteer.
2. Change the ContactFinderCreator to return the ACL and CL flags so we can determine exactly what the FF is.
@mscholtz which one makes more sense?

[2015-11-04 18:21] mscholtz commented on #79
@ninetaLogik we definitely need # 2.  # 1 would not satisfy the requirements of this ticket.

[2015-11-04 18:22] davisagli commented on #404
I can't reproduce this one so far. I tried registering for David's Test WP (http://staging.wta.org:6543/workparty/a2eK0000000wNzA/) whose Work Party Type has a blank Max Friends/Family, and it worked fine (in Firefox).

We need more details to reproduce the issue:
1. Which work party did you encounter this on?
2. Were you logged in or not?
3. What did you enter in each field in the form?

It sound

[2015-11-04 18:22] mscholtz commented on #333
Ah.  @ebskopin can you look into this and see if that solves it?

[2015-11-04 18:26] davisagli commented on #405
Changing this to high priority since we're hoping to deploy to production in a couple weeks and that can't happen with failing tests.

[2015-11-04 18:38] mscholtz commented on #235
@KindraRamos  Yep, this email is sent via a SF workflow, and all we would have to do is deactivate it temporarily.  So I think the best bet will be to keep workflows like this deactivated at first until the initial sync is done.  I've added an item to our deploy plan for this, so we don't forget.

[2015-11-04 18:39] mscholtz commented on #345
@ninetaLogik FYI Charlie is on vacation for an entire month, starting yesterday.  So for the month of Nov we should assign to Elliot to review.

[2015-11-04 18:40] mscholtz commented on #345
Actually not ready for review yet.  @cewing back to you to make the changes so this doesn't get set to Cancelled.

[2015-11-04 18:42] mscholtz commented on #405
Yep, was about to do that too.

[2015-11-04 18:57] ninetaLogik commented on #79
This should be fixed now.

[2015-11-04 19:13] ebskopin commented on #333
This worked once I had set-up the Docusign user as was recommended.  thanks

[2015-11-04 19:13] #333 closed

[2015-11-04 19:21] ebskopin commented on #347
Thank-you for pointing this out, David.  Closing this story.

[2015-11-04 19:21] #347 closed

[2015-11-04 19:23] mscholtz commented on #79
Thanks, Nineta!

On Wed, Nov 4, 2015 at 10:57 AM, ninetaLogik <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-11-04 19:24] davisagli commented on #349
done

[2015-11-04 19:29] ebskopin commented on #349
Works. Excellent.

[2015-11-04 19:32] cewing commented on #345
Okay, recommencing work.

[2015-11-04 19:45] ebskopin opened #406 "VMS: Membership expiration date not displaying on MBP"
As per Tiffany's Testing (I am also not seeing on my MBP) -

NOT WORKING: I am not sure where mybackpack is pulling info from to determine if a membership is active or expiured. For instance, both Loretta Ross and Nellie Bly show up as expired even though they have membership expiration dates and/or gift dates that should bring their membership through to now: https://cs9.salesforce.com/003K000001

[2015-11-04 19:55] ebskopin opened #407 "MBP: Unable to Load Photos into MBP Gallery"
Note: Still unable to load photos into my photo gallery. error message" The error has been logged as entry number 1445885331.080.513410462434."

![image](https://cloud.githubusercontent.com/assets/14843712/10950065/e3bcd4ea-82ea-11e5-9722-81bce14881c6.png)

[2015-11-04 19:57] ebskopin opened #408 "MBP: When uploading MBP photo, incomplete fields remove attached photo"
When I enter a photo on a trip report but also have some missing information (ie: do not specify day hike or overnight), when I hit submit I am given an error message and prompted to specificy what kind of hike it was. The system erases my photos, although the rest of my information remains intact. To save the photos to my trip report I have to reattach them.

[2015-11-04 19:57] davisagli commented on #407
What's your username @ebskopin?

[2015-11-04 19:59] ebskopin commented on #407
For MBP? EBSkopin

[2015-11-04 20:01] davisagli commented on #408
This is a limitation of Plone that there's no easy way to fix. There's nowhere for it to store the photo until the trip report is created, and the trip report can't be created until the input is valid. I'm sure we could develop a solution (i.e. store the image in some temporary location where it can be fetched on subsequent form submissions) but we're talking about changes to Plone's form code and

[2015-11-04 20:09] ebskopin commented on #404
From Tiffany -

"I am using this work party: https://cs9.salesforce.com/a2eK00000000jt9

But the errors are encountered when I mess around with the max friends/family field in this WP type:  https://cs9.salesforce.com/a2wK0000003uPLl

So this WP is the same type and I get the same issues: https://cs9.salesforce.com/a2eK00000000jtx

There's always the possibility that something else in that WP type

[2015-11-04 20:10] davisagli commented on #407
http://www.wta.org/hiking-info/gallery/images has a permission set to allow members to add photos, and we missed doing this when we set up http://mybackpack.wta.org/hiking-info/gallery ...should work now.

I just noticed that http://www.wta.org/hiking-info/gallery has a "Add your photos" portlet that links to create a photo in http://www.wta.org/hiking-info/gallery/images/2015 ... I guess we shoul

[2015-11-04 20:10] ebskopin commented on #408
Gotcha.  Not a high priority so no worries... Should ticket be closed?

[2015-11-04 20:11] davisagli commented on #408
Your call on whether to keep it open or close.

[2015-11-04 20:12] ebskopin commented on #407
Confirmed that this works.  Thanks.  Yes, link should be changed to the same portlet in that instance.

[2015-11-04 20:16] ninetaLogik commented on #117
Not sure why this is still assigned to me, it has the reviewing label. Will assign to Elliott to verify.

[2015-11-04 20:17] ebskopin commented on #408
Will leave open as medium priority for now.

[2015-11-04 20:17] davisagli commented on #404
I was able to register for that work party too. I know it's tedious but can Tiffany please list what she entered for each form field, as well as whether she was logged in or not?

[2015-11-04 20:18] davisagli commented on #404
(Or maybe a screencast of filling out the form would be easier?)

[2015-11-04 20:23] #120 closed

[2015-11-04 21:05] ebskopin commented on #404
"I am logged in as a My Backpack user with VMS permission level Volunteer and I don't add any info to the pre-populated stuff except checking the box that says I've read/understand. It pre-populates with first name/last name/phone/phone type/address/city/state/zip.

Under 18 is left unchecked; carpool is "no thanks" and "have a question" is blank.

Then I check the box that says I understand

I at

[2015-11-04 21:16] ebskopin commented on #117
This is working now.

[2015-11-04 21:16] #117 closed

[2015-11-04 22:07] davisagli commented on #404
Still not sure what causes it to not work. :( Can you email me the login and password for "George Eliot" so I can try in case it's something specific about this user? (Don't post it here; these issues are public.)

[2015-11-04 22:56] mscholtz commented on #210
@drewpiston folder w/ templates: https://drive.google.com/folderview?id=0B9Z_h99_tSEyLUxiVC0yc2lBUW8&usp=sharing

[2015-11-04 22:58] davisagli commented on #219
The pyramid app will now only cache a user's registration info for 10 minutes before it re-fetches it from Salesforce.

[2015-11-04 23:53] davisagli commented on #372
This now works.

[2015-11-05 01:45] cewing commented on #345
This is now ready for review, deployment is running as I type this message.

[2015-11-05 17:57] davisagli commented on #391
All done. There were actually subheadings that were supposed to be shown but were accidentally hidden. Let me know if the wording should change for any of them.

[2015-11-05 18:22] davisagli commented on #406
We pull these fields from Salesforce: Household_Membership_Status__c, HouseholdMembershipJoinDate__c, and HouseholdMembershipEndDate__c. Why do you say these should have a membership that's still active? They both have expiration dates in the past and that looks correct based on their membership opportunities which were over a year ago.

I still need to look into the other issues. It'd be helpful

[2015-11-05 19:14] davisagli commented on #406
The date of upcoming expiration was only visible for a user looking at their own backpack, and only if it's within the next 30 days. I changed it so it is now also visible to admin users looking at someone else's backpack.

And I added the date for expired members.

I think this is fixed.

[2015-11-05 19:24] davisagli commented on #407
It now has the correct link to add a photo. Test this on staging.wta.org rather than mybackpack.wta.org because only staging has the full gallery folder structure.

[2015-11-05 19:25] drewpiston commented on #210
Made some good progress on this, some notes:

1. The login link points to the real website (http://mybackpack.wta.org/), whereas the login in the existing SF template points to staging (http://staging.wta.org/login). Which should we have?

2. The Manage Your Party has a bad link (http://staging.wta.org:6543/login) -- should I change it?

Thanks!
 Drew

[2015-11-05 19:32] davisagli commented on #210
@drewpiston mybackpack.wta.org is not the real website, it's a dev/testing site for this project only whereas staging is for testing things that are almost ready to go live. Any URLs for Plone that are generated in Salesforce should be using a custom setting for the base URL so we can change it easily when we deploy to production. We already have a setting like this in VMS_Settings__c for the pyra

[2015-11-05 20:24] cewing commented on #369
This should now be corrected.  I've increased the font size for the waiver text while leaving the rest of the text on the page the same size.  I've set the total width of the name and signature columns in the unregistered sign up table to be a bit more than 1/3 of the total width of the table.

I've also set a print rule that should ensure that for most browsers (Chrome being the only exception I

[2015-11-05 20:33] cguardia commented on #390
Fixed. Will be working on next deploy.

[2015-11-06 01:09] ebskopin commented on #370
Per Julie's Re-test:

This does not appear to be fixed.

https://github.com/washingtontrails/vms/issues/370

"Summary Reports" is not listed in the right column in MyBackpack for Land Managers, which  is one way I recommended the land managers navigate to their summary reports. Its not clear to me is what was decided to be the best way to navigate to summary reports for land managers. (What did Da

[2015-11-06 01:18] ebskopin commented on #407
Looks good. Thanks.

[2015-11-06 01:18] #407 closed

[2015-11-06 18:57] davisagli commented on #77
@mscholtz FYI, Elliot changed this one to High Priority.

[2015-11-06 19:29] davisagli commented on #370
This should work now (a user with VMS Permisison Level = Land Manager should see the "Summary Reports" link in the My Backpack side nav)

[2015-11-06 20:35] KindraRamos commented on #391
Looks good. The blue lines should be gray though. Also as an admin I should be able to edit the headers and help text that the least.

[2015-11-06 20:40] davisagli commented on #391
We would need to estimate adding admin settings to control the header & help text as a new story. I doubt it's worth the effort unless you anticipate needing to change them frequently.

[2015-11-06 21:00] KindraRamos opened #411 "No map view of sorted hikes in MBP"
When I navigate from the dashboard to "My Hikes" I get a list of all my hikes and, when I click the map tab, a map of all the hikes. So far so good.

However, when I then try to filter, by region or by hiked/want to hike, the maps no longer work. If I am in the maps tab and I choose a filter, it automatically bumps me back into the list view where the filter seems to be working correctly. But if I

[2015-11-06 22:07] mscholtz commented on #79
@ebskopin one thing I realize I'm not sure about is the following edge case:

What if I'm not an ACL, but I sign myself and my wife up for a WP, and my wife is an ACL.  Should she get ACL role?  Or not?  (We do give it to her if she registers herself, just wondering if it's any different if I register her.)

[2015-11-06 22:46] drewpiston commented on #210
Thanks @davisagli .

@WaBirder57 This is ready for testing -- some notes:
1. I switched over to process builder (rather than workflow) for this -- was worried that workflow rules were getting to be too numerous. Happy to talk about that more.
2. Right now, if a Work Party Type doesn't have a value in the Email Template Registration field, no email will be sent. If you like I can add an action to t

[2015-11-06 22:54] drewpiston opened #412 "Email Template Links should use Dynamic Base URLs"
The Email Templates should use a base URL from custom settings for all links so that they are easier to change on deploy to prod.

[2015-11-07 01:25] mscholtz commented on #210
Thanks, @drewpiston!  Two little things

1) Charlie is on vacation for the entire month of Nov.  So we should be dealing w/ Elliot in his absence, including assigning tickets like this for review

2) Looks like there are a few WF Email Alerts still in there for this, I assume from your initial prototyping using WF.  Could you make sure all that's cleaned up?  (I only noticed b/c I was catching up

[2015-11-07 01:25] mscholtz commented on #210
@ebskopin overto you for review.  See drew's comment above

[2015-11-07 01:49] mscholtz commented on #405
Fixed. I am baffled by this one, though.  The validation rule was not new - it's been in there since April.  And I'm pretty sure this wasn't failing a month ago.  And I can't see recent changes to any of the classes that would have caused it to start failing.  Very odd.  Anyway, passing now.

[2015-11-07 01:49] #405 closed

[2015-11-07 01:53] mscholtz commented on #286
@barbarachristensen says she can look into this more next week.  We're not sure yet what's going on.

[2015-11-07 02:38] mscholtz commented on #187
sent request to SG support to see if they can find someone to manage the repo
https://support.sendgrid.com/hc/en-us/requests/542301

so give that a week or so to produce results..

[2015-11-09 18:16] KindraRamos commented on #402
looks good

[2015-11-09 18:16] #402 closed

[2015-11-09 18:27] #393 closed

[2015-11-09 18:29] drewpiston commented on #210
Hi @mscholtz ,

1) Thanks, will do.

2) PB Flows use WF Email alerts, so those need to stay in.

 Drew

[2015-11-09 18:38] KindraRamos commented on #392
Looks good in firefox, chorome but is not updating in IE
![ie version number](https://cloud.githubusercontent.com/assets/15238703/11042773/ef50e346-86cd-11e5-9168-6eedd67fad52.PNG)

[2015-11-09 18:39] davisagli commented on #392
Did you try clearing IE's cache?

[2015-11-09 18:39] mscholtz opened #413 "delete/deactivate old WP email workflow rules"
Turns out there are a number of Workflow rules in there that predate VMS, and are triggered off the opportunity, including some that fire off at regular intervals after the registration.  I was not aware of this.

Elliot, I think we probably just want to delete, or at least deactivate, all of these old rules.  We have defined, and created, all of the emails that we think we want as part of VMS.  T

[2015-11-09 18:45] mscholtz commented on #210
Ah, right, forgot.  Hmm, wish there was a way to see that from the Email Alert.  Maybe put "(sent via PB)" in the label?

[2015-11-09 18:48] drewpiston commented on #210
Done!

[2015-11-09 19:32] KindraRamos commented on #392
That did the trick. I had to do a hard clear the refresh didn't work. thanks

[2015-11-09 19:32] #392 closed

[2015-11-09 19:33] davisagli commented on #392
Yeah in IE refreshing the page doesn't help if the page is in the browser cache.

[2015-11-09 19:37] mscholtz commented on #77
@ebskopin just for my own peace of mind, can you say why this one is high priority?  doesn't seem like the most important thing in the world on the face of it.

[2015-11-09 19:45] mscholtz commented on #124
@ebskopin we never got some questions answered from Charlie on this one.  Can you look at my last Jun 17 comment and answer those 3 questions, or find answers somewhere?  Or if this needs to wait for Charlie's return please just let us know.  Thanks!

[2015-11-09 19:46] mscholtz commented on #335
@drewpiston could you work on this one?

[2015-11-09 19:48] mscholtz commented on #335
@drewpiston I think we would also want validation so if the WP already has required docs assigned, it won't allow checking the Allow Guest Reg box

[2015-11-09 20:28] ebskopin commented on #400
works.

[2015-11-09 20:28] #400 closed

[2015-11-09 20:56] cewing commented on #399
@davisagli, @ebskopin I've added a button that reads "I have completed the documents" that will reload the page.  As for customizing the text on the required docs page, there is a customizable text component there, which currently holds some lorem ipsum text.  It could serve to provide the instructions that @mscholtz [refers to above](https://github.com/washingtontrails/vms/issues/399#issuecomment

[2015-11-09 20:58] ebskopin commented on #366
Edits have been made. Thanks.

[2015-11-09 21:36] ebskopin commented on #369
done.

[2015-11-09 21:36] #369 closed

[2015-11-09 21:39] mscholtz commented on #366
@ebskopin have the functional changes that Drew made been tested?  If not, I don't think we should close this yet.

[2015-11-09 21:44] ebskopin commented on #406
Any idea why I wouldn't be able to edit any of the fields under the Membership Information heading in Salesforce except "Life Member."

[2015-11-09 21:51] davisagli commented on #406
@ebskopin I think they are formula fields calculated from the corresponding fields on the contact's household.

[2015-11-09 21:52] davisagli commented on #406
And those in turn are based on the membership opportunities associated with the household.

[2015-11-09 22:02] ebskopin commented on #77
The request was made for me to start flipping some medium priority stories to high priority. This one seemed more important than some of the medium priority stories, but likely still ranks as medium priority...

[2015-11-09 22:19] ebskopin opened #415 "VMS/MBP: Adjustments to Carpool Verbage in MBP & Salesforce"
In Salesforce - WP Registration Record:

Please make Carpool one word. This also needs to be fixed in SF in the WP Registration record, in the "Carpool" section:
Car Pool Preference
Car Pool Message

In MBP - Crew Corner:

Please make Carpool one word.

Please change the text under "Carpool"  to read:

This is an automated system. WTA does not match people for carpooling; it is up to you to contac

[2015-11-09 22:21] ebskopin commented on #79
I would say in that, and most cases, the person being signed up should get the ACL role. I would imagine that such instances would be very rare.

[2015-11-09 22:54] ebskopin commented on #413
These can all be deactivated.  I would hold-off on deleting all for now.  Thanks.

[2015-11-10 01:02] drewpiston commented on #335
On it.

[2015-11-10 01:07] cewing commented on #236
@ebskopin can you answer a few questions about this issue:

1.  We believe that the work to auto-append the work party name and date to the subject has already been completed, can you confirm whether that is true or not?
2.  I intend to add a signature to the bottom of a message sent that looks like this:

    [Sender Name] - [Sender Role]
    [WP Name] ([wp url])

  Is that acceptable?

3. With r

[2015-11-10 02:00] cewing commented on #236
There are some interesting issues involved in this one.

1.  It appears that the subject and body of the email message sent are stored in SF as they are sent, which means that the enhanced subject and body are stored with the extra information we generate (the name/date in the subj and the signature/url in the body).
2.  Because of this, when we go to display messages later, they appear with this

[2015-11-10 02:16] davisagli commented on #236
I think we should either not worry about the work party name and date being included in the subject when shown on the message board (I'd argue we should show the subject as it was sent), or we should just do a string replace to remove them as they're displayed. Changing how the API for sending a message works feels like overkill for this.

[2015-11-10 18:11] drewpiston commented on #335
Ready for review!

[2015-11-10 19:05] ebskopin commented on #335
This seems to be working correctly, as when I attempt to click the "Allow Guest Reg" box I was alerted to the fact that the work-party type does not allow it. Regarding how this manifests on MBP, these work-parties will still allow 1 guest (spouse/partner) to be registered but no more, correct?

[2015-11-10 19:09] davisagli commented on #335
In our system's terminology a spouse/partner is not a guest. A guest is a user who is not logged in. A spouse or partner is "friends/family". The number of friends/family allowed is controlled by the "Max Friends/Family" field.

[2015-11-10 19:16] ebskopin commented on #335
Gotcha, then this is good.

[2015-11-10 19:16] #335 closed

[2015-11-10 19:46] ebskopin commented on #236
Hey Cris,

In answer to your questions.

1. In testing this I am not seeing the auto-append of the work party name and date to the subject line in the e-mail.  I would vote for not displaying the work party name and date on the message board.

2. Yes, that should work.

3. It sounds like, as long as the new role is represented when new posts are made, that is fine. I understand that it won't be fe

[2015-11-10 19:59] davisagli commented on #404
Thanks for sending the login for George Eliot; I'm now able to reproduce the issue. The registration is failing because the user already has an existing registration, and the real problem here is that that error isn't getting shown to the user like it's supposed to.

[2015-11-10 20:06] cewing commented on #236
@davisagli, @ebskopin,

Thanks for your feedback on this.

I have placed square brackets around the WP name and start date in the subject, following the mailing list tradition of marking messages from a given list in this manner.  That makes it easy enough to post-facto remove this text for display in VMS and still leaves the actual marker in place so you can filter on it in the SF UI if you wante

[2015-11-10 20:14] ebskopin commented on #399
Cris,
I'm not seeing this button on the required documents page.  Perhaps I'm missing something.

Thanks,
Elliott

[2015-11-10 20:16] davisagli commented on #404
This is now fixed so that errors will be reported correctly.

[2015-11-10 20:18] mscholtz commented on #236
FWIW I agree w/ David that we should just show the email subject and body in both SF and Pyramid exactly how it was sent.  It's not needed in SF, since every message is linked relationally to a WP record, but it doesn't hurt and gives an accurate representation of what the users saw.

[2015-11-10 21:00] mscholtz commented on #413
These have been deactivated in sandbox.  Can I delete them there?  I assume I shouldn't deactivate in production until we go live w/ VMS?

@WaBirder57 when you get back can you weigh in on whether these can be deleted in production?

[2015-11-10 21:07] ebskopin opened #416 ""X Registered Volunteers" count under Crew Corner tab should read "X Registered Green Hats""
When viewing a roster as a CL, ACL, or admin, you see a line at the bottom of the roster, "X Registered Volunteers." As far as I can tell, "X" is the number of participants minus the leaders (CLs and ACLs). It's misleading and confusing to refer to these folks as "registered volunteers," because ACLs (and some CLs) are volunteers too. Since this line should only be seen by those with leaders and a

[2015-11-10 21:16] ebskopin opened #417 "VMS: Consistent language across VMS and SF, for summary reports / work party reports"
In order to have consistent language, can we change all places in SF that references "work party report" and instead be consistent with VMS in calling it "summary report"?
To illustrate the inconsistency, this is in VMS: http://prntscr.com/8w2p74
And this is in SF: http://prntscr.com/8w2ok8

[2015-11-10 21:37] skleinfeldt commented on #77
@mscholtz FYI in one of the meetings last week we (Jazkarta) were out of high priority tickets to work on and we asked @ebskopin if he'd like us to work on some medium priority ones. He said yes and agreed to change priorities for selected tickets he wanted us to work on.

[2015-11-10 21:45] cewing commented on #399
@ebskopin: It will only appear on the page that you are sent to when you try to register for a work party that requires documents that you do not yet have.  It does not appear on the documents tab for a workparty.

[2015-11-10 21:49] cewing commented on #236
@mscholtz, as the current webservice stands, we cannot prepend the requested text to the subject in Pyramid and not show it in SF.  I can remove it from the subject as displayed in Pyramid, but if I put it in the subject in Pyramid, and we send the message to the SF webservice with that text in the subject, it will appear in SF.

Are we now saying, @davisagli, @mscholtz that we should **not** add

[2015-11-10 22:23] ebskopin commented on #236
It is important that the info be in the subject line and if that means it is also stored in the SF webservice then that is fine.

[2015-11-10 23:12] mscholtz commented on #236
@cewing I was saying the opposite of that.  I was trying to say that I think it's fine if all of that stuff is in the subject of the message everywhere, and we shouldn't expend any effort to prevent it.

[2015-11-10 23:14] mscholtz commented on #77
Ah, got it.  I would actually prefer if you guys would just put comments on
the ones you want and say "do this one first" or whatever.  That way a) we
know what's really high priority looking back, and b) if new actual high
priority ones come in, we know those take precedence.  But no big deal
either way.

On Tue, Nov 10, 2015 at 1:37 PM, Sally Kleinfeldt <notifications@github.com>
wrote:

--

Mat

[2015-11-10 23:16] cewing commented on #236
Ahhhhhhhh,  I get it @mscholtz.  Sorry for the misunderstanding.  @ebskopin, is it alright if the text is left in the message subject when displayed in VMS?

[2015-11-10 23:18] ebskopin commented on #404
Yep. Tested and it works.  Thanks.

[2015-11-10 23:18] #404 closed

[2015-11-10 23:23] ebskopin commented on #236
Yes.  Sounds like that will be necessary so it's ok for the text to display in VMS.

[2015-11-10 23:28] mscholtz commented on #79
OK, we're going to leave this as-is for now, then.

[2015-11-11 00:05] davisagli commented on #349
Reopening this because we should also do this on the detailed work party view, e.g. http://staging.wta.org:6543/workparty/a2eK0000000wbal/

[2015-11-11 15:49] skleinfeldt commented on #77
Good point - sounds like a case for another label that we can search on. I created "Med-High Priority" and assigned to this ticket. @ebskopin can you apply this to other tickets you flipped? I will email the troups.

[2015-11-11 17:52] ebskopin commented on #77
Will do.

[2015-11-11 17:56] drewpiston commented on #210
I'm going to assign this back to me, as more templates were added since I completed this.

[2015-11-11 18:17] ebskopin opened #419 "VMS: Confirmation E-mails Not Being Sent"
It appears, as of 11/11, that confirmation e-mails for WP registrations are not being sent.

[2015-11-11 18:19] davisagli commented on #419
Based on his comment in #210 I think @drewpiston may be doing some work on the confirmation emails today.

[2015-11-11 18:25] ebskopin opened #420 "MBP: WP Calendar renders wrong day/date on Internet Explorer"
For Example: In IE, the Thanksgiving Day Work-party is on the correct date (Nov 26th) but the day of the week is incorrect (Tue rather than Thurs).
https://mail.google.com/mail/u/0/?ui=2&ik=4af4fdd411&view=att&th=150f75ccef7fab71&attid=0.1&disp=safe&realattid=f_igv0o3ib0&zw

[2015-11-11 18:26] davisagli commented on #420
That's a link to your inbox, which of course I can't see. Can you post a screenshot or URL for the work party here?

[2015-11-11 18:33] drewpiston commented on #419
That's correct! Also, the new design means that a value must be selected from the new Email Registration Template field on the Work Party Type in order for emails to be sent out.

[2015-11-11 18:33] ebskopin commented on #420
![ie calendar 1](https://cloud.githubusercontent.com/assets/14843712/11099351/b10dbdd2-885f-11e5-8c2b-064d019b92f8.JPG)

[2015-11-11 18:36] davisagli commented on #420
Ha, it's wrapping wrong and only showing 6 days per row.

[2015-11-11 18:37] drewpiston commented on #210
OK, all of the registration emails should be up to date. A couple of notes:

1. Note that in order to send out an email, an email template must be selected on the Work Party Type record ("Email Registration Template").

2. I modified the Weekend Work Party template slightly -- I added the End Date/End Time and the Days Registered For field. I'll run these changes by Julie.

Cheers,
 Drew

[2015-11-11 18:40] ebskopin commented on #419
Gotcha.  I'll assign those "Email Template Name Registration" fields to the respective work party types.

Thanks.

[2015-11-11 18:40] #419 closed

[2015-11-11 18:41] ebskopin commented on #210
Thanks Drew.  That looks excellent. I'm assigning the templates now.

[2015-11-11 18:49] ebskopin commented on #399
![image](https://cloud.githubusercontent.com/assets/14843712/11099717/d0fea7ee-8861-11e5-96e3-90ff4c832d53.png)

It this where is should be?

[2015-11-11 18:55] ebskopin opened #421 "VMS: All instances of trail_teams@wta.org as sender changed to volunteer@wta.org"
We would like to shift to volunteer@wta.org as the account from which all automated e-mails are sent. Any instances of trail_teams@wta.org existent in the new system can be replaced with volunteer@wta.org.

[2015-11-11 19:01] cewing commented on #399
@ebskopin yep.  Indeed.  What work party and user is that?  I will try to figure out why it isn't appearing.

[2015-11-11 19:03] ebskopin commented on #399
User- George Eliot:
eliot.george99@yahoo.com
georgewta123

WP: http://staging.wta.org:6543/workparty/a2eK00000000ibG/

It seems to be the case for any BCRT or Volunteer Vacation I attempt to register him for.

[2015-11-11 19:05] davisagli commented on #399
Please remember that this is a public issue tracker so it's not a good idea to post logins!

[2015-11-11 19:06] ebskopin commented on #399
whoops. ok. thanks.

[2015-11-11 19:07] cewing commented on #399
I've deleted.  I'm in.

[2015-11-11 19:13] cewing commented on #399
I've found the culprit.  Apologies for the problem.  When @davisagli deploys next it should be fixed.

[2015-11-11 19:22] davisagli commented on #399
Deployed.

[2015-11-11 19:29] ebskopin commented on #399
Yep, looks good. Thanks.

[2015-11-11 19:29] #399 closed

[2015-11-11 20:23] ebskopin commented on #406
Ok thanks for clarifying this. Here is what I'm seeing:

For George Eliot - https://cs9.salesforce.com/003K0000014OxHr

His membership is current.
![image](https://cloud.githubusercontent.com/assets/14843712/11101956/8540717c-886e-11e5-88bb-cf56f206f8bd.png)

But is not reflected in MBP.
![image](https://cloud.githubusercontent.com/assets/14843712/11101015/6afeba62-8869-11e5-8dc3-0ae1e2749769.png)

[2015-11-11 20:26] davisagli commented on #406
Are those screenshots from mybackpack.wta.org or staging.wta.org?

[2015-11-11 20:27] davisagli commented on #406
The date of membership expiration is only shown if it's within the next 30 days. So I think George Eliot's status is showing correctly, no?

[2015-11-11 20:30] ebskopin commented on #406
Yep, you're correct about George's.  The screen shots are from mybackpack.wta.org.

[2015-11-11 20:31] davisagli commented on #406
Okay, forgive me if I'm missing something that's obvious to you, but what part isn't working right then?

[2015-11-11 20:34] ebskopin commented on #406
The membership for my record (https://cs9.salesforce.com/003K0000015g4x9) is set to expire on 11/18/2016, but MBP would lead me to believe that my membership expired on Nov 5, 2015.

Maybe I'm not understanding how these two things are suppose to communicate...

[2015-11-11 20:37] davisagli commented on #406
Oh, I see; yeah that doesn't look right. I think it's confused because the membership status is Current but the start date is in the future. Will take a look...

[2015-11-11 21:37] davisagli commented on #420
Fixed (clear your cache)

[2015-11-11 21:47] davisagli commented on #406
For some reason the nightly sync from Salesforce to Plone was not running on mybackpack.wta.org. I ran it manually and restarted the process so we'll see if it works tonight.

[2015-11-11 22:37] ebskopin commented on #420
looks good.

[2015-11-11 22:37] #420 closed

[2015-11-12 00:25] davisagli commented on #416
done

[2015-11-12 17:25] skleinfeldt commented on #77
OTOH @davisagli dislikes having another priority to search for, so I'll just label these med-high ones Medium as well so they show up in that search. The med-high label can just serve as a priority bump.

[2015-11-12 18:03] davisagli opened #423 "MBP: prevent users from upvoting their own trip reports?"
Should we hide the "thumbs up" widget when a user is looking at a trip report that they created themself?

[2015-11-12 18:17] davisagli commented on #235
This should work now.

[2015-11-12 18:25] davisagli commented on #391
The lines separating the fieldsets are now gray.

[2015-11-12 21:14] ebskopin commented on #423
I would vote yes, we should.  I just testing #235 and thinking it a little strange that I could upvote my own trip report.

[2015-11-12 21:15] davisagli commented on #423
That's how I noticed it too.

[2015-11-12 21:15] davisagli commented on #406
Still didn't run. I switched it to a different approach for running the nightly tasks, and will check again tomorrow.

[2015-11-12 21:20] mscholtz commented on #99
for self:

- [ ] redo formula for Waitlist Volunteers Only
- [ ] respect WVO on insert
- [ ] respect WVO on update

[2015-11-12 21:42] ebskopin commented on #235
are the SF workflow e-mails being suppressed presently?

[2015-11-12 21:42] davisagli commented on #235
No. But remember this won't be triggered until the nightly sync of trip report info from Plone to SF.

[2015-11-12 22:52] drewpiston opened #424 "Add in Work Party Reminder Email Templates"
Julie pointed us to a folder with email reminder templates (folders B and C):
https://drive.google.com/folderview?id=0B9Z_h99_tSEyLUxiVC0yc2lBUW8&usp=sharing

We can add these, but unfortunately they take a little longer than normal templates because they are VF (we need the VF templates in order to pull in the Required Doc stuff).

[2015-11-12 22:53] drewpiston commented on #424
Hi Eliot, assigning to you to prioritize. Thanks!

[2015-11-12 23:00] drewpiston commented on #412
This is ready for review -- unfortunately it's a little hard to test. Best thing to do would be to send out one of each email template in this folder (https://cs9.salesforce.com/00X?setupid=CommunicationTemplatesEmail&fcf=00lK0000000nkT0) and make sure the links are correct.
You can send out a test email by clicking the "Sent Test and Verify Merge Fields" button on the email template and then sele

[2015-11-12 23:25] ebskopin opened #425 "VMS: Crew Messageboard time-stamp incorrect & Staff title change"
With the crew message board, when staff post a message, the "signature line" should be:

[Name] - Staff

Right now is says [Name] - Admin which is a very techy way to do this. Not what I think makes sense for WTA.

Also, the time stamp is not correct. I posted a message around 3pm today and the time stamp was 12:00am. If the time won't be accurate then it should show the date only, and not show th

[2015-11-12 23:34] ebskopin commented on #424
Thanks Drew.  These would be important to have.

[2015-11-12 23:44] drewpiston commented on #424
Thanks @ebskopin -- follow-up question:
Originally we implemented functionality for allowing different reminder templates based on recipient type as well. In other words, a Group volunteer would get a slightly different 5 week reminder email for a BCRT Work Party than a My Backpack volunteer for that same Work Party. I haven't seen email templates at that level of granularity -- is that something

[2015-11-13 00:44] ebskopin commented on #416
This is working. Thanks.

[2015-11-13 00:44] #416 closed

[2015-11-13 01:36] mscholtz commented on #99
@ebskopin one question here.  The possibility exists that in a friends/family party, we could have one or more volunteers and also one or more ACLs.  (In fact we recently updated how this works, see ticket #79)

In general the way waitlisting works is that there's either room for the entire party or there's not.  And if not, it puts them all on the waitlist, even if there would be room for some of

[2015-11-13 16:41] ebskopin commented on #235
Works.

[2015-11-13 16:41] #235 closed

[2015-11-13 17:07] ebskopin commented on #99
Hmm. In that instance, I would say we treat the entire group as if they are all vols. Meaning, if a group signs up and has 2 ACLs and 3 vols, and there are only spots for 4, we wait-list the entire group. The ACLs should be familiar enough with the system to know that if they really want to go they can register separately, and the likelihood of ACLs signing up as parts of groups is pretty low. Doe

[2015-11-13 17:24] ebskopin opened #426 "VMS: Remove Red Confirmation Pop-up when joining waitlist"
Upon clicking the "Join Waitlist" button at the bottom of the registration page, a red pop-up box appears (http://prntscr.com/8ub33m). This can be removed and, once the "Join Waitlist" button is clicked, the user should be navigated directly to the "Thank-you" page.

[2015-11-13 17:53] davisagli commented on #426
Are you sure? We did it this way because there is a chance that the red box is the first indication the user sees that they are joining the waitlist rather than registering -- that could happen if user B took the last spot after user A loaded the registration form (so the button would say Register rather than Join Waitlist).

Also, if the user is registering friends/family and they entered an emai

[2015-11-13 17:58] ebskopin opened #427 "VMS: Work Party End Date should be displayed on VMS work-party map"
Presently, multi-day workparties (VV, BCRT, Weekend) only display the start dates on the MBP workparty map:
![image](https://cloud.githubusercontent.com/assets/14843712/11153305/d699edd0-89ec-11e5-902e-f5f47be6895d.png)

It would be helpful to have the end date displayed for these workparties in this context.

[2015-11-13 18:23] ebskopin commented on #426
Yep, that would make sense.  I'm gonna alter this ticket to reflect some aesthetic changes. Thanks for bringing that to my attention.

[2015-11-13 18:43] davisagli commented on #406
Nightly sync is working now.

[2015-11-13 18:49] ebskopin commented on #328
This works.

[2015-11-13 18:49] #328 closed

[2015-11-13 19:32] ebskopin commented on #78
This is working.  Closing.

[2015-11-13 19:32] #78 closed

[2015-11-13 20:22] mscholtz commented on #99
@ebskopin yep, seems good.  I'll do it that way.  Thanks!

[2015-11-13 20:26] KindraRamos opened #428 "Date appears twice on trip report"
When reading a trip report – Under the trip reporter name it says “Hiked Aug 18, 2015, Aug 18, 2015”. one is linked the other is not.
![trip report date appears twice](https://cloud.githubusercontent.com/assets/15238703/11156616/cc4e5c70-8a01-11e5-9602-e57617f9cbce.PNG)

[2015-11-13 20:31] KindraRamos opened #429 "Mobile (Android) issue with trip reports"
(On Android with Chrome) – After “Did you find this trip report helpful”, “Yes” does not appear.

[2015-11-13 20:36] KindraRamos opened #430 "Did you find this trip report helpful? non-logged in lable issue"
In both Firefox and Chrome. When I am not logged in to MBP I can give a thumbs up to a trip report. When I go back to the trip report it still asks if I found the trip report useful, if I click yes a second time it acts as if I hit cancel instead and takes away my previous YES vote. It should say cancel when I go back to a trip report.

[2015-11-13 20:37] davisagli commented on #429
@cewing @cguardia @alecpm do any of you have an Android phone?

[2015-11-13 20:55] ebskopin opened #431 "VMS: Edits needed to Registration Form (all users)"
![image](https://cloud.githubusercontent.com/assets/14843712/11157342/b4c69000-8a05-11e5-9abf-8fb3e76a4247.png)

Changes:
- [x] Replace the help text underneath the Carpool message field with: “Please list your preferred meeting point such as a park & ride, neighborhood or town.” [current text is too Seattle-centric]
- Under Bringing someone with you, replace the 2nd sentence with “For larger part

[2015-11-13 21:11] ebskopin opened #432 "MBP: Crew Corner "Add a Member" typo"
On the Crew Corner tab in VMS, there is an "Add a Crew Member" section. For some reason there is a "1." that appears between the Last Name field and the Email field in this section.

![image](https://cloud.githubusercontent.com/assets/14843712/11157722/f87b72f0-8a07-11e5-91a0-1c85c6b94b12.png)

[2015-11-13 21:18] davisagli commented on #431
@ebskopin the help text under "Bringing someone with you?" comes from the "Friends/Family Help Text" field on the Work Party Type.

[2015-11-13 21:23] ebskopin commented on #431
gotcha, thanks

[2015-11-13 22:05] ebskopin opened #433 "MBP: Text on Fee's Tab in MBP should be editable by Admin users"
As is the case on the documents tab, the text on the Fees tab should be editable my a MBP user with Admin privileges:
![image](https://cloud.githubusercontent.com/assets/14843712/11158805/85481ede-8a0f-11e5-89fd-f49d3e0649b9.png)

[2015-11-13 22:38] ebskopin opened #434 ""Dynamic Breadcrumbs" and volunteer tab highlight to match wta.org"
Anytime you are within VMS, the "Volunteer" tab under the main navigation should be highlighted in Orange when , just like the behavior on wta.org.

Current VMS, which doesn't highlight "Volunteer" in orange:
![image](https://cloud.githubusercontent.com/assets/14843712/11159422/15a5b2f8-8a14-11e5-9cad-2f60a30f0177.png)

Correct highlighting behavior on wta.org with "Volunteer" in orange:
![image](

[2015-11-13 22:46] ebskopin opened #435 "VMS: iOS bug when "?" on Work Party filters clicked"
When the "?" next to the sub headings for the work party filter is clicked on iOS the screen is overlayed with a grey box that is difficult to navigate out of.

![image](https://cloud.githubusercontent.com/assets/14843712/11159537/4c6fb15c-8a15-11e5-978b-cbd8e14e55a4.png)

[2015-11-13 22:51] barbarachristensen commented on #286
Hey @davisagli -- Will I get in your way at all if I delete and repost this transaction a couple times (c&P has a tool to wipe the slate and start again like the transaction is new). Will save someone having to set me up/show me how to create registrations in the real test environment. thx!

[2015-11-13 22:51] davisagli commented on #286
Go ahead.

David Glick
(mobile)

[2015-11-13 22:56] ebskopin opened #436 "Share (e-mail, FB, Twitter) feature on WP currently inactive"
![image](https://cloud.githubusercontent.com/assets/14843712/11159659/b911f468-8a16-11e5-9f33-971d6994ae58.png)

Thinking that it should be activated or removed prior to launch. Not sure if the activation needs to happen now...

[2015-11-13 22:58] davisagli commented on #436
These are stories 88 & 89 which are in the phase 2 backlog.

[2015-11-13 23:05] ebskopin commented on #436
gotcha, figured they were in there but couldn't find them

[2015-11-13 23:05] #436 closed

[2015-11-13 23:12] ebskopin opened #437 "Error when attempting to register 5th guest on day WP"
Trying to register 5 people on my day work party. Get this error when I finally click "Register". Same thing doing this logged in vs. doing it as a guest. No problem when I'm not registering for more people.

This is the work party: http://staging.wta.org:6543/workparty/a2eK00000000kDF/

Not sure if this is a bug or they are just messing with the code...

Error Code 500. Response content: [{u'erro

[2015-11-13 23:13] davisagli commented on #437
Maybe related to the flow @drewpiston was working on for registration confirmations?

[2015-11-13 23:15] davisagli commented on #436
I hid the "share" block for now, as well as the unimplemented "Apply For Scholarship" block that shows up for youth work parties (I'm not even sure we have a story for that one)

[2015-11-13 23:15] davisagli commented on #415
I made these changes.

[2015-11-13 23:17] ebskopin opened #438 "VMS/MBP: Edits to WP Info Tab Descriptions"
VMS changes:
-Default all body text to the same font size. This problem was previoulsy reported and only partially fixed. Salesforce allows you to include "regular" text and bulleted lists in the same field. When the regular text is displayed above the bulleted list, VMS now displays them both with the same font size. However, when the regular text is below a bulleted list, it defaults to a smalle

[2015-11-13 23:19] davisagli commented on #438
Can you please paste the link to the work party shown in the screenshot so I don't have to type it in from the screenshot?

[2015-11-13 23:28] ebskopin opened #439 "VMS: Edits needed to Registration Form (Guest users)"
![image](https://cloud.githubusercontent.com/assets/14843712/11160136/13117854-8a1b-11e5-8c42-dd0af6990509.png)

Note: The view above is the expanded view you see when you click the “+” symbol next to “5 Reasons to Have a Backpack Account”

Changes:
- [x] Replace “Do you already have a My Backpack account?” text with “Already have an account?”
- [x] Remove the “5 Reasons to Have a Backpack Account

[2015-11-13 23:35] ebskopin opened #440 "VMS: Edits needed to Registration Form (My Backpack users)"
![image](https://cloud.githubusercontent.com/assets/14843712/11160243/1694ba1c-8a1c-11e5-9bd7-e472af3c3ea6.png)

Changes re: Birth Date:
- [x] Remove the “Birth Date” field and associated text from this view for logged in users.

Changes/issues for “Congratulations”:
- [x] Move the “Congratulations!” section lower down on the form so that it appears right above the “Have a question or comment abou

[2015-11-13 23:50] davisagli commented on #440
Are you sure about removing the birthdate field? There was a whole story for adding it (story 87). Note that it only shows up when "under 18" is checked and we don't yet have a birthdate on file (story 291).

[2015-11-13 23:51] davisagli commented on #440
Oh, I guess you mean don't show that part in the case where we already know the birthdate.

[2015-11-13 23:52] davisagli commented on #431
I took care of the other changes.

[2015-11-13 23:52] davisagli commented on #432
fixed

[2015-11-13 23:53] davisagli commented on #433
done

[2015-11-13 23:53] davisagli commented on #439
done

[2015-11-13 23:54] ebskopin commented on #440
correct.

[2015-11-13 23:56] davisagli commented on #438
http://staging.wta.org:6543/workparty/a2eK00000000kDP/

[2015-11-14 00:17] davisagli commented on #438
done

[2015-11-14 01:04] davisagli commented on #434
done

[2015-11-14 01:36] davisagli commented on #440
done

[2015-11-14 02:03] barbarachristensen commented on #286
I think I'm going to have to create a new registration to test this WTA issue further. I saw the strange behaviour once as David saw it, but now with a second test on the same records  to capture in a debug log, it's creating a temp contact like it should. I ran a third just to be sure, still working right. I'm gaming the system a bit by re-processing his record over and over, so should rule that

[2015-11-16 18:10] mscholtz commented on #286
This is pretty easy to do

* Go here: http://staging.wta.org:6543/
* Find a paid WP (look for Volunteer Vacations is the best bet)
* Click through to the WP, then click Join
* You'll be prompted to register for My Backpack (which is required for paid WPs) - go ahead and do that, and you should be brought back to the registration form.  Don't worry if you get certificate warnings.
* Register and pa

[2015-11-16 18:20] mscholtz opened #441 "Show more specific item in C&P receipt"
Currently the C&P receipt for a registation payment (e.g. Vol Vac) shows just "registration".  Ideally Rebecca would like this to be more specific.  TBD what it should say.

"Registration" is the SKU, which we have to keep static, but @davisagli thinks we can pass an Item Name that's separate from the SKU.  Testing needed.

[2015-11-16 18:21] mscholtz commented on #441
Current receipt (in sandbox):

![image](https://cloud.githubusercontent.com/assets/931031/11190691/d3134790-8c4b-11e5-836c-db92a81b37cf.png)

[2015-11-16 19:28] ebskopin commented on #434
Looks good. Thanks.

[2015-11-16 19:28] #434 closed

[2015-11-16 19:35] ebskopin commented on #440
thanks.

[2015-11-16 19:35] #440 closed

[2015-11-16 19:52] davisagli commented on #411
This should work better now.

[2015-11-16 21:01] skleinfeldt commented on #427
@ebskopin does this ticket really come under MBP budget? It is about work parties...??

[2015-11-16 21:01] davisagli commented on #430
Note to developers: this is a caching issue. It works fine locally. But on staging and production trip reports are cached in varnish and a new vote does not purge the cache.

[2015-11-16 21:03] davisagli commented on #427
I fixed the labels.

[2015-11-16 21:03] ebskopin commented on #431
done

[2015-11-16 21:03] #431 closed

[2015-11-16 21:04] ebskopin commented on #427
whoops, thanks for adjusting.

[2015-11-16 21:07] davisagli commented on #423
Done. If you view your own trip report it should now say "[n] people found this trip report helpful." and not give the option to vote. (You probably need to force-reload/clear your cache.)

[2015-11-16 21:33] ebskopin opened #442 "VMS: "Show Space Remaining in VMS" - work party type vs. work party"
The "Show Space Remaining in VMS" field exists both on the Work Party Type object and the Work Party object in Salesforce.

Here is a work party - https://cs9.salesforce.com/a2eK00000000kDZIAY- where the box is checked at the work party type level (Day Work Party) but is not checked on the work party.

It appears that VMS looks only to the Work Party Type field because in the instance above, VMS D

[2015-11-16 21:55] ebskopin opened #443 "VMS: Adjustment to Region vs. Location wording"
The search filter on the Find a Work Party page shows "Regions." However, those regions are labeled as "Location" in the List view and in the Work Party Detail header.

Here are the changes needed:
On the Find a Work Party List view, replace "Location" with "Region" under each work party.
On the Work Party Detail header, "replace "Location" with "Region."

[2015-11-16 21:58] ebskopin opened #444 "Features Vs Highlights Language"
The search filters include "Features" and the Work Party Info uses the word "Highlights" for the same thing.

Please replace "Highlights" with "Feature." in the List view on the Find a Work Party page and on the Work Party Detail.

![image](https://cloud.githubusercontent.com/assets/14843712/11196019/174002f0-8c6a-11e5-9672-8260dbac739d.png)

![image](https://cloud.githubusercontent.com/assets/148

[2015-11-16 22:00] davisagli commented on #443
Not sure why you put MBP in the title of this one and labeled it Plone. It's in the pyramid app part of VMS.

[2015-11-16 22:10] davisagli commented on #430
Purging when someone votes is not enough here because showing the right text depends on the user's "yolikeitorhateit" cookie. And we don't want to disable caching entirely for the anonymous trip report view. So I think we need to set a cookie when the anonymous user has upvoted and change the class to 'selected' when that cookie is present, so that we can update this without needing to re-render t

[2015-11-16 22:34] ebskopin commented on #443
To be honest, I could use some clarity as to what is what. Please adjust tags at will.

[2015-11-16 22:39] davisagli commented on #443
For the Plone and Pyramid tags: The work party search and detailed view of a work party are served by the pyramid app, as well as anything you access from them (registration form, crew corner, summary reports) *except* via the top nav bar. Everything else is served from Plone. If in doubt, just don't add a tag for the technology and we'll add it.

For the budget tags: anything to do with work part

[2015-11-16 22:39] davisagli commented on #443
Oh -- and if the URL says http://staging.wta.org:6543, it's the pyramid app. If it says http://staging.wta.org (no port number) or mybackpack.wta.org, it's Plone.

[2015-11-16 22:45] ebskopin commented on #443
thanks.

[2015-11-16 23:04] KindraRamos commented on #423
Works in Chrome and Firefox. In IE it looks this:
![ie view of my trip report upvote](https://cloud.githubusercontent.com/assets/15238703/11197552/029e4bd2-8c73-11e5-8bab-ac80bf15a6b8.PNG)
Text is correct but the thumb is one the wrong side. Yes I did a force clear of the cache.

[2015-11-16 23:09] davisagli commented on #423
Okay, that's a different issue but we'll work on it.

[2015-11-16 23:09] KindraRamos commented on #411
thanks

[2015-11-16 23:09] #411 closed

[2015-11-16 23:13] #322 closed

[2015-11-16 23:14] ebskopin opened #445 "VMS: add online listing fields to Clone WP"
When cloning a workparty in Salesforce, the "Text for Online Listing" should be cloned.  This includes the Overview, Project Description, etc.

[2015-11-16 23:40] davisagli commented on #423
Okay, clear your IE cache and it should display correctly now.

[2015-11-16 23:41] davisagli commented on #428
This is now more consistent between the trip report listing and the detail view of a trip report. It shows a relative date (e.g. '5 days ago') if it was under 2 weeks ago, otherwise the full date. If it's a relative date you can mouseover the date to see the full date.

[2015-11-17 00:11] ebskopin opened #446 "VMS: Further Edits to Sign-In Sheet"
Please see below.  The most important item is the language/spelling.

# VMS Sign in Form

## Changes to all instances of the form (via registration form “terms of use” and via “Crew Corner”):

- [ ] First sentence of liability language needs a merge field inserted that displays the Land Manager associated with the (primary) Trail Segment for the work party. Updated sentence should read: “By signin

[2015-11-17 00:16] ebskopin opened #447 "VMS: Further Edits to Registration Form"
For all instances of the form:
Change the label for the Birth Date field to Birthdate. We use it as one word in the new My Backpack and that is the more common useage.
For Guests:
Under the "Create My Backpack Account" section:
Remove the 2 rules [lines] above and below the Screen Name field. (This only appears when the account checkbox is checked.)

[2015-11-17 00:21] davisagli commented on #446
The language for the liability waiver comes from Salesforce so it's up to you to enter it as you like. For each trail segment it looks for the corresponding land manager and displays the text from its "Liability Waiver Text" field. If that's blank it looks for a value in parent land managers. In addition, it shows the global liability waiver which comes from this record: https://cs9.salesforce.com

[2015-11-17 00:25] ebskopin commented on #446
ok, thanks.

[2015-11-17 00:25] davisagli commented on #429
Which Android device are you testing with, @KindraRamos ?

[2015-11-17 00:41] KindraRamos commented on #429
Samsung S5. I can ask for the software version data if you need but it is not my device so it might take a minute for them to get back to me.

Kindra Ramos – director of communications and outreach

Washington Trails Association

wta.org * 206-965-8563

WTA is powered by hikers like you!

From: David Glick [mailto:notifications@github.com]
Sent: Monday, November 16, 2015 4:26 PM
To: washingtontrai

[2015-11-17 00:47] KindraRamos commented on #428
Looks good

[2015-11-17 00:47] #428 closed

[2015-11-17 00:47] davisagli commented on #429
It might be helpful to know the version of Android OS as well as the version of Chrome.

[2015-11-17 00:50] KindraRamos commented on #423
looks good

[2015-11-17 00:50] #423 closed

[2015-11-17 01:07] davisagli commented on #395
done

[2015-11-17 02:15] mscholtz opened #448 "Waitlist-related capacity checks for group & vol capacity & ACL ratio"
In looking at our code, I think we're missing some edge cases when it comes to enforcing capacity.

Currently, for the overall WP capacity, we are enforcing several things.  In addition to enforcing that the total # of registered people doesn't go over capacity, we are:

1. counting people on the waitlist as holding spots, when deciding if new people can register (i.e. if capacity is 10, we have 9

[2015-11-17 06:21] mscholtz commented on #99
This is done.  It was actually easy enough to go one step further than what you said was OK, @ebskopin .  In a mixed party of vols and leaders, it will could how many vols are in the party, and see if there are room for them within the Volunteer Capacity.  But if there isn't, it will waitlist everyone, including the ACLs.

Note that this only is properly enforced for new registrations, not for tho

[2015-11-17 07:57] davisagli commented on #396
Done (and also on the My Backpack nav button)

[2015-11-17 15:50] KindraRamos opened #450 "fix positioning in doormat tiles (iOS)"
On the ipad and iphone5 the if I am on my trip reports the icons for number of trip reports and number of up votes are small and not centered in the tile.

[2015-11-17 15:55] KindraRamos opened #451 "photo pull from trip reports to profile dash should be pulling more recent photos"
The photos pulled into the profile photo bar should be from the most recent trip reports not randomly selected.

[2015-11-17 16:04] #395 closed

[2015-11-17 16:06] skleinfeldt commented on #451
[Story 295 in iteration 19](https://www.scrumdo.com/projects/project/wta/iteration/130352#story_1027325): "Use trip reports first, image gallery if they don't have enough trip reports; max 3 images, use the images from the most recent trip report each time you view the page; automatically cropped to fit the space." Later @davisagli added a comment: "Charlie says for now: 3 trip report images, chos

[2015-11-17 16:15] KindraRamos commented on #429
Android 5.0
Chrome 46.0.2490.76

Kindra Ramos – director of communications and outreach

Washington Trails Association

wta.org * 206-965-8563

WTA is powered by hikers like you!

From: David Glick [mailto:notifications@github.com]
Sent: Monday, November 16, 2015 4:48 PM
To: washingtontrails/vms
Cc: KindraRamos
Subject: Re: [vms] Mobile (Android) issue with trip reports (#429)

It might be helpful

[2015-11-17 16:27] KindraRamos opened #452 "mobile upload of profile pic doesn't orient"
When I upload a photo from my iphone5 it displays sideways. I think that Jesse fixed a similar issue on trip reports for us earlier this year.

[2015-11-17 16:46] davisagli commented on #452
@jessesnyder any pointers on this?

[2015-11-17 16:53] jessesnyder commented on #452
@davisagli I don't know if you have an opportunity to "touch" the image during this process, but if you do, calling wta.content.imageorientation.autocorrect(theImage) might do it.

[2015-11-17 16:55] KindraRamos commented on #396
Thanks these look great but I think the nav button should stay a square.

[2015-11-17 16:56] davisagli commented on #452
Thanks. We can try doing that in the user preferences form code.

[2015-11-17 16:58] davisagli commented on #396
That means the image will get a circular crop in some places but a square crop in the nav, which may be confusing to users. Not hard to try it if you want though.

[2015-11-17 17:11] KindraRamos commented on #451
Hi Sally –

Yeah Charlie and I talked about this but I don’t think he had a chance to update. Learning from Facebook’s memories work we don’t want to pull up photos of exs or the deceased. I think most recent is the best course here. thanks

Kindra Ramos – director of communications and outreach

Washington Trails Association

wta.org * 206-965-8563

WTA is powered by hikers like you!

From: Sally

[2015-11-17 17:14] KindraRamos commented on #396
Thanks for looking out for the users David but I think visually it is stronger to keep the clean lines of the square up top.

Kindra Ramos – director of communications and outreach

Washington Trails Association

wta.org * 206-965-8563

WTA is powered by hikers like you!

From: David Glick [mailto:notifications@github.com]
Sent: Tuesday, November 17, 2015 8:59 AM
To: washingtontrails/vms
Cc: Kindr

[2015-11-17 17:31] davisagli commented on #429
I used Samsung's "Remote Test Lab" (http://developer.samsung.com/remotetestlab/rtlDeviceList.action) to test this with Android 5.0 / Chrome 46 on a Galaxy S5. The "Yes" link is visible.

![screen shot 2015-11-17 at 9 29 22 am](https://cloud.githubusercontent.com/assets/49014/11219185/f70659e0-8d0d-11e5-99ea-e909cf97f7c2.png)

[2015-11-17 18:02] davisagli commented on #408
I'm going to change this one to low priority to make sure we work on the other medium priority tickets first.

[2015-11-17 19:12] ebskopin commented on #446
Ok, I've edited the text and have removed those components from the story.  Let me know if there is anything further I can do.

Thanks.

[2015-11-17 19:22] skleinfeldt commented on #451
Goodness I hadn't considered that possibility... Point taken.

[2015-11-17 19:46] ebskopin commented on #99
This is now working, thanks.

[2015-11-17 19:46] #99 closed

[2015-11-17 19:59] ebskopin commented on #236
working as intended. thanks.

[2015-11-17 20:04] barbarachristensen commented on #286
Tested new registration, saw the no temp contact/overwrite of data 2x. Captured one w/ debug log, if you need it.  Something seems to be firing before the C&P triggers that sets the address from registration onto contact rec, so that when c&p goes searching for a match, it finds an exact one.

No workflows, Flows, or process touch address info on contact.

There is a method-- WTA_VMS_REST_CreateRe

[2015-11-17 20:09] davisagli commented on #286
If the registration webservice updates the address on the contact, then that would indeed happen before the user even gets a chance to fill out the payment form.

I think that the issue Matthew described in #231 was hypothetical rather than based on actual testing.

I'm going to close this and someone can open a new issue if there's still a problem.

[2015-11-17 20:09] #286 closed

[2015-11-17 20:27] #236 closed

[2015-11-17 21:18] ebskopin commented on #448
Ok, I'm not sure I have my head totally wrapped around this, but here are my thoughts:

What you describe in Example 1 makes sense to me, and it seems appropriate to offer the single registrant the spot if there is one spot available and 2 on the waitlist. However, this seems to contradict what you described in 1. Either way, I would say that in such a situation, the spot should be available to th

[2015-11-17 21:59] ebskopin opened #454 "VMS: Medical & Backcountry Experience Info should not be visible on crew corner roster"
Presently, a crew leader can click on the names of those individuals registered for their work-party under the Crew Corner Tab and "Crew" subheading, and view information regarding their certifications, awards, etc.  Included in this info is the Medical Info and Backcountry Experience info from respective forms filled out by the contact:

![image](https://cloud.githubusercontent.com/assets/1484371

[2015-11-17 22:26] davisagli commented on #425
We are only storing the date, not the time that the message was sent. @mscholtz could we change the Date Sent field on Work_Party_Message__c to be a datetime field instead of a date so we can record and display the time the message was sent?

In the meantime I changed it to not show the time.

I also changed it so it'll change Admin to Staff when it generates the message signature. Since the signa

[2015-11-17 22:35] davisagli commented on #427
done

[2015-11-17 22:42] ebskopin commented on #427
looks good

[2015-11-17 22:42] #427 closed

[2015-11-17 22:47] davisagli commented on #442
I updated the pyramid app to only pay attention to this field on the Work Party, not the one on the Work Party Type.

I don't think you currently have anything set up in Salesforce to set the checkbox on the work party based on the one on the work party type when the work party is created, so the field on Work Party Type is now not doing anything. You probably want to change the label of the Work

[2015-11-17 22:49] ebskopin opened #455 "VMS: "Edit" button on Reports tab should not appear for ACLs"
Logged in as an ACL, viewing the "reports" tab, it's a little misleading that there's an "edit" button. The system correctly does not allow an ACL to edit the summary report, but the button is still there. Nothing happens when "edit" is clicked. If possible, it would be nice to not have the "edit" button display for ACLs.

![image](https://cloud.githubusercontent.com/assets/14843712/11227329/30c37

[2015-11-17 23:34] davisagli commented on #443
done

[2015-11-17 23:34] davisagli commented on #444
done

[2015-11-17 23:35] davisagli commented on #447
done

[2015-11-17 23:39] davisagli commented on #446
I've taken care of some of the above.

I still need to look into adding page numbers and repeating the waiver text on each printed page. Are you sure about the latter? I'm not sure if it's possible, but even if it is, the waiver text may be too long if there are multiple land managers each with their own text.

These items are still for you, I think, @ebskopin:
- Remove the indent at the start of

[2015-11-17 23:42] ebskopin commented on #443
fixed.

[2015-11-17 23:42] #443 closed

[2015-11-17 23:43] ebskopin commented on #444
fixed.

[2015-11-17 23:43] #444 closed

[2015-11-17 23:53] ebskopin commented on #447
done.

[2015-11-17 23:53] #447 closed

[2015-11-18 00:16] mscholtz commented on #425
I could do this, but since our VMS QA period is done, and I'm gearing up to do the deploy, I would like to either
a) skip this and let it just show a date, or
b) do this later (prob. in December, the next QA period for us)

[2015-11-18 01:24] mscholtz opened #456 "prevent mass entry of registrations from different WPs / family groups"
Currently, the trigger which enforces capacity on WPs expects only a few registrations to be inserted or modified in one transactions, and it expects them to all be for the same WP.  (and part of the same family group, although that last is slightly less important).  VMS registrations, as well as individual registrations hand-entered by staff, should all fit this pattern.

What won't fit is import

[2015-11-18 01:24] mscholtz commented on #456
It's possible this should be a story.  But @ebskopin or @WaBirder57 please prioritize.

[2015-11-18 01:28] davisagli commented on #456
I think we already have a mechanism to bypass the capacity check for a registration -- the Beyond_Capacity__c field. We added this so the pyramid app can pass it when the CL adds someone to the roster after the work party has started (i.e. to handle if someone shows up who wasn't registered).

[2015-11-18 01:30] mscholtz commented on #456
OK, right.  So then we just need 2 and 3 above.

[2015-11-18 01:32] mscholtz commented on #187
Complete radio silence from SG.  Went ahead and put in a workaround.

[2015-11-18 01:32] #187 closed

[2015-11-18 01:58] mscholtz commented on #188
[ ] - reactivate PB process for conf emails
[ ] - reactivate WF rule VMS Send email confirmation for waitlist

[2015-11-18 02:01] mscholtz commented on #188
verified that disabling WF emails resolves the issue. so will need to implement a workaround so the WF doesn't fire during these tests

[2015-11-18 02:14] mscholtz commented on #188
decided to just use the Pre VMS Registration flag, which we already implemented as an off switch for the emails for the sake of migration

works!

[2015-11-18 02:14] #188 closed

[2015-11-18 16:36] KindraRamos opened #457 "map view of my trip reports is not showing reports"
When I look at the map view of my trip reports it says that it has found all 12 but only displays one.
![my trip reports not showing up on map view](https://cloud.githubusercontent.com/assets/15238703/11247091/7973f7c2-8dcf-11e5-964e-8152690227cc.PNG)

[2015-11-18 17:48] davisagli commented on #448
It seems wrong to me that a new volunteer would automatically end up registered if there are already volunteers on the waitlist. It seems like it'd be best to waitlist the new volunteer in this case so that WTA staff can make the call.

[2015-11-18 18:31] mscholtz commented on #448
@davisagli just to be clear: we do sometimes give spots to new people even if there are people on the waitlist.  But only if there's room within the capacity for all of those people.  That's why the system would give them the spot in example 1: within the overall capacity, there's space for both the new registrant and the people on the waitlist.  There's just not room for them all withing the Volu

[2015-11-18 18:31] mscholtz commented on #448
@ebskopin I also wanted to pose an Example 3, which is a variant of Example 2, using Volunteer Capacity in place of Group Capacity.

Example 3: WP has a capacity of 20 but has a Volunteer Capacity of 15. We have 15 vols registered, and 5 CLs/ACLs registered, so we're full. We have 2 vols on the waitlist. 2 ACLs then cancel, so we have 2 spots open, but we're still at our capacity for vols. If we a

[2015-11-18 18:41] davisagli commented on #396
Okay, we're back to square images in the nav.

[2015-11-18 19:00] davisagli commented on #457
I think it's only displaying trip reports that have a Trailhead Location set. I guess we need to inherit the Trailhead Location from the trip report's (first) hike if the trip report doesn't have a Trailhead Location set?

[2015-11-18 19:10] KindraRamos commented on #396
Looks great thanks

[2015-11-18 19:10] #396 closed

[2015-11-18 20:56] davisagli commented on #457
Fixed.

[2015-11-19 00:52] ebskopin commented on #448
Yeah, I certainly hear what you are saying regarding not having the one vol sneak under the 2+ on the waitlist. However, I would like to avoid, say, having a group of 4 signup and have that one slot sit empty until the required number of people had dropped  to accommodate the group of 4. If we are working to be fair, then we should probably just waitlist the single volunteer in that instance, and

[2015-11-19 01:29] ebskopin commented on #456
I would envision that we will be doing a good bit of mass entry during the Data Migration & Creation stage, when registrations are needing to be transferred from our existing system onto VMS, but perhaps this doesn't fall under the "imports or other mass entry" category.  If it doesn't then I wouldn't see this as a especially pressing, but if some aspects of our transition will likely involve impo

[2015-11-19 01:30] ebskopin commented on #425
option a) works just fine as far as I'm concerned.

[2015-11-19 06:11] davisagli commented on #450
This is better now.

[2015-11-19 06:31] mscholtz commented on #425
OK, great, @ebskopin.  Then just close this ticket if you're satisfied w/ David's changes.

[2015-11-19 15:48] KindraRamos commented on #450
looks good thanks

[2015-11-19 15:48] #450 closed

[2015-11-19 22:28] ebskopin commented on #425
yep, changes look good.

[2015-11-19 22:28] #425 closed

[2015-11-19 22:45] mscholtz commented on #456
Should have specified: for the data migration prior to VMS launch, we'll be doing a mass creation of historical registrations, based on the Vol Jobs you already have in there.  The problem described here isn't a problem for that process, as we already have a way to disable the capacity checks during the migration.  So I'm thinking of this as a failsafe against a future day, when you guys might try

[2015-11-19 22:48] mscholtz commented on #448
@ebskopin doesn't the 2nd paragraph in your last reply contradict the 3rd paragraph?  Do you mean that in general you want it to work like paragraph 2, but that paragraph 3 should be an exception to that?  If so, I guess the next question should be: are there other exceptions?

Sorry, I know this is really complicated.  If it would help to hop on the phone to discuss, I'm very happy to do that.

[2015-11-19 23:29] ebskopin commented on #456
Ok, with that in mind it seems that 2 & 3 are sufficient.  Thanks for clarifying.

[2015-11-19 23:49] mscholtz commented on #456
OK, but even 2 and 3 aren't built yet, so we still need to either write a story, or prioritize this ticket for that.

[2015-11-20 01:02] ebskopin opened #458 "Menu Bar formatting bug in Chrome and Firefox"
The menu bar on Chrome and firefox is not as smooth as the other browsers. The Membership option shows up under Find a Hike instead of to the far right. (see attached)

It especially makes it difficult on Chrome where, in order to reach the submenus under "find a hike" I have to click on it instead of just mouse over.

![image](https://cloud.githubusercontent.com/assets/14843712/11289177/2482ed3e-

[2015-11-20 01:09] ebskopin commented on #456
Ok, I wrote a story and placed it in the backlog. I will move it the the appropriate rank now.

[2015-11-20 01:14] davisagli commented on #458
It works fine for me unless I zoom out on the View menu. Can you confirm this only happens for you when you've zoomed out from the default zoom?

[2015-11-20 01:22] ebskopin commented on #458
Yep. That was an observation of Tiffany's. I find the same thing you do, David.  The Membership tab flips once I zoom out.  Is that an expected quirk? Should I close ticket?

[2015-11-20 01:30] davisagli commented on #458
Not expected, or desirable, but may be hard to avoid. I'll at least check and see if there's a quick fix.

[2015-11-20 01:31] davisagli commented on #435
Should work better now. This wasn't working in the design mockup either; I had to switch to a different way of styling the modal dialogs.

[2015-11-20 05:07] mscholtz commented on #456
Great, thanks.  Closing this.

[2015-11-20 05:07] #456 closed

[2015-11-20 20:01] KindraRamos opened #459 "trip report submission error"
When you try to enter trip reports as a My Backpack user:

TypeError("'NoneType' object has no attribute '__getitem__'",) (Also, the following error occurred while attempting to render the standard error message, please see the event log for full details: 'NoneType' object has no attribute '__getitem__')

shows up in all the browsers I tried.

[2015-11-20 20:03] davisagli commented on #459
Full stack trace:

[code]

[2015-11-20 22:02] davisagli commented on #459
Sorry, I broke this while working on the mapping of trip reports, and fixed it but forgot to deploy the fix. Should work now.

[2015-11-20 22:03] davisagli commented on #458
Should work better now.

[2015-11-21 08:53] cguardia commented on #451
Fixed on mybackpack-buildout branch.

[2015-11-23 18:12] ebskopin commented on #458
Thanks for taking a look, David.  I'm still seeing this manifest on my MBP account:

![image](https://cloud.githubusercontent.com/assets/14843712/11345267/a8b135aa-91ca-11e5-828a-96437eca1737.png)

[2015-11-23 18:13] davisagli commented on #458
Close the ticket if it works on staging. I probably just didn't deploy the fix to mybackpack yet.

[2015-11-23 18:16] ebskopin commented on #435
This is working as intended now.

[2015-11-23 18:16] #435 closed

[2015-11-23 18:17] ebskopin commented on #458
Will do. Thanks.

[2015-11-23 18:17] #458 closed

[2015-11-23 19:24] ebskopin opened #460 "VMS: Salesforce-Plone Hiking Guide Sync not occuring"
In Salesforce, when the URL for a Hiking Guide Entry from staging.wta.org is entered under a Trail Segment Hiking Guide Entry to a trail segment the additional information is not being fetched from Plone and populated under the trail segment.

An example: https://cs9.salesforce.com/a2kK0000001MOEy

[2015-11-23 19:42] davisagli commented on #460
Hmm, @smcmahon it looks like on the staging server the apache configuration directs urls starting with /wsv to port 9080, where nothing is running. Did you miss updating this when you changed the ports on staging to match the ports on production?

[2015-11-24 05:02] davisagli commented on #460
I fixed the port issue, edited your example and it populated successfully.

@ebskopin remember that you need to mark a Trail Segment Hiking Guide Entry as primary in order for it to update the fields on the Trail Segment.

[2015-11-24 17:28] davisagli commented on #349
Fixed on the work party details page too.

[2015-11-24 18:14] davisagli commented on #446
I looked a bit more into adding page numbers and repeating the waiver text on each page. Unfortunately browsers have no support for doing this.

[2015-11-24 18:46] ebskopin commented on #460
Works.  And thanks for the note on checking primary.

[2015-11-24 18:46] #460 closed

[2015-11-24 19:06] ebskopin commented on #446
Thanks David. If we could pull the logo into the pyramid app with that sizing that would be great. I've taken care of the other items on that list and will test with land manager language.

[2015-11-25 17:36] davisagli commented on #452
This works now.

[2015-11-25 18:02] davisagli commented on #446
Okay the logo is now part of the sign-in sheet template rather than part of the waiver text in Salesforce.

[2015-11-30 16:30] KindraRamos commented on #452
looks good thanks

[2015-11-30 16:30] #452 closed

[2015-11-30 16:34] KindraRamos opened #461 "full nav menu won't display on mobile"
Doing some more mobile testing and I can't pull up a menu on the staging site. The "my backpack" menu comes up and I can get to my dashboard but when I hit the three horizontal lines for site menu it just gives me a search option instead of the full menu.
![mobile nav](https://cloud.githubusercontent.com/assets/15238703/11477495/187a2cd0-973d-11e5-8de6-67359e24440b.PNG)

[2015-11-30 16:37] #457 closed

[2015-11-30 16:45] #459 closed

[2015-11-30 16:47] KindraRamos opened #462 "thumb image appearing twice on trip reports"
Both when creating a new trip report and looking at others' reports the thumb image shows up twice.
![double thumbs up](https://cloud.githubusercontent.com/assets/15238703/11477904/f745cc16-973e-11e5-8a8b-346074d8e1ee.PNG)

[2015-11-30 16:52] davisagli commented on #462
Clear your cache

David Glick
(mobile)

[2015-11-30 18:31] cguardia commented on #454
Fixed on master, but not deployed yet.

[2015-11-30 18:44] cguardia commented on #455
Fix is on master, but not yet deployed.

[2015-11-30 22:19] davisagli commented on #461
Sorry, I broke this when I fixed #458. Should be fixed now.

[2015-12-01 19:53] ebskopin commented on #439
done

[2015-12-01 19:53] #439 closed

[2015-12-01 20:14] ebskopin commented on #79
this works.

[2015-12-01 20:14] #79 closed

[2015-12-01 20:19] ebskopin commented on #95
works.

[2015-12-01 20:19] #95 closed

[2015-12-01 20:35] ebskopin commented on #124
Sorry, this got buried.  In answer to your questions, if we're keeping the two instances of ACL/CL distinction I would say:

1. Yes, to register on VMS you would need ACL checked and have at least ACL permission.
2. Yes, I would say that the ACL checkbox needs to be clicked but the permission level does not need to be ACL.
3. I would say no, there might be some instances where we want to grant som

[2015-12-01 20:40] ebskopin commented on #210
Done.

[2015-12-01 20:40] #210 closed

[2015-12-01 20:42] ebskopin commented on #219
works

[2015-12-01 20:42] #219 closed

[2015-12-01 20:50] ebskopin commented on #345
This works.

[2015-12-01 20:50] #345 closed

[2015-12-01 20:54] ebskopin commented on #349
works

[2015-12-01 20:54] #349 closed

[2015-12-01 21:19] ebskopin commented on #364
looks good.

[2015-12-01 21:19] #364 closed

[2015-12-01 21:39] ebskopin commented on #372
works

[2015-12-01 21:39] #372 closed

[2015-12-02 22:51] davisagli commented on #235
@mscholtz we are enabling the nightly sync from the production server sometime in the next week. Can you please confirm that those workflow emails are disabled in production SF for now?

[2015-12-02 22:57] mscholtz commented on #235
Yep.  You mean these, right?  Checkbox is for Active

![image](https://cloud.githubusercontent.com/assets/931031/11546928/06434f64-9905-11e5-9816-0ac2034c4630.png)

[2015-12-02 22:59] davisagli commented on #235
Yeah, those. Thanks. So it should be safe to enable those after the first nightly sync has run successfully?

[2015-12-02 23:04] mscholtz commented on #235
​Yeah, I guess so.​

On Wed, Dec 2, 2015 at 3:00 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-02 23:24] WaBirder57 commented on #235
Actually Kindra and Loren would like to not activate the email sends for these two:

MBP: Send Email on First Thumbs Up

MBP: Send Email on First Trip Report

Until after the first of the year.  Folks a getting a lot of email from us this holiday season and we want to hold off on this feature until we are ready.  Since this is in Salesforce it is easy for us to turn these on when we are ready.

Th

[2015-12-02 23:25] davisagli commented on #235
Got it, we'll leave it to you to enable when you're ready.

[2015-12-02 23:34] WaBirder57 opened #463 "MBP: WTA Home Page top item hyperlink style not working"
On the WTA Home page we have a top level item (article) that displays just below the main menu bar.  This is set to cycle through server different articles.  In each article the main heading is a hyperlink but when you mouse over it the text doesn't change color as it does in production.

Here is a screen shot from todays production home page with the heading circled in red.  This does change colo

[2015-12-03 05:29] davisagli commented on #463
Fixed

[2015-12-03 16:33] WaBirder57 commented on #463
Looks good.

[2015-12-03 16:33] #463 closed

[2015-12-03 16:41] WaBirder57 opened #464 "MBP: My Backpack for a user has a tile "My Backpack 101" text needs to be edited"
When you look at a users My Backpack "home page"  ( eg: http://staging.wta.org/@@backpacks/scrnm-WaBirder57) there is a tile "My Backpack 101".  This currently talks about Organizing WTA Work parties ie VMS which is not implemented yet.  Is it possible to make the text in this box editable by staff?

![mbphomepagetile](https://cloud.githubusercontent.com/assets/8312206/11566928/6f9d5876-9999-11e5-

[2015-12-03 16:59] davisagli commented on #464
It's probably easiest if we pull the text from a news item like we're doing at the top of the Crew Leader Corner and for the ad in the work party results. Can you add a news item on www.wta.org with the text you want, and give me its URL?

As far as I know it hasn't been created.

[2015-12-03 18:51] KindraRamos commented on #464
Ok you can find the text here: http://www.wta.org/connect/help/internal-promos/my-backpack-101

I also pasted it below as I am not sure how it pulls. (The all caps is button text)
My Backpack 101
Plan and organize your hikes, track your trip reports and share your adventures with the hiking community. Thanks to your suggestions and support we have added some exciting new features to My Backpack. H

[2015-12-03 18:55] davisagli commented on #464
@KindraRamos please either make the "MY BACKPACK TIPS & FAQS" text actually be a link to where you want the button to go, or remove it.

[2015-12-03 19:22] ebskopin commented on #455
I'm seeing that the "Edit" button at the top of the form is no longer visible for ACLs, but the same button at the bottom of the form is still visible.  Can that button be removed as well? Thanks.

[2015-12-03 19:24] ebskopin commented on #454
looks good, thanks

[2015-12-03 19:24] #454 closed

[2015-12-03 19:25] davisagli commented on #455
@cguardia can you take care of that too? ^

[2015-12-03 19:37] ebskopin commented on #406
working

[2015-12-03 19:37] #406 closed

[2015-12-03 19:43] cguardia commented on #455
Fixed. Sorry about  that oversight.

[2015-12-03 19:47] davisagli commented on #455
Thanks, deployed the fix.

[2015-12-03 19:59] ebskopin commented on #455
Thanks, looks good.

[2015-12-03 19:59] #455 closed

[2015-12-03 20:22] ebskopin commented on #391
All edits look good.  Kindra, if you would like editable headers/help text by Admin I can write a story. Either way, I will let you confirm changes and close. Thanks.

[2015-12-03 20:59] KindraRamos commented on #464
Ok we wanted keep the button look and feel so interested the image and linked it. Let me know if that works.

[2015-12-03 21:04] davisagli commented on #464
Oh I was actually going to apply button styles to the link. In any case, I can take it from here...

[2015-12-03 21:08] KindraRamos commented on #451
looks god

[2015-12-03 21:08] #451 closed

[2015-12-03 21:24] ebskopin commented on #359
Per Julie: "I just retested this. It cancelled both registrations in SF, which is correct, but I still got an email telling me I'm on the waitlist. I should not have received that automatic email. 1) This is the screen where I declined being added to the waitlist: http://prntscr.com/99z9eg (I clicked cancel registration), 2) In SF, it correctly lists me as "cancelled," not "waitlisted."

[2015-12-03 21:32] ebskopin commented on #112
this is working now

[2015-12-03 21:32] #112 closed

[2015-12-03 21:37] davisagli commented on #359
It adds you to the waitlist immediately, which triggers the email. If you click cancel it then cancels the registration. This is what we discussed back when we implemented waitlisting and it'd be a rather big change to not actually add their registration until they click Ok.

[2015-12-03 21:42] ebskopin commented on #158
works, thanks

[2015-12-03 21:42] #158 closed

[2015-12-03 21:50] ebskopin commented on #174
closing

[2015-12-03 21:50] #174 closed

[2015-12-03 22:05] davisagli commented on #464
Okay, this is in place. I made a copy of your item which is used on staging (http://www.wta.org/connect/help/internal-promos/my-backpack-101) so you can test how the tile looks in someone's dashboard there.

And I also edited the one on www.wta.org so that it will get the correct styles applied once we launch.

[2015-12-03 22:50] WaBirder57 commented on #413
@mscholtz I would add to this list to clean up (delete) those work flows that start:
"Youth Vacation Registration"
"BCRT"

I updated that Work Flow View to contain these additional work flows.

[2015-12-04 00:16] WaBirder57 opened #465 "MBP: My Trip Report display gives error only for Loren"
Loren reports (http://staging.wta.org/@@backpacks/scrnm-Loren%20Drummond): Running across a strange error message.

Logged in, from my dashboard, clicking My Trip Reports tile, I get an error message. (Screenshot attached). [Note this is low priority - don't hold release on this  as it seems to ONLY apply to Loren (see below on thoughts why]

Have cleared my cache, and get the error across FF and

[2015-12-04 00:37] KindraRamos commented on #464
this is great thanks

[2015-12-04 00:37] #464 closed

[2015-12-04 00:40] KindraRamos opened #466 "Change highest upvote language"
Our user tests today showed we should change the upvote language on trip reports. Change Highest Upvote to Top Helpful Rating.
![highest upvote2](https://cloud.githubusercontent.com/assets/15238703/11578679/7f489b44-99dc-11e5-93d0-d6ab34b9f182.JPG)
![highest upvote](https://cloud.githubusercontent.com/assets/15238703/11578681/80f0c962-99dc-11e5-8f66-c5775774f541.JPG)

[2015-12-04 00:55] davisagli commented on #466
done

[2015-12-04 00:58] davisagli commented on #465
I agree this looks like something wrong with a particular trip report. We'll take a look sometime after launch.

[2015-12-04 01:41] KindraRamos commented on #466
thanks

[2015-12-04 01:41] #466 closed

[2015-12-04 04:54] jessesnyder opened #467 "Backpack hikes marked "hiked" see to vary by instance(?)"
Both the total and the hikes marked with the green box and checkmark vary on refresh, and are lower than the total number I marked as hiked, as if each time I marked one as hiked, it was saved in a different place.
<img width="325" alt="screen shot 2015-12-03 at 8 46 46 pm" src="https://cloud.githubusercontent.com/assets/63560/11582163/d5ed53c2-99ff-11e5-8e59-e1b3060f9ddd.png">
<img width="325" al

[2015-12-04 07:58] davisagli opened #468 "Upcoming Trail Work Parties portlet"
I noticed the site currently has a portlet with upcoming work parties that looks like it pulls from VOLS:

![screen shot 2015-12-03 at 11 56 25 pm](https://cloud.githubusercontent.com/assets/49014/11584548/92da31f8-9a19-11e5-864d-effbf3a50de9.png)

If you want to keep this we'll need to do a story to load them from VMS instead.

[2015-12-04 08:06] davisagli commented on #466
Maybe we should not show this when the user's Top Helpful Rating is 0. What do you think, @KindraRamos?

[2015-12-04 15:55] KindraRamos opened #469 "Promote to become a member is public on Backpacks of people that aren't members"
I am a member and it shows that on my dashboard but when I go to the Backpack of someone who is not a member I get the join prompt.
![become a member](https://cloud.githubusercontent.com/assets/15238703/11593987/5a3ebd58-9a5c-11e5-9bed-5047c8daff10.JPG)

[2015-12-04 16:10] KindraRamos opened #470 "What field is the WTA member information pulling from?"
What field in Salesforce is pulling to My Backpack to indicate if someone is a WTA member?

[2015-12-04 16:57] WaBirder57 opened #471 "MBP: My Backpack Updates SF Contact create date"
@mscholtz Would you expect that the MyBackpack integration with Salesforce would update the SF Contact Create Date field?  For example, I logged in this morning to MyBackpack (now live!) on the WTA website and I see that the Create Date field on my contact record now shows today date:  https://wta.my.salesforce.com/003A000001hYd1t  Seems like Create Date should only show to initial date that a con

[2015-12-04 17:18] KindraRamos commented on #469
This might just be an admin thing. Doesn't look like it is happening for regular users. I am doing a little more testing.

[2015-12-04 17:47] davisagli commented on #469
It's meant to only show like that for the backpack owner and admins. Though it's still a bit weird so maybe we should only show the link for the backpack owner.

[2015-12-04 17:51] davisagli commented on #470
It pulls from the contact's Household_Membership_Status__c, which is a formula based on the Household Membership Status of the contact's household.

[2015-12-04 17:53] davisagli commented on #471
No, if the creation date is today, then that contact was created today. Is there another contact it was supposed to match?

[2015-12-04 17:59] davisagli commented on #471
I don't see any other contacts with Website_Member_ID__c = 'CharlieKahle' or any with FirstName = 'Charlie', LastName = 'Kahle' and Email='charles@wta.org' so I think it's correct per our matching rules that it created a new contact instead of matching an existing one.

[2015-12-04 18:02] WaBirder57 opened #472 "MBP: Table Styles"
We find that with the new MyBackpack install our existing table styles have changed rendering them not readable.  Seems like a colored background has been added and all text is in caps.

Here are pages with some examples:
https://www.wta.org/hiking-info/outdoor-leadership/workshops
https://www.wta.org/action
https://www.wta.org/go-hiking/hikes/amendment.2015-12-04.4787074982/edit

[2015-12-04 18:25] WaBirder57 commented on #471
OK I guess that makes sense.  Birthdate is being set to a default value of 1/1/1800, is that set via MBP or in Salesforce?

[2015-12-04 18:26] mscholtz commented on #471
Huh, that last part is odd.  Don't think that's an SF thing.  David, are you making sure not to pass the birthdate if one isn't entered?

[2015-12-04 18:27] davisagli commented on #471
Hmm, looks like we have that default in Plone. @alecpm do you remember why? If it needs to stay, we can adjust the sync code so that it passes an empty value if the date is 1/1/1800

[2015-12-04 18:29] davisagli commented on #472
Fixed. Sorry about that, there were some MBP table styles that were meant just for the Crew Leader directory but were not targeted specifically enough.

[2015-12-04 18:56] WaBirder57 commented on #472
Perfect, thanks.

[2015-12-04 18:56] #472 closed

[2015-12-04 19:13] KindraRamos opened #473 "MBP profile external urls are all linking back to wta.og"
If someone has entered an external website, to be displayed on their My Backpack page. It shows their url but links back to wta.org
![url](https://cloud.githubusercontent.com/assets/15238703/11598630/f0ffa1b0-9a77-11e5-9d53-95e5cc09b6ed.JPG)

[2015-12-04 19:22] davisagli commented on #473
Fixed.

[2015-12-04 19:48] davisagli commented on #471
A blank birthdate should now get sent to Salesforce correctly.

[2015-12-04 20:06] ebskopin commented on #468
Yes, it would be good to have this.  Thanks for pointing out. Should I write a story? Where should it be?

[2015-12-04 20:15] davisagli commented on #468
If it's a story then it won't get done unless we schedule more iterations. But it's definitely more work than a typical ticket.

[2015-12-04 21:07] KindraRamos commented on #473
thanks

[2015-12-04 21:07] #473 closed

[2015-12-04 21:09] #461 closed

[2015-12-04 21:44] skleinfeldt commented on #468
If you're feeling good about the state of tickets and testing, we could consider doing a 2-3 day iteration for this story and one or 2 others from the backlog - if there are any Pyramid/Plone stories you particularly care about. Jazkarta still has plenty of time. (I'd want to do that next week or the next, not put it off until January.)

If this is the only story-ish thing you want to get done the

[2015-12-04 22:16] KindraRamos opened #474 "generic avatar"
The generic hiker avatar (full body) seems to have changed to just a big head.
![man face](https://cloud.githubusercontent.com/assets/15238703/11602722/5175b886-9a91-11e5-978e-45ee00b3d4db.JPG)
![hiker](https://cloud.githubusercontent.com/assets/15238703/11602750/7f872e8a-9a91-11e5-8bda-9a1e46aea56f.JPG)

[2015-12-04 22:17] davisagli commented on #474
Hmm, the head is the default Plone avatar image, so my guess is that these users already had that saved, so it's using it rather than the MBP default. Will investigate.

[2015-12-04 22:18] WaBirder57 commented on #467
Related to this although perhaps different for this tickets topic is that when you click "Hiked" button for a saved hike a popup opens to ask if you want to write a trip report.  If you leave that open and then clicked "hiked" once to clear the setting and then click "Hiked" once again you get another pop up asking if you want to create a trip report.  It you repeat this you keep getting additiona

[2015-12-04 22:19] davisagli commented on #467
That's a different issue @WaBirder57; can you please put it in a separate ticket?

[2015-12-04 22:21] WaBirder57 opened #475 "MBP: Saved hike Trip report pop error."
Related to this although perhaps different for this tickets topic is that when you click "Hiked" button for a saved hike a popup opens to ask if you want to write a trip report. If you leave that open and then clicked "hiked" once to clear the setting and then click "Hiked" once again you get another pop up asking if you want to create a trip report. It you repeat this you keep getting additional

[2015-12-04 22:22] WaBirder57 commented on #467
OK, moved this new item to it's own ticket #475

[2015-12-04 22:30] ebskopin commented on #287
works

[2015-12-04 22:30] #287 closed

[2015-12-04 22:33] ebskopin commented on #359
gothca, makes sense

[2015-12-04 22:33] #359 closed

[2015-12-05 00:27] KindraRamos commented on #466
I think that is a good idea. Thanks

[2015-12-05 00:44] jessesnyder opened #476 "Annotation on backpack hike lost/hidden"
I have added notes to a few hikes in my backpack, and though they show up right after adding them, they do not appear after refreshing, or navigating away and  then returning to the listing, even after refreshing until the "hiked" mark appears. (The note never re-appears regardless of how many times I refresh the page.)

<img width="703" alt="screen shot 2015-12-04 at 4 41 55 pm" src="https://clou

[2015-12-05 00:46] jessesnyder commented on #476
assigned to Charlie for verification/prioritization

[2015-12-05 00:51] davisagli commented on #476
That doesn't match what I saw when I tested yesterday (for me it was saving/removing the note fine even when a change to the 'hiked' flag wasn't showing up). This is almost certainly related to #467 (they are stored in the same place) and I think must be related to the fact that we now have more than one Zope instance. Beyond that, I'll have to dig in and do some debugging. I'll take a look later

[2015-12-05 03:28] davisagli commented on #476
fixed

[2015-12-05 03:28] davisagli commented on #476
(Jesse please confirm it's working and then close the issue.)

[2015-12-05 03:30] davisagli commented on #467
Jesse's issue is fixed.

[2015-12-05 06:39] davisagli commented on #474
This fixed itself; I think CloudFlare had the old image cached.

[2015-12-05 07:49] jessesnyder commented on #476
Confirmed fixed! Woot!

[2015-12-05 07:49] #476 closed

[2015-12-07 18:47] davisagli opened #477 "Some contacts fail to sync to Salesforce"
For Plone user accounts that existed before the switch to email-based logins, it's possible to have multiple contacts with Website Member Ids that are the same except for the capitalization. For example, we have `marco`, `Marco`, and `marcO`:
https://wta.my.salesforce.com/003A0000013w4cGIAQ
https://wta.my.salesforce.com/003A000001Jld0WIAR
https://wta.my.salesforce.com/003A000001cYj3RIAS

Also, the

[2015-12-07 18:49] davisagli opened #478 "Bulk sync of trip reports stats not working yet"
The code to upload a bulk update of trip report stats each night is not working yet on the live server. It needs some adjustment to handle more than 10000 contacts which is the Salesforce limit on batch size.

Traceback:
[code]

[2015-12-07 19:37] ebskopin commented on #442
David, I'm having trouble editing the work flow to copy the work party type default to the work party. When adding a new workflow action I'm limited to either signifying "true" or "false" for the checkbox. Not sure how to signify that it should copy the value from the work party type.

[2015-12-07 19:39] ebskopin commented on #412
tested, look good

[2015-12-07 19:40] davisagli commented on #442
@ebskopin Sounds like a question for Percolator folks. /cc @mscholtz

[2015-12-07 19:49] ebskopin commented on #169
working

[2015-12-07 19:49] #169 closed

[2015-12-07 19:50] KindraRamos commented on #474
thanks

[2015-12-07 19:50] #474 closed

[2015-12-07 19:52] WaBirder57 opened #479 "MBP: Login via other user Backpack dash board gives error"
When a non logged in user navigates to a different users MyBackpack dashboard there is the Sign In button.

![backpackdashboardsigninbutton](https://cloud.githubusercontent.com/assets/8312206/11637902/0ac3d98c-9cd9-11e5-8a74-bfd38fb8c46b.JPG)

Here is this users Dashboard:
https://www.wta.org/@@backpacks/scrnm-cascadesdj

When the user clicks this to Sign In using their own credentials they are lo

[2015-12-07 19:53] #205 closed

[2015-12-07 19:55] davisagli commented on #479
This is a general problem with how the site redirects back to where you were after you log in, and it's been this way since before the launch (i.e. I don't think the problem is related to the MBP project). We have time to take a look if you want, though.

[2015-12-07 20:14] ebskopin commented on #208
works

[2015-12-07 20:15] #208 closed

[2015-12-07 20:24] ebskopin commented on #292
working

[2015-12-07 20:24] #292 closed

[2015-12-07 20:49] ebskopin commented on #365
working

[2015-12-07 20:49] #365 closed

[2015-12-07 20:57] ebskopin commented on #370
working

[2015-12-07 20:57] #370 closed

[2015-12-07 21:15] WaBirder57 commented on #479
I do think we should take a look at this and see if we can resolve.

[2015-12-07 21:53] skleinfeldt opened #480 "Apply Dec 8 Plone security patch"
@davisagli and @jessesnyder to coordinate on this one please

[2015-12-07 22:10] ebskopin commented on #412
In re-testing these, the links at the bottom of each e-mail under "More Info" are not directing to active pages. Im wondering if this has something to do with the MBP deploy?

[2015-12-07 22:12] davisagli commented on #412
@ebskopin what's one of the URLs that's not working?

[2015-12-07 22:52] mscholtz commented on #477
That "Case Sensitive" setting, as I understand it, primarily applies to how SF imposes the uniqueness validation, assuming you have that turned on.  (The case-sensitivity is a modifier to the Unique setting)  It does also apply to how it does matching on upserts, but AFAIK you can't have the latter without the former

https://help.salesforce.com/apex/HTViewHelpDoc?id=faq_import_general_what_is_an_

[2015-12-07 22:57] davisagli commented on #477
Got it, I didn't see that you can only change the Case Sensitive setting when Unique is checked.

[2015-12-07 22:57] davisagli commented on #477
Assigning to Charlie to set priority.

[2015-12-07 23:12] WaBirder57 commented on #477
Sounds like this requires a bit of clean up on the part of WTA before we can implement.  Is that correct, or can we do step one first and then later do the second step.

[2015-12-07 23:15] mscholtz commented on #477
It needs some cleanup.  You could pull a report to find duplicate
usernames, and then resolve them via deletion, edit, or merge.  Or use
DemandTools etc.

There aren't currently SF IDs stored in plone, right, David?   So if they
merge contacts they don't have to be too careful about which ID they keep?

On Mon, Dec 7, 2015 at 3:12 PM, Charles Kahle <notifications@github.com>
wrote:

--

Matthew Sc

[2015-12-07 23:16] davisagli commented on #477
That's right, no SF ids stored in Plone. They do want to be careful to keep the id on the contact in SF that actually corresponds to the user in Plone with that id, though, if the contacts are not all actually the same person.

[2015-12-07 23:22] mscholtz commented on #124
@ebskopin sounds OK, thanks!

@ninetaLogik reassigning this one back to you, after long last, now that we have clarity.  Let me know if you have any questions.

[2015-12-08 00:51] mscholtz commented on #437
@drewpiston can you check into this one?  Guessing it's already resolved by now, but let's verify.

[2015-12-08 00:52] mscholtz commented on #417
Nineta, do you mind taking this one?

[2015-12-08 00:53] mscholtz commented on #421
@drewpiston can you take this one as well?  Should apply to WF emails as well as code.  Tempting to just do this in production, but I think we should do it in sandbox in case there end up being other changes to the code/WF

[2015-12-08 00:57] mscholtz commented on #445
@drewpiston want to take this one, since you worked on these fields?
There's a class WTA_VMS_EXT_CloneWorkParty that handles this - the button is overridden

And why don't we go ahead and do #245 while you're in there?

[2015-12-08 06:02] cguardia commented on #394
Fixed in mybackpack-buildout branch.

[2015-12-08 17:38] davisagli commented on #480
I would have thought this is @smcmahon's responsibility? If not I can do it of course.

[2015-12-08 17:49] ebskopin commented on #412
![image](https://cloud.githubusercontent.com/assets/14843712/11663325/6fc8533c-9d90-11e5-9c3e-a35441073489.png)

The 3 links under more info are not working.

The Manage Your Work Parties link directs here - https://cs9.salesforce.com/p/email/template/EmailTemplateEditorUi/http://staging.wta.org:6543

The Frequently Asked Questions here - http://mybackpack.wta.org/volunteer/volunteering/questions

[2015-12-08 17:50] WaBirder57 commented on #480
Yes, steve should be in the loop on this.

[2015-12-08 17:57] skleinfeldt commented on #480
Sorry, make that @smcmahon, @jessesnyder, @davisagli please coordinate on this.

[2015-12-08 17:57] smcmahon commented on #480
Indeed, my responsibility, and on my morning list.

[2015-12-08 18:05] smcmahon commented on #480
Let me amend that: I'm updating www.wta.org now. I'd be happy to leave the staging and backpack instances to @davisagli and/or @jessesnyder

[2015-12-08 18:32] davisagli commented on #394
Deployed to staging.wta.org. If it looks good there we can deploy to production.

[2015-12-08 19:09] ebskopin commented on #442
Matthew, let me know if you can provide some guidance and I can work to set-up the workflow. Thanks. /cc @mscholtz

[2015-12-08 19:11] davisagli commented on #479
Fixed

[2015-12-08 19:22] WaBirder57 commented on #479
Looks good.

[2015-12-08 19:22] #479 closed

[2015-12-08 20:27] drewpiston commented on #445
Done! Assigning to @ebskopin  for review, let me know if I should assign to @WaBirder57  instead.

[2015-12-08 20:28] drewpiston commented on #245
Done! To test, make sure that fields from this fieldset are copied over during a clone:
https://cs9.salesforce.com/setup/FieldSetEditor.apexp?tableEnumOrId=01IK0000000AUvJ&setupid=CustomObjects&retURL=%2F_ui%2Fcommon%2Fconfig%2Fentity%2FFieldSetListUI%2Fd%3FretURL%3D%252F01IK0000000AUvJ%253Fsetupid%253DCustomObjects%26tableEnumOrId%3D01IK0000000AUvJ%26setupid%3DCustomObjects&id=0IXK0000000CitT

[2015-12-08 22:31] WaBirder57 commented on #394
These entries need to have a little more spacing between them.  Here is an example to make the same spacing as the list members on the locations list.

![mbptripreporthazardspacing](https://cloud.githubusercontent.com/assets/8312206/11670708/3dcafec0-9db8-11e5-8b24-5ece5f33e223.JPG)

[2015-12-08 22:54] mscholtz commented on #442
You would need to have a separate WF rule that would test for the box being
checked in the WP type, and only if it is, fires the Field Update to check
the box in the WP.

On Tue, Dec 8, 2015 at 11:09 AM, ebskopin <notifications@github.com> wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-08 23:13] ninetaLogik commented on #417
@ebskopin : Since this object in SF will be used for more than just VMS stuff we are thinking it would be too generic to call it Summary Report. Our recommendation is : If it occurs in a VMS Email template call it Summary Report otherwise (Salesforce) call it Work Party Summary Report. Thoughts?

[2015-12-08 23:44] ebskopin opened #481 "VMS: Adjustments to Work Report Function"
1. Please have the defaults for site preparation and administrations both be 1 hours each, rather than 0.

2. In the work report, please have this check box checked by default, "On 'Publish' email to crew members and post to Crew Corner"

3. Is it possible to have decimal point values for Travel Time, Site Preparation & Administration Time? This is important to have.

4. When editing the work repo

[2015-12-08 23:52] drewpiston commented on #437
I was unable to reproduce this error -- but I did find another limits error with the NPSP, which I've now fixed.

I've asked @mscholtz to code review.

[2015-12-09 00:00] ebskopin opened #482 "VMS: Registration confirmation e-mails should not issue following WP close"
When a contact is added to a WP in Salesforce following the WP date, the confirmation e-mail is still  issued.  It is important that this not occur, as we will often add/subtract people after the fact.

[2015-12-09 00:23] ebskopin opened #483 "VMS: Addition to Location/Directions Tab"
![image](https://cloud.githubusercontent.com/assets/14843712/11672638/2e89eb92-9dc7-11e5-8782-6639cddd5f8c.png)

Directly above the Google Map Image the following disclaimer should be added: "Warning: Always use the written directions (above) to get to a trailhead. The location of the pinpoint below is only approximate. Using mapping websites and gps navigation to get to trailheads could mislead y

[2015-12-09 00:51] ebskopin commented on #417
That sounds workable to me.

[2015-12-09 01:35] cguardia commented on #394
@davisagli Pushed a simple fix for this to mybackpack-buildout branch.

[2015-12-09 16:28] ninetaLogik commented on #124
@ebskopin I am wondering if this was re-tested recently. Here is the error message I am getting when registering (in Salesforce) someone whose Contact record is not marked as an (A)CL for a Work Party marked as "ACL Only":

Error: Invalid Data.
Review all error messages below to correct your data.
Apex trigger WTA_VMS_WP_Registration caused an unexpected exception, contact your administrator: WTA_

[2015-12-09 17:36] davisagli commented on #478
This appears to have run successfully last night.

@mscholtz I'd like to check the bulk data results in the Salesforce UI to see how many records failed (which might give us a sense of the extent of the problem with duplicate Website Member Ids), but the VMS App user can't see that page in Setup. Can you give me access to this?

[2015-12-09 17:38] ebskopin commented on #124
Hey Nineta,

I am unable to replicate the error that you are describing.  I'm still finding that, when registering a contact without (A)CL marked on their record, I am successful in signing them up for an ACL only WP (when marking their WP Role as ACL/CL). An error message DOES block me from doing so when I attempt to register them with a WP Role as Volunteer.

I have been testing on this WP, http

[2015-12-09 17:52] ninetaLogik commented on #124
@ebskopin So it looks like if you mark the WP Reg Role as Volunteer or Crew Leader you get an error message, but not for Role=Assistant Crew Leader.

[2015-12-09 17:58] ninetaLogik commented on #417
@ebskopin I changed the "Work Party Report" labels in Salesforce to say "Work Party Summary Report". I could not find any instances of the string "Work Party Report" in any of the email templates. Could you please take a look and let me know if this is any better with this new label?

[2015-12-09 18:16] ebskopin commented on #159
works

[2015-12-09 18:16] #159 closed

[2015-12-09 18:28] ebskopin commented on #238
this is working

[2015-12-09 18:28] #238 closed

[2015-12-09 18:29] mscholtz commented on #417
Elliot, by "label", Nineta means that that's what it shows on-screen
whenever you see a reference to a record of this kind.  Internally the name
hasn't changed, but what it displays to the user has changed.

On Wed, Dec 9, 2015 at 9:58 AM, ninetaLogik <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-09 18:30] mscholtz commented on #124
It shouldn't throw an error if role = volunteer, right?

On Wed, Dec 9, 2015 at 9:52 AM, ninetaLogik <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-09 18:31] mscholtz commented on #478
@WaBirder57 I think this is actually a question for you.  I don't want to change the profile of the VMS App user.  But do you have the licenses to temporarily make a sysadmin user account for David?  (If not, I can share our login with him, but would prefer if he had his own.)

[2015-12-09 18:34] ebskopin commented on #361
As I've been unable to reproduce this in multiple tests I am deeming resolved and closing.

[2015-12-09 18:34] #361 closed

[2015-12-09 18:39] ninetaLogik commented on #124
@mscholtz are you saying that one should be able to register a NON A(CL) Contact with an "ACL Only" Work Party with a Role=Volunteer? That doesn't sound right to me, but you could be correct.
@ebskopin can you clarify please?

[2015-12-09 18:45] mscholtz commented on #124
Oh, my bad.  You're right.

On Wed, Dec 9, 2015 at 10:40 AM, ninetaLogik <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-09 19:02] ebskopin commented on #124
Nineta. Your observation is correct, that registrants with role = Vol or CL are not allowed to register. However, in just testing again I noticed that a normal Vol was also restricted when the role was set to ACL. When I changed that vol to an ACL I was successful in registering them for the ACL only WP. I'm guessing you just made a change, which looks great...

[2015-12-09 19:37] skleinfeldt commented on #468
Jazkarta can do a ~20 hour mini-iteration next week, say Tue-Wed-Thu; we could tackle this story, another backlog story if there is one (92?), and tickets. @mscholtz does Percolator have hours next week to join us and tackle story 328? (carpool list automated email).

[2015-12-09 19:46] WaBirder57 commented on #478
OK, David is set up with a license I borrowed from another person.  david+wta@glicksoftware.com is the users name.

[2015-12-09 19:55] ebskopin commented on #445
works, thanks

[2015-12-09 19:55] #445 closed

[2015-12-09 20:05] WaBirder57 opened #484 "MBP: User sign in Page gives "Page doesn't exist error""
In certain situations when a user logs into MyBackpack and click Sign In they are logged in but are directed to a bad URL - https://www.wta.org/http%3A//www.wta.org/%40%40backpack   This gives them the "This page does not seem to exist…" web page.

Here is the URL for the login screen for my recent test of this:

https://www.wta.org/acl_users/credentials_cookie_auth/require_login?came_from=http%25

[2015-12-09 20:05] ninetaLogik commented on #124
@ebskopin would you be able to run through a few more combinations to confirm this is working correctly now, or can I assume that is? Please let me know. Thanks,
Nineta

[2015-12-09 20:06] davisagli commented on #484
Can you show me a screenshot of where you clicked that took you to the login form?

[2015-12-09 20:16] ebskopin commented on #124
I tested a few more permutations and it looks great. Thanks.

[2015-12-09 20:16] #124 closed

[2015-12-09 20:20] WaBirder57 commented on #484
I'm not able to reproduce this error now - it only crops up from time to time.

I get to Sign In page by going from home page to the My Backpack menu, drop down to Login.  I'm using Firefox and this happened the first time I tried to access today (perhaps login cookie timed out overnight).  Now that I have logged in and out I'm not able to reproduce.

I can work with a user who has reported this a

[2015-12-09 20:21] WaBirder57 commented on #484
Here is the bug reported by the user:

Win 8.1, IE 11.0   OR   Win 8.1, Chrome 47.0
If I’m logged out, click “My Backpack”, and then enter my email and password, I get “This page does not seem to exist...” (https://www.wta.org/http%3A//www.wta.org/%40%40backpack). It works fine if I click on “Log in” from the logged out state. I have the same problem when clicking “Write a trip report” from the lo

[2015-12-09 20:23] davisagli commented on #484
I'm able to reproduce the issue. (I think it may only be a problem when starting on http, not https)

[2015-12-09 20:53] davisagli commented on #477
I think it's actually fairly urgent that we get this sorted out. The problem is that if a user updates their profile and the changes fail to sync to Salesforce because of this issue, then their changes will get wiped out when contact values are synced from Salesforce to Plone overnight.

I'm attaching a CSV listing the contacts that have duplicate Website Member IDs. These are exact matches (it do

[2015-12-09 20:58] mscholtz commented on #468
TBD, Sally.  Already having a separate convo w/ them over email about what
we're doing this week and next.  But we don't have a ton of time for
stories, as there are already a bunch of tickets we're working on.

On Wed, Dec 9, 2015 at 11:37 AM, Sally Kleinfeldt <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-09 21:04] drewpiston commented on #412
The first one looks like a bug.

For the second and third, should those be pointing to "http://staging.wta.org/*" instead of  "http://mybackpack.wta.org/*"

[2015-12-09 21:08] davisagli commented on #484
Yeah, it was a problem with the redirect from http to https. Fixed.

[2015-12-09 21:11] davisagli commented on #412
Changing the base url to staging.wta.org should make this work since staging has a full copy of the site's data, unlike the mybackpack testing site.

[2015-12-09 21:20] davisagli commented on #477
Edited this to delete the attachment (I forgot this is a public tracker). Will send by email instead.

[2015-12-09 21:51] WaBirder57 commented on #477
Confirm for me the name of the Plone field that the Salesforce maps to.  Is it the Plone UserID field?

[2015-12-09 21:52] davisagli commented on #477
Website Member ID (Website_Member_ID__c)

David Glick
(mobile)

[2015-12-09 22:15] drewpiston commented on #412
Right now for links I'm pulling one of these two base URLs in from Custom Settings:
1. VMS Base URL (http://staging.wta.org:6543)
2. Plone Base URL	(http://mybackpack.wta.org)

David, are you suggesting that we use the VMS Base URL instead of the Plone Base URL for FAQ and Trail Work Guide?  I've gotten a little confused about the difference between those two.

Thanks,
 Drew

[2015-12-09 22:17] WaBirder57 commented on #477
Is it possible or even advisable to stop the Plone <> SF Sync until we get this sorted out?

[2015-12-09 22:20] davisagli commented on #412
No, VMS and Plone are two different systems that handle different things. The VMS URL is correct for now (we only have one copy of vms deployed). The Plone URL should change to http://staging.wta.org (no port, unlike the vms URL) and is what we should use for these links.

David Glick
(mobile)

[2015-12-09 22:24] drewpiston commented on #412
Thanks David, that makes more sense.

I've changed the Plone URL from http://mybackpack.wta.org to http://staging.wta.org, links seem to be working.

[2015-12-09 22:36] WaBirder57 commented on #477
One other question, can we make that field in SF - Webiste Member ID Case Sensitive so that values of "Adrian" and "adrian" would be considered different?  I assume not but wanted to double check to see if this was an option.

[2015-12-09 22:37] drewpiston commented on #421
Hi @ebskopin ,

I added this org-wide email address to the sandbox, it requires someone with access to the inbox to verify. Could you have someone find that email (just sent, 2:35 PST) and follow the instructions to verify?

Thanks,
 Drew

PS We may need to do this again in Prod.

[2015-12-09 22:45] davisagli commented on #477
@WaBirder57 we can make it Case Sensitive, but not until we make it Unique. And we can't make it Unique while there are duplicate values (with the same case). That is why I have asked you to focus on cleaning up the same-case duplicates.

[2015-12-09 22:48] davisagli commented on #477
I don't think it makes sense to stop the updates from Plone to Salesforce. They are working for users who have non-duplicated member ids, so stopping it would just prevent more data from making it into Salesforce.

We might want to stop the nightly sync from Salesforce to Plone until we have this resolved. That would avoid overwriting new values entered in Plone with old values from Salesforce. A

[2015-12-09 22:53] davisagli commented on #477
Charlie would it be helpful for me to export some of the data for the Plone users with those duplicated member ids so you can determine which contact is the right one to keep the member id? Or do you already have access to that in a way that works for you?

[2015-12-09 22:54] ebskopin commented on #421
I just verified.  Let me know if that worked.  Thanks @drewpiston

[2015-12-09 22:55] drewpiston commented on #421
Worked! Thanks.

[2015-12-09 23:27] ebskopin commented on #412
Thanks @davisagli @drewpiston, links are working.

[2015-12-09 23:39] WaBirder57 commented on #477
I have access to the Plone Member Data dump that is run nightly.  This returns some fields for all the Plone accounts.  If you could just export those that are duplicated which we need to focus on that would be a big help.

[2015-12-09 23:39] davisagli commented on #477
What fields do you want?

[2015-12-09 23:42] WaBirder57 commented on #477
The fields that I am aware of that would help us ID the plone users in Salesforce are below.  If you know of any other fields that you think might help add those also.  Thanks,.

UserID
Email
ScreenName
FirstName
LastName
PostalCode
MostRecentLogin
PreviousLogin
MostRecentTripReportTitle

[2015-12-09 23:54] ebskopin commented on #412
Arg, spoke a little too soon and found a few issues.

For the "VMS Waitlisted Confirmation Email - Day Work Party" template the links marked in red (see below) point to an incorrect link:

![image](https://cloud.githubusercontent.com/assets/14843712/11702560/76a0dfc4-9e8c-11e5-8931-cbaf61dc747b.png)

This links are, respectively:
https://cs9.salesforce.com/email/http://staging.wta.org/volunteer/ab

[2015-12-09 23:56] davisagli commented on #412
What URLs do the broken links in the VMS WP Notification of Open Spot go to?

[2015-12-09 23:57] WaBirder57 commented on #477
What happens if we go through this process and find the Salesforce Contacts with the wrong Plone UserID and just delete the value from Salesforce.  Will the Plone sync to Salesforce be able to find that existing SF record that matches based on the criteria we have defined and populate that existing SF contact with the correct Plone User ID?  Same methodology if a new MyBackpack is created and we c

[2015-12-09 23:59] ebskopin commented on #412
They both go here when clicked, respectively:

![image](https://cloud.githubusercontent.com/assets/14843712/11702715/b653691a-9e8d-11e5-911d-ad63ac5a43e2.png)

![image](https://cloud.githubusercontent.com/assets/14843712/11702740/d31ef032-9e8d-11e5-9207-f9a7351f3c29.png)

[2015-12-10 00:04] davisagli commented on #477
No, that won't quite work. Plone keeps track of which users have been connected to a Salesforce contact. When a user logs in who has not been connected, it calls the vmslogin webservice to match an existing contact (first by user id -> Website Member ID, then by name and email) or create a new one. But if a user logs in who Plone knows was previously connected, this does not happen. In this case i

[2015-12-10 00:05] davisagli commented on #412
The problem there is that there's no registration id passed in the URL -- it should have r=SOMETHING not just r=

[2015-12-10 08:35] cguardia commented on #483
Fixed on master.

[2015-12-10 16:50] WaBirder57 commented on #477
FYI I went and looked at our Nov 9th Salesforce backup, our Contacts table had the same 2 Contacts with the WebsiteMemberID value of "marco".  So I think this is good in that it indicates duplicates existed before we starting using MBP.  Thus, not a problem introduced by MBP.

[2015-12-10 19:43] davisagli commented on #478
This finally worked last night. Of course it did not work for users with duplicated member ids. Also it fails if the trip report name is too long for the field it goes into, so I should probably truncate it.

[2015-12-10 20:02] jessesnyder commented on #477
There were two unrelated bugs in the Plone system that were clouding our troubleshooting/diagnostic efforts yesterday:

* A homepage URL with the format 'http://[url=https://foo.com/bar/]https://foo.com/bar/[/url]' was breaking the member data dump CSV report, so I was looking repeatedly at a report from 11/22 when I thought I was looking at a fresh copy
* The registry that translates between user

[2015-12-10 20:24] davisagli commented on #483
done

[2015-12-10 20:35] ebskopin commented on #483
looks good. thanks.

[2015-12-10 20:35] #483 closed

[2015-12-10 22:02] ebskopin opened #485 "VMS: Group Registration/Management"
There are some issues with managing groups.

1. Presently, as the group organizer, I am unable to remove my participants from the roster in Crew Corner. When clicked, the "Cancel" button briefly flashes "Submitting..." but does not cancel the contact in VMS or Salesforce.

2. The "Add a Crew Member" should include an e-mail field, and ideally would allow the organizer to add more than 1 contact at

[2015-12-10 23:11] drewpiston commented on #421
Done! @mscholtz , I think we might need to set up the Org Wide email address in Prod before we can push. I don't have access to Prod currently, so can't do that.

[2015-12-10 23:20] mscholtz commented on #482
@drewpiston could you take care of this one?

@ebskopin could you verify whether you want emails to not go out a) once the WP status has been changed to "Completed", b) once the End Date of the WP has passed, or both?

[2015-12-10 23:21] mscholtz commented on #482
@ebskopin @WaBirder57 at this point, if you add a SF-related ticket, could you @ me in the comments so I make sure to see it?  Thanks!  Wasn't as important earlier in the project, but every day is of the essence now.

[2015-12-10 23:23] mscholtz commented on #424
@ebskopin @drewpiston where do we stand with this one?

[2015-12-10 23:24] mscholtz commented on #437
code review is done.  @ebskopin , please close this one if you don't see the error happening any more.

[2015-12-10 23:25] ebskopin commented on #437
tested earlier today and no longer getting an error. thanks.

[2015-12-10 23:25] #437 closed

[2015-12-11 00:04] WaBirder57 commented on #477
@davisagli We had a question on the best way to clean up these SF Contacts which have duplicate Website Member ID.  Could we just remove these values from all the affected Contact records and then have Plone code that would make a single pass to try and match these to a plone account?

This would leave us with SF Contacts where all the Website User ID are unique so we can change this to field to b

[2015-12-11 00:13] ebskopin commented on #412
I received a similar error when clicking on the accept link in relation to some different testing:

![image](https://cloud.githubusercontent.com/assets/14843712/11732431/f9fd7068-9f58-11e5-99fd-123fb864d30b.png)

[2015-12-11 00:24] WaBirder57 opened #486 "VMS: Work Party Type Capacity fields - leaving them back has what impact?"
In a VMS Work Party Type if we leave the Default Capacity and Default Volunteer Capacity fields blank what happens?

Use case:  Training Work party where we hope to get as many CL and ACL's as possible to sign up and there is no reason to limit the number of signups (facility is out doors with lots of space).  Can we just leave these fields blank or do we need to set some arbitrarily large value?

[2015-12-11 00:25] davisagli commented on #412
It may be formatted similarly but that's a different error. Can you put it in a new ticket with more info about what you were doing?

David Glick
(mobile)

[2015-12-11 00:28] WaBirder57 opened #487 "VMS: Volunteer Vacation Cost for 2nd or additional trips in one season"
We have a policy that volunteers who sign up for 2 or more Volunteer Vacations will get a discounted rate on the 2nd and additional trips.  Where do we set the "price" for these subsequent sign ups for a given volunteer?

If this feature doesn't exist we may need to prioritize this for next weeks mini development iteration.

[2015-12-11 01:07] davisagli commented on #485
1 - We'll take a look.

2 - We chose to only handle one at a time so that we could reuse the same Salesforce webservice that handles non-group registrations. Handling multiple registrations here would have been a significantly larger story.

The email field will show up if you check the "Organizer Must Provide Emails" checkbox on the Work Party Group.

3 - is an error from Salesforce. @mscholtz?

[2015-12-11 01:10] davisagli commented on #477
@WaBirder57 Could we just remove these values from all the affected Contact records and then have Plone code that would make a single pass to try and match these to a plone account?

I could pretty easily write a script that calls the vmslogin webservice to match a contact for each of these users. However I'm not sure what the webservice does if it finds multiple contacts with a matching name and

[2015-12-11 01:11] davisagli commented on #486
@mscholtz does our code in Salesforce handle an unspecified capacity?

[2015-12-11 01:20] davisagli commented on #487
We haven't implemented this so far and I don't remember seeing stories about it.

Does next week's mini iteration include Percolator? Implementing this will require some work in Salesforce because the registration webservice would need to return the price for each volunteer depending on whether they meet the criteria for this pricing.

[2015-12-11 01:22] WaBirder57 commented on #477
For now leaving the unmatched Contact.WebsiteMemberName populated is helpful for us as we try and track down the correct Plone account.  This has already helped us once.  Only when we are finished this process of clean up should we can delete those values.

[2015-12-11 02:06] mscholtz commented on #477
Charlie I think this would only work if every contact to be matched in sf
has a unique name and email, which seems like an even taller order than
having unique Plone ID.

On Thursday, December 10, 2015, Charles Kahle <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-11 02:12] davisagli commented on #477
To answer my own question, it looks like if there are multiple contacts matching name and email, the vmslogin webservice (well actually the WTA_VMS_ContactFinderCreator helper class) will use the first one (but the order is not defined, so basically it'll pick one of them randomly).

[2015-12-11 02:22] mscholtz commented on #477
Yep. We actually figured this out at the meeting earlier.  I think the
original plan is better.  Correct the IDs don't just blank them all out.

On Thursday, December 10, 2015, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-11 05:54] davisagli commented on #477
has a unique name and email, which seems like an even taller order than
having unique Plone ID.

Actually I just checked, and of the contacts who have the duplicated member ids, only 1 of the member ids belongs to multiple contacts with the exact same name and email. Even better, that's because the email is empty and the member id is vedaw who was a former Groundwire employee, so those contacts ar

[2015-12-11 06:39] mscholtz commented on #477
That's right and the plan to deal with that was what I already put
forward.  If Charlie leaves the member ID with the contact who should have
it then it will correct any wrong data in Plone when it syncs.

On Thursday, December 10, 2015, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-11 08:58] cguardia commented on #481
@mscholtz for step 3 of this issue, I was able to save decimal point values, and get them back later when querying SF, so that seemed to work. However, on the SF side, the screen where I can see the report, shows rounded-up values instead of the decimals. Is there something you need to do there?

[2015-12-11 17:03] WaBirder57 commented on #477
Thanks for all the thoughts on this.  We are going to figure this out on
Tuesday when I get back.  For now, staff is working through the data buy
hand and fixing the high priority ones (eg members and users with many
assets in their my back pack).

Arron is making another run with Demand Tools to dedup Salesforce contacts,
especially those with same namd and email (he said he found 18 of those).

[2015-12-11 17:53] ebskopin opened #488 "VMS: "Send to my phone" button doesn't work"
The "Send to my phone" button doesn't work in VMS. It prompts me to put in my email address, but when I do that I get a dialog box that says "Error: error." I also tried entering my phone number in case that would work but same thing happened.

![image](https://cloud.githubusercontent.com/assets/14843712/11751209/f4aced02-9fec-11e5-9c89-7e6d743a4d1f.png)

This happens if you are registered for the

[2015-12-11 18:15] ebskopin commented on #482
I would say "both" to your earlier question @mscholtz, and I'll be sure to @ you on future Salesforce tickets, thanks.

[2015-12-11 18:49] ebskopin commented on #485
Thanks.

I'm still finding that the e-mail field is not present even when the "Organizer Must Provide Emails" is checked.

[2015-12-11 19:03] davisagli commented on #485
It's showing up for me on the work party you linked above...maybe you just didn't wait for a minute for the work party index to update after you changed it?