[2015-12-11 19:04] mscholtz commented on #477
OK.  This doesn't affect the other SF data migration, right?  I can still
go ahead on Monday and create WPs and WP Registrations with the contacts as
they stand now?

(I don't see any problem there, just making sure no-one else does)

On Fri, Dec 11, 2015 at 9:03 AM, Charles Kahle <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsu

[2015-12-11 19:06] mscholtz commented on #421
​Just created.  Elliot, staff will need to verify again.​

On Thu, Dec 10, 2015 at 3:11 PM, drewpiston <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-11 19:06] davisagli commented on #477
@WaBirder57 sounds good. Please let me know if/when you anticipate wanting to run that script to force re-matching Plone users, so I can make sure I'm ready to do that.

[2015-12-11 19:07] ebskopin opened #489 "VMS: Waitlist Acceptance E-mail Links Broken"
When clicking the "Accept the invitation" link on a work party wait list e-mail I receive the following error:
![image](https://cloud.githubusercontent.com/assets/14843712/11732431/f9fd7068-9f58-11e5-99fd-123fb864d30b.png)

For the following work party: https://cs9.salesforce.com/a2eK00000000iam

[2015-12-11 19:15] davisagli commented on #489
Full traceback is:
[code]

[2015-12-11 19:15] ebskopin commented on #421
verified. Let me know if you need anything else.

[2015-12-11 19:15] davisagli commented on #489
@cewing @cguardia could one of you take this one? I think the problem is that it needs to iterate over registrations.values() instead of registrations

[2015-12-11 19:21] ebskopin commented on #485
Huh, I'm still not seeing it. Just to confirm that we're looking in the same place:

![image](https://cloud.githubusercontent.com/assets/14843712/11753321/5045e540-9ff9-11e5-8b64-28d43f715d06.png)

[2015-12-11 19:21] mscholtz opened #490 "still have ipsum text on Documents tab of WP"
also text says "Documents must be complete 48hrs before Work Party start day." is that really true?  I thought it was the case that sometimes they just bring printed forms to the WP.

@davisagli @ebskopin

[2015-12-11 19:22] davisagli commented on #485
Maybe it's different because you're the group organizer. I'll look again.

[2015-12-11 19:24] davisagli commented on #490
I think that text came from the design mockup. Currently the forms must be completed before registering.

[2015-12-11 19:25] mscholtz commented on #490
Only for some WP types, right?

[2015-12-11 19:28] davisagli commented on #490
For all work parties that require you to be logged in to register, see story 318.

[2015-12-11 19:29] davisagli commented on #488
@cguardia I fixed a couple things but this still isn't working. Now it says that the email was sent, but I don't see anything in the mail log on the server. Any ideas?

[2015-12-11 19:35] mscholtz commented on #490
But this text shows even for WPs that don't require login, yes?

On Fri, Dec 11, 2015 at 11:28 AM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-12-11 19:38] davisagli commented on #490
It shows all the time and is inaccurate most of the time. Should I just remove that line @ebskopin?

[2015-12-11 19:54] davisagli commented on #485
@ebskopin does it work now?

[2015-12-11 20:01] ebskopin commented on #485
Yep, I'm seeing the E-mail field now. Thanks. It looks like the cancel buttons still aren't functioning.

[2015-12-11 20:03] davisagli commented on #485
Right, we haven't gotten to the other parts yet. (It would have been nice to have 3 issues filed.)

[2015-12-11 20:21] davisagli commented on #489
@ebskopin give this another try now.

[2015-12-11 20:27] davisagli commented on #394
Deployed this to the live site with the line spacing adjusted.

[2015-12-11 21:07] mscholtz commented on #481
@cguardia can you send me an example (link to SF record and which fields to look at)?

[2015-12-11 21:20] cguardia commented on #481
@mscholtz https://cs9.salesforce.com/a2vK00000005oFa

Look at the hours section at the top. Admin hours, site prep hours and travel hours have floating point values that display correctly on the vms side, but are whole numbers here.

[2015-12-11 22:04] drewpiston commented on #482
Ready to review.

[2015-12-11 22:32] drewpiston commented on #412
Thanks @ebskopin -- I fixed the broken links in VMS Waitlisted Confirmation Email - Day Work Party. Trail Work Guide resulted in an error for me but it's no longer the bad Salesforce URL, and I think it's a data issue for that particular work party.

[2015-12-11 22:36] ebskopin commented on #482
looks good. Thanks

[2015-12-11 22:36] #482 closed

[2015-12-11 22:41] ebskopin commented on #394
fixed

[2015-12-11 22:41] #394 closed

[2015-12-11 23:09] ebskopin commented on #489
Tried again and got a new error:
![image](https://cloud.githubusercontent.com/assets/14843712/11757805/36972256-a019-11e5-87aa-9a6d8996cd79.png)

[2015-12-11 23:13] ebskopin commented on #412
Thanks. Looks good. Closing this as #489 covers the other item.

[2015-12-11 23:13] #412 closed

[2015-12-12 00:13] ebskopin commented on #424
Sorry for the delay.  We haven't put together templates with that specificity and won't be needing that at this point. The templates in that folder are important to have.

[2015-12-12 08:06] cguardia commented on #481
@mscholtz sorry, correct link to report is https://cs9.salesforce.com/a2vK00000005ocZ

[2015-12-13 19:48] mscholtz commented on #334
This should be working now.  @ebskopin over to you for review.

[2015-12-13 19:51] mscholtz commented on #487
Closing this since there's now a story on the backlog (332)

[2015-12-13 19:51] #487 closed

[2015-12-13 20:05] mscholtz commented on #424
Thanks, @ebskopin.
@drewpiston given what Elliot said, can you give me a quick sense of what's left to do here at this point?

[2015-12-13 20:26] mscholtz commented on #481
@cguardia OK, updated all of these fields to 2 decimal places.  Please take a look again.

[2015-12-14 17:15] cguardia commented on #481
@mscholtz thanks, it's working now.

[2015-12-14 18:01] davisagli commented on #480
This was done.

[2015-12-14 18:01] #480 closed

[2015-12-14 18:05] KindraRamos opened #493 "mobile menu not displaying properly"
On a mobile phone the drop menu is getting all jumbled.
![mobile menu copy](https://cloud.githubusercontent.com/assets/15238703/11789249/29df35de-a24a-11e5-8663-6512c4d1fd93.jpg)

[2015-12-14 19:35] ebskopin opened #494 "VMS: Unable to add friends & family group from waitlist"
I registered myself, and 2 friends + family, to a full work party's wait-list - https://cs9.salesforce.com/a2eK00000000k93. However, when I free up enough room for the entire group of 3 I am met with this error when attempting to add myself (any my plus 2+) from the waitlist in SF -
![image](https://cloud.githubusercontent.com/assets/14843712/11791425/e023b968-a255-11e5-80ab-ed60bf8128f8.png)

Tho

[2015-12-14 19:42] davisagli commented on #494
Did you enter an email address for each person? That option is only shown if the email is known for each person.

[2015-12-14 19:56] ebskopin commented on #494
I did enter an e-mail for the 2 guests and still didn't see the option to split the group.

[2015-12-14 22:20] ebskopin opened #495 "VMS: IPhone bug when viewing crew corner as CL"
On iphone you need to turn your phone to get the green and red check boxes to show up in iphone. Otherwise it looks like this: http://prntscr.com/921giv

[2015-12-14 22:52] mscholtz commented on #494
@ebskopin did something change since you wrote the ticket?  That WP is now showing completely full.

[2015-12-14 23:00] ebskopin commented on #494
ahh, sorry.  I was fiddling with it. It's now back to the state in which I am experiencing the error. Thanks @mscholtz .

[2015-12-14 23:09] davisagli commented on #481
This should all be working now.

[2015-12-14 23:10] davisagli commented on #111
This was fixed in #481

[2015-12-14 23:46] mscholtz commented on #494
Confirmed this is a bug.  Seems to be in line 254 - that false should be true.  But first write a test that exposes it.

[2015-12-14 23:53] davisagli commented on #494
Ah, there was a bug in the logic that checked if they all had email addresses. Should work now.

[2015-12-15 00:18] davisagli commented on #493
Fixed

[2015-12-15 00:24] davisagli commented on #495
The design (from Ethical UX) was not for the table to collapse on narrow devices but for it to be scrollable -- you can drag it horizontally with a finger to see the other columns.

[2015-12-15 19:09] drewpiston commented on #424
@mscholtz Yes, the VF email templates for reminder emails still need to be created based on Julie's folder (with correct dynamic links). Shouldn't take horribly long to complete, especially since they don't need the recipient level of granularity.

I'll push forward with this one.

[2015-12-15 19:09] mscholtz commented on #77
@drewpiston can you work on this one?   I think this will have to be in the registration trigger class, which I am continuing to work in as well.   So let's try to time the work around each other, and commit often!

[2015-12-15 19:27] mscholtz opened #496 "Number of chars for "Schedule" field are different in WP vs WP type"
"Default Schedule" in WP Type is 750 chars
"Schedule" in WP is 500 chars

@ebskopin or @WaBirder57 which one should it be?

BTW, if we change it to 500, and if you have any recs in production w/ more than 500 chars, it'll truncate it.  So we should watch out for that

[2015-12-15 19:28] mscholtz commented on #496
This is high priority b/c it can throw a script err if the WPT field has more chars than the limit on the WP field, when it tries to copy it over

[2015-12-15 19:30] mscholtz commented on #496
also @WaBirder57 and @ebskopin it looks like Rebecca has been editing WP types in the sandbox recently.  This one (https://cs9.salesforce.com/a2wK0000002GGl6) was edited by her on Fri.  Just want to make sure no-one is confused about production vs sandbox and where we need the data now.

[2015-12-15 19:30] WaBirder57 opened #497 "VMS: Parental Release form using Production Docusign Account"
VMS in development is using the demo.docusign.com account.  Does this information need to be migrated to the WTA Docusign account for production or can we just start using our current, existing, Docusign Parental Release form?

Is there anything unique or special API information in used in this demo.docusign.com version of our parental release form?

[2015-12-15 19:32] mscholtz commented on #486
@WaBirder57

You can leave the Default fields on the WP Type record blank - the only consequence there is when you create new WPs it won't fill in values by default, but you can still enter capacities.

You can't publish a WP to VMS without having a Capacity, but Volunteer Capacity is optional.

[2015-12-15 19:34] mscholtz commented on #448
@ebskopin I never heard back from you re my last comment here..

[2015-12-15 19:35] WaBirder57 commented on #496
I'll get an answer today.

Rebecca has been working on the production WPT records and I think testing in the sandbox but I will double check she is doing this correctly.

[2015-12-15 19:37] mscholtz commented on #94
@drewpiston can you look into this one if you finish the others?  This is stuff Nineta worked on, but this would be a new trigger.

[2015-12-15 19:38] mscholtz commented on #265
@WaBirder57 since this is already a story, I'm tempted to close this ticket and deal w/ the story, which currently isn't prioritized very highly.  OK with you?

[2015-12-15 19:39] davisagli commented on #497
We need to recreate the Parental Release and MOU templates in your production Docusign account, and make sure that the Required Document records in production Salesforce reference them rather than the ones in the demo account.

[2015-12-15 19:41] davisagli commented on #497
We also need to copy the Docusign Connect settings from the demo account to your real Docusign account. The demo Docusign account writes updates to the sandbox, not production Salesforce.

[2015-12-15 20:28] WaBirder57 commented on #265
Yes, this is covered by story #233 in Scrumdo.

[2015-12-15 20:28] #265 closed

[2015-12-15 20:31] #149 closed

[2015-12-15 20:32] #167 closed

[2015-12-15 20:33] #467 closed

[2015-12-15 21:37] mscholtz commented on #497
@ninetaLogik did you work on the docusign MOU?

[2015-12-15 21:39] mscholtz commented on #497
tentative plan is for David to do the parental release and nineta (or whoever worked on it) to do the MOU

[2015-12-16 02:31] ninetaLogik commented on #497
@WaBirder57 I will need from you an account (username and password) for your docusign production account where you will have the templates uploaded as well as the SF user account you want to use for the SF <-> DocuSign connection.
What's the best way for you to share these with me? Lastpass? Email? of we can do it over skype or phone? Thanks!

[2015-12-16 16:13] WaBirder57 commented on #497
Do you all have a method of encrypting email, such as PGP?  Alternatively we can use different technology, such as email for part and skype for the other part.

[2015-12-16 16:48] ninetaLogik commented on #497
@WaBirder57 I'll call you on skype a bit later and get this info, what time works for you?

[2015-12-16 17:03] WaBirder57 commented on #497
Let me figure out the answer to your questions first.  I'll get back to you later this afternoon, 3:30ish.

[2015-12-16 23:51] ebskopin commented on #481
Everything looks good, but for some reason the "Message to Crew" only shows up when you have the "Status" set on Draft. The default values should remain the same but the Message to Crew needs to be visible with the status set as "Published."

[2015-12-16 23:58] ebskopin commented on #448
Yikes, apologies. I would say we stick with what is described in paragraph 2: "other than the total capacity of the program, which we should never exceed, any of the other ratios & capacities should tell vms when to put people on the wait list, but when it comes to inviting people from the wait list, at that point it should be up to the user's discretion whether to exceed those"

Since staff will

[2015-12-17 01:25] ninetaLogik commented on #497
@WaBirder57 I updated the Template Id (for the MOU) and the Signers so please re-test by Navigating to a Work Party Group and clicking Send MOU. The MOU template should be auto-populated and the senders should include you and the WP Group Organizer.

[2015-12-17 06:50] mscholtz opened #498 "Clarification needed ASAP on ACL/CL eligibility"
Hi @ebskopin and @WaBirder57, something came up today w/ the data migration that I wanted to clarify.

As part of the discussion for this ticket: #124 we finally decided that for ACL-only WPs, it doesn't matter what someone's "VMS Permission Level" field is set to, if staff is registering them.  (Although it does matter if they expect to go online and register themselves as ACL.)

My questions are

[2015-12-17 16:30] ninetaLogik commented on #497
@WaBirder57 it looks like the permissions issue is now resolved and I was able to test the Send MOU. I used this record : https://wta.my.salesforce.com/a3DA00000009cCq
It works and you'll see that it prepopulates the Template and the Signers for you.

[2015-12-17 17:35] WaBirder57 commented on #498
Matthew,

Answers first and then a bit of commentary.

Yes, your description of story #124 is correct.  VMS Permission Level is just used to set someone’s access to VMS.

1)     Yes, your assumption is correct, CL Check box controls if they can be added to a WP as a CL.

2)     We are working on tightening up how we use these fields.  If CL Inactive is checked then they should not be allowed to be

[2015-12-17 18:00] WaBirder57 commented on #497
@ninetaLogik We need to have this completed MOU create the Docusign Status related record on the Work Party Group record.  As you will see this includes information from Docusign on the status of this MOU document as well as a link to the envelope.  Here is a screen shot:
![efdocusignstatusrecord](https://cloud.githubusercontent.com/assets/8312206/11877578/04a660e6-a4a5-11e5-89a6-4a929d9d8652.JPG)

[2015-12-17 18:13] mscholtz opened #499 "Crew Leaders should be ineligible if Crew Leader Inactive checked"
even if Crew Leader is also checked.

see comments on #498

[2015-12-17 18:16] mscholtz commented on #498
OK, sounds good.  I will try to do the script to set the Permission Level, but we'll have to see if there's time.

I created a separate ticket here #499 for the Inactive checkbox, please prioritize it.

[2015-12-17 18:17] davisagli commented on #498
What's the reason for having a second checkbox that causes the first one to be unchecked, instead of just unchecking the first one?

[2015-12-17 18:20] mscholtz commented on #498
BTW, for the purposes of the migration, you may remember that since crew leaders aren't explicitly marked in the Volunteer Job, we're guessing at the CL by looking for the first person on the roster who has the CL checkbox.  Currently that is not disqualifying someone if they have the CL Inactive box checked.  Furthermore, unless you object, I'd like to keep it that way, because even if they're in

[2015-12-17 18:21] WaBirder57 commented on #498
Yes, sounds ok and keep it simple (er).  Thanks.

[2015-12-17 18:25] WaBirder57 commented on #498
David,  We want to keep track of who "was" or perhaps who could be again a CL.  Thus, if a CL moves out of the area they would be flagged as Inactive CL.  If they move back then there status would reverse.  Also we use these flags when sending out email to current and/or former CL's.

[2015-12-17 18:28] mscholtz commented on #499
this should be done after data migration, as we will be assigning CL status to some inactive CLs for historical WPs

[2015-12-17 18:28] davisagli commented on #498
Ah, got it. Thanks Charlie.

[2015-12-17 18:34] WaBirder57 commented on #499
OK and sounds correct.

[2015-12-17 18:42] ninetaLogik commented on #497
@WaBirder57 Ok, this should work now.

[2015-12-17 18:53] #498 closed

[2015-12-17 19:51] WaBirder57 commented on #497
OK the MOU portion of this ticket is fixed and working.  That leave the Parental Release form.  Excellent progress!

[2015-12-17 20:19] ninetaLogik commented on #497
@WaBirder57 please note that from your docusign account you will need to mark the users that you want to have integration for.
These are the instructions to follow. https://support.docusign.com/guides/dfs-admin-guide-add-ds-status-to-custom-object
In addition when you do this you need to mark users otherwise they're are not going to get the docusign status records.

[2015-12-18 16:39] ebskopin opened #500 "VMS: Work Party start/end times not displayed on "Find a Work Party" page"
Presently, for multi-day trips (weekend, vol vac, BCRT), the start and end times are displayed on the main "Find a Work Party" page. Example:

![image](https://cloud.githubusercontent.com/assets/14843712/11901846/a5018c56-a562-11e5-883d-2021dcc3376f.png)

These times should only display on the work party details page that the volunteer reaches when they have clicked through. These times do not nee

[2015-12-18 17:12] davisagli commented on #500
This is as requested in #282, so please confirm if you want a change from that.

[2015-12-18 17:18] ebskopin commented on #500
Yes. Sorry about the contradictions. We would like this to be changed from what was in #282.

Thanks.

[2015-12-18 17:27] ebskopin commented on #495
ok, that works.

[2015-12-18 17:27] #495 closed

[2015-12-18 17:29] ebskopin commented on #426
going to retain current design for now

[2015-12-18 17:29] #426 closed

[2015-12-18 17:37] ebskopin commented on #245
looks good. thanks.

[2015-12-18 17:37] #245 closed

[2015-12-18 17:42] ebskopin commented on #417
looks good

[2015-12-18 17:42] #417 closed

[2015-12-18 21:18] #493 closed

[2015-12-18 23:02] drewpiston commented on #424
@ebskopin ,

Testing this one might be a little weird -- this is how it is setup:

http://screencast.com/t/BpkQO0eAY

Basically, on the Work Party Type the Email Template Ids need to be written into all of those fields (since we were expecting more granularity) and the Days Prior needs to be set as well.

Let me know if you'd like more help with testing.

 Drew

[2015-12-19 00:06] drewpiston commented on #77
Ready for testing/review!

[2015-12-21 18:08] WaBirder57 opened #502 "VMS: Staff email when waitlist spot opens up - SF Workflow?"
When a spot opens up so that someone can be invited to join the work party from the wait list an email is generated to staff with links to invite the next person.

Where is this email generated (eg is this a SF Workflow and SF email)?  In particular I want to know where we control who this email is sent to.

[2015-12-21 23:57] davisagli commented on #502
@mscholtz

[2015-12-23 00:19] WaBirder57 opened #503 "Carpool email Story #328 fixes"
@ninetaLogik The Carpool email system is working pretty well.  We have some changes we would like to see in the body of the email that is sent.  Can we:

1) Have the email link to the work party so the reader can click a link to go directly to the WP on the website.  A link such as: http://staging.wta.org:6543/workparty/a2eK00000000kDP/#Crew%20Corner which takes the user to the Crew Corner tab of

[2015-12-23 17:56] WaBirder57 opened #504 "How to post new Workparty Banner Ad using plone, Story #324"
VMS Story #324 Work Party Banner ad requires an understanding of plone that I don't have.  When I go to http://mybackpack.wta.org/volunteer/vms-banners I can see the Banner (News item?) that David created. I can create a new "News Item" but that doesn't display on the web site.  Perhaps this is cached somewhere?

Also, I am not able (don't know how) to edit the banner that David created.  Any tips

[2015-12-23 18:20] skleinfeldt commented on #504
@WaBirder57 when you are logged in you should see a (usually) green bar with an "edit" link when viewing the items under /volunteer/vms-banners. News Items have an Image field, this is what is used as the banner. Just edit the item and upload a new image. "Work Party Banner Test" doesn't seem to have an image, that's probably why it isn't showing.

[2015-12-23 18:29] WaBirder57 commented on #504
Thanks for the response to this and why my News Item isn’t showing.  This worked, adding an image to my News item.  Now I just need to understand how to best edit and manage images in Plone.

One other question is if these News item/banner can have or be a hyperlink?

Thanks

Charlie

From: Sally Kleinfeldt [mailto:notifications@github.com]
Sent: Wednesday, December 23, 2015 10:20 AM
To: washingto

[2015-12-23 19:44] skleinfeldt commented on #504
Plone also has an Image content type, how/where to manage them is usually a different question from how/where to manage News Items. We can certainly talk about that in training. For this particular story, the most recent News Item in the /volunteers/vms-banners folder will be used - where "most recent" is determined by the Publishing Date (see the Dates tab on the edit form).

Standard Plone News

[2015-12-23 19:53] davisagli commented on #477
@WaBirder57 any update on what you are planning to do with these duplicate member ids? There are still occasional updates failing to sync to Salesforce (2 so far today).

[2015-12-23 20:06] davisagli commented on #504
The banner is not currently linked to anything. We're currently pulling in the Description field from the news item, which cannot contain rich text, but we could switch to pulling in the text field and then you could add a link in the text.

[2016-01-04 23:57] WaBirder57 opened #505 "VMS: Email to crew leader when work party is published"
@mscholtz Right now when a crew leader is assigned to a work party they get an email notification of this right at that time.  During this planning phase it could be way in the future and the CL can be changed frequently during this planning phase.

We would like this email notification to the Crew Leader be emailed when the Work Party is first published.

[2016-01-05 00:02] WaBirder57 opened #506 "VMS: Create website with VMS and production Salesforce data, eg vms.wta.org."
@davisagli  We need to have a website where we can view the current VMS website as well as production salesforce data.  As I discussed with David perhaps this could be mybackpack@wta.org.

Purpose for this is to verify data entered into production salesforce.  This could be work parties, My Backpack information, etc.

[2016-01-05 00:03] ebskopin commented on #489
checking back in on this

[2016-01-05 01:18] davisagli commented on #489
Sorry, we lost track of this one since it was still tagged as "Reviewing" and we typically filter out the tickets that you are reviewing when we're looking for things to work on. I just fixed the "local variable 'reg' referenced before assignment" error.

[2016-01-05 01:20] #258 closed

[2016-01-05 01:21] #300 closed

[2016-01-05 18:05] WaBirder57 opened #507 "MBP: Plone gallery feature is broken as of yesterday 1/4"
@davisagli , @jessesnyder Just as we were discussing the photo gallery tool that we use yesterday it appears that is is now broken.  Loren say that some folders may be missing.

Loren reports: The upload function is totally gone now, and I'm wondering who I should check in with or who I should alert to the issue.

User report:
Hi there, I was interested in sharing a recent photo I took at Hurrican

[2016-01-05 18:10] davisagli commented on #507
It appears to link to a folder for the current year (/hiking-info/gallery/images/2016) so you probably just need to create that 2016 folder. @jessesnyder may know more from previous years.

[2016-01-05 18:56] WaBirder57 commented on #496
Good catch @mscholtz .  We will go with 500 as the length for this WorkParty.Schedule and WorkPartyType.Default Schedule field.

There is no production data that will be truncated if we change this at this time.  I would make the change myself but wasn't sure if there were any other places that needed to be updated.  Please make this change to the Work Party Type.

[2016-01-05 19:23] WaBirder57 commented on #478
Here is a screenshot from my Galaxy S5. The Galaxy S5 uses a 5.1-inch AMOLED display with a pin sharp full-HD resolution of 1920 x 1080 and 432 pixels per inch (PPI).

The page displays a bit to wide and I have to slide the image back and forth in my phone's FireFox browser to see everything.  I'm not sure how this sizing works nor if this is a big fix.  I marked ticket low priority but nice to ha

[2016-01-05 19:43] WaBirder57 commented on #489
@ebskopin Elliott can you test this please.

[2016-01-05 20:03] ebskopin opened #508 "VMS: Youth Vol Vac Registration Bug"
When registering for a Youth Volunteer Vacation, when the "Register" button is clicked the page does not advance to the confirmation page. If you refresh the page and click the "Register" button again the following message appears:

![image](https://cloud.githubusercontent.com/assets/14843712/12126156/52324a9c-b3a4-11e5-9417-5383e497c7dc.png)

This error seems distinctive to youth volunteer vacati

[2016-01-05 20:25] ebskopin opened #509 "VMS: Youth Vol Vac CL Registration Bug"
When attempting to register a New WP Registration for a CL or ACL in Salesforce for a Youth Volunteer Vacation the following error occurs, even if the contact has a current Background Check:

![image](https://cloud.githubusercontent.com/assets/14843712/12126631/2e20c860-b3a7-11e5-9477-d98538f928a6.png)

In this instance I am attempting to register Andrea Martin -https://cs9.salesforce.com/003K0000

[2016-01-05 22:11] davisagli commented on #508
Please give me the URL of the particular work party you were testing

David Glick
(mobile)

[2016-01-05 22:13] ebskopin commented on #366
Re-opening, as the date by which the invitation must be accepted is not appearing in all instances.

For example: http://prntscr.com/9g76c9

[2016-01-05 22:23] ebskopin commented on #508
http://staging.wta.org:6543/workparty/a2eK00000000uUr/

[2016-01-05 22:45] WaBirder57 commented on #507
Added:  http://www.wta.org/hiking-info/gallery/images/2016/folder_contents and it works.  Thanks.

[2016-01-05 22:45] #507 closed

[2016-01-05 22:53] WaBirder57 commented on #496
I stand corrected.  We will use the field lengths set in the Work Party Type object for the corresponding fields in Work Party.  Evidently there are more than 1 affected fields.  I will make this change now as we are needing to test work parties which have longer text values in these fields.

[2016-01-05 22:53] #496 closed

[2016-01-05 22:53] ebskopin commented on #421
Could we please make the "Name" that appears on all e-mails associated with volunteer@wta.org read "Washington Trails Association". Presently, my name appears on these messages. @mscholtz @drewpiston

[2016-01-05 23:17] ebskopin commented on #489
This is now working as intended. Thanks.

[2016-01-05 23:19] mscholtz commented on #496
@WaBirder57 could you also make the same changes in the sandbox?  Otherwise it may get overridden when we do another deploy

[2016-01-05 23:25] WaBirder57 commented on #496
Yes, I have updated both the production and .vms2 environments.

[2016-01-05 23:25] #489 closed

[2016-01-05 23:31] mscholtz commented on #496
Great, thank you!

On Tue, Jan 5, 2016 at 3:25 PM, Charles Kahle <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-06 01:21] WaBirder57 opened #510 "VMS: WP Crew Corner Toolkit - Document Reviews return error not document"
When clicking to view the Emergency Action Plan for the work party: http://staging.wta.org:6543/workparty/a2eK00000000iVz/

This is for:  Emergency Action Plan: Beacon Rock State Park

I get the error:

Internal Server Error

The server encountered an unexpected internal server error

(generated by waitress)

We get this same error for many of the documents we try to review.

[2016-01-06 01:28] WaBirder57 opened #511 "VMS: SF What to Bring field extended to 1,000 characters"
Information only:

The WorkPartyType.DefaultWhatToBring and WorkParty.WhatToBring fields are now set to 1,000 characters up from 500 in both .VMS2 and Production.  With the way this information is displayed in VMS we needed to allow for longer text fields.

[2016-01-06 03:41] davisagli commented on #510
fixed

[2016-01-06 03:55] davisagli commented on #478
I think you meant to add that to #429

[2016-01-06 16:55] WaBirder57 commented on #510
Thanks for the quick fix.  Training starts tomorrow, Jan 7!

[2016-01-06 16:55] #510 closed

[2016-01-06 17:02] WaBirder57 commented on #477
We are continuing to work through the list of My Backpack accounts that link to more than one Salesforce contact.  We are finding most often that the SF Contact has a duplicate or that 2 contacts in one Household are both linked to the same MyBackpack account.  We have prioritized those users who use MyBackpack the most.  Still a couple weeks of work to get this cleaned up unless we need to bump t

[2016-01-06 17:05] WaBirder57 opened #512 "MBP: Screen scaling on Samsung a little to wide for device."
Looking at My Backpack Edit Profile for a user:

Here is a screenshot from my Galaxy S5. The Galaxy S5 uses a 5.1-inch AMOLED display with a pin sharp full-HD resolution of 1920 x 1080 and 432 pixels per inch (PPI).

The page displays a bit to wide and I have to slide the image back and forth in my phone's FireFox browser to see everything. I'm not sure how this sizing works nor if this is a big f

[2016-01-06 17:41] WaBirder57 opened #513 "VMS: Crew Corner roster list not showing registered volunteers in some cases"
For some work parties we see that the WP Crew Corner Tab doesn't show the list of registered volunteers.  Seems like these may be WP where Rebecca is the Crew Leader (and ones she has been editing in SF recently).  Note that you can click on Review to see the Sign In Sheet with all volunteers listed.

Here is an example Work Party for Rebecca:
http://staging.wta.org:6543/workparty/a2eK00000000u70/

[2016-01-06 18:20] #478 closed

[2016-01-06 20:46] WaBirder57 opened #514 "VMS: Work Party Summary report should defalt to "draft" status"
When the CL goes to the Reports tab and clicks on Edit for the first time the Summary Report status is set to "Published" .  In this state the fields to Message to Crew are hidden.

The Status needs to default to "Draft" until the summary report is set to Published.

[2016-01-06 20:48] davisagli commented on #514
Closing this as a duplicate of #481 (see the last comment there)

[2016-01-06 20:48] #514 closed

[2016-01-06 21:22] WaBirder57 commented on #481
We will do some user testing on this feature to see if we want the default value to be "Draft" or "Published".  I'll keep this closed until we have specific instructions.  This will impact @ebskopin comments on when the Message to Crew fields are visible.

[2016-01-06 21:22] #481 closed

[2016-01-06 21:57] WaBirder57 opened #515 "VMS: Question on VMS (Pryamid) vs Plone Accounts on Staging.WTA.Org"
Using charles@wta.org when I log into staging.wta.org I have a user account that is different from the account on staging.wta.org:6543.  Different user profile etc.

Can these accounts be synced or merged?

Question for testers setting up MyBackpack accounts: Should new testers set up their account at staging.wta.org OR staging.wta.org:6543

Thank you.

[2016-01-06 21:58] mscholtz commented on #505
@drewpiston any chance you could work on this one this week?

[2016-01-06 22:04] mscholtz commented on #509
@ebskopin did you update Andrea's background check fields recently (since I ran the data migration)?
The code is looking for a WP Volunteer Certification record of type "Background Check", not a value in the old fields (which we will hopefully be deleting at some point).

The certification rec should have been created during the migration, but wouldn't have been if someone entered it since then.

[2016-01-06 22:06] mscholtz commented on #502
@WaBirder57 I can look this up for you.  But I was thinking that this would be a good thing to document while we have some time for that.  There are a bunch of emails that go out, and they use various mechanisms.  I think it would be good for us to catalog what emails there are, what settings you guys can change, where you would go to change the content, etc.  We could answer this question as part

[2016-01-06 22:11] davisagli commented on #515
The staging VMS site (staging.wta.org:6543) is connected to the mybackpack.wta.org Plone site, not to the staging.wta.org Plone site (because so far we have not enabled the VMS-related features on staging.wta.org). So testers can set up their accounts starting from either staging.wta.org:6543 or mybackpack.wta.org, but not staging.wta.org.

[2016-01-06 22:24] mscholtz commented on #73
@davisagli @WaBirder57 so we just need two text fields for the caption, one on the Work Party, and one of the WP Report?

Is 255 chars and plain text good enough?

[2016-01-06 22:25] WaBirder57 commented on #515
Thanks.

[2016-01-06 22:25] #515 closed

[2016-01-06 22:27] WaBirder57 commented on #502
Yes, documenting the email flows and details that you have described was high on my list of things that need to be documented.

[2016-01-06 22:34] mscholtz commented on #502
OK, we can do that.  I did send you an email yesterday w/ general questions about documentation.  Could you reply to that before we get started here?

[2016-01-06 22:34] drewpiston commented on #505
Yes! No problem.

[2016-01-06 22:38] davisagli commented on #73
Sounds right to me.

[2016-01-06 22:42] WaBirder57 commented on #73
Yes, 255 chars should be sufficient.

[2016-01-06 22:43] WaBirder57 commented on #502
Done, I added comments.  I think you have good ideas.

[2016-01-06 22:47] WaBirder57 commented on #478
@davisagli @mscholtz We should set the SF Most Recent Trip report field to 255 characters and then have the data from Plone truncate if it is longer than that.

[2016-01-06 23:23] mscholtz commented on #478
@WaBirder57 do you want to re-open this ticket?  or create a new ticket for that?  I would prefer the latter, but either one is OK by me.  Please make it high priority if you want it done before launch.

@davisagli let me know if we need to coordinate here or if I can just go ahead.

[2016-01-06 23:24] mscholtz commented on #502
marking this closed as this will be answered by documentation..

[2016-01-06 23:24] #502 closed

[2016-01-06 23:25] mscholtz commented on #73
@drewpiston can you take on this one too?  Should be super quick.

[2016-01-06 23:27] davisagli commented on #478
I think the field is already limited to 255 characters in Salesforce, and I added the truncation yesterday so that will be in place the next time I deploy...so we can probably just leave this closed.

[2016-01-06 23:32] WaBirder57 opened #516 "MBP: Most Recent Trip report field length change and consistency so sync with Plone works"
To ensure that the Plone > Salesforce sync works we need to make sure the Most Recent Trip Report data fits in the Salesforce Contact Field.  See story #478 for info on the sycn.

We should set the SF Most Recent Trip report field to 255 characters and then have the data from Plone truncate if it is longer than that.  I just checked in .VMS2 Sandbox and production; Contact.Most_Recent_TR_Name__c i

[2016-01-06 23:33] WaBirder57 commented on #478
I have created #516 for this last item.  Thanks.

[2016-01-07 00:03] mscholtz commented on #366
@drewpiston one more to look at.  next week is fine if you don't have time this week.

[2016-01-07 00:16] mscholtz commented on #421
@ebskopin could you paste in the headers from the email you got so we can see exactly where this appears?

[2016-01-07 00:19] mscholtz commented on #503
@WaBirder57 at this point we're only planning on tackling high priority tickets before launch.  So please move this to High if you want it looked at before then.

[2016-01-07 01:18] drewpiston commented on #505
Hi @WaBirder57 ,

This is going to be a little more complicated than I first thought... I won't go into all the details, but basically the reason it's is hard is that right the action that fires an email is inserting a WP Reg, but with this change we would need to fire off an email off a change to the Work Party.  In order to truly do that we'd probably need to write some code.

Strangely enough,

[2016-01-07 01:43] drewpiston opened #517 "Flow Issue when no Email Address/Email Opt Out"
Getting email notifications of failures from the Process Builder -- probably because emails can't be sent (because the email address is null or they have opted out of email).

This is (probably) happening on WP Reg confirmation emails with this flow:
VMS Work Party Registration Emails 3.1

[2016-01-07 05:39] davisagli commented on #506
I started setting this up. I'm actually doing it on the production webserver, so it can become the live version of VMS once we're ready.

However, I'm currently blocked because www.wta.org is served via CloudFlare, so I need access to CloudFlare to set up vms.wta.org to point at VMS. (Or I can ask Steve to help with that tomorrow.)

[2016-01-07 06:12] davisagli commented on #513
Fixed. It was breaking because it didn't know how to handle a certification without a start date (which Rebecca had). I fixed it to only validate the certification start date if one is set.

[2016-01-07 06:26] davisagli commented on #508
It's breaking because the work party type has "Costs Money" checked (which makes it load the payment form) but the work party does not have fees set (see https://cs9.salesforce.com/a2eK00000000uUr). You might want to add some validation to make sure that a work party has fees set if its Work Party Type has "Costs Money" checked.

[2016-01-07 13:52] WaBirder57 commented on #513
@davisagli What does it mean for a certificate to have a valid start date?

[2016-01-07 13:52] #513 closed

[2016-01-07 15:10] WaBirder57 commented on #506
Yes Steve can help with this. Ccd him on this email.

Charlie
On Jan 6, 2016 9:39 PM, "David Glick" <notifications@github.com> wrote:

[2016-01-07 16:56] davisagli commented on #513
That it has any start date; Rebecca's certificate didn't have one set at all.

[2016-01-07 17:00] davisagli commented on #506
@smcmahon what I'd like is to have vms.wta.org set up on CloudFlare to point at the production webserver, ideally with TLS termination but without caching actually enabled. Then I can adjust nginx on the webserver to proxy that domain to VMS. Will that work?

[2016-01-07 17:06] smcmahon commented on #506
I'll set up the cloudflare side.

On Thu, Jan 7, 2016 at 9:00 AM, David Glick <notifications@github.com>
wrote:

[2016-01-07 17:17] smcmahon commented on #506
OK, questions.

By "production" webserver, did you mean www.wta.org? Or mybackpack?

If www, is there a reason why we can't use the www.wta.org or wta.org hostname? We already have certificates for that.

We probably can't use Cloudflare SSL w/o caching unless we're going to use some no-cache or immediate expiration messages.

[2016-01-07 17:44] davisagli commented on #506
www

We might be able to make it work with a subpath of www.wta.org, but it'll take some review of how urls are generated throughout the app since we were assuming it would be at the root of a domain. I thought that CloudFlare provided TLS for any domain, but maybe I have that wrong?

Okay, we can try it with caching on and I can add that caching header if necessary.

[2016-01-07 17:56] drewpiston commented on #73
I added  a field called Photo Caption to both the Work Party and the Work Party Report, added them to the layout, gave them help text, and pushed changes to git.

I think that's all on the Salesforce side that needs to be done. Should I assign to @davisagli ?

[2016-01-07 17:57] davisagli commented on #73
Yep I just took it.

[2016-01-07 18:42] smcmahon commented on #506
OK, we're set!

[2016-01-07 18:45] smcmahon commented on #506
Sorry about the accidental close. Pushed the wrong button.

[2016-01-07 19:03] cewing commented on #485
I am taking on the first part of this issue.  I am unclear if the third part is resolved.  @mscholtz you removed the `Salesforce` label.  Does that mean that the error shown in part 3 above is resolved? Or does it mean that the problem isn't actually in Salesforce?

[2016-01-07 19:08] mscholtz commented on #485
@cewing I honestly don't remember wnhy I removed the label.  But I think the error here was the one we've recently logged in #517 and I think will be resolved along w/ that ticket

[2016-01-07 20:15] cewing commented on #485
Starting to poke at this and the reason that the button isn't working for group leaders is that the 'id' of the group contained in the group registration appears to be different than the id of the group in the list of groups associated with a work party.

For example, on the "Oregon Treaty Work Party" (http://staging.wta.org:6543/workparty/a2eK0000003Oyrd/), there is a group registered, the "Boein

[2016-01-07 20:57] cewing commented on #485
Okay.  The problem is now clear.  The two "different" ids for the same work party group are actually the 15-character and 18-character ids of the exact same work party group.  What this appears to mean is that although in the VMS app we are using (and storing) the 15-character form of this ID, the Salesforce service that registers users for work party groups is storing the 18-character form.

I ca

[2016-01-07 21:01] mscholtz commented on #485
One thing to keep in mind: the 15 char ID is case sensitive.  The 18 char
ID is not (which is why they have the 18 char ID)

On Thu, Jan 7, 2016 at 12:57 PM, Cris Ewing <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-07 21:16] cewing commented on #485
hmmmmm.  Okay.  That's interesting.  It looks to me like we are often truncating the IDs returned to us by salesforce to 15 characters from the 18 characters SF is sending us.  My solution here was to do the same truncation for the 18-char id returned by the `get_registrations` method of our salesforce client. I've also discovered that the comparison of regId to the id in each registration [here](

[2016-01-07 21:18] mscholtz commented on #485
Truncation is fine, as long as any string comparison you do in the code is
case-sensitive

On Thu, Jan 7, 2016 at 1:16 PM, Cris Ewing <notifications@github.com> wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-07 21:20] cewing commented on #485
It is.  What I'm a bit worried about is if we get an 18-character version of the ID sent to us that has different case than the sensitive 15-char version.  Maybe that's not a concern because SF never sends an 18-char version with cases switched, but I'm not comfortable asserting that is true on my own :)

[2016-01-07 21:29] mscholtz commented on #485
The 15 char version of the ID for a record will never have any different
case chars than the first 15-chars of the 18-char version.  The 18-char ID
does not use arbitrary case.  That is not a concern.

They do this because some systems (e.g. Excel) don't have an easy option
for doing case-sensitive comparisons.  So if you use 18-char IDs you don't
have to worry about that.

But an ID that had a ch

[2016-01-07 21:32] cewing commented on #485
Okay.  That goes a long way toward alleviating my concerns.  Thanks @mscholtz

[2016-01-07 23:49] davisagli commented on #485
Part 1 of this should be fixed now.

[2016-01-08 00:14] ebskopin commented on #421
Here are a few examples:

![image](https://cloud.githubusercontent.com/assets/14843712/12186607/65d314c6-b559-11e5-8a4b-0925d4f36f98.png)

![image](https://cloud.githubusercontent.com/assets/14843712/12186613/776c1bc4-b559-11e5-8202-6e8bc1617302.png)

![image](https://cloud.githubusercontent.com/assets/14843712/12186644/ae3bed3c-b559-11e5-928b-cec8c3ad8fb2.png)

[2016-01-08 18:13] davisagli commented on #500
fixed

[2016-01-08 19:17] davisagli opened #520 "Indexing broken due to incorrect work party dates"
I'm trying to set up a copy of VMS that is connected to the production database, in preparation for testing and launch. The indexer is hitting an error because there is at least one (migrated) work party with an end date before its start date.

@mscholtz is going to try to determine which record(s) have this problem so you can fix them.

[2016-01-08 19:35] davisagli commented on #520
These 3 work parties have their dates in the wrong order and need to be fixed:
https://wta.my.salesforce.com/a2mA00000009Fo7IAE
https://wta.my.salesforce.com/a2mA00000009FuXIAU
https://wta.my.salesforce.com/a2mA00000009DGjIAM

[2016-01-08 19:38] davisagli commented on #520
Looks like there is a validation rule which is supposed to prevent this, but it currently only fires when the end date is being changed, not when the start date is changed: https://wta.my.salesforce.com/03dA00000016Thr

[2016-01-08 19:58] davisagli commented on #520
Judging by the dates given in the names of those work parties, I think in all 3 cases the start date is supposed to be a month earlier. I will make that change now so I can proceed with setting up the site. Charlie, please review. Matthew is going to fix the validation rule.

[2016-01-08 19:58] mscholtz commented on #520
We need to change this validation rule.  I think we should simplify it so that it always enforces the order of the start/end.  If we have date/times, check the date/times, otherwise check just the dates.

Will make change in sandbox, and deploy to production later w/ everything else

@WaBirder57 please reassign this ticket to me when you're done fixing those records

[2016-01-08 20:08] ebskopin commented on #509
Ah, thanks for the reminder. I did some editing of the field, as did she, so there was likely something in place that didn't create the WP Volunteer Certification record. I've updated her WP Volunteer Certification and the error is no longer thrown.

[2016-01-08 20:08] #509 closed

[2016-01-08 20:17] davisagli commented on #506
@smcmahon http://vms.wta.org is working now, but https://vms.wta.org shows the wta.org homepage rather than VMS. The CloudFlare certificate is for *.wta.org so in theory we should be able to use it for both, but I'm not sure if we need to fix something in CloudFlare configuration (which I don't have access to presently) or apache configuration. Any ideas?

[2016-01-08 20:21] ebskopin commented on #508
gotcha, thanks.

[2016-01-08 20:21] #508 closed

[2016-01-08 21:12] ebskopin commented on #446
closing, a few more edits needed but will write new ticket likely w/ lower priority.

[2016-01-08 21:12] #446 closed

[2016-01-08 21:59] ebskopin commented on #424
I've tried to test this and am not having any luck. One question, does the WP need to be in the "Published" state for the reminder emails to issue? @drewpiston

[2016-01-08 22:28] ebskopin opened #521 "VMS: Need validation that work party has an end date"
When attempting to view my "Completed" or "Summary Report Needed" WPs in my MBP account I receive the following error:

![image](https://cloud.githubusercontent.com/assets/14843712/12211133/f0b73544-b613-11e5-9e65-43717c1c9236.png)

I am working with this MBP account: https://cs9.salesforce.com/003K0000015g4x9.

[2016-01-08 22:29] smcmahon commented on #506
We ought to be able to do it via apache. Right now we're seeing www because it's the default site for the IP.

What do we need to reverse proxy (port)?

[2016-01-08 23:55] davisagli commented on #521
Looks like it's breaking when there are no results.

[code]

[2016-01-09 00:08] drewpiston commented on #424
Hi @ebskopin ,

That one is dependent on a scheduled job, which evidently was set to expire sometime last year. I re-scheduled the job, so you should be able to test now.

Cheers,
 Drew

[2016-01-09 00:15] davisagli commented on #521
Ah no, actually it's an error in the VMS app when it tries to read the user's work parties, and that error was not being reported in a useful way. The real problem is that this work party is missing an end date: https://cs9.salesforce.com/a2eK00000000tppIAA

(@mscholtz shouldn't we have a validation rule to prevent that?)

[2016-01-09 00:26] davisagli commented on #506
@smcmahon I got it working by adding this to the existing SSL VirtualHost:

        RewriteCond %{HTTP_HOST} ^vms.wta.org$
        RewriteRule ^/(.*) http://127.0.0.1:6543/$1 [L,P]

[2016-01-09 00:28] smcmahon commented on #506
Looks good.

[2016-01-09 01:13] WaBirder57 opened #522 "VMS: MyBackpack Crew Corner Lists of My Workparties - filter + sort order"
When a logged in Crew Leader go to MyBackpack, Crew Leader Corner, My Work Parties there are a couple fixes needed in the List of work parties for that person.

The drop down for "Summary Reports Needed" should only show work parties for that Crew Leader which need a summary report.  Right now it shows all work parties which need a summary report.

The list of WP should be sorted by start date wit

[2016-01-09 01:19] mscholtz commented on #424
Drew, which class are we talking about here?  I want to double check that
it's on my list to schedule in production.

On Fri, Jan 8, 2016 at 4:08 PM, drewpiston <notifications@github.com> wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-09 01:21] drewpiston commented on #424
Class is WTA_VMS_WP_Email_Alert_Batch.

--
www.drewpiston.com

On Fri, Jan 8, 2016 at 5:19 PM, Matthew Scholtz <notifications@github.com>
wrote:

[2016-01-09 01:27] WaBirder57 opened #523 "VMS: MyBackpack Crew Corner Lists of My Workparties - info displayed"
For a user in MyBackpack when viewing the list of their workparties (for all users) the list view should include the following fields:
Crew Leader
Description

![mybackpackworkpartlist](https://cloud.githubusercontent.com/assets/8312206/12213457/1c033e0a-b62d-11e5-98c6-7397b01f2ec9.JPG)

[2016-01-09 01:39] WaBirder57 opened #524 "VMS: WP Message to Crew from Summary Report, email has typo"
When a Crew leaders completes a WP summary report and sends a message to the crew there are 2 fixes needed in the email that is generated:

   1)  In the 2nd bulleted item there is an extra period at the end of the first sentence (Find your next work party).
    2) In the last bulleted item, insert a hyperlink for "Join and make a donation" to this URL:
http://www.wta.org/volunteerjoin

[2016-01-09 01:45] WaBirder57 commented on #524
Here is a screen shot of the current message with the typos.
![crewleaderthankyou](https://cloud.githubusercontent.com/assets/8312206/12213566/9f4ff85a-b62f-11e5-9bb6-99094f3dc1f9.JPG)

[2016-01-09 02:21] davisagli commented on #524
You can edit the footer for this email in this Custom Label: https://cs9.salesforce.com/101K0000000JnsF

[2016-01-09 02:46] davisagli commented on #73
Okay, this is done. The value of the Photo Caption field on the work party will be shown overlaid on the work party's image in the main work party view. In the work party search listing, the caption/credit is not shown (since there's less space) but will appear as a tooltip when the cursor rests over the image. Reports now have a field to input a caption/credit which is displayed with the image.

[2016-01-09 06:06] davisagli commented on #497
I started setting this up but the Required Document layout in production Salesforce doesn't show the fields I need to set for the parental release. @mscholtz did you miss deploying that page layout?

[2016-01-10 04:27] davisagli commented on #516
I changed the field length in the vms2 sandbox and production SF, and updated the length at which the title is truncated by the nightly batch upload from Plone.

[2016-01-11 18:33] mscholtz commented on #497
Possibly.  But it's really easy to add fields to a layout.  Could you or
Charlie do that today?  I am travelling most of the day today.

On Fri, Jan 8, 2016 at 10:06 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-11 20:09] ebskopin opened #525 "VMS: Additional Text to Certifications tab in My Backpack"
We would like to add the following text to the "Certifications" page on the My Backpack page (pertains to ACLs & CLs):

![image](https://cloud.githubusercontent.com/assets/14843712/12244929/c5a5d3c6-b85a-11e5-9d85-06a802023b56.png)

"Please e-mail volunteer@wta.org to update your certifications and add new certifications."

If it is possible to simply insert an editable text box that would be idea

[2016-01-11 20:25] drewpiston commented on #517
Done! No errors thrown when a WP Registrant doesn't have an email, and the process builder now respects the Email Opt Out field.

[2016-01-11 20:27] drewpiston commented on #517
@ebskopin If you want to review this one, just make sure that:
a. The system doesn't throw an error if someone without an email gets registered for a WP
b. If someone with an email registers, but that someone has "Email Opt Out" checked, they don't get a confirmation email.

[2016-01-11 20:44] ebskopin opened #526 "VMS: Photo Credits Not Displaying"
A few instances in which the photo credits need to be displayed on the image:

The VMS Banner: Here is the current banner (http://mybackpack.wta.org/volunteer/vms-banners/vms-banner). Image caption is entered but does not appear anywhere on the actual banner -
![image](https://cloud.githubusercontent.com/assets/14843712/12246030/e4d9cc42-b860-11e5-90ae-f58953ff3023.png)

Crew Leader Corner Landing

[2016-01-11 20:54] davisagli commented on #506
@WaBirder57 there is now an instance of VMS running at https://vms.wta.org which is connected to your production Salesforce instance. It's also connected to the live website for logging in, so you'll need to log in with your real wta.org accounts.

This is running on the production webserver and I anticipate turning it into the real live copy of VMS when we're ready to complete launching. Feel fre

[2016-01-11 20:58] davisagli commented on #497
@WaBirder57 the parental release form should be set up correctly in your production DocuSign account now. I wasn't sure if it was okay to touch the existing parental release there, so I added a new template called Work Party Parental Release which is used by a new Powerform.

To test this you'll need to have someone complete the parental release on the live VMS site (vms.wta.org) and confirm that

[2016-01-11 21:09] WaBirder57 commented on #506
I assume that vms.wta.org is open to the public at this point and that any one could stumble across this or perhaps google it.  We aren't too worried about folks stumbling across this but I just wanted to verify my assumption on this.

[2016-01-11 21:09] #506 closed

[2016-01-11 21:12] davisagli commented on #506
That's correct. Would you like me to add a robots.txt to block search engines from indexing it for now?

[2016-01-11 21:18] WaBirder57 commented on #506
Sure that would be good.  Thanks for thinking of this.

[2016-01-11 21:21] ebskopin opened #527 "VMS: Edits to Crew Corner Banner"
Is the Crew Corner banner something that we can edit?

![image](https://cloud.githubusercontent.com/assets/14843712/12246912/04d8bed6-b866-11e5-9511-708557fda5f4.png)

If not, we would like the text to read: "You must be part of this crew and have a My Backpack account to see the Crew Corner." And it would be nice to have this image - http://www.wta.org/go-hiking/trip-reports/trip_report.2015-08-0

[2016-01-11 21:30] davisagli commented on #506
Okay, robots.txt is in place.

I noticed there's an issue with logging in to vms.wta.org; it doesn't redirect back to VMS correctly. I'll look into it.

[2016-01-11 22:45] davisagli commented on #488
fixed

[2016-01-11 22:46] davisagli commented on #527
We haven't set it up to be editable at this point. I made these quick changes.

[2016-01-11 22:50] WaBirder57 commented on #488
Tested on vms.wta.org.  Works great and includes just the test.  I didn't verify yet to make sure that any special event directions are included, eg Work party breakfast.

[2016-01-11 22:51] davisagli commented on #488
Currently it just includes the trailhead directions.

[2016-01-11 22:53] WaBirder57 commented on #488
Can you easily add any text from the special event info that would be displayed on that location tab of the workparty page also?

[2016-01-11 22:54] davisagli commented on #488
How do you want the email formatted? Any text introducing the second set of directions?

[2016-01-11 22:58] davisagli commented on #468
This was implemented as story 330 and can be tested on mybackpack.wta.org

[2016-01-11 22:59] davisagli commented on #146
@cewing did your test improvements ever get merged?

[2016-01-11 23:00] WaBirder57 commented on #488
Here is an example of the Work Party this this Special Event directions.  If you can capture all that text which displays on the web page that would be great.

HEre is the Salesfroce URL: https://cs9.salesforce.com/a2eK00000000kDK

Or webpage: http://staging.wta.org:6543/workparty/a2eK00000000kDK/

[2016-01-11 23:01] davisagli commented on #488
@WaBirder57 can you please be more specific about what you mean by "all that text"? If you could give an example of the email you would expect to receive for that work party, that would be perfect.

[2016-01-11 23:04] WaBirder57 commented on #468
Should we put this portlet on vms.wta.org?  It seems to work great on mybackpack.wta.org

[2016-01-11 23:04] #468 closed

[2016-01-11 23:05] davisagli commented on #468
you mean on www.wta.org. I'll deploy it there as part of the final launch next week.

[2016-01-11 23:07] cewing commented on #146
Not yet.  I can do that this week.  Sorry I let it slip.

[2016-01-11 23:08] WaBirder57 commented on #468
Here is an example of what I currently received with the new info at the bottom.  Note if you could improve the time formatting that would make this more readable also:

Subject: Directions for TEST Day Work party - Taylor Mountain

Charlie Kahle sent you directions to the TEST Day Workparty - Taylor Mountain work party on 2016-02-29T08:30:00-08:00.

From I-90 take exit 17 (Front Street), and turn

[2016-01-11 23:09] davisagli commented on #468
Got it, thanks.

[2016-01-11 23:10] davisagli commented on #488
Charlie posted on a different ticket:

Here is an example of what I currently received with the new info at the bottom. Note if you could improve the time formatting that would make this more readable also:

Subject: Directions for TEST Day Work party - Taylor Mountain

Charlie Kahle sent you directions to the TEST Day Workparty - Taylor Mountain work party on 2016-02-29T08:30:00-08:00.

From I-90

[2016-01-11 23:11] davisagli commented on #490
I removed that line.

[2016-01-11 23:32] ebskopin commented on #527
thanks, looks good.

[2016-01-11 23:32] #527 closed

[2016-01-11 23:42] WaBirder57 commented on #497
Where do I launch the Parental Release form to test in this vms.wta.org?

[2016-01-11 23:45] davisagli commented on #497
You would need to set up a work party using a work party type that requires the Parental Release document, then register a contact under 18 for it and go to the documents tab.

[2016-01-11 23:56] ebskopin opened #529 "VMS: Suppressing "Hiking Guide Summary" under Trail Segment"
Currently there is a "Hiking Guide Summary" field on the Trail Segment object in Salesforce. Currently this information is displayed in VMS at the bottom of the Info tab in the "From the Hiking Guide" section.

This information is basically a duplicate of what we want to show in the "About the Area" field that is on the Work Party object and is displayed toward the top of the Info tab.

Here is an

[2016-01-12 00:10] davisagli commented on #488
okay, updated

[2016-01-12 00:21] ebskopin commented on #488
works, thanks.

[2016-01-12 00:21] #488 closed

[2016-01-12 00:40] ebskopin commented on #490
Thanks. I've updated the ipsum text.

[2016-01-12 00:40] #490 closed

[2016-01-12 00:43] ebskopin opened #531 "VMS: My Backpack menu differs"
Might be the nature of the different systems, that will be remedied upon launch, but Rebecca reports:

Once you have logged into My Backpack, the My Backpack menu you can access from the upper right looks different depending on where you're at on the site. It should look the same, regardless of whether you are "in" My Backpack or are on the Find a Work Party page (or elsewhere).

Here is a screen

[2016-01-12 00:47] davisagli commented on #531
This will take some work. The pyramid app currently has just a few hardcoded links for that menu rather than loading all the menu items from Plone.

[2016-01-12 00:49] davisagli commented on #490
@ebskopin did you update it on the staging or live copy of VMS?

[2016-01-12 00:51] ebskopin opened #532 "VMS: Find a Work Party button added to My Work Parties"
In order to make My Backpack a "one-stop shop" for our crew leaders, it would be good to have a "Find a Work Party" button (location indicated below) that would navigate from the "My Work Parties" page to the "Find a Work Party" window.

![image](https://cloud.githubusercontent.com/assets/14843712/12251408/9c85f8d0-b883-11e5-8adc-1de763cc4079.png)

[2016-01-12 00:53] ebskopin commented on #490
staging, should I be editing in live VMS now?

[2016-01-12 00:54] davisagli commented on #490
You can edit text on vms.wta.org now; it's the site that we will actually launch.

[2016-01-12 00:59] ebskopin commented on #490
got it. will do

[2016-01-12 01:25] WaBirder57 commented on #506
I assume this problem is what is giving us problems actually registering for a work party on vms.wta.org.  If that is a different issue let us know and we can log it.

[2016-01-12 01:32] davisagli commented on #506
@WaBirder57 you haven't described the registration issue so I don't know if it's the same. probably not. please file it as a full ticket describing what you did and what the problem was.

[2016-01-12 01:37] drewpiston commented on #366
I'm getting a weird error I've never seen before when I try to save the template:
"Your template contains active content, which can't be verified as safe."

I'll keep looking into it.

[2016-01-12 01:43] cewing commented on #146
With the fixes in PR #533 here is our coverage report:
[code]

[2016-01-12 01:43] ebskopin opened #534 "VMS: Live Site Login & Register Error"
When attempting to login to My Backpack, click the "Join Work Party" button on the vms.wta.org site the following error occurs:

![image](https://cloud.githubusercontent.com/assets/14843712/12252298/d2cec80c-b88a-11e5-9b58-15684c34ce62.png)

[2016-01-12 01:46] ebskopin commented on #506
@WaBirder57 Wrote a ticket for what I'm experiencing

[2016-01-12 01:51] WaBirder57 opened #535 "VMS: vms.wta.org My Backpack Login error"
When I go to vms.wta.org and click on My Backpack / Login I get directed to the URL:  http://127.0.0.1:6543/

Returns the Page can not be found error.

[2016-01-12 01:52] cewing commented on #535
This is a duplicate of the error reported in #534

[2016-01-12 01:52] #535 closed

[2016-01-12 01:53] WaBirder57 commented on #535
Opps, thanks.  Elliott was quicker than me.  Sorry not to have checked first.

[2016-01-12 01:56] drewpiston commented on #366
Ok, got it figured out! A rogue space was causing it.

This is ready for testing.

[2016-01-12 01:59] davisagli commented on #506
Fixed

[2016-01-12 01:59] davisagli commented on #534
fixed

[2016-01-12 17:06] ebskopin commented on #534
working, thanks.

[2016-01-12 17:06] #534 closed

[2016-01-12 17:49] davisagli commented on #522
Should work now.

[2016-01-12 17:58] ebskopin opened #536 "VMS: Invite from Waitlist notification E-mail for Staff"
@mscholtz The notification e-mail to staff alerting them to the fact that someone should be invited off the waitlist for a workparty seems to be tied to the "Remaining Spots for New Registrants" field in the WP and only issues when this value is greater than 0. This presents a problem, because when there is a waitlist, this value is often a negative value, and staff are not alerted when there is i

[2016-01-12 18:02] davisagli commented on #511
Okay. As long as you made the change in both Salesforce instances it doesn't sound like any action is required.

[2016-01-12 18:02] #511 closed

[2016-01-12 19:17] WaBirder57 opened #537 "VMS: Question on recommended flow for Youth Vacations"
Youth Vacations follow a different flow for processing registrations which we didn't have budget to specifically build into this first version of VMS.  I wanted to review this flow to make sure I am not overlooking some feature of VMS that will provide unexpected (overlooked) behavior.

The basic concept is the participants for Youth Vacations in 2016 will submit an application (Online form via ou

[2016-01-12 19:40] ebskopin opened #538 "VMS: All participants in Crew Corner Roster viewable to ACLs"
This may contradict previous thinking, but all individuals registered for a WP (whether the ACL is registered or not) should be visible to ACLs on the Crew Corner Roster (presently only fellow ACLs and CLs are displayed). This links associated with peoples names should not be clickable by ACLs, however.

[2016-01-12 19:53] WaBirder57 commented on #497
The Parental Release form is not attached to the SF Contact (youth).  Here is the testing process:

First: I made a new contact, Sixteen Yearoldboy in the production site to test the form.

When signed in to My Backpack, I clicked "Join this work party" and was immediately taken to this page: http://vms.wta.org/workparty/a2mA00000009HNr/register

Clicking "Complete Online" took me to this page to

[2016-01-12 20:02] WaBirder57 commented on #497
Please note that we will be changing the Parental Release for to one that is valid for the full year for a work party any where in the state and not a specific trail.

[2016-01-12 21:01] WaBirder57 opened #539 "VMS: Parental Relase form updated and moved to final resting place"
The 2016 Parental Release form has been updated to removed the reference to a specific work party.  This single for is good for the full year and at any location in the state.  The PDF document is located at: http://www.wta.org/volunteer/documents/2016-youth-parental-release-form/at_download/file

VMS links to this file need to be updated to point to this final location and updated document.  Exam

[2016-01-12 21:18] davisagli commented on #539
VMS gets the links for the parental release form from this record in Salesforce: https://wta.my.salesforce.com/a37A0000000GcKN

So you can update the Printable Form Link there. (However, I thought you had decided not to use the printable forms.)

However the copy of this document that is actually used for online signing is the "Work Party Parental Release" template in your DocuSign account. That's

[2016-01-12 21:24] davisagli commented on #537
I think that sounds workable. You'll want to try it out on the staging site to make sure it works. @mscholtz should probably look this over too.

[2016-01-12 21:49] davisagli commented on #497
@WaBirder57 It actually did work when you filled it out via the PowerForm. But you can't see that because the "Parental Release Date" field and "Parental Releases" related lists aren't currently visible on the Contact page layout. (It's a different related list than the one where you usually see docusign forms, because the contact is related to the form as a youth rather than as a signer.)

You ca

[2016-01-12 22:07] WaBirder57 commented on #497
Ah, I didn't think to look for these fields/lists, I was just looking for Docusign info.  Thanks for point these out and I have update the Contact Layout.  .VMS2 and production are updated.

[2016-01-12 22:07] #497 closed

[2016-01-12 22:25] davisagli commented on #526
Both fixed.

For the VMS banner I wasn't sure if you wanted the credit at the bottom of the image since it might distract from the other text overlaid on the image, so I made it a tooltip instead. Hope that's all right.

I also copied that VMS banner to the live website (http://www.wta.org/volunteer/vms-banners/welcome) so it appears on the live copy of VMS.

[2016-01-12 22:30] davisagli commented on #529
I removed display of the Hiking Guide Summary from the work party page in VMS.

[2016-01-12 22:44] davisagli commented on #538
Okay, should work like this now.

[2016-01-13 00:37] WaBirder57 commented on #477
I changed the priority to Medium as this doesn't need to be fixed before VMS goes live.  We are slowly working through these and have complete those users who seem most active users of My Backpack so their info will sycn with Salesforce.

[2016-01-13 01:07] WaBirder57 opened #540 "VMS: Launch to do: VOLS/PERL auto reminder emails shutdown"
After we go live with the new VMS system we are planning on leaving vols.wta.org running so that we can refer back to information there.  To do this we will need to make sure that reminder emails for work parties are no longer send from VOLS but rather from the new VMS.

Does anyone know how to turn these off?  If so can you add this to your launch to do list.

[2016-01-13 02:22] davisagli commented on #540
I don't think any of us knows much about how VOLS does things.

#413 discusses some workflow email alerts that may need to be deactivated. Are you talking about those or something else?

[2016-01-13 02:50] mscholtz commented on #536
@ebskopin I will review this.  But just wanted to check: the steps in your screenshots start w/ D, are we missing steps A, B, and C?

[2016-01-13 02:52] mscholtz commented on #497
Yes, David is right.  We left the contact layout in production set to the old pre-VMS layout at Elliot's request.  We can cut over to the VMS-friendly layout at any time, but certainly should do so when we launch if not before.

[2016-01-13 17:50] WaBirder57 commented on #522
Looks good, thanks.

[2016-01-13 17:50] #522 closed

[2016-01-13 17:55] davisagli opened #541 "Confirm setup of FormAssembly forms"
@WaBirder57, I noticed that the FormAssembly-based Required Documents (Medical History and Backcountry Experience) have the same Form Link URL entered in production SF as in the sandbox.

I suspect that those forms are still configured to submit data to the sandbox, not to production SF. Is that true, and if so are you planning to update them to submit to production, or create new forms that submi

[2016-01-13 18:06] davisagli opened #542 "Set up live Click and Pledge configuration"
I looked over the launch tasks listed in Teamwork and don't see anything about configuring your live Click and Pledge account to match the configuration that was done in Percolator's test account that we used for the staging site. Who is responsible for this? Percolator set this up before and I don't know in detail what needs to be done.

I will need the CnP account ID and GUID to finish configuri

[2016-01-13 18:12] davisagli opened #543 "Request higher Salesforce API call quota"
@WaBirder57, we had discussed requesting a temporary increase in Salesforce's limit on API calls for the first few weeks that the live copy of VMS is running, until we have a better idea of what typical usage looks like and can figure out if we need to pay for more calls permanently or optimize the system.

Can you make this request to your account rep?

Your current limit is 36,000 per 24 hours (

[2016-01-13 18:26] davisagli commented on #529
I also adjusted the help text in both Salesforce instances.

[2016-01-13 18:27] ebskopin commented on #529
Thank-you. Looks good.

[2016-01-13 18:27] #529 closed

[2016-01-13 19:02] ebskopin commented on #526
That looks good. Thanks.

[2016-01-13 19:02] #526 closed

[2016-01-13 19:11] ebskopin commented on #521
Huh, good catch.  When I adjusted that work-party my completed work parties displayed properly.  I agree that there should be a validation rule preventing that...

[2016-01-13 19:39] WaBirder57 commented on #542
What is the best way to get this info to you?

[2016-01-13 19:47] WaBirder57 opened #544 "WTA Website - New Logo Needed on Jan 15th"
(From Loren)
@KindraRamos
By noon on Jan 15, we need to replace the logo file here (http://www.wta.org/logo.gif) with the attached logo (Note: the source file is a gif, and I've attached both jpeg and gif versions - not sure if that matters)

I'd also like to replace the website tab icon with the attached logo mark (named bug) at the same time.

If it can happen easily at the same time, I would lo

[2016-01-13 20:21] ebskopin commented on #538
Works, thanks.

[2016-01-13 20:21] #538 closed

[2016-01-13 20:21] skleinfeldt commented on #544
1. This work should be reported on the WTA Support Freshbooks project
2. The actual switch needs to happen around 11AM Pacific on Friday Jan 15

@davisagli how should we do this?
- swap the new logo/favicon for the old one in the location that exists now and deal with improvements later
- change where the theme finds the logo so that it can be content, and explain this to Loren so that she can do

[2016-01-13 20:28] ebskopin commented on #500
fixed

[2016-01-13 20:28] #500 closed

[2016-01-13 20:46] ebskopin commented on #485
These features now work.  Thank-you.

[2016-01-13 20:46] #485 closed

[2016-01-13 21:55] WaBirder57 commented on #543
Thanks for the reminder.  I have sent off this request.

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday, January 13, 2016 10:12 AM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: [vms] Request higher Salesforce API call quota (#543)

@WaBirder57 <https://github.com/WaBirder57> , we had discussed requesting a temporary increase in Salesforce's limit on API calls for the fir

[2016-01-13 22:06] davisagli commented on #544
I'll work on preparing this tomorrow. I might be able to set it up to load these from content items, but this isn't much advance notice and I have other tasks on my plate too, so we may have to settle for just swapping out the files in the theme for now.

After this change the desktop header will look like this:
![screen shot 2016-01-13 at 2 04 14 pm](https://cloud.githubusercontent.com/assets/490

[2016-01-13 22:10] davisagli commented on #542
You can post it in Teamwork

[2016-01-13 22:33] KindraRamos commented on #544
Thanks David - I really appreciate you getting to this at such a busy time. The mobile looks great but the desktop header looks like it is squishing the logo. Let me know if you need us to send you a file that is cropped differently? Thanks again!

[2016-01-13 22:50] davisagli commented on #544
@KindraRamos Ah, you're right, the new logo is a different aspect ratio than the space in the header that holds it. The space is 114 pixels wide by 132 pixels tall so if you want to prepare a file at that aspect ratio I can use it. Or I can take care of that and just leave a bit more white space between the logo and the banner.

[2016-01-13 23:07] KindraRamos commented on #544
Thanks David if you can fix it with a bit more white space that is fine, as long as it is the right shape and center anchored (so it doesn't look like it is floating).

[2016-01-13 23:23] drewpiston commented on #517
@mscholtz  -- actually, I don't think that the Process Builder should respect the Email Opt Out field. I don't think that workflows do that automatically, I think that field is just for use in mass email filtering. Let me know what you think.

[2016-01-14 02:04] mscholtz commented on #521
I looked into this, and we did originally have a validation rule for this, but it was deactivated back in April because we wanted the End Date to be able to be set based on the default in the WP Type.  And if it's always required, that won't work b/c you have to save it initially without any value.
https://www.scrumdo.com/projects/project/wta/iteration/126630#story_923618

However, it is required

[2016-01-14 02:22] mscholtz commented on #542
I already did this when I did the initial deploy.  You don't necessarily
see completed tasks in TW unless you click the Completed Tasks link at the
bottom of a task list.  (We're ditching TW this year, BTW..)
https://percolator.teamwork.com/tasks/4449347

It wouldn't hurt to have another set of eyes on it, if you want to make
sure I didn't miss anything, Charlie.

On Wed, Jan 13, 2016 at 2:10 PM,

[2016-01-14 02:24] mscholtz commented on #517
@drewpiston yep, you're right.  I guess it's up to you, @ebskopin and @WaBirder57 .  If someone is flagged Email Opt Out, do you want them to get these emails?

[2016-01-14 04:10] mscholtz commented on #520
The validation rule has been adjusted.  It now fires whenever a WP is changed, and makes sure that both if there are no times entered, that the dates aren't backward.  Should be good now.

[2016-01-14 04:37] WaBirder57 commented on #517
Yep you are right,  good catch.  They should still get these emails even if
email opt out is checked .  That is the way it works currently.

Charlie
On Jan 13, 2016 6:24 PM, "Matthew Scholtz" <notifications@github.com> wrote:

[2016-01-14 07:27] cguardia commented on #523
Fixed on master.

[2016-01-14 08:13] cguardia commented on #532
Fixed on mybackpack-buildout branch.

[2016-01-14 08:33] cguardia commented on #525
@davisagli if we use the textbox, where would you say it should go?

[2016-01-14 17:55] davisagli commented on #542
Ah, good. I did miss that in Teamwork. (Have you selected something to replace Teamwork?)

Charlie should probably test registering for a paid work party on vms.wta.org once I have the account IDs set up, to confirm all the pieces are in place.

[2016-01-14 17:59] davisagli commented on #525
@cguardia I think he's talking about one of the configurable help text components that we have in the Pyramid app, but not in Plone. So don't worry about that part for now and just add the hardcoded help text.

[2016-01-14 18:09] davisagli commented on #521
Got it. Looks like part of the problem is that this screen was including Planning work parties when it should only include Published. Fixed.

[2016-01-14 18:21] WaBirder57 commented on #541
We created (copied existing ones) new Form Assembly forms for use for VMS production.  Here are there names and the URL's to use.  Can you update vms.wta.org to use these new URL, thanks.

WTA Volunteer Medical Form - Production
https://www.tfaforms.com/405830

Back country Experience - Production
https://www.tfaforms.com/405819

Volunteer Questionnaire - Production
https://www.tfaforms.com/rest/f

[2016-01-14 19:41] WaBirder57 commented on #542
I have updated this task in TW with Information on the following, anything else needed?

https://percolator.teamwork.com/tasks/4449347

WTA C&P Account
​C&P API (PaaS / FaaS): Account GUID​:

[2016-01-14 20:03] WaBirder57 opened #546 "VMS: Salesforce Permission sets question"
@mscholtz @davisagli If we restrict access to certain information, such as the Medical Forms, and then set up a Permission Set for those individual SF Users who need access will this impact programmatic access to this information?

[2016-01-14 20:09] davisagli commented on #523
@cguardia can you point me to the commit; I can't find it.

[2016-01-14 20:12] WaBirder57 commented on #543
Looks like they will give us a 30day trial with 100,000 API calls per day.  Once we nail down our launch date (looking like Jan 25th) I will ask them to start then.

[2016-01-14 20:12] davisagli commented on #543
Perfect! thanks.

[2016-01-14 20:54] cguardia commented on #523
@davisagli sorry, pushed to my issues/531 branch by mistake. I pushed to mybackpack-buildout now.

[2016-01-14 21:20] cguardia commented on #525
Fixed on mybackpack-buildout branch.

[2016-01-14 22:01] mscholtz commented on #546
As long as you don't change the permissions for the profile that VMS itself
is using, it shouldn't affect it at all.

On Thu, Jan 14, 2016 at 12:03 PM, Charles Kahle <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-14 22:08] davisagli commented on #531
@cguardia I had to do some more work to make sure that the nav JSON is not cached incorrectly in Varnish and to make sure that cookies are sent for the cross-origin ajax request. It's working now.

[2016-01-14 22:13] davisagli commented on #542
Okay, I've updated the live copy of VMS with those credentials.

[2016-01-14 22:19] davisagli commented on #541
@WaBirder57 you can update the Form Link field for these required document records in production SF:
https://wta.my.salesforce.com/a37A0000000GcKM
https://wta.my.salesforce.com/a37A0000000GcKL

And the Feedback Survey URL is in a custom setting which you can update here: https://wta.my.salesforce.com/setup/ui/listCustomSettingsData.apexp?id=a2z

[2016-01-14 23:16] davisagli commented on #92
Closing this as a duplicate of #477

[2016-01-14 23:16] #92 closed

[2016-01-14 23:27] davisagli commented on #319
Closing this since it's not actionable. Please reopen with info on how to reproduce the issue if you encounter it again.

[2016-01-14 23:27] #319 closed

[2016-01-14 23:38] drewpiston commented on #424
Hey @ebskopin ,

I think my testing instructions were wrong/unclear. It looks like we have some old fields on the WP Type (e.g., Send 1st Reminder Email, Days Prior) that are no longer used. Instead, to set this up, we need to actually create "Email Reminder" records as children of the WP Type, like this one:
https://cs9.salesforce.com/a30K000000022MM

@mscholtz , I think we should remove those ol

[2016-01-14 23:42] drewpiston commented on #94
Ready for review!

[2016-01-15 00:10] davisagli commented on #544
@KindraRamos for the logo in the footer do you want the margins around the shield transparent so the blue shows through?

[2016-01-15 00:27] KindraRamos commented on #544
It would be great if it didn't look like it was sitting on a white square.

[2016-01-15 00:28] davisagli commented on #544
@KindraRamos how's this?

![screen shot 2016-01-14 at 4 28 17 pm](https://cloud.githubusercontent.com/assets/49014/12342093/e153712c-badb-11e5-8d79-9587618b0bb3.png)

[2016-01-15 00:33] KindraRamos commented on #544
that works thanks

[2016-01-15 01:03] mscholtz commented on #424
If you can verify that they're no longer being used, then yes, we should
delete them.  If you do, can you send me a list of fieldnames you deleted
so I can do the same in production?

On Thu, Jan 14, 2016 at 3:38 PM, drewpiston <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-15 01:17] mscholtz commented on #542
@David, Asana is our new system.  It's much better!

On Thu, Jan 14, 2016 at 2:13 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-15 01:20] mscholtz commented on #536
@ebskopin bump..

[2016-01-15 07:46] mscholtz commented on #537
I don't see any major problems with what you describe, Charlie.  I'm not
sure I totally understand the flowchart, though.  It's not obvious to me
which parts are SF/VMS.

On Tue, Jan 12, 2016 at 1:24 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-15 17:18] davisagli commented on #544
@KindraRamos and Loren, I've got the new logo and favicon in place on http://staging.wta.org if you want to take a look, and I'm ready to deploy them to production at 11.

I did switch them to load from content items (/wta_logo.png and /favicon.png); however content images may be cached in users' browsers for up to 4 hours with no way to invalidate them if the image changes, so I'm going to take c

[2016-01-15 17:48] ebskopin commented on #536
Sorry for the delay.  That was a cut and paste and A-C are redundant.

[2016-01-15 17:59] skleinfeldt commented on #544
Awesome, thanks @davisagli

[2016-01-15 18:02] KindraRamos commented on #544
Thanks David

Kindra Ramos – director of communications and outreach

Washington Trails Association

wta.org * 206-965-8563

WTA is powered by hikers like you!

From: David Glick [mailto:notifications@github.com]
Sent: Friday, January 15, 2016 9:19 AM
To: washingtontrails/vms
Cc: KindraRamos
Subject: Re: [vms] WTA Website - New Logo Needed on Jan 15th (#544)

@KindraRamos <https://github.com/Kindr

[2016-01-15 18:56] ebskopin opened #547 "VMS: Special Event spot Font"
The driving directions for the Special Event spot does not display in the same font as the "main" driving directions that display on the Location tab. I see it as a smaller font size, which is not what we want.

See this example:

http://staging.wta.org:6543/workparty/a2eK00000000v2u#location
Here is the work party in Salesforce: https://cs9.salesforce.com/a2eK00000000v2u
Here is the special event

[2016-01-15 18:59] davisagli commented on #544
The new logo is live.

[2016-01-15 19:11] KindraRamos commented on #544
awesome thanks so much!

[2016-01-15 19:11] #544 closed

[2016-01-15 19:14] WaBirder57 commented on #541
Thanks again (sorry I spaced on those links).  We have it working now.

[2016-01-15 19:14] #541 closed

[2016-01-15 19:55] ebskopin commented on #532
looks good. Thanks for adding.

[2016-01-15 19:55] #532 closed

[2016-01-15 19:58] ebskopin commented on #531
Thanks. This looks good.

[2016-01-15 19:58] #531 closed

[2016-01-15 20:00] ebskopin commented on #525
Thanks.

[2016-01-15 20:00] #525 closed

[2016-01-15 20:02] ebskopin commented on #521
Looks good.

[2016-01-15 20:02] #521 closed

[2016-01-15 22:49] cguardia commented on #547
This work party has the text wrapped in a span tag with font-size of 12.8px. This is what makes it different from the special event text size (1em). All other work parties I checked do *not* have this text wrapped  in a span tag, so the main directions look the same as the special event text.

If the editor styles are used to set font size, there's no way we can keep up with that, even if we add a

[2016-01-15 23:56] ebskopin commented on #259
Still doesn't see to be working.

Recent Test (1/14):
Here's what the resulting email looks like: http://prntscr.com/9q8rbt
Here's what is in the summary report: http://prntscr.com/9q8rk5
Fyi, this is the link to the image I entered: https://usatftw.files.wordpress.com/2015/07/xxx_travel-kiawah-island-beach-17234_49734857.jpg?w=1000&h=600&crop=1

[2016-01-16 00:13] WaBirder57 opened #548 "WTA Plone Support: Need to be able to display a plone users log in name."
Users are having a challenge with our transition to the new Email log in systems especially as this is case sensitive. We don't have the ability to see the original email address that they used in Plone.

This may be an issue that only Jesse can help with but I would be interested to know if @davisagli (or others could help figure this out).

Here is an example screen shot for Bob Koreis.  When he

[2016-01-16 00:18] WaBirder57 commented on #537
Thanks for looking this over.  Eventually this may become a VMS 2.0 feature.  That is the ability to have applications which we assign to work parties or even have a lottery system to assign WP Slots to lottery winners.

[2016-01-16 00:18] #537 closed

[2016-01-16 00:22] WaBirder57 opened #549 "VMS: Pyramid Find a Work Party text seach questions"
The Find a Work Party has a text search field under the advanced search option.

Questions are:
1) What text is included in this search?
2) If the WP text is updated in Salesforce, how long before we should expect this to be searchable?  Say the crew leader for the WP changes.

[2016-01-16 00:32] WaBirder57 commented on #523
This is working now but we would like the formatting and information consistent with the Find a Work Party list.  Specifically:

•	"Leader" should say "Crew Leader"
•	The crew leader's name should be bolded
•	Underneath the description it displays "# volunteers." It would be much better if the display matched the "Find a Work Party page" where it displays "Crew Members: # (# youth)/# ACLs." THis i

[2016-01-16 00:36] davisagli commented on #259
The app doesn't know whether the URL that's entered is a direct link to an image, or a page that contains an image. So it guesses based on whether the URL ends with a common image extension like jpg/gif/png. And the URL you tested with doesn't meet that test because of the extra parameters.

It wouldn't be hard to take off the query string before checking for image extensions, if you want.

[2016-01-16 00:38] davisagli commented on #549
It currently includes all text fields that are fetched from Salesforce and indexed in elasticsearch for a work party, which is quite a few (but does not include names of registrants, only the leader). I can look up a full list if you want.

The index is currently updated once a minute, assuming something didn't break.

[2016-01-16 16:10] WaBirder57 commented on #549
Does this tool support search phrases in quotes?   Such as "lake meade".
Do you have a link to info on this elastic search so I can document it?
Thanks.
On Jan 15, 2016 4:38 PM, "David Glick" <notifications@github.com> wrote:

[2016-01-18 17:02] mscholtz commented on #536
Well diagnosed, @ebskopin!  This was indeed buggy in the way you suggested.  Fixed now, please try it again.

[2016-01-19 17:30] davisagli commented on #549
elasticsearch is a widely used and quite flexible search engine: https://www.elastic.co/products/elasticsearch

Yes, phrases in quotes should work. Try it on VMS staging and if it's not returning the results you expect, we can talk about how to tweak the search so it works better. We haven't spent time tuning elasticsearch but it can do a lot.

[2016-01-19 17:31] davisagli commented on #259
It now will ignore any query string when checking for an image extension.

[2016-01-19 17:54] WaBirder57 commented on #549
Thanks for this info.

[2016-01-19 17:54] #549 closed

[2016-01-19 17:58] davisagli commented on #547
I edited the trailhead directions for that work party to remove the font that was hardcoded in the field value in Salesforce.

I also adjusted the work party view to automatically add paragraph tags to both of these fields in the same way that we do for the fields shown on the Info tab.

[2016-01-19 18:26] davisagli commented on #523
Okay, updated

[2016-01-19 18:39] WaBirder57 commented on #523
Looks great, thanks.

[2016-01-19 18:39] #523 closed

[2016-01-19 18:55] davisagli commented on #548
Bob's email address is currently set to robertkoreis@gmail.com so he should be able to log in with that email address. Is that not working?

It's a good point that it could be easier for you to see a user's email address / login name, since you currently have to click through to their profile form. This has actually been improved in Plone 4.3 (it now shows the login name instead of the internal us

[2016-01-19 18:55] WaBirder57 opened #550 "VMS: Crew Corner resource documents list."
Currently we do not have a place in VMS to share documents with Crew Leaders and ACLs that are not specific to a work party.  An example would be a link to How To documents for CL/ACL's or Incident Report Forms, Crew Leader Handbook, etc.

Is it possible to add a new item in My Backpack that would link to shared google documents foler which would be visible for CL, ACL and Admin. This could be cal

[2016-01-19 18:59] davisagli commented on #550
The solution I would recommend is:
1. Have us set things up so that users with a VMS Permission Level of Crew Leader or Assistant Crew Leader automatically get placed in a Plone "Leaders" group.
2. Set up a Leader Resources folder in Plone that is private, but has read access shared with the Leaders group.

How does that sound? A google drive folder would work, but requires you to set up access fo

[2016-01-19 19:37] WaBirder57 commented on #550
Sounds like your suggestion using Plone groups is the way to go.  In talking with Loren I learned this came up during our Plone training.

We would like to have Plone groups for the following 3 types of users as identified in Salesforce.
Members
ACL or CL
Hiking Guide Correspondent

As I understand this, membership in these plone groups would change based on the values of the corresponding Salesfo

[2016-01-19 20:31] mscholtz commented on #505
@WaBirder57 is it ok if this waits for phase 2 at this point?  We need to start working on launch ASAP.

[2016-01-19 20:33] mscholtz commented on #387
closing this because we're working on documentation now in a separate effort

[2016-01-19 20:33] #387 closed

[2016-01-19 20:36] mscholtz commented on #421
@ebskopin can you tell me what emails these were?  Looks like the first two were messages to crew?  (Were they sent from SF or from VMS?  Stand-alone or as part of submitting the report?)  Or is the first one the automatic carpool message?  And can't tell what the last one is.

Thanks!  Need this info ASAP if possible.

[2016-01-19 20:47] drewpiston commented on #517
Thanks! This is ready for review -- I've taken out the logic that prevented emails to people with Email Opt Out checked.

[2016-01-19 20:50] ebskopin commented on #421
Ok.

1st is from the newly created carpool e-mail. Would have been issued after an updated made in VMS.

2nd is the result of the CL posting on the crew message board on VMS for this wp (http://staging.wta.org:6543/workparty/a2eK0000003OycS/).

3rd is, again, from the Carpool e-mail (issued upon adjustments made to the list on VMS).

[2016-01-19 21:04] WaBirder57 commented on #505
OK, we will work around this.  Perhaps by having temp crew leaders that we will use (eg "WTA Staff") until we are ready for the email to be send to the real crew leaders.

I changed the priority on this to Medium but we would like to work on this prior to a "phase 2" version of VMS if that is possible.

[2016-01-19 21:12] ebskopin commented on #547
Thanks. Looks good.

[2016-01-19 21:12] #547 closed

[2016-01-19 21:16] ebskopin opened #551 "VMS: Youth Volunteer Vacation Apply Button"
For youth volunteer vacations, we would like the "Join Work Party" button to read "Apply" and link directly to the youth application - http://www.wta.org/volunteer/youth/youth/Youth-Volunteer-Vacations-Application

People interested in attending these events will not access the normal registration processes, and will instead be registered by staff via Salesforce.

[2016-01-19 21:22] davisagli commented on #551
How do we tell if the work party is a youth volunteer vacation? When the Work Party Type's name equals "Youth Vacation"? I see there is also a work party type in production SF called "Youth Vacation - backcountry", so maybe it should be when the Work Party Type's name *starts with* "Youth Vacation"?

I assume that if the user is logged in as someone who was already registered by staff in Salesforc

[2016-01-19 21:32] mscholtz commented on #442
@ebskopin it looks like this was done.  Was this you?  Is it all working?  Can we close this ticket?

Also there are two workflow field updates in there, one of which is not currently being used in a rule.  Can I delete the unused one?
https://cs9.salesforce.com/04YK000000093B4
https://cs9.salesforce.com/04YK000000093Ap

[2016-01-19 21:40] ebskopin commented on #442
Still not working. I'm gonna talk to Aaron in a second and get is resolved. Once I've got it working I will let you know and can delete the unused rule.

[2016-01-19 21:42] ebskopin commented on #551
Correct, when WP type equals "Youth Vacation." I have removed the "Youth Vacation - backcountry" wp type in production. All will be under on moniker, "Youth Vacation."

Yes to all that you said in your second paragraph.

[2016-01-19 22:44] ebskopin commented on #334
This is working.

[2016-01-19 22:44] #334 closed

[2016-01-19 23:19] ebskopin commented on #442
Working now.

Ok, I deleted the workflow field that was not being used.

Here is the Process Builder Flow which we created in the VMS2 sandbox:

VMS Set Initial Show Space Remaining in VMS Value

https://cs9.lightning.force.com/processui/processui.app?retURL=%2Fui%2Fsetup%2FSetup%3Fsetupid%3DWorkflow&setupid=ProcessAutomation

When a new Work Party is created, this flow is launched and it will set

[2016-01-19 23:34] drewpiston commented on #424
Ok, I deleted:
Send_1st_Reminder_Email_Days_Prior__c
Send_2nd_Reminder_Email_Days_Prior__c

I'll push to git, too.

[2016-01-19 23:37] mscholtz commented on #421
These are all from SendGrid.  The carpool one should definitely use the generic address.  For crew leader messages, not as clear since there was an idea earlier that crew should be able to respond directly to the CL.

Elliot is checking on this, but is dubious that we should be giving out email addresses of CLs.  Holding off until we get confirmation.

[2016-01-19 23:47] ebskopin commented on #421
Ok. Let's go with generic address for all.

In the future we might want to give CLs the option to select what e-mail address the reply would be sent to, but without that option I think it's safest to have it directed back to volunteer@wta.org.

Thanks.

[2016-01-20 00:07] mscholtz commented on #421
Will do.

On Tue, Jan 19, 2016 at 3:47 PM, ebskopin <notifications@github.com> wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-20 00:11] WaBirder57 opened #552 "VMS: Error in My Backpack when selecting to view Summary Reports needed"
While logged in as charles@wta.org on this site: http://mybackpack.wta.org/@@backpacks/scrnm-Charlie%20Kahle%20WTA/workparties

I choose to view Summary Reports Needed, I get the following error:

We’re sorry, but there seems to be an error…

Here is the full error message:

Display traceback as text

Traceback (innermost last):

    Module ZPublisher.Publish, line 138, in publish
    Module ZPubl

[2016-01-20 00:20] ebskopin commented on #536
I've fiddled with that WP a bit and am not getting the automated "Invite from the Waitlist" e-mails.  Any chance they are being suppressed?

[2016-01-20 00:21] ebskopin commented on #442
Done.

[2016-01-20 00:24] WaBirder57 opened #553 "VMS: Work party Registration status: No Show"
We would like to add a Work Party registration status value of "No Show".  Crew Leaders in the field or staff would change the registration status to "No Show" for volunteers who don't show up for a work party.  CL's would use this rather than "canceling" a volunteer who doesn't show up or reporting Zero hours for that volunteer.

This will help us have a consistent way track if there are voluntee

[2016-01-20 00:26] ebskopin commented on #77
Done.

[2016-01-20 00:26] #77 closed

[2016-01-20 00:28] davisagli commented on #553
I think it's a bad idea to add a new registration status value this close to launching the site. There are a LOT of places in both Salesforce and the Pyramid app that check for particular status values, so we need to review them to make sure they handle the new value properly. That takes time and we're also bound to miss some on the first pass, so it will want careful testing.

Also, if your goal

[2016-01-20 00:31] davisagli commented on #553
If you're okay with limiting it to staff for now a much less risky option would be adding a new checkbox No Show field rather than adding an option to the existing status field, and add the UI for crew leaders later. Do you agree, @mscholtz?

[2016-01-20 00:38] WaBirder57 commented on #553
Thanks for answering my question, I thought it might be more complex than just adding a new pick list value to the Status field.  I will close this ticket and figure out if we need a new story.  This idea of a check box for Staff to use would be something that I could implement if we need something ASAP.

[2016-01-20 00:38] #553 closed

[2016-01-20 00:39] mscholtz commented on #421
@ebskopin  So when this is sent from Salesforce, we have been requiring that the user specify either a SF User or a SF Contact that represents who's sending the email.  (IIRC so that staff could send a message on behalf of a CL).

![image](https://cloud.githubusercontent.com/assets/931031/12436474/860af7ca-beca-11e5-8956-31c77878b11e.png)

We were using this to set the From and Reply-To,  but we d

[2016-01-20 00:44] mscholtz commented on #424
Got it, thanks.

On Tue, Jan 19, 2016 at 3:34 PM, drewpiston <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-20 00:46] mscholtz commented on #536
Don't think so.  You sure you're changing it from a state where there's no room for folks to be invited from waitlist to a state where there is room?

[2016-01-20 00:48] ebskopin commented on #207
Done.

[2016-01-20 00:48] #207 closed

[2016-01-20 02:06] mscholtz commented on #442
@ebskopin I had to temporarily deactivate this Process, as it was throwing an error and preventing me from adding a new Work Party.  see bottom of this debug log: https://cs9.salesforce.com/p/setup/layout/ApexDebugLogDetailEdit/d?retURL=%2Fsetup%2Fui%2FlistApexTraces.apexp&apex_log_id=07LK000000rpmDgMAI

I don't have time right now to troubleshoot what the problem is, but can we briefly revisit to

[2016-01-20 02:27] mscholtz commented on #442
It actually looks like there's nothing wrong with the Process.  Rather this is a known issue w/ SF involving validation rules & flows/Process Builder:
https://success.salesforce.com/ideaView?id=08730000000DhhhAAC

Basically, if the record fails validation, then it throws a generic error like the one shown instead of displaying the validation error message.  Not helpful!

In this case, it was faili

[2016-01-20 06:32] davisagli commented on #550
Okay, I've set up these automatic groups on mybackpack.wta.org and created a folder at https://mybackpack.wta.org/crew-leader-corner/resources which is shared to be readable by the CLs & ACLs group, and linked from the My Backpack sidebar.

Once you've confirmed that it works as expected, let me know and I'll set up a similar folder on www.wta.org.

Remember to leave the folder private, NOT publis

[2016-01-20 16:15] WaBirder57 opened #554 "VMS: SF Deployment question on Account object"
@mscholtz I have been customizing, in production Salesforce, the Account dependent pick lists for the various land manager fields; Government Type, Managing Agency, Jurisdiction and District.
I trust these will not be impacted by your final deployment of SF customization to production from .VMS2.  Let me know if this is not the case so I can figure out what to do.

[2016-01-20 17:03] WaBirder57 commented on #550
I have added several documents to this folder and it looks like it works as you describe.

I'm not that familiar with using Groups in Plone, but should I expect to see a list of Group Members when I am at this page: https://mybackpack.wta.org/@@usergroup-groupmembership?groupname=WPLeaders

What I see is this:
![acl and cl group](https://cloud.githubusercontent.com/assets/8312206/12456447/b38abf52

[2016-01-20 17:18] WaBirder57 commented on #548
Evidently staff fixed the problem with this user getting access to the account by deleting the account and starting over.  I will search for another example that has not been "fixed".  The problem has been cropping up with about 1 user a week contacting the office that they can't log on to their My Backpack.  This is exclusively for user accounts there were set up before we switched to the email l

[2016-01-20 17:20] davisagli commented on #548
Okay. Well next time tell me before you try to fix it and I will check to make sure that the login name matches the email address.

[2016-01-20 17:23] davisagli commented on #550
You would see a list of users there for normal, manually managed groups. These automatic groups don't provide a list of all users in the group because Plone doesn't provide an efficient way to query for all users with a particular member property (the list would take minutes to load). But when looking at one particular user it will consider it to be part of the group when it matches the criteria.

[2016-01-20 17:26] WaBirder57 commented on #549
How best to communicate thoughts on how to tune this search tool?  For example I would expect that putting a test string in quotes would only search for exact matches of that quoted text. For example searching for "Lake 22" returns WP that mention just "Lake".  I don't want you all to work on this tuning in a one off fashion. Should I develop a list of search syntax that we would like to use and p

[2016-01-20 17:30] davisagli commented on #549
Hmm, a phrase search like that should work; we can check on why it isn't.

It's possible to make text search in Plone use elasticsearch (or solr, which is similar), but it takes some effort to set up. This is one of the possibilities we discussed when Sally was in town.

[2016-01-20 17:33] ebskopin commented on #442
Aaron is working now to create the WF rule. I'll update when it is in place and tested.

[2016-01-20 17:35] WaBirder57 commented on #550
I did a quick check and found that Loren@wta.org was a member of this ACL and CL group.  When I look at her salesforce record(s) (.VMS sandbox as well as production) she is set with a VMS permission level of Volunteer.  How would she have become a member of this plone group?

![acl and cl group loren wta org](https://cloud.githubusercontent.com/assets/8312206/12457396/145575da-bf59-11e5-9592-3811f

[2016-01-20 17:37] davisagli commented on #550
I think you misunderstood the search on that page. It is meant for manually managed groups and is how you find someone to add to the group. The fact that it found Loren when you searched does not mean she is in the group.

[2016-01-20 17:47] WaBirder57 commented on #550
So how do i confirm who is in which group?  These manual groups don't show up on the User Overview display.

[2016-01-20 17:50] davisagli commented on #550
Ah...Plone's default profile form has a tab that links to a list of the user's groups, but that isn't included in your customized profile form. Shall I add it for Managers only?

[2016-01-20 17:51] WaBirder57 commented on #550
Ah indeed!  Yes Please and thank you.

[2016-01-20 18:43] davisagli commented on #550
Okay, I added a list of groups on the right side of the profile form, for managers.

[2016-01-20 18:52] davisagli commented on #552
Fixed

[2016-01-20 19:24] davisagli commented on #549
This should work better now; I told elasticsearch to use a different way of parsing the search query. Here's a list of the special characters you can use with the new way: https://www.elastic.co/guide/en/elasticsearch/reference/2.0/query-dsl-simple-query-string-query.html#_simple_query_string_syntax

[2016-01-20 19:24] ebskopin commented on #421
Ok, I spoke with Rebecca and Charlie and here is what I say we do. For correspondence coming from a CL (crew message board & thank-you) the CLs name can appear, but both e-mail addresses should be volunteer@wta.org. In all other instances the name should read "Washington Trails Association" and volunteer@wta.org as the address.

How does that sound?

[2016-01-20 19:26] WaBirder57 commented on #550
Thanks, that helps.

How did assign the Group for "CL and ACL's" to have access to the http://mybackpack.wta.org/crew-leader-corner/resources folder?

[2016-01-20 19:28] davisagli commented on #550
I did it programmatically. We can show you how to do it for other folders using Plone's Sharing tab once we re-enable the Sharing tab, but I'd rather handle that as a support ticket after VMS launch if that's all right.

[2016-01-20 19:32] WaBirder57 commented on #550
OK got it, works for launch.  I assume it is Read Only access.

Post launch when we set up Plone folders for the other groups Members and Hiking Guide Correspondents what can I tell staff about how they will be able to control this on our production site?

[2016-01-20 19:34] davisagli commented on #550
We should probably give you some training on the Sharing tab, eh @skleinfeldt?

[2016-01-20 19:49] WaBirder57 commented on #550
Testing this I'm not sure if it is working for andrea@wta.org.

Her SF Record: https://cs9.salesforce.com/003K0000016Tuxv?srPos=0&srKp=003 has VMS permissions set to Admin.

Her profile: http://mybackpack.wta.org/@@user-information?userid=andrea%40wta.org doesn't show her as a member of the ACL and CL group (perhaps that is correct) but she doesn't have access to the Resources Tab.

Since she is n

[2016-01-20 19:49] mscholtz commented on #421
Sounds good

On Wednesday, January 20, 2016, ebskopin <notifications@github.com> wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2016-01-20 19:58] davisagli commented on #551
Okay, you can try this out on staging. I also renamed the "Youth Volunteer Vacation" work party type to "Youth Vacation" so it's the same as in production SF.

[2016-01-20 20:25] ebskopin commented on #551
Excellent! Thank-you David.  1 quick mod - could you change the button to read "Apply Now", please. Otherwise this looks great.

[2016-01-20 22:31] mscholtz commented on #494
This should be fixed.  Back to you @ebskopin for testing.

[2016-01-20 22:57] ebskopin commented on #536
Huh. I'm not sure why it wasn't prompting the emails for this WP (https://cs9.salesforce.com/a2eK0000003Oz8l). However, I tested on a number of others and this is now working correctly. Thanks.

[2016-01-20 22:57] #536 closed

[2016-01-20 23:18] WaBirder57 commented on #548
OK, we have a new user calling in.  Again someone who had an account before we switched to the new email login plone account structure.

Her email/account in plone is: pauline.cantor@outlook.com

- She tried to log in recently and was not able to.
- Called the office, we thought she forgot her password and told her to reset it.
- She used the Password reset page (supplying this email address)
- Wh

[2016-01-20 23:35] ebskopin commented on #517
Looks good.

[2016-01-20 23:35] #517 closed

[2016-01-20 23:36] davisagli commented on #548
The Plone user with that email address has a user id of `pncantor` and login of `pncantor@comcast.net` -- a different email address, so that's the problem.

I can see on the contact in Salesforce (https://wta.my.salesforce.com/003A000000rmdFs?srPos=0&srKp=003#003A000000rmdFs_RelatedEntityHistoryList_target) that the email was changed in Salesforce from pncantor@comcast.net to pauline.cantor@outloo

[2016-01-20 23:41] WaBirder57 commented on #548
Yes, that sounds like the problem.  Is there a way:
1) that we can see a plone users ID and login?  This would help us when talking to users.
2) is there a way to change these values, say some one gets a new email address and doesn't remember their old login using that old email?

I'm sure you may have some better ideas too.

Thanks

[2016-01-20 23:43] mscholtz commented on #442
@ebskopin any news on this?

[2016-01-20 23:47] ebskopin commented on #442
Looks like these are in place.
https://cs9.salesforce.com/04YK000000093mZ
https://cs9.salesforce.com/04YK000000093me

I just tested and all is working. Let me know if that looks good.

[2016-01-20 23:48] davisagli commented on #548
There isn't currently an easy place to see them but I could easily display them along with the list of groups I added on the side of the profile this morning.

There isn't a way in the UI to edit a user's login because the login is supposed to be always automatically updated when the email address changes. But that's obviously not working properly at the moment. To fix it I think we need to:
1. Fi

[2016-01-20 23:50] mscholtz commented on #421
This is done.  Over to you @ebskopin to test.

[2016-01-20 23:55] mscholtz commented on #442
@ebskopin I think this rule looks fine: https://cs9.salesforce.com/01QK0000000DShr

However, the other one https://cs9.salesforce.com/01QK0000000DShm is I think not needed.  As I explained earlier, the default state of a checkbox is unchecked, so if the box is unchecked in the WPT, you don't need to do anything.  So since these only run on record creation, we should only need the rule to check the

[2016-01-20 23:56] mscholtz commented on #543
@WaBirder57 did this get done?

[2016-01-20 23:57] mscholtz commented on #554
Hmm.  It would be ideal if this were done in sandbox too, but I will try to work around it.  Thanks for the heads-up.

[2016-01-20 23:57] #554 closed

[2016-01-20 23:58] #546 closed

[2016-01-21 00:09] mscholtz commented on #448
@ebskopin and @WaBirder57 remember this ticket?  I just came across it after it had been buried for a while, because it never got prioritized.  And lately I've been pulling lists of High Priroity tickets, and this of course hasn't been on there.  (I asked you guys to prioritize it when I first posted it, but my fault for not reminding you about it.)

So questions at this point are:

a) how high a

[2016-01-21 00:11] WaBirder57 commented on #543
I will have this start Monday when we launch.

[2016-01-21 00:11] #543 closed

[2016-01-21 00:13] mscholtz commented on #127
@davisagli just happened upon this.  Did this ever get resolved after Charlie's last comment?

[2016-01-21 00:16] davisagli commented on #127
Not sure. I haven't generally been looking at tickets tagged as "Reviewing" so it may have gotten overlooked.

[2016-01-21 00:19] WaBirder57 commented on #548
OK this makes sense and I will boost work effort on the manual SF <-> sync.  For now if you could add that side panel that Plone Managers would see when looking at the Profile for a user it would really help.  Show both the User ID and User Login.  Thanks,

[2016-01-21 00:20] davisagli commented on #550
You're right; I just adjusted it to put VMS Permission Level = Admin in the group too.

[2016-01-21 00:24] WaBirder57 commented on #548
In the case of pauline.cantor@outlook.com how can we get her password reset so she can log in?

[2016-01-21 00:45] davisagli commented on #548
@WaBirder57 I just updated her login via the Python console so she should be able to do a password reset now.

[2016-01-21 00:47] WaBirder57 opened #555 "VMS: Question on how Land Manager Name, Logo and Liability Language are found"
When a work party displays the Land Manager Logo (or Name) as well as any Liability Language how is this information found in the hierarchy of land manager accounts?  What is the role of the Land Manager Check Box on the Account Object?

For example if there is a Hierarchy of Land manager accounts:  https://cs9.salesforce.com/acc/account_hierarchy.jsp?id=001K0000019xIPv

King County Parks (Logo he

[2016-01-21 00:49] davisagli commented on #555
Which work party are you looking at?

[2016-01-21 00:52] ebskopin commented on #494
Yep.  Works well.

[2016-01-21 00:52] #494 closed

[2016-01-21 00:52] davisagli commented on #548
And updated profile form to show user id & login to managers.

[2016-01-21 00:57] davisagli commented on #555
Sorry, just re-read and saw you did give an example work party.

[2016-01-21 01:06] WaBirder57 commented on #548
Thanks, this is really helpful.  The next time we need to get the this info updated for a user we may need you to reset things with that Python script again.

[2016-01-21 01:09] davisagli commented on #548
That's why I want to preemptively do a script that resets it for all the users that need it reset, so we don't have to keep revisiting this.

[2016-01-21 01:16] davisagli commented on #555
That's how the system knows which accounts are land managers, for inclusion in the VMS index so we can look up details about them without making Salesforce API calls.

Well, you asked for that in #446 but it wasn't clear how to implement it so that's one of the parts of #446 that hasn't been done. The global liability waiver (https://cs9.salesforce.com/a2sK0000000HWkB) is just text so I'm not sure