[2015-07-08 23:40] WaBirder57 opened #174 "Registration email to the volunteer doesn't include directions to WP"
When I registered for the Beacon Rock Trail WP (http://staging.wta.org:6543/workparty/a2eK0000000wRBp) the Thank you email didn't contain the directions to the work party - that section is blank.  The bottom part of the email is formatted as follows:

We have the following information:

Work party: Beacon Rock Trail
Date: 8/29/2015 - 8/29/2015
Days: 1
Name: Charlie KAhle

Directions to Work Party:

[2015-07-08 23:45] davisagli commented on #174
Is this a duplicate of #108?

[2015-07-08 23:54] WaBirder57 commented on #174
It may be related (probably) but if there isn't a fix to #108 then we should figure out how to do plain text if that is possible.

[2015-07-08 23:55] davisagli commented on #174
I believe @drewpiston had a fix planned for #108 and just hasn't worked on it yet. Is that right Drew?

[2015-07-08 23:59] WaBirder57 opened #175 "User Story #71 - Sign Parental Release Forms"
Testing instructions refer to several Testing instructions.  Both Scenario 1 and 2 have the following issue and error (Reported by Karen)

Scenario 1: I was able to add myself and a minor to Future Dirty Harry's Peak trail work party, and the parental release form button showed up in the documents tab for the minor, but when I clicked on the button, I got this error: {"code": 500, "detail": "'logi

[2015-07-09 00:00] drewpiston commented on #174
That's correct! Hoping to get to it tomorrow.

[2015-07-09 00:04] davisagli commented on #175
Give it a try now. I forgot to configure the staging server with the credentials for our (testing) docusign account.

[2015-07-09 01:36] davisagli commented on #173
This should work now.

[2015-07-09 21:51] drewpiston commented on #108
This is ready for testing/reviewing!

[2015-07-13 16:48] WaBirder57 commented on #173
This works now.  Is it possible to have the EAP that is display to be the most recent one if there are more than one listed for a given land manager?

[2015-07-13 16:53] davisagli commented on #173
That change can be done pretty easily. Based on the creation date of the EAP record?

[2015-07-13 17:05] WaBirder57 commented on #173
Yes, that would be great.  Creation Data of the EAP record in Salesforce for that land manager.

I have added a second record to the Beacon Rock Land Manager: https://cs9.salesforce.com/001K000001CO5xv .  This can be tested from this Work Party: http://staging.wta.org:6543/workparty/a2eK0000000wRBp

Note the second, most current record, is a PDF file so we can test that this format is also working

[2015-07-13 17:15] davisagli commented on #173
Okay, if there are multiple EAPs for a land manager it now picks the most recently created one.

[2015-07-13 17:16] davisagli commented on #172
Fixed

[2015-07-13 17:17] davisagli commented on #174
I'm marking this as reviewing since Drew said #108 is done.

[2015-07-13 17:40] WaBirder57 commented on #174
This still doesn't seem to work.  I tested this by signing up to the Beacon Rock Trail workparty: http://staging.wta.org:6543/workparty/a2eK0000000wRBp/

The email I received didn't include the driving directions.  This is what the bottom part of the email looks like, note the Directions to Work Party is blank.

*****************************************
We have the following information:

Work par

[2015-07-13 17:42] WaBirder57 commented on #108
I tested and this is NOT working yet.  See ticket #174  with my testing procedure and results.

[2015-07-13 17:45] WaBirder57 commented on #172
It works, thanks.

[2015-07-13 17:45] #172 closed

[2015-07-13 17:46] WaBirder57 commented on #173
Works great, thanks.

[2015-07-13 17:46] #173 closed

[2015-07-13 17:49] drewpiston commented on #174
Hi @WaBirder57 ,

Sorry, I should have explained this more.   I think that's actually a data issue.

Basically, what I've done for this ticket is create code to sync a new field on the Work Party (called Trailhead Directions) to the field on the Trailhead (called Directions).  The code works fine for new records, but I neglected to do a data update for existing records.  Since that Work Party was

[2015-07-13 17:52] drewpiston commented on #108
Left a comment on #174:
Hi @WaBirder57 ,

Sorry, I should have explained this more. I think that's actually a data issue.

Basically, what I've done for this ticket is create code to sync a new field on the Work Party (called Trailhead Directions) to the field on the Trailhead (called Directions). The code works fine for new records, but I neglected to do a data update for existing records. Since

[2015-07-13 18:01] drewpiston commented on #174
PS All data updates are now done.

[2015-07-13 18:01] drewpiston commented on #108
PS All data updates are now done.

[2015-07-14 17:35] mscholtz commented on #161
we're going to go with option 2, and we also need code to prevent recursion so it does not attempt  to create a 2nd registration

[2015-07-14 17:42] drewpiston opened #177 "Certification Missing Error Msg on Work Party is not User Friendly"
When specifying the CL directly on a Work Party (which then programmatically creates a WP Registration for the CL), the error message regarding missing certs is NOT user friendly:
http://screencast.com/t/zdllZYFe

This is in contrast to the error message re: missing certs when adding a WP Registration manually:

[2015-07-14 17:43] drewpiston commented on #177
The code could be refactored in such a way that the check for missing certs is done before the Work Party is updated, as opposed to being done during the insert of WP Registrations.

Moreover, if we do the check at this point we could also provide a slightly different error message depending on the object being updated.

[2015-07-14 18:00] WaBirder57 opened #178 "Work Party Roster doesn't include WTA Liability language"
The Work Party Sign-In sheet, accessed though the Crew Corner Tab, Crew Leader Toolkit  of a work party.  This lists the Land Manager Liability Language 2 times and does NOT include the WTA Liability Language.  It should show the WTA Liability Language first and then the Land Manager Liability Language, if any, second.

To reproduce go to any Work Party where you are the CL so you can access the C

[2015-07-14 18:31] WaBirder57 commented on #167
For DocuSign we use the "Powerform" feature.  That is a URL link to a "blank" form that can be shared with the person who needs to complete it.  That starts the workflow for getting that document signed.  Here are the links to the Parental Release form in either URL or HTML syntax:

URL:
 	https://na2.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=ca2658d2-36e4-4fd1-bfac-c29566e7f313

HTML:

[2015-07-14 18:33] WaBirder57 commented on #167
I think this DocuSign Powerform should be used for either unauthenticated or authenticated users.  This way we only have one "form" that needs to be updated if it changes.

[2015-07-14 18:39] WaBirder57 commented on #167
So any time there is a youth they will need a parental release form, even if they show up at the trail head with their parent(s).  Ideally we would get this ahead of time via Docusign.

[2015-07-14 18:41] davisagli commented on #167
Hmm, I wasn't aware of the Powerform feature.

I don't think it really helps though. If the user isn't logged in, we don't know their contact ID in Salesforce, so we can't make sure that the completed form gets attached to their contact in Salesforce.

It's also not clear to me if we can pre-fill fields (i.e. work party name and date) when using a Powerform like we can when creating an envelope vi

[2015-07-14 18:45] davisagli commented on #167
Sorry, I was forgetting the context: when sending the notification from Salesforce, we would have the contact id of everyone in the party. So if it's possible to pass custom field values to a Powerform URL, we could do that. I guess we should experiment and see if that's possible.

[2015-07-14 19:25] mscholtz commented on #167
@WaBirder57 I know you've used Powerform in the past, but I  thought the reason we were using the SF-Docusign integration for this stuff is so that results can end up logged in SF.  Do you know whether that's possible w/ Powerform?  (if so, why haven't we been using it all along?)

[2015-07-14 19:36] davisagli commented on #167
@mscholtz the Docusign-Salesforce integration ("Docusign Connect") creates records in SF regardless of what way the envelope was created in Docusign -- one "Docusign Status" record holding the document and its status, and a "Docusign Recipient Status" record for each signer. The latter can be linked to a contact IF the envelope has a field containing a contact id and that field is mapped to a fiel

[2015-07-14 19:39] mscholtz commented on #167
Gotcha, thanks @davisagli

@WaBirder57  can you do the digging to figure out if we can pass the required info to powerform on the URL?  You're most familiar with it...

[2015-07-14 19:42] davisagli commented on #167
@mscholtz this documentation is the most info I could find on passing fields to the Powerform URL: https://www.docusign.com/support/classic/documentation/cdse-powerforms/powerforms/populating-fields-web-powerform

But it's not clear if it supports the specific fields we need to pass, or what exactly they need to be called. Hence why I said a few hours of experimentation.

[2015-07-14 19:43] davisagli commented on #167
Do either of you see any problem with my suggestion of linking to the pyramid URL which creates an envelope via the docusign api? We already have the docusign integration working for that, so it'd probably be easier.

[2015-07-14 19:51] davisagli commented on #178
Fixed

[2015-07-14 22:45] davisagli opened #179 "award icons should be displayed without a white border"
Currently they look like this:

![screen shot 2015-07-14 at 3 45 09 pm](https://cloud.githubusercontent.com/assets/49014/8686901/68f955d4-2a3f-11e5-8177-d0e4aef1ba11.png)

[2015-07-14 23:04] WaBirder57 commented on #179
Note that I have uploaded the final .PNG image files so there are being displayed.  They are 45 x 45 in size.

[2015-07-15 17:36] drewpiston commented on #161
Ready for review!

[2015-07-15 18:39] ninetaLogik commented on #157
@WaBirder57 do you remember which Iteration # and Story # you were testing here?

[2015-07-15 18:40] davisagli commented on #157
@ninetaLogik story 31, like it says in the issue title

[2015-07-15 18:42] davisagli commented on #179
Fixed

[2015-07-15 19:01] ninetaLogik commented on #157
@mscholtz I reviewed story #31 and it looks like we only tasked out the status=Registered case. We will need to build an email and WF for Status=Waitlisted, so probably a separate story?

[2015-07-15 19:02] ninetaLogik commented on #157
@davisagli Thanks, not sure how I missed that

[2015-07-15 19:29] mscholtz commented on #157
@ninetaLogik yeah, that's what I saw too.  I'd say let's just do it under this ticket, unless you feel we need a new story.

[2015-07-15 21:18] ninetaLogik commented on #157
@WaBirder57 do you have an email template that you would like to use for the Waitlisted scenario?

[2015-07-15 22:05] WaBirder57 commented on #157
I don't but something with text like:

Thank you for joining the Waitlist for [WorkPartyName] on [WorkPartyStartDate].  We will be in touch with you as soon as there is an opening on this work party.

WTA Trail Team

[2015-07-16 01:47] mscholtz opened #182 "Registration trigger should not change "Payment Pending" to "Registered""
When a new registration w/ status Payment Pending is inserted via the reg webservice, the registration trigger is appropriately checking if there's capacity, and resetting the status to Waitlisted if there isn't.  However, if there is capacity, it's resetting the status to Registered.  It shouldn't do this.  If there's capacity available, it should leave the status as Payment Pending, and another

[2015-07-16 01:47] mscholtz commented on #182
Hi @ninetaLogik any chance you could work on this ASAP tomorrow?  This is getting in the way of David writing a test for story 99.  Thanks!

[2015-07-16 01:48] davisagli commented on #182
Yeah actually I'm hitting this with a WP Registration inserted in a test with the status set to Payment Pending. The registraiton webservice never specifies a status.

[2015-07-16 13:31] ninetaLogik commented on #182
Sure, I can work on this right away.

[2015-07-16 13:51] ninetaLogik commented on #182
@mscholtz and @davisagli so what should the correct behavior be when there is space in a work party and we're creating a WP Reg with the status set a certain value. Should the trigger always honor that value whatever it is?

[2015-07-16 15:56] ninetaLogik commented on #182
@davisagli : have you recently modified WTA_VMS_TEST_UnitTestData? The version on the server does not match the version in git. The class shows Last Modified by you on 7/15/2015 5:27 PM. The version on the server is missing some methods. Do you think we could put back the git version? (I was trying to actually add a unit test in WTA_VMS_TEST_WP_Registration_TrigClass, but cannot save because WTA_V

[2015-07-16 16:39] davisagli commented on #182
Please do put back the git version. I forgot to refresh before changing something. Sorry!

David Glick
(mobile)

[2015-07-16 17:09] davisagli commented on #182
@ninetaLogik I think you're right that if there is space and the registration already has a status set, we should leave it as is.

[2015-07-16 18:02] mscholtz commented on #182
@ninetaLogik yes I agree with what you said.  Leave the status as-is, except in the case where they're trying to set it to one of the statuses that claim a spot (which I believe are Registered and Payment Pending) and there's no space available.  In those cases, change to Waitlisted.

[2015-07-16 18:47] ninetaLogik commented on #182
@davisagli This should be working now, so you should be unblocked.

[2015-07-16 18:57] davisagli commented on #182
It's working; thank you!

[2015-07-16 18:57] #182 closed

[2015-07-16 19:42] mscholtz opened #185 "payment timer overlays screen elements on narrow-width window"
![image](https://cloud.githubusercontent.com/assets/931031/8733277/ea62f66a-2bb7-11e5-822c-fe4364189367.png)

[2015-07-16 21:15] alecpm commented on #185
Any thoughts on where this should go to avoid blocking anything important?  I think it's probably important to keep in in a fixed position on the screen, but maybe we can have it on the bottom like it is on mobile?

[2015-07-16 21:17] davisagli commented on #185
A fixed bar at the bottom of the window sounds okay to me.

[2015-07-17 01:00] mscholtz opened #186 "test failing in WTA_AutoMemberDates"
this class is not part of VMS but is failing in VMS sandbox, possible conflict
first check if passing in production and if any differenes between production & sandbox

[2015-07-17 01:03] mscholtz opened #187 "tests failing in sendgrid classes"
in classes SendGridTest and SmtpapiTest
might be a conflict w/ VMS but seems unlikely

first check if newer version of sendgrid code is avail
if no, diagnose then submit issue to github project, and comment out tests in the meantime??

[2015-07-17 01:23] mscholtz opened #188 "tests failing in WTA_VMS_TEST_REST_EmailParticipants"
throwing an err on a callout, don't remember but may have to ensure it's using httpmock and not trying to do a real callout in the test

[2015-07-17 01:32] mscholtz commented on #171
@WaBirder57 do you agree this can be switched to somehting other than High Priority?

[2015-07-17 15:52] WaBirder57 opened #189 "Work Party List View - ACL/CL Crew Count Summary right align"
For the Work Party List view the count of crew participants should be on the same line, right aligned, as the Crew Leaders name and be formatted as:

Crew Leader:  [ First Last Name]                                               Crew Members: # (# youth)/ # ACL

Thus for this example (screen shot )
Crew Leader:  Charlie Kahle                                                     Crew Members: 6 (3 y

[2015-07-17 17:17] davisagli commented on #167
I figured out how to pass the info we need to the powerform (both prefilling fields like WP Name and youth's name, and passing the youth's contact id as a hidden variable so we can map it to Salesforce).

This is a better solution than using the API because:
1. We can start the signing process even if we don't yet know the identity of the parent, and it'll prompt them for their name and email.
2.

[2015-07-17 17:43] WaBirder57 commented on #171
I'll change it to Medium but think this is helpful and having a correct link is essential.  Julie is currently testing the Waitlist UI that is in SF.

[2015-07-17 19:32] davisagli commented on #167
This should generate working powerform urls in the email reminder now. @mscholtz I need some tips on how to test the reminders in order to make sure it's working.

[2015-07-17 21:03] ninetaLogik commented on #157
@WaBirder57 this should be ready to test.

[2015-07-20 18:51] skleinfeldt commented on #189
It might be nice to put some extra space and/or characters between the elements so it is easier to scan, for example;

Crew Leader: Charlie Kahle   |   Crew Members: 6 (3 youth)/ 0 ACL

[2015-07-21 16:03] skleinfeldt commented on #133
Assigning to @mscholtz to close (or maybe you should @drewpiston if it needs no review).

[2015-07-21 16:04] skleinfeldt commented on #134
Should this be reviewed by @mscholtz or @WaBirder57 ?

[2015-07-21 16:05] skleinfeldt commented on #157
Assigning to @WaBirder57 to test.

[2015-07-21 16:07] skleinfeldt commented on #167
Assigning to @mscholtz to answer David's question.

[2015-07-21 16:08] skleinfeldt commented on #175
Assigning to @WaBirder57 to test.

[2015-07-21 16:09] skleinfeldt commented on #134
I'm guessing @mscholtz so assigned to him.

[2015-07-21 16:11] skleinfeldt commented on #155
Assigning to @WaBirder57 to test and close.

[2015-07-22 18:27] WaBirder57 commented on #157
As a volunteer I signed up for the waitlist of a work party.  I received email confirmation.  Looks like this is working.

[2015-07-22 18:27] #157 closed

[2015-07-22 18:43] WaBirder57 opened #193 "Work Party registration email with Guest - Shows "MERGE" not data"
As a signed in Volunteer I registered for the Riverside State Park work party Aug 7th (http://staging.wta.org:6543/workparty/a2eK0000000wOTM/).

I received an email confirmation which included the word "MERGE" as the value for the following fields.  It looks like this:
Your Party Size: MERGE
Number under 18: MERGE
Your phone: MERGE

I would have expected the work MERGE to be replaced with the actu

[2015-07-22 20:16] WaBirder57 opened #194 "Work Party Friends registration email contains HTML code"
When I register a friend for a work party they get an email confirmation of the work party details and links to additional information.  There are several problems with this email. [I'm not sure if this is a Salesforce or Pyramid issue]

1) See Ticket # 193 for MERGE field issue
2) HTML code is showing, for example this is a section of the email:

**********
If you have questions about WTA work pa

[2015-07-22 21:25] WaBirder57 commented on #175
I was able to sign up a Youth and complete the Parental Release force which is link to the Youth's SF record.  My Backpack show the forms as having been completed.

[2015-07-22 21:25] #175 closed

[2015-07-26 22:30] WaBirder57 opened #195 "Waitlist Registration Confirmation - can we customize to enphasize Waitlist status"
When signing up for a wait list the confirmation screen does list the registration status as "Waitlisted".

Is it hard to change the wording on the rest of the screen to indicate this status?  2 locations:
1) Blue message "Congratulations, [Vol name]! You're all signed up!  > Change to "Congratulations, [Vol Name]! You are now on the wait list."

2) text: "We have sent an email with your registrat

[2015-07-27 18:30] davisagli commented on #195
That's easy; I made the change.

[2015-07-27 18:34] davisagli commented on #185
Looks like @alecpm fixed this.

[2015-07-27 18:35] davisagli commented on #193
With the exception of the Message Board, emails are built in Salesforce, not Pyramid.

[2015-07-27 21:31] mscholtz commented on #167
@davisagli you would follow the testing instructions for story 49 (https://www.scrumdo.com/projects/project/wta/iteration/128090#story_803680) to trigger the reminder, and then just try a registration for a WP that also requires parental release

[2015-07-27 21:32] mscholtz commented on #124
@WaBirder57 I think I'm still waiting on some answers to the above questions from you here.  Thanks!

[2015-07-27 21:46] mscholtz commented on #194
@ninetaLogik could you also look into this one this week?

[2015-07-27 21:47] mscholtz commented on #193
@ninetaLogik this one too?

[2015-07-27 22:34] WaBirder57 commented on #92
At this time the SF Website User ID field is not unique.

[2015-07-28 00:27] ninetaLogik commented on #194
@WaBirder57 what email client are you using to read these emails?

[2015-07-28 06:39] mscholtz commented on #169
This should be working now.  @WaBirder57 assigning to you to re-test.

[2015-07-28 15:43] ninetaLogik commented on #193
@WaBirder57 It appears that Rebecca modified the email template for the registration confirmation. It now has a new section with the actual words MERGE in the body and a section with the original content at the bottom of the email. Do you want to keep both? Or just the top new section she's added?

[2015-07-28 18:01] mscholtz commented on #194
@WaBirder57 as Nineta mentioned in ticket #193 these email templates have been edited recently by Rebecca, and that's why you're seeing what you're seeing.  Looks to me like she's in the process of drafting a new template.  Can you talk to her about where she's at with this?

[2015-07-28 18:43] WaBirder57 commented on #194
OK, this seems to be working correctly now.  Rebecca was setting up confirmation email templates based on work party type since they will need to contain different information.

[2015-07-28 18:43] #194 closed

[2015-07-28 20:23] WaBirder57 opened #196 "WP Display Land manager Logo OR Land manger Name - Not both"
On the Info Tab of a work party listing we show the Land manager Logo and the Land Manager Name.  See Beacon Rock Trail  http://staging.wta.org:6543/workparty/a2eK0000000wRBp/

We would like to show the Logo if available, if not then show the name.  We don't want to show both.

[2015-07-28 20:30] WaBirder57 opened #197 "Crew Roster should only show higest level incentive award icon"
In the crew roster each volunteer now shows an incentive award icon for all the incentive awards they have earned.  We would like to show only the highest level award.  See Beacon Rock Trail http://staging.wta.org:6543/workparty/a2eK0000000wRBp/

Note that Rebecca Lavigne is an example of a contact with lots of awards.

Also, one goal for this roster is a compact list view as possible. Can this aw

[2015-07-28 23:11] WaBirder57 opened #198 "VMS Work party Search: change wording and location for Display Waitlist option"
In VMS in the vertical Search bar:  Rename "Include waitlisted work parties" to read: "Include work parties with waitlists"

Also, move this to the Advanced Options for the search bar.

[2015-07-29 17:55] mscholtz commented on #177
@WaBirder57 let me know if you disagree w/ low priority here

[2015-07-29 17:56] mscholtz commented on #121
@WaBirder57 thinking this is high priority.  Let me know if you disagree.

[2015-07-29 17:58] mscholtz commented on #94
@WaBirder57 I'm thinking this isn't high priority, mainly b/c i don't think this will occur very often.

[2015-07-29 18:08] mscholtz commented on #193
@WaBirder57 can we close this one too?

[2015-07-29 19:50] davisagli commented on #197
Okay, I made it show the most recently earned award (the system doesn't know which award is "highest level," but the most recently earned award should be the highest level one, right?)

I made a few other changes to make the list more compact:
- show award icon next to the volunteer's name and make it smaller
- show the icon which indicates that a volunteer has notes next to the volunteer's name (

[2015-07-29 20:12] mscholtz commented on #95
@ninetaLogik could you work on this ticket this week?  Let me know if you want to talk it out any further, but see comments above from our previous convos.

[2015-07-29 20:59] WaBirder57 commented on #197
Very nice.

The folks that are Wait Listed have that detail view popup in a semitransparent box (Firefox v39) which is hard to read, can you change that to a solid background as with the registered volunteers?  Perhaps use a different color background for those on the wait list but keep it solid rather than transparent.

Charlie

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday,

[2015-07-29 21:02] davisagli commented on #197
I will make a separate ticket for the semi-transparent text issue. Multiple issues in one ticket means we have to keep re-reading the entire thread of comments to remember what still needs to be done.

Please close this one if you're satisfied that the original issue is solved.

[2015-07-29 21:03] davisagli opened #200 "Fix semi-transparent text for waitlisted volunteers on roster"
Charlie said:

The folks that are Wait Listed have that detail view popup in a semitransparent box (Firefox v39) which is hard to read, can you change that to a solid background as with the registered volunteers?  Perhaps use a different color background for those on the wait list but keep it solid rather than transparent.

[2015-07-29 21:25] #197 closed

[2015-07-29 22:57] davisagli commented on #198
Done

[2015-07-29 23:06] WaBirder57 commented on #198
Nice, thanks.

[2015-07-29 23:06] #198 closed

[2015-07-30 19:41] davisagli commented on #200
I removed the semi-transparency and instead am showing the word "Waitlisted" with a gold color.

[2015-07-30 19:57] WaBirder57 commented on #200
The transparency fix is working.  I don't however see anything different on the detail popup between a registered volunteer and one who is on the wait list - no word "Waitlisted" for example.  Looking at the David Load test WP (http://staging.wta.org:6543/workparty/a2eK0000000wPXh/) signed in as an Admin, not registered for this work party.  attached are 2 screenshots of the detail popup.
![detail

[2015-07-30 20:07] davisagli commented on #200
This ticket was about the transparency issue in the roster, not about the popup with details about a volunteer. @WaBirder57, please please please don't add new issues to an existing ticket.

[2015-07-30 20:31] davisagli opened #201 "show WP registration status in detailed person popup"
In #200 Charlie mentioned that he'd like to see the registration status in the detailed person popup.

[2015-07-30 21:07] WaBirder57 commented on #201
David, on #200 you said "I removed the semi-transparency and instead am showing the word "Waitlisted" with a gold color."  I was just commenting that this didn't work - the word "Waitlisted" wasn't showing.  Please help me understand if that is adding a new feature when I comment that what you said worked - didn't work for me.

[2015-07-30 21:09] davisagli commented on #201
I meant in the roster table, not in the popup:

![screen shot 2015-07-30 at 2 08 32 pm](https://cloud.githubusercontent.com/assets/49014/8995158/8baf1438-36c4-11e5-94ad-4b2c58226cfa.png)

[2015-07-30 21:13] davisagli commented on #201
Oh! I just realized that your original report in #200 was about the popup, which I hadn't realized before. (The popup happened to be inheriting the transparency from the row in the roster, so when I fixed the latter, it also fixed the popup.) Sorry about the confusion!

[2015-07-31 03:22] ninetaLogik commented on #95
@mscholtz Just confirming what we need to do here:
1. In the work party trigger (after update) check if either Time Exception (checked) or Status has changed to Complete. If so, and the WP is now Marked for Time Exception AND Complete then submit the WP to the Approval Queue.
2. In the work party trigger (after update) check if Time Exception has changed and is now Unchecked then recall the WP fro

[2015-07-31 16:30] #201 closed

[2015-07-31 16:31] davisagli commented on #148
We have a browser test of registration now.

[2015-07-31 16:31] #148 closed

[2015-07-31 17:59] mscholtz commented on #95
Yes, that's right.  your number 2 is actually what ticket #94 is about, and that's lower priority.  So you don't need to get that done as well right now, unless you have the hours and it's just as easy to do both at once.

[2015-07-31 18:41] ninetaLogik commented on #95
And in this trigger we only process one WP at a time correct?

[2015-07-31 18:43] mscholtz commented on #95
Yeah, I think that's fine.

On Fri, Jul 31, 2015 at 11:41 AM, ninetaLogik <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-07-31 18:46] mscholtz commented on #186
passing in production..

[2015-07-31 18:55] mscholtz commented on #186
@WaBirder57 who is Aaron Brackney?  Looks like he's recently edited the AutoMemberDates class in production, which is I'm guessing why this is passing there and not in sandbox..

[2015-07-31 19:03] mscholtz commented on #186
copied production code -> sandbox, passing now

[2015-07-31 19:04] #186 closed

[2015-07-31 19:35] ninetaLogik commented on #95
How should we react if the Submit for Approval fails. Throw an exception?

[2015-07-31 19:41] mscholtz commented on #95
Not sure.  In what circumstances would it fail?

On Fri, Jul 31, 2015 at 12:35 PM, ninetaLogik <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-07-31 19:56] mscholtz commented on #188
looks like this is a SF bug, known issue.  see
		//	http://www.joe-ferraro.com/2014/04/apex-unit-testing-test-data-and-test-setmock/
		//  https://success.salesforce.com/issues_view?id=a1p300000008XHBAA2

tried putting the inserts into the test class, but didn't help.  May be due to an email WF on one of the objects, which could explain why this started failing.

let's give it some time and see if

[2015-07-31 19:56] ninetaLogik commented on #95
I guess even if submission to approval process fails (let's say someone changes the entry criteria for the approval process but does not update the trigger) the exception gets thrown anyway as I found out just now when I was passing in the wrong approval process name.

[2015-07-31 19:58] mscholtz commented on #95
I think letting the default exception happen is fine for now.

On Fri, Jul 31, 2015 at 12:56 PM, ninetaLogik <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-07-31 20:04] drewpiston opened #202 "Cert Rollups have hard-coded Ids"
Two roll-up fields on the Contact have hard-coded Ids in their definition.  This implementation requires manual updates upon deploy to Prod and also and sandbox refreshes (except Full Sandboxes).  The two fields are:
Sawyer_Certs__c
First_Aid_Certs__c

Possible solution would be to have a workflow rule copy the name of the Certification down to the Volunteer Cert, since it's unlikely the Certifica

[2015-07-31 20:06] alecpm commented on #159
This should be fixed at the next deploy to staging.

[2015-07-31 20:06] alecpm commented on #196
This should be fixed at the next deploy to staging.

[2015-07-31 20:33] mscholtz commented on #187
think this is the same issue as #188 and we should wait for SF to see if they fix

[2015-07-31 21:08] ninetaLogik commented on #95
@mscholtz This should now be done. Classes added : WTA_VMS_WP_Manage_Approval and WTA_VMS_TEST_WP_Manage_Approval.

@WaBirder57
Testing instructions:
1.Create new WP with Time Exception=true and Status=Planning - Check that not submitted for Approval
2. Update WP in step1 to set Status=Complete - Check that WP was submitted for Approval
3. Create new WP with Time Exception=true and Status=Complete

[2015-08-04 22:07] WaBirder57 opened #204 "What are the SF Work Party Type fields email template ID used for?"
Hi, what are the 4 Email Template ID fields on the Work Party Type objects used for?
These are:
Email Template Group
Email Template Generic
Email Template My Backpack
Email Template Thankyou
@drewpiston do you know?

[2015-08-04 23:21] drewpiston commented on #204
Yes I do!

Email Template Group -- Id of email template to use for reminder email sent to Group registrants
Email Template Generic -- Id of email template to use for reminder email sent to generic (non-Group and non-My Backpack) registrants
Email Template My Backpack -- Id of email template to use for reminder email sent to My Backpack registrants
Email Template Thankyou -- Id of email template to

[2015-08-04 23:33] WaBirder57 commented on #204
What is the value of the field we should enter?  Something like 00XK0000000Mg7E ?

Thanks,

Charlie

From: drewpiston [mailto:notifications@github.com]
Sent: Tuesday, August 04, 2015 4:22 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] What are the SF Work Party Type fields email template ID used for? (#204)

Yes I do!

Email Template Group -- Id of email template to use for remin

[2015-08-04 23:51] drewpiston commented on #204
Yes, that's correct.

Since then I think I've found that we could also do it based on Email Template name, so if that is preferable we could implement it.

 Drew

[2015-08-04 23:58] WaBirder57 commented on #204
Yes, email template name would be much more useful.

Charlie

Charlie Kahle
Information Services Manager
Washington Trails Association
705 Second Ave, Suite 300
Seattle, Wa 98104
206.625.1367 - office
206.388.4511 - direct
www.wta.org

On Tue, Aug 4, 2015 at 4:51 PM, drewpiston <notifications@github.com> wrote:

[2015-08-05 00:00] drewpiston commented on #204
Ok, I've assigned myself, might be good to throw a priority on there.

[2015-08-05 00:08] WaBirder57 commented on #204
OK, will do.  I also see that the template (when I did a sample merge from within SF editing the template) shows an error with the HTML tag for the DocuSign document.

Do you want me to write the ticket for this?

Charlie

It looks like this:

Please complete the Parental Release: https://demo.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=7cdfa327-2f53-4d51-90c9-c7b32622dfb5 <https://demo.

[2015-08-05 00:09] drewpiston commented on #204
Yes please! Thanks.

[2015-08-05 00:14] WaBirder57 opened #205 "VMS WP Reminder email template includes broken link to Docusign"
When testing the SF Email Reminder Template: https://cs9.salesforce.com/00XK0000000Mg7E the email contains a broken hyperlink to the Docusign Document.  It looks like this in my test email:

Required Documents

Please complete the Parental Release: https://demo.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=7cdfa327-2f53-4d51-90c9-c7b32622dfb5&EnvelopeField_Youth Id=003K0000010IT9EIAW&Parti

[2015-08-05 00:16] WaBirder57 commented on #204
Ticket #205 created for this 2nd item.

[2015-08-05 00:17] davisagli commented on #205
That's probably my fault from when I adjusted it to generate the links for Docusign. It needs to urlencode the keys/values embedded in the URL using `EncodingUtil.urlEncode`

[2015-08-05 16:09] davisagli commented on #205
This should work now.

[2015-08-05 16:33] WaBirder57 opened #206 "Crew Leader volunteer roster - move protective action information"
When a member of a crew has a value in the SF Contact Protective Action field this is shown to the Crew Leader on the roster for their trip (non print roster only).  See Beacon Rock Trail WP (http://staging.wta.org:6543/workparty/a2eK0000000wRBp).

To make this more visible when the list is being scanned can this be moved to the "Status" column under the workparty registration value.  This will al

[2015-08-05 16:34] davisagli commented on #206
Not quite sure what you mean by a "context sensitive reminder"?

[2015-08-05 16:56] WaBirder57 commented on #206
Well I was thinking of a mouse over pop up but not sure how that would work on a mobile device.  Not sure what similar options there are for that platform.

Since this Protective Action is used so rarely I think CL’s will need a tip as to what it is when it appears since it is important.

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday, August 05, 2015 9:35 AM
To: washingtontra

[2015-08-05 16:57] davisagli commented on #206
We could show a message above the table, something like "At least one volunteer for this work party is under Protective Action. Please call WTA at (xxx) xxx-xxxx for more information."

[2015-08-05 18:52] WaBirder57 commented on #206
That would work, thanks.

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday, August 05, 2015 9:58 AM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] Crew Leader volunteer roster - move protective action information (#206)

We could show a message above the table, something like "At least one volunteer for this work party is under Protective Action. Please call WTA a

[2015-08-05 19:26] WaBirder57 opened #207 "Youth Work Party, ie ACL Self Registraion = False add message when ACL tries to sign up"
User Story #287: When an ACL Tries to sign up for a WP flagged as "ACL Self registration"=False have a message appear  "WTA staff assigns ACLs for this type of work party, contact staff at volunteer@wta.org."  With out this message it would not be clear to and ACL why they couldn't register for that particular WP.

[2015-08-05 19:29] davisagli commented on #207
If "ACL Self Registration" is unchecked then there is currently no way on the registration form to try to sign up as an ACL (we don't show the dropdown to choose between registering as an ACL and registering as a volunteer; it always registers as a volunteer in this case).

[2015-08-05 19:34] WaBirder57 opened #208 "Youth Registration Policy - Need staff override for Adult leaders and other exceptions to age rule"
User Story #119: Youth Registration Policy.  General participants may have to be under 18, but our leaders will still be over 18. Also, staff should be able to override this age restriction, even for general participants.

When assigning the Crew Leader for a "Youth Only" WP you get the following error message:

Error:Apex trigger WTA_VMS_Work_Party_After caused an unexpected exception, contact yo

[2015-08-05 19:42] WaBirder57 commented on #207
Let me review with staff on how this works.

[2015-08-05 21:41] WaBirder57 opened #209 "Work party 2nd reminder email template?"
Does the 2nd reminder for a work party use the same email template as the first reminder?

[2015-08-05 22:17] WaBirder57 commented on #140
This seems to work.  Change the start date for a work party.  After it is saved the end date is updated to a value based on the start date and WP Type trip length.

[2015-08-06 17:07] WaBirder57 opened #210 "Work party registration confirmation email - set based on WP Type"
When an individual registers for a Work Party they get a confirmation email using the SF Email Template "VMS Registration Confirmation Email".  It appears that this single template is used for all Work Party Types.  Is this true?

Can we change this so that, as with the other Work Party Email Templates, these are defined based on the Work Party Type?  See the following work party type fields as ex

[2015-08-06 18:16] davisagli commented on #208
Since you want staff to be able to override the age restriction, I think that means we should not check the registrant's age at all when a registration is added or edited in Salesforce, if the age restriction is "Youth Only." The age restriction should only apply for registrations being made via the pyramid app, and only for registrants with a work party role of Volunteer (not ACL) ... though yout

[2015-08-06 21:08] WaBirder57 commented on #208
Yes this sounds correct for both the Youth Only and Adult Only work parties.  That is don't have any Staff restrictions in Salesfroce.

[2015-08-06 22:42] WaBirder57 opened #211 "VMS Work Party header should include Start/End time"
In the WP Finder List View as well as the WP Detail View include with the Start Date the Start Time.  Also for multi day work parties include the End Time along with the current End Date.

For example:
Sat Aug 29, 2015 8:30am.
or
Sat, Aug 22, 2015 8:30 am – Sun, Aug 30, 2015 4:30 pm

[2015-08-06 23:29] WaBirder57 opened #212 "VMS Info Tab Work Party Header locations should be "region" - "sub region""
As illustrated in the prototype design: http://07.wta.emptycan.com/volunteer/details/volunteer-vacation/, the work party header for location should include the Hiking Guide Region and Sub Region for the Work party primary trail segment.   Currently it looks like this is the name of the trail which is often in the name of the work party.  Having the Region and Sub Region displayed will give the rea

[2015-08-06 23:35] WaBirder57 commented on #140
After additional testing we find that this isn't working all the time.  If the Work party Start date is edited to a date in the future and end date is not changed there will be an error on save:

Error:The Work Party Start can not be earlier than its End. Please check the Start and End dates and time.

Because the WP can't be saved in this case the End Date can't be calculated based on the WP Type

[2015-08-07 00:54] davisagli commented on #208
Okay. I edited the validation rule which checks the age restriction in Salesforce to make it inactive: https://cs9.salesforce.com/03dK0000000Dum7?setupid=CustomObjects

I also adjusted the age check in the pyramid app so it's only checked when registering as a volunteer, not as an ACL.

This is ready for you to test again.

[2015-08-07 01:01] davisagli commented on #212
We're currently showing the name of the trailhead if the work party has one, otherwise the name of the primary trail segment. I agree showing the region & sub-region would probably be more useful.

If the work party doesn't have a primary trail segment entered or the primary trail segment doesn't have a region/subregion entered, I assume it's okay to not show a location?

[2015-08-07 15:26] WaBirder57 commented on #212
Yes, I think in the case of the WP not having a primary trail segment or trail head then don't show anything.  Having these assigned is really critical for our reporting purposes so it will be a "flag" to staff that these need to be assigned.

[2015-08-07 16:10] davisagli commented on #212
This change is in place now.

[2015-08-07 16:52] drewpiston commented on #140
Hi Charlie,

I think I have a better solution for this.  The validation rule now only applies if the End Date has been manually changed.

Give it a whirl and let me know what you think.

Cheers,
 Drew

[2015-08-07 18:03] WaBirder57 commented on #140
Yes, seems to work great.  I like this new approach.

[2015-08-07 18:03] #140 closed

[2015-08-07 18:18] WaBirder57 commented on #212
Looks good, thank you.

[2015-08-07 18:18] #212 closed

[2015-08-07 19:06] WaBirder57 opened #213 "Work Party Roster for Weekend Work Party needs to show which day / volunteer"
For week end work parties the CL Roster (Print and Online) needs to show which day each volunteer has signed up for, or at least for those who have selected only one of the 2 days to indicate which day the will be attending.

Here is a link to the Alec's Test Party, Sat, Aug 8, 2015 – Sun, Aug 9, 2015
http://staging.wta.org:6543/workparty/a2eK0000000wM9R/print-roster.html

[2015-08-10 22:45] mscholtz commented on #208
This seems OK for now if not ideal.  Ideally, overrideable would not necessarily equal no controls at all.  i.e. the best UI here might be to warn staff that they were about to register a non-youth (and non-leader) for a youth WP in SF, and give them the option to override.  That would ensure it is deliberate, and not just an oversight.  However, this would require some custom SF UI to pull off, s

[2015-08-10 22:45] mscholtz commented on #209
@drewpiston I think this is a question for you..

[2015-08-10 22:51] drewpiston commented on #209
Hi Charlie,

Yes, the first and second email template reminders are the same -- that decision came out of the email conversation we had on June 2nd.

Cheers,
 Drew

[2015-08-10 22:59] mscholtz commented on #204
@WaBirder57  Just to weigh in here: one argument against using template name in lieu of ID is that template names are more likely to change when someone edits the template, which would break this.  People might not be aware that this is a problem.  IDs of course cannot change.

The idea here would be a custom UI that show you the template name for selection but stores the ID.  Pretty sure we don't

[2015-08-10 23:00] mscholtz commented on #204
@drewpiston could we add the word Reminder to those template fields so it's clearer what they're for?  Fine to just put it in the label..

[2015-08-10 23:00] davisagli commented on #204
They'll change when we deploy to production, no?

[2015-08-10 23:02] mscholtz commented on #204
Yes, and that's one of the things we'll need to do on launch.  But after that, no.

[2015-08-10 23:04] mscholtz commented on #204
so we don't forget: https://percolator.teamwork.com/tasks/4660481

[2015-08-11 20:40] davisagli opened #214 "should validate birthdate"
If "under 18" is checked but the user enters a birthdate more than 18 years ago, the system should give a validation error but does not.

[2015-08-12 01:21] mscholtz commented on #209
Assigning this back to you, @WaBirder57 .  Let us know if you want this to change.

[2015-08-12 01:27] mscholtz commented on #204
And just to be clear, @drewpiston: the VF template you linked to should be the MyBackpack one, right?  Since we made it VF so that we could list which required forms they have?

So that would mean we would still need standard templates for Unauthenticated and Group?
If that's right, @WaBirder57 is that something you and your staff could take on soon?

[2015-08-12 01:34] mscholtz commented on #210
@WaBirder57 are you saying we need separate confirmation email for MBP vs non-MBP vs group, like we have for the reminders?  Or are you saying each WP Type would only use one confirmation template but it would vary by WP type?

Either way, can you explain why this is needed?  We did this for the reminder emails because of the differences in how we would want to handle required forms and how they w

[2015-08-12 01:39] mscholtz opened #215 "Email template for inviting friends/family parties from waitlist is group-focused"
This template: https://cs9.salesforce.com/00XK0000000Mgkk?setupid=CommunicationTemplatesEmail
is used in this WF rule: https://cs9.salesforce.com/01QK00000001HEB

That WF rule is for friends/family, not Groups, but the template references Groups fields.  Should show content for the f/f party instead

[2015-08-12 01:40] mscholtz commented on #215
just to clarify, Groups in VMS is about large corporate or org-sponsored groups attending WPs.  It is different from f/f parties, which are small and not associated with an org.

[2015-08-12 01:44] mscholtz commented on #160
@drewpiston can we remove the field in WP Type too, as mentioned in #204 ?

[2015-08-12 15:46] WaBirder57 commented on #210
@mscholtz The confirmation email that volunteers get when they sign up for a work party will need to contain all the details specific to that Work Party Type.  This includes info and links to the forms etc. In may regards the confirmation will be similar to the reminder email.

[2015-08-12 15:54] WaBirder57 commented on #209
Thanks for the clarification.  This will work well.

[2015-08-12 15:54] #209 closed

[2015-08-12 16:28] skleinfeldt commented on #160
I made an obvious notation on the story, but did not delete from Scrumdo since it contributed to our velocity in Iteration 12. I marked it "Done".

[2015-08-12 17:11] mscholtz commented on #210
If we need required document status/links like in the confirmation email, I think this is going to have to be completely re-done as a VF template.  In which case we probably should write a story for it, to include that and the need for the separate fields on WPT.  You want to write that, Charlie?

We didn't do it that way to begin with because the email text we were given did not include that.  Bu

[2015-08-12 19:10] mscholtz opened #216 "Don't split friends/family party if there's room for all. And really split them if called for."
Currently, on Invite from Waitlist, I'm pretty sure that the registration trigger will split a f/f party if the checkbox indicating willingness to split is checked, regardless of whether there's room for the whole party.  We need to double check that, and, if so, change it so that it only splits them if there's not room for the whole party, even if the wiling-to-split box is checked.

Also: we now

[2015-08-12 19:14] mscholtz opened #217 "Don't offer split choice to friends/family if they didn't provide email for everyone"
Currently if I register a friends/family party and we're put on the waitlist, VMS offers me the option of whether we want to be split up if space opens up for some but not all of us.

However, going forward, splitting up the party will be problematic if we don't have email addresses for everyone.  Charlie's preferred solution here is to only give me the option to split if I did provide email addre

[2015-08-12 23:45] drewpiston commented on #216
Hi @mscholtz ,

I wrote the code and unit tests for this and pushed to git -- want to code review?
https://github.com/washingtontrails/WTA-Salesforce/commit/68b301d6cb15f3cb0ac0085d61427ad7e88d1263

Cheers,
 Drew

[2015-08-13 16:22] drewpiston commented on #160
Field removed!

[2015-08-13 16:30] drewpiston commented on #204
I made one VF component that is smart enough to figure out if the recipient is Generic, MyBackpack, or Group.  Right now all three templates reference VF component because it references the fields on the Trailhead, which aren't available easily on the Work Party.

Additionally, the VF handles the required docs as follows:

Generic: VF lists all the required docs
MyBackpack: VF lists the required d

[2015-08-14 17:35] WaBirder57 opened #219 "WP Registration Changes (delete) doesn't update on Pyramid"
While this is not a standard user behavior it still seems odd to me.  Basically when a SF Contact Registration record is deleted from a SF Work Party.  In VMS that person still shows as registered for that Work Party.  Seems like once that registration record is deleted from SF that VMS wouldn't still show that registration.  Here is a screen shot from VMS showing the registration is still showing

[2015-08-14 17:47] davisagli commented on #219
Currently a user's registration status for all their work parties is fetched from Salesforce when they log in, and not updated from Salesforce after that until the next time they log in (though it is updated with changes that the user makes via the Pyramid app).  This has the potential to not work well if users can stay logged in for a long time while staff are making changes to their registration

[2015-08-14 18:13] WaBirder57 commented on #219
Lets go with your first option to add a time out to the registration info cached.  I don't think SF Registration records will be deleted that often so I don't think the 2nd option is necessary.

[2015-08-14 18:27] WaBirder57 opened #220 "Work party type filter check box "tip" box"
Did we have a clickable "?" to display information about each Work Party Type in the list of Work Party Types to filter the WP list?  I thought I recalled David setting this up with a cool way for staff to edit the text in each WP description box.   This is no longer displayed.

[2015-08-14 19:02] cguardia commented on #189
Fixed on master.

[2015-08-14 20:03] cguardia commented on #158
@davisagli I think the easy solution here would be to redirect always to home on logout. Do you think that would be acceptable? Other option would be to somehow check if a user has permission for a url before redirecting, but is it worth it?

[2015-08-14 20:17] davisagli commented on #158
@cguardia I think that's acceptable.

[2015-08-14 20:20] davisagli commented on #211
@cguardia can you take this one? We'll have to index Start_Date_Time__c and End_Date_Time__c instead of Start_Date__c and End_Date__c, and update the existing places in the code that access `start_date` and `end_date`

[2015-08-14 20:22] davisagli commented on #213
@cguardia here's another good one. In the roster table in the Days column, we need to list the actual days (e.g. "Sat, Sun") instead of just the count of how many days.  For both the print roster and the one on the Crew Corner tab.

[2015-08-15 03:42] cguardia commented on #158
Fix is on master.

[2015-08-17 18:36] mscholtz commented on #160
Thanks!

[2015-08-21 19:23] WaBirder57 opened #223 "Contact Certification Status Field values use."
Contacts my have one or more Certifications.  These certifications have 2 "status" fields for which I have just changed the labels so it is clear that one is the Approval Process Status (Status__c) and the other current Certification Status [Active, Inactive] (Active_Status__c). @mscholtz, @drewpiston  Note that I made this change to these Salesforce labels as well as edited the certification rela

[2015-08-21 19:43] davisagli commented on #223
We didn't realize there were 2 different status fields so we'll have to make these adjustments.

[2015-08-21 23:28] mscholtz opened #224 "Delete Total Work Party Days field?"
this contact field looks like it was created for some feature that was never built?  Says "placeholder" in description.  Not referenced by any code or WF.

delete, after verifying that's the right thing to do

[2015-08-24 17:35] mscholtz commented on #223
Sorry about the confusion here.  These fields should have had clearer names to start, I didn't review this closely.

[2015-08-24 20:04] davisagli commented on #211
This should be working now.

[2015-08-24 22:24] WaBirder57 commented on #211
Looks good, thanks.

[2015-08-24 22:24] #211 closed

[2015-08-25 23:05] WaBirder57 opened #225 "MVS Story #291 - Detect Youth via Birthdate"
If the system determines that the Volunteer is a Youth from the Contact Birthday value then this Youth Check box should appear as "checked".  It should not disappear as in the current implementation.

[2015-08-25 23:09] davisagli commented on #225
Chris and I talked about this last iteration; we didn't see the point in giving the user the ability to mark that they are not a youth if we already know from their birthday that they are.

[2015-08-25 23:09] chrisrossi commented on #225
We brought it up at a meeting as well, although I can't remember who all
was on that call.

Chris

On Tue, Aug 25, 2015 at 7:09 PM, David Glick <notifications@github.com>
wrote:

[2015-08-25 23:29] WaBirder57 commented on #225
We just want to show that they are in our records as a Youth (under 18).  if that is incorrect they would call the office.  Also a reminder that they need a current parental release form.

[2015-08-25 23:31] davisagli commented on #225
So show it, but without the ability to uncheck it?

[2015-08-25 23:33] WaBirder57 commented on #225
Yes.

From: David Glick [mailto:notifications@github.com]
Sent: Tuesday, August 25, 2015 4:31 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] MVS Story #291 - Detect Youth via Birthdate (#225)

So show it, but without the ability to uncheck it?

—
Reply to this email directly or view it on GitHub <https://github.com/washingtontrails/vms/issues/225#issuecomment-134770086> .  <https

[2015-08-26 14:59] chrisrossi commented on #225
I've fixed this here: https://github.com/washingtontrails/vms/pull/226

I was a little concerned that merely disabling the checkbox would be confusing to users, so I also added a message in lieu of the birthdate widget: "Your birthdate is registered with My Backpack"

I'm happy to tweak that language if you like.

[2015-08-26 17:25] chrisrossi opened #227 ""Sign in to My Backpack" button link inoperable in "Crew Corner""
If you go to "Crew Corner" for a work party and are not signed in, you will see a header image with a translucent green button that says "Sign in to My Backpack".  The button is not actually clickable on Chrome.  This may be Z-index issue, such that it is actually behind the header image which is not entirely opaque.

FWIW, there is a "Sign in to My Backpack" button on the sidebar on the right han

[2015-08-26 22:09] WaBirder57 commented on #225
I like the message now, but this is always displaying.  For example as an sign up for a work party.  This Check Box for under 18 is visible.  However the text "Your birthdate is registered with My Backpack" still displays.  let me know if you need more details about if the user has a birthday and if that check box is in fact checkable.

[2015-08-26 22:13] WaBirder57 opened #228 "Story #259 Site header Plone"
This Plone header is not the same on Pyramid as Plone.  When Logged into Plone (mybackpack.wta.org) the header shows the image from the users profile. When logged into pyramid the header doesn't show this image or indicate the identity of the person logged in.  Attached are screen shots of these two different headers.
![pyramidloggedinheader](https://cloud.githubusercontent.com/assets/8312206/9507

[2015-08-26 23:38] davisagli commented on #228
Oh right, I set up the one in Pyramid before the design was finalized and need to adjust it. Thanks for the reminder.

[2015-08-27 14:42] chrisrossi commented on #225
Hi Charles,

The expected behavior is:

1) If you are not logged in or are logged in but the system doesn't know
your birthdate, you see an operable checkbox for 'Under 18' and no
message.  If you check 'Under 18' the birthdate date picker widget appears,

2) If you are logged in, the system knows your birthdate, and you are under
18, you will see an inoperable checkbox for 'Under 18' which is che

[2015-08-27 19:25] WaBirder57 opened #230 "Crew Corner Tab for non-logged in Guest - link to login doesn't work."
As a non logged in visitor to VMS I open a Work Party to look at the details.  Click on the Crew Corner Tab and there is a message that i must be part of the crew and have an account to see the Crew Corner.  There is a link "Sign In To My Backpack" but this is "grayed out".  Seems like this link should be live.
![crewcornertablogin](https://cloud.githubusercontent.com/assets/8312206/9530769/a5f7e1

[2015-08-27 19:31] WaBirder57 opened #231 "Vol Vacation Payments create extra (duplicate) contact"
When a person, non member,  makes a payment for a Vol Vacation (or other WP with payment) the Zero dollar Membership Opportunity is created for this contact.  Then a New Contact is created with the actually Fee payment opportunity.  All these Opportunities should be on the same SF Contact, the one with the WP registration.

It seems this is also the case for a Member who pays for a WP.  The opport

[2015-08-27 19:32] chrisrossi commented on #230
Duplicate of #227

[2015-08-27 23:54] davisagli commented on #231
@mscholtz how does CnP match contacts?

[2015-08-27 23:55] #230 closed

[2015-08-29 21:03] chrisrossi commented on #214
Fixed by PR #232

[2015-08-31 19:56] WaBirder57 opened #233 "WP Time Zone Hours shifts"
When looking at a work party schedule from a different US time zone (eg Central) the Start and End time in the Find a Work party list are shifted.  So for a work party from 8:30am - 3:30pm it will be displayed as 10:30am - 5:30pm for a user in the Central Time zone.  These times should all display in Pacific Time (local to where the WP is).

[2015-08-31 19:59] WaBirder57 opened #234 "WP Finder List - Time is different than the WP Info tab - Time"
When looking at a work party in the WP Finder list the time may be shown as 8:30am - 3:30pm.  When you click to open a WP the time on the Info tab is shifted 7hrs to be 3:30pm - 10:30pm.

The time on the detailed WP Info should show the same time as the WP is scheduled for and be the same as shown on the WP Finder view.

[2015-09-01 02:10] davisagli opened #235 ""first thumbs up" email should link to the trip report that was upvoted"
This requires:
- [x] Salesforce needs a field on Contact to store the URL of the first upvoted trip report (First_Upvoted_Trip_Report_URL__c)
- [x] The celery task which batch updates Salesforce contacts needs to determine that url and include it in the uploaded data.
- [x] Merge this field in the email template

[2015-09-01 02:19] davisagli commented on #214
Deployed

[2015-09-01 18:05] WaBirder57 commented on #214
It works.  Thanks.

[2015-09-01 18:05] #214 closed

[2015-09-01 18:06] WaBirder57 commented on #225
OK this works, thanks.

[2015-09-01 18:06] #225 closed

[2015-09-01 18:08] WaBirder57 opened #236 "Crew Corner Email message format to Crew"
Here is my feedback about this feature:
1.  I was able to input my own subject line. It did not show the work party name or URL when I received an email. I think it is important for the subject line to include the work party name and start date. I also think it's nice for the crew leader to be able to customize the subject. Would this be feasible:
    * For email: Auto-append the Work Party Name a

[2015-09-01 18:09] mscholtz commented on #235
@skleinfeldt oh man, I would really like all tickets (or at least all tickets that impact SF) to be in one place.  Can we just make "MBP Budget" tags here?

[2015-09-01 18:15] skleinfeldt commented on #235
Let's discuss in standup. The issue to me is that there are many more tickets than stories and they are more ephemeral, so the possibility of mis-labeling and mis-reporting time seems greater.

[2015-09-01 20:43] skleinfeldt commented on #235
And the decision is: use this repo for everything. Which means

IF YOU CREATE A TICKET YOU HAVE TO GIVE IT THE RIGHT BUDGET LABEL!!!

[2015-09-02 18:16] WaBirder57 opened #237 "New Salesforce Contacts from VMS should have leadsource = "Trail Work""
When VMS creates a new contact in Salesforce the Contact.LeadSource fields should be set to "Trail Work".  Currently it is setting this field to "Website".

[2015-09-02 18:22] WaBirder57 opened #238 "ACLs viewing Work Parties can see the list of registered CL and ACL's"
If an ACL is logged into VMS, they will be able to see in the Crew Corner tab of a work party the list of registered CL and ACLs.  Note, the ACL does NOT need to be registered for that work party to see this list.

[2015-09-02 22:46] davisagli commented on #237
@mscholtz I think we should make the userlogin webservice accept the lead source as a parameter, since it may be called from either Plone or Pyramid.

[2015-09-02 22:57] WaBirder57 opened #239 "Story #266 - Add Car Pool location"
Add a text box in the My Backpack User profile - VMS section - for user to store Car Pool Location in their profile.  Such as "Ravenna Park and Ride" or "Issaquah Transit Center" or other location information.

[2015-09-02 22:59] mscholtz commented on #237
Sure, makes sense.

On Wed, Sep 2, 2015 at 3:46 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-09-02 23:00] davisagli commented on #239
And then use that as a default value for the car pool message/notes field on the VMS registration form?

[2015-09-02 23:00] WaBirder57 opened #240 "Story #250 - Email notice doesn't list friends and family members."
This did not work for me. In VMS, as Soren Eagle, I signed up with Li Chen and Al Pine, and my confirmation email says party of 1, and their names are not included. This is for a "day work party." Is the confirmation email template for this work party type just not correct? It was this work party: https://cs9.salesforce.com/a2eK0000003Oyat (JC 9/1)

[2015-09-02 23:15] WaBirder57 commented on #189
Looks good.

[2015-09-02 23:15] #189 closed

[2015-09-02 23:16] WaBirder57 commented on #142
Looks good.

[2015-09-02 23:16] #142 closed

[2015-09-02 23:17] WaBirder57 commented on #178
Looks good.

[2015-09-02 23:17] #178 closed

[2015-09-02 23:19] WaBirder57 commented on #40
We have gone with the route of adding more smaller SF Rich Text fields.

[2015-09-02 23:19] #40 closed

[2015-09-02 23:58] WaBirder57 commented on #239
Yes, thanks for adding this clarification.

[2015-09-03 19:18] cewing opened #241 "My Backpack front page shows incorrect badges and location"
The badge data and "location" for the My Backpack homepage is calculated from the currently authenticated user, not from the user whose backpack is being displayed.  This results in incorrect or missing data when viewing someone else's backpack, or when viewing any backpack when not authenticated.

[2015-09-03 19:22] cewing commented on #241
Actually, now that I look closer, this is also a problem for the user data shown below the big header.  It is also using the currently authenticated member, not the user whose backpack is displayed

[2015-09-03 19:50] cewing commented on #241
I am wrong.  This is not an issue.

[2015-09-03 19:50] #241 closed

[2015-09-04 23:16] cewing commented on #234
@WaBirder57, there is a decision that needs making here.  If you want to skip the long description, the choice is between forcing all time displays to be local to WA state and allowing them to be local to the user's browser (if I'm in Colorado, the time displayed will be 1 hour later than it is here).

What follows is a longer description of the cause, the solutions available and the outcomes.

Th

[2015-09-04 23:19] cewing commented on #234
personal note: see Javascript `utils.DateRange` for the javascript function that is rendering date ranges

if option 1 is chosen, create a python utility that can convert datetime values to appropriate local times and then send those values to js without any TZ offset values to prevent moment.js from automatically converting them to browser local time.

[2015-09-04 23:20] cewing commented on #233
This is related to and caused by the same problem as #234

[2015-09-04 23:27] cewing commented on #234
@WaBirder57: actually, reading #233, it would appear that you want time always to display in WA state local time, not in the user's timezone.  If that is true, then the above question need not be answered, and I will pursue option 1

[2015-09-08 16:25] WaBirder57 commented on #234
Elliott and Rebecca,

My understanding is that the Work party times should always display in
local Seattle time no matter where in the world the user is located.  Thus
option #1 below

Please reply all to this email so Chris knows how to build this.

Thanks.

Charlie

Charles Kahle
WTA Information Services Manager
On Sep 4, 2015 5:16 PM, "Cris Ewing" <notifications@github.com> wrote:

[2015-09-08 17:19] WaBirder57 commented on #234
Yes, Charlie, it should always display Seattle time no matter where the
user is.

On Tue, Sep 8, 2015 at 9:25 AM, Charlie Kahle <charles@wta.org> wrote:

--
Rebecca Lavigne | Trail Program Director
Washington Trails Association
705 Second Ave Suite 300
Seattle WA 98104

206.625.1367 - office
206.965.8559 - direct
www.wta.org

[2015-09-08 17:43] cewing commented on #234
All set, then.  Thanks.  I've got a PR open to solve this and #233.

[2015-09-08 19:38] davisagli commented on #233
This should now work correctly.

[2015-09-08 19:38] davisagli commented on #234
This should now work correctly.

[2015-09-08 20:18] cewing opened #243 ""thumbs up" implementation on trip report listings needs fixing"
Although the total upvote badge is present, the textual display at the bottom of the listing needs fixing:

* find and add the icon to the theme, so it does not 404
* connect the upvote count to this text so it is properly displayed

[2015-09-08 20:23] alecpm commented on #243
I'm pretty sure I finished wiring this up on the listings page.

[2015-09-08 20:27] cewing commented on #243
oh, sweeeeeeeeet!

[2015-09-09 15:11] ninetaLogik commented on #121
I don't understand this ticket. The workflow already handles both new regs and changes in status. I also tested that this works. Can we close this?

[2015-09-09 15:24] ninetaLogik commented on #121
Assigning to Charlie for verification.

[2015-09-09 16:01] WaBirder57 commented on #233
We checked this from the Central Time zone thanks the Tiffany who is working there.  Looks good.

[2015-09-09 16:01] #233 closed

[2015-09-09 16:20] mscholtz commented on #121
Hmm, looks like the rule has been modified since this ticket was filed.  Maybe someone fixed this without remembering there was a ticket..

[2015-09-09 16:24] cguardia opened #244 "Missing fields for work party on Salesforce."
Turns out the description field can be longer than what is shown on the iteration page in ScrumDo, so we missed some fields that need to be added. This ticket is for adding them to Salesforce.

- Before/After WP Location - Header 2, move this to the Location Tab so directions to the WP as well as any Before/After event are display and printed together.

- Work Party Schedule - Header 2

- Planning

[2015-09-09 16:38] davisagli commented on #121
I just tested by creating a waitlisted registration and then changing its status to Registered, and I received an email, so this appearts to be working now, unlike when I filed the ticket.

[2015-09-09 16:38] #121 closed

[2015-09-09 17:26] davisagli commented on #220
Fixed. Let me know if there are any of the multiple-checkbox facets that you *don't* want a help button to show for, and I can remove it easily.

[2015-09-09 17:53] davisagli commented on #213
This works now.

[2015-09-09 18:20] davisagli commented on #223
This should be working correctly now.

[2015-09-09 18:28] davisagli commented on #227
This works now.

[2015-09-09 20:10] WaBirder57 commented on #91
Looks good.

[2015-09-09 20:10] #91 closed

[2015-09-10 01:20] mscholtz opened #245 "change Clone WP routine to use Field Set"
Currently the clone Work Party code (for story 77) is written w/ the fields to clone hard-coded.  We should probably replace this w/ a field set so that WTA staff can adjust later which are cloned.

This was highlighted recently because we wanted to delete a field but it was included here so couldn't be deleted until we changed the code.  Not an exact scenario WTA is likely to run into, but remind

[2015-09-10 01:20] mscholtz commented on #245
@WaBirder57 please set a priority on this one

[2015-09-10 01:29] mscholtz commented on #244
@cguardia I created all of these fields.  Some changes to "What to Bring" are waiting on a question for Charlie, but the field exists.  It's just plain text instead of rich at this point.

New Fieldnames:

* Before_After_Party_Location__c
* Work_Party_Schedule__c
* Planning_Information__c
* What_It_Takes__c
* What_to_Wear__c
* What_to_Bring__c
* More_Info__c

BTW, it's not clear to me how More Inf

[2015-09-10 01:29] #244 closed

[2015-09-16 00:26] mscholtz commented on #240
@drewpiston could you start with this ticket?  I've also got a story for you (162) but need to verify something w/ Charlie on that.

[2015-09-16 00:29] mscholtz commented on #231
@drewpiston how well do you know Click & Pledge.  Do you feel comfy trying to troubleshoot this one?  If not, I can tackle it next week.

[2015-09-16 00:34] mscholtz commented on #215
@drewpiston  could you take on this one this week as well?
I think this is as simple as changing references to "your group" in the text to "your party", and then omitting the Group Name in the list of merge fields.    Could you also rename the template?
Thanks!

[2015-09-16 00:36] mscholtz commented on #210
@WaBirder57 just checking in on this.  See my previous comment.  Should I write a story for this?

[2015-09-16 00:39] mscholtz commented on #204
@WaBirder57 I think we're waiting for you here to decide if we want to switch to template name instead of ID.   Please see this comment from above for my arguments against this https://github.com/washingtontrails/vms/issues/204#issuecomment-129640779

[2015-09-16 14:28] WaBirder57 commented on #231
In our production salesforce if you go to the C&P app.  Click on the C&P
Settings tab.  On the left hand vertical menu click on Accounts and
Contacts.

There you can see the settings to Match Contacts.  Here is a screen shot
(which may not come through).  Also this is may not be sefl explanatory,
kara@wta.org or aaron@wta.org might also be able to help explain this.  I'm
back next week.

Charlie

[2015-09-16 20:19] davisagli opened #248 "indexer not reconnecting to Salesforce if session expires"
The Salesforce client is supposed to catch this sort of thing and log back in, but that must not be working.

[code]

[2015-09-17 00:31] drewpiston commented on #240
Hi @WaBirder57 ,

Could you send me the email you got?  I'm looking at Soren Eagle's record (great name) and it looks correct. Did you get the email at jacassata@gmail.com?

Thanks,
 Drew

[2015-09-17 00:32] drewpiston commented on #215
Done!

[2015-09-17 00:33] drewpiston commented on #215
PS Assigning back to you, Matthew.

[2015-09-17 05:10] mscholtz commented on #215
@drewpiston I just looked at the template, and it looks like it hasn't been changed at all.  Mod date hasn't incremented.  Did you save a new version or something?

[2015-09-17 16:20] drewpiston commented on #215
Hi Matthew,

I thought this had already been taken care of, and when I looked at that email template it wasn't used by any workflow rules.

I just ran another test, though, and it does look like there was a "group" label in this email template, which I have removed (and replaced with the smart Family and Friends field):
https://cs9.salesforce.com/00XK0000000Mg4U?setupid=CommunicationTemplatesEmail

[2015-09-17 18:14] mscholtz commented on #215
Ah.  I think what happened is the WF rule was switched to use the other template since I wrote this ticket.  In any case it looks good now.  I'm going to mark the Group template as deprecated.  Thanks, Drew.

[2015-09-17 18:14] #215 closed

[2015-09-17 19:28] cewing commented on #206
@WaBirder57 What phone number should be used here?  I have implemented the feature, but need a phone number to use for the alert paragraph at the top of the table @davisagli suggests above.

[2015-09-17 19:49] cewing commented on #206
I have committed code to solve this problem, @davisagli please do not merge until @WaBirder57 has provided the correct Phone number for the message.

[2015-09-17 21:51] cewing commented on #238
I apologize if this is clear to everyone but me, I want to make sure I understand, @WaBirder57.

Is this issue asking for us to remove the ability for ACLs to see this list, or to add it?  In other words, does this ticket describe a situation which now exists and should not, or does it describe a situation that does not exist but should?

Thanks for the clarification.

[2015-09-17 21:52] cewing commented on #238
@davisagli, not sure, but perhaps you or @cguardia could chime in on my question above.

[2015-09-17 21:57] davisagli commented on #238
Currently if a user with VMS_Permission_Level__c = 'Assistant Crew Leader' clicks on the Crew Corner tab for a work party they're not registered for, they see a prompt to register. So I'm pretty sure Charlie's describing a desired behavior that we haven't implemented yet.

Presumably it should do the same thing for VMS_Permission_Level__c = Crew Leader too. We already have something like this for

[2015-09-17 22:00] WaBirder57 commented on #238
Chris,  this doesn't work this way now.   An ACL or CL signed into VMS
should be able go to any work party and see the list of CL and ACL signed
up.

Basically they can browser around,  see what work parties there ACL friends
have signed up for,  without having to join the WP.

I think the behavior now is that if you are not signed up for the WP you
can't see who is signed up.

Charlie

Charles Ka

[2015-09-17 22:01] cewing commented on #238
Thanks, @davisagli and @WaBirder57

That makes good sense, and I understand the goal.  I'll take this one on asap.

[2015-09-20 22:22] davisagli commented on #238
This is deployed and working now.

[2015-09-20 22:25] davisagli commented on #206
This is deployed and seems to work.

[2015-09-21 19:40] davisagli opened #251 "fix 'cancel registration' link from My Work Parties"
My Work Parties shows a 'cancel registration' button for upcoming work parties which links to VMS, but it doesn't work because it's a POST-only endpoint that is meant to be called via AJAX. We need to fix this.

[2015-09-22 15:43] WaBirder57 opened #252 "Mutli Day work party registration fails to show days to register for."
When I try to register for a multi day work party, SF: https://cs9.salesforce.com/a2eK0000002OXYH and VMS: http://staging.wta.org:6543/workparty/a2eK0000002OXYH the registration form doesn't show which day I want to register for.

The Work Party Type Weekend Work Party: https://cs9.salesforce.com/a2wK0000002GGl7 does have Allow single day registration checked.

[2015-09-22 15:48] WaBirder57 opened #253 "Mulit day work party gets stuck on registration form, register button doesn't work."
When I try to register for a multi day work party, SF: https://cs9.salesforce.com/a2eK0000002OXYH and VMS: http://staging.wta.org:6543/workparty/a2eK0000002OXYH I click on the registration button it just flashes for a second "Registering" then returns me to the form with button reading "Register".

This is the same for each of the several different users I tried to register.

The Work Party Type W

[2015-09-22 15:51] davisagli commented on #252
Should work now; this broke when we made the change to using date and time instead of just date.

[2015-09-22 15:52] davisagli commented on #253
It was failing because specifying days is required but they were not on the form -- so this turns out to be the same issue as 252. Should work now.

[2015-09-22 15:56] WaBirder57 commented on #252
Works now.

[2015-09-22 15:56] #252 closed

[2015-09-22 15:57] WaBirder57 commented on #253
Works now.

[2015-09-22 15:57] #253 closed

[2015-09-23 17:06] mscholtz opened #254 "Payments from friends/family parties not handled correctly in SF"
When a payment from a f/f party is made via VMS, and sent to C&P as a single transaction w/ multiple line items, we have the following problems:

1. C&P creates two separate opps (since it always does that w/ line items unless we have Opp Products turned on
2. Both opps are getting tagged w/ the Registration ID of the purchaser
3. This leads to only the purchaser's reg getting the Registered statu

[2015-09-23 17:08] mscholtz commented on #254
@WaBirder57 here's a ticket for what we discussed yesterday
@davisagli I think we're ready for your part of this
@ninetaLogik can you do the SF side once David's done?  Let me know if you want to discuss it.  Let's do this before story 194

[2015-09-23 17:09] mscholtz commented on #254
@davisagli while you're at it, why don't you pass a custom field w/ the donation amount if there is a separate donation, for story 194.  It's now clear that's what we need for that.  Call it whatever you want, just let us know the name.

[2015-09-23 17:14] davisagli commented on #254
Okay I'll make sure Carlos knows to do that as part of story 194

[2015-09-23 17:36] davisagli commented on #254
@mscholtz @ninetaLogik ok I updated the pyramid app to always pass a single line item with the total amount.

[2015-09-23 19:19] WaBirder57 opened #255 "Volunteer Thank you email from Crew Leaders - Story#42: Add Subject line with WP name & date"
After a work party the Crew Leader will send out a Thank you email to all crew members, see story #42.

Change the subject line so that it defaults to a standard:

Subject: Thank you for volunteering with WTA! [Work Party Name] – [START DATE]
where the [Work Party Name] and [Start Date] are pulled from the Workparty info.

[2015-09-23 19:29] drewpiston commented on #240
Hi @mscholtz ,

This was broken because I neglected to delay the email by 5 minutes so that the custom roll-up had time to work.

However, I think I have a solution that doesn't rely on the email delay -- would you be willing to look at WTA_VMS_REST_CreateRegistration and let me know if you think it's not too convoluted? I don't like delaying the email, and we have all of the info in that method s

[2015-09-23 21:06] WaBirder57 opened #256 "Backcountry Expereince form link has Form assembly fields in URL reversed"
On the Documents Tab of a VMS Work Party (eg: http://staging.wta.org:6543/workparty/a2eK0000003Oz2E/)
 the Back Country Experience form link has the URL: https://www.tfaforms.com/362616?tfa_18=003K0000012Epi5&tfa_19=a2oK0000000mevo

The field tfa_18 should be for the Registration_ID and tfa_19 should be the Contact_ID.  These fields are reversed in the URL such that the Contact ID is being mapped

[2015-09-23 21:09] davisagli commented on #256
Charlie, you can fix this yourself on the Required Document record for the backcountry experience form: https://cs9.salesforce.com/a2pK0000000d9ph

Just edit the "Contact ID Parameter" and "Registration Parameter" there.

[2015-09-23 21:10] ninetaLogik commented on #254
@mscholtz I tested and verified that if we have multiple Payment Pending Regs (such as one person registering multiple people) the code works correctly and when the Fee/Purchase opp comes in all related regs get Status=Registered. We designed this trigger to work one-at-a-time, and my suspicion is that since we're now getting multiple c&p opps our trigger does not handle that. I will verify my ass

[2015-09-23 21:14] WaBirder57 commented on #256
Sweet! All fixed.

[2015-09-23 21:14] #256 closed

[2015-09-23 21:34] WaBirder57 commented on #135
Works, cool.

[2015-09-23 21:34] #135 closed

[2015-09-23 21:35] WaBirder57 commented on #154
Thanks for the answer.  We will leave it as is for now.

[2015-09-23 21:35] #154 closed

[2015-09-23 21:56] WaBirder57 commented on #129
Looks good and both forms are working.

[2015-09-23 21:56] #129 closed

[2015-09-24 00:13] ninetaLogik commented on #254
This should now be addressed. Changed the trigger to be able to process a list of incoming opps and look for the purchase/fee opp to use. Who should this ticket be assigned to for testing?

[2015-09-24 04:49] mscholtz commented on #188
This is still failing today.  Tried updating API version for all relevant classes to most recent version, no dice.  Going to submit a case b/c worried this is going to get in the way of deploy.

[2015-09-24 05:04] mscholtz commented on #188
Forgot momentarily that contacting SF support is futile.  Asked Dave Manelski to look into this.

[2015-09-24 06:10] mscholtz opened #257 "Won't allow me to publish summary report without image URL"
A get an error 'imageOrVideo' attempting to Save a report after setting Status to Publish if I don't have an image URL entered.  Saves OK if I leave it as Draft.  Don't think this should be required (@WaBirder57 can you verify?), but if it should be then it should be indicated on the form as such.

![image](https://cloud.githubusercontent.com/assets/931031/10066449/fe87d7fc-6247-11e5-9e8e-b7c22f41

[2015-09-24 06:13] mscholtz opened #258 "display of message/image in Summary Report repeated after publishing"
Immediately after publishing a summary report, my Message to Crew and the image show up twice on screen

![image](https://cloud.githubusercontent.com/assets/931031/10066529/a03d3e7a-6248-11e5-899a-cb609b224a3a.png)

If I navigate away or refresh the page, then the message only shows up once and the image isn't shown at all.

This should be consistent.  Not sure if the image needs to be displayed o

[2015-09-24 06:21] mscholtz opened #259 "thank you email: put image inline?"
We originally included the image as a link b/c we were doing plain text emails.  Now that we're doing HTML, we could include it inline..

@WaBirder57 your call if you think this is worth doing

[2015-09-24 06:24] mscholtz commented on #217
@davisagli did you ever look into this one?

[2015-09-24 06:31] mscholtz opened #260 "multiple report records saved for single WP report"
I just saved a draft WP report, saved it, made some changes, saved again, eventually published.
I ended up w/ 4 different Report recs in SF, 2 in draft, 2 in published.
It's possible that the extra Published one is due to the bug in ticket #257 , not sure
But in any case in general we want the existing report to be updated once it exists, not create a new one with every edit.

![image](https://clo

[2015-09-24 06:34] mscholtz opened #261 "WP not changed to Completed when final report Published"
just submitted a report in state Publish for a WP, and the WP status did not change.  IIRC, this should trigger it going to status Completed.  Not sure if the problem is on the pyramid or SF side, or if this has anything to do w/ the new Published status value in SF

[2015-09-24 06:35] mscholtz opened #262 "prevent publishing WP Report before scheduled end of WP?"
VMS just allowed me to create and publish the summary report for a WP even though the WP end date isn't until tomorrow.  I could envision wanting validation here to prevent over-eager leaders from jumping the gun, or simply misclicking.  @WaBirder57 your call if this is important.

[2015-09-24 06:39] mscholtz commented on #255
@WaBirder57 i just tested this, and currently it allows the user (i.e. the leader) to enter a subject.  Does this change your mind at all?  If we want a boilerplate subject we should probably not allow them to enter that.

[2015-09-24 15:15] WaBirder57 commented on #255
The volunteer thank you email should start with a standard boiler plate subject line as we have described with WP name and start date.  If we can allow for a crew leader to change this if needed that would be great.

Charlie

Sent by Outlook for Android

From: Matthew Scholtz

Sent: Wednesday, September 23, 11:39 PM

Subject: Re: [vms] Volunteer Thank you email from Crew Leaders - Story#42: Add Su

[2015-09-24 15:51] davisagli commented on #217
Not yet.

[2015-09-24 15:56] davisagli commented on #261
That's supposed to be handled by this workflow rule: https://cs9.salesforce.com/01QK00000001EjI

[2015-09-24 16:36] drewpiston commented on #240
Matthew approved code, I added comments, and this is ready for review!

[2015-09-24 17:22] WaBirder57 commented on #257
Matthew,  the Summary report and email to volunteers does NOT require an image or video.  Just nice to have.

Charlie

From: Matthew Scholtz [mailto:notifications@github.com]
Sent: Wednesday, September 23, 2015 11:11 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: [vms] Won't allow me to publish summary report without image URL (#257)

A get an error 'imageOrVideo' attempting to Save a repo

[2015-09-24 17:25] WaBirder57 commented on #258
Seems like we don’t want that single image duplicated.

From: Matthew Scholtz [mailto:notifications@github.com]
Sent: Wednesday, September 23, 2015 11:14 PM
To: washingtontrails/vms
Subject: [vms] display of message/image in Summary Report repeated after publishing (#258)

Immediately after publishing a summary report, my Message to Crew and the image show up twice on screen

 <https://cloud.githu

[2015-09-24 17:27] WaBirder57 commented on #259
Yes, having the image inline for the emails would be preferred and worth doing.

Charlie

From: Matthew Scholtz [mailto:notifications@github.com]
Sent: Wednesday, September 23, 2015 11:22 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: [vms] thank you email: put image inline? (#259)

We originally included the image as a link b/c we were doing plain text emails. Now that we're doing HTML, w

[2015-09-24 17:32] WaBirder57 commented on #262
Yes, this would be nice to have.  Medium priority fix to add the date check to prevent publishing a summary report until after the end date of the WP.

From: Matthew Scholtz [mailto:notifications@github.com]
Sent: Wednesday, September 23, 2015 11:36 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: [vms] prevent publishing WP Report before scheduled end of WP? (#262)

VMS just allowed me to c

[2015-09-24 17:51] davisagli commented on #257
It was not required but some code was trying to access it even if it was not set. Should work now.

[2015-09-24 18:04] WaBirder57 opened #263 "Story #305: WP description fields. Did we loose the Breakfast Spot feature?"
The WP Breakfast Spot information (including directions) should show up on the WP Location Tab.  Seems like this is no longer displayed.  See WP "Testing 305a": https://cs9.salesforce.com/a2eK0000002OXTW?srPos=0&srKp=a2e  as shown in VMS as: http://staging.wta.org:6543/workparty/a2eK0000002OXTW/  This information should be included in the printed directions.

Note that the Before/After section of

[2015-09-24 18:13] WaBirder57 opened #264 "Story #305: WP Description Rich Text Field Character Count display"
Is it possible to add a character count field to these fields in Salesforce so that users will know how many characters they can still enter?  It is currently a guessing game every time you save changes to see if the character limits have been exceeded.

[2015-09-24 18:27] drewpiston opened #265 "Auto-WP Registration creation/deletion on WP.Leader change"
Right now, WP Regs are only auto-created when a WP.Leader is set from a null value to a non-null value.

WTA would like us to auto-handle WP Registrations when the WP.Leader field is changed from one value to another.  The specifics are TBD (should the old WP Reg be deleted?).

[2015-09-24 18:28] cewing commented on #228
I'll take this one on.

[2015-09-24 18:37] WaBirder57 commented on #265
If the WP Crew Leader changes, delete the old registration.

[2015-09-24 18:45] WaBirder57 opened #266 "Guest Signs up for BCRT - no way to access required documents"
When volunteer as a Guest to VMS signs up for a BCRT (or any work party with required forms - such as Medical or the Back Country Experience form) there is no way for them to complete the required forms.

[2015-09-24 18:47] davisagli commented on #266
There should be a link to the forms in the reminder email they get prior to the work party's start.

[2015-09-24 18:57] WaBirder57 commented on #266
The Volunteer needs to get access to these forms when they sign up.  The reminder email may not come out for some time.  Seems like the logical place for these links would be the in registration confirmation email that goes out at the time of sign up.

[2015-09-24 19:00] davisagli commented on #266
That makes sense to me. @mscholtz how hard would it be to include those links in the registration confirmation email too? I'm not sure if we are building those with a visualforce template yet.

[2015-09-24 19:54] davisagli commented on #260
@mscholtz which WP was this?

[2015-09-24 20:38] WaBirder57 opened #267 "VMS Registration Page layout issue for volunteer with no My Backpack"
When a non registered user (no my backpack) signs up for a work party the sign in screen encourages the user to create a my backpack.  See the attached screen shot where the area between "Create My Backpack Account?" and "5 reasons to have a Backpack Account" has an overlapping check box:

![layout issue](https://cloud.githubusercontent.com/assets/8312206/10085298/42afae80-62bd-11e5-96c5-120e925d3

[2015-09-24 20:51] davisagli commented on #260
This was a bug affecting re-editing a report after it's created without reloading the page. Fixed.

[2015-09-24 21:01] davisagli commented on #267
Fixed

[2015-09-24 21:13] davisagli commented on #263
Okay on the Location tab I added the Breakfast Spot and removed the Before/After section. Did I get it right?

[2015-09-24 22:15] davisagli commented on #248
I refactored the SalesforceClient so all calls to Salesforce go through _call_salesforce, so it's easier to be consistent about exception handling and logging.

[2015-09-24 22:15] #248 closed

[2015-09-24 22:31] WaBirder57 commented on #267
Thanks, looks good.

[2015-09-24 22:31] #267 closed

[2015-09-24 22:52] WaBirder57 commented on #263
Close.  The Breakfast spot info looks great. The field for the Before/After Party Location should be listed on the Info Tab under the section for Before/After Party description.  From my test it doesn't look like these directions are display anywhere.  check out this sample WP: https://cs9.salesforce.com/a2eK0000002OXTW

[2015-09-25 00:02] davisagli commented on #263
Oops, I missed that there is both a Before/After description *and* a separate location. Will fix.

[2015-09-25 00:10] mscholtz commented on #266
Hey @WaBirder57 , is this something you definitely need before launch?  We talked this over when we first built it, and at that time, you thought it was good enough that they guest users could download the printable version of the form from the browser.

We could include this in the registration confirmation email, but it would entail a decent amount of work, as we would need to change that from a

[2015-09-25 00:22] mscholtz commented on #257
it's now giving me a "'SFType' object is not callable" err when attempting to change to Publish
http://staging.wta.org:6543/workparty/a2eK0000002OXaI/

[2015-09-25 00:23] mscholtz commented on #188
per Dave this likely won't be fixed until Spring.  so I think we have to deal with it now

[2015-09-25 00:26] mscholtz commented on #259
@WaBirder57 please set priority

[2015-09-25 00:28] mscholtz commented on #261
Ah, it didn't work b/c the end date was in the future.  This should be taken care of if we do ticket #262

[2015-09-25 00:28] #261 closed

[2015-09-25 00:35] davisagli commented on #257
Sorry, that's caused by some unrelated refactoring I did this afternoon. Try now.

[2015-09-25 00:40] #257 closed

[2015-09-25 00:40] #260 closed

[2015-09-25 00:43] mscholtz opened #268 "shoudn't be able to change WP Report of Status "Publish" back to "Draft"?"
VMS allows me to take a published WP report and change it back to draft.  Not sure this should be possible.  @WaBirder57 what say you?

Furthermore, if I had already filled in the crew message and that email had gone out, if I later change it back to published status, it will send the message again.  So even if we do allow setting it back to Draft, I think we need a mechanism to avoid repeating th

[2015-09-25 00:53] mscholtz commented on #268
also, very minor, but can we change the status to "Published" instead of "Publish"?  The latter belongs on a button, but not on a status value.

[2015-09-25 01:18] davisagli commented on #243
Yep, this appears to be working.

[2015-09-25 01:18] #243 closed

[2015-09-25 01:27] cewing commented on #228
@WaBirder57, @davisagli: just for the sake of clarity here.  Is the idea to make the VMS header work **exactly** like the header in Plone?  There are a few things going on there that need work:

1.  When logged in, the 'my backpack' bit is blue, but when not, it is orange.
2.  When logged in, the icon shown in the my backpack bit is the user portrait, if the user has one, otherwise it's the circul

[2015-09-25 15:48] davisagli commented on #228
Right, we should fix 1 and 2. The design for the My Backpack button wasn't finalized when I worked on this before.

[2015-09-25 16:10] WaBirder57 commented on #268
I agree with both of these.  Once the report is Published it should not go back to a status of "Published".

[2015-09-25 16:11] davisagli commented on #268
So once it's published should we not show the Edit button at all? Or can the leader still edit a published report?

[2015-09-25 16:24] davisagli commented on #263
fixed

[2015-09-25 17:17] davisagli opened #270 "problem accessing Crew Leader Corner"
from Charlie:

Julie@wta.org is trying to access her My Backpack Crew Leader Corner but all she see's is the My Workpartys tile.  Her SF Contact record is set to be VMS Admin as well as a CL.  Where else should I look to figure out why she can't see the Crew Leader Corner tile?  This works for me so i know this feature is funcational.

[2015-09-25 17:46] WaBirder57 commented on #270
Tiffany is having the same or similar problem.  Could be related to cookies and logging out from one user to logging in as another especially when switching to VMS.

[2015-09-25 17:47] davisagli commented on #270
Has nothing to do with cookies. The sync of member properties from Salesforce to Plone was not working; I'm in the middle of fixing it.

[2015-09-25 17:48] davisagli commented on #270
It worked for you since you're a Plone admin, Charlie, and in that case it doesn't look at the VMS permission level from Salesforce.

[2015-09-25 18:27] davisagli commented on #270
Please have them try again; I've got the member property sync working and verified that Julie's Plone user knows it's a VMS admin now.

[2015-09-25 18:29] davisagli commented on #262
It now validates against the end date and won't let you change the status to Publish if today is before the end date.

[2015-09-25 18:41] davisagli opened #271 "Confirmation email sent too early for paid registrations"
I started to register for http://staging.wta.org:6543/workparty/a2eK0000002OXWL/ which has fees.

I received a confirmation email soon after I reached the payment form, without submitting the payment form.

Seems like we should not send the confirmation until payment is received. Not sure if the bug is that Salesforce is marking the registration as Registered too soon, or that the confirmation ema

[2015-09-25 18:43] davisagli commented on #271
The registration in SF has a status of Payment Pending, so it seems like the latter.

[2015-09-25 18:45] davisagli commented on #271
I'm confused why this happened, because the workflow is only triggered with status = 'Registered' -- https://cs9.salesforce.com/01QK00000001GEy

Does the registration get created first with a status of Registered and then get transitioned to Payment Pending after that, or something?

[2015-09-25 18:45] davisagli commented on #271
My registration is https://cs9.salesforce.com/a2oK0000000mnPi

[2015-09-25 19:06] mscholtz commented on #71
assigning to charlie for review

[2015-09-25 19:24] mscholtz commented on #271
Yes, the issue here is in the interaction between the webservice and the trigger that checks capacity and puts people on the waitlist.

The way this currently works is:

* webservice inserts reg w/ empty status
* before insert trigger fires, checks if there's space, then assigns either Registered or Waitlisted
* webservice then switches it to Payment Pending if it's not Waitlisted and the WP requi

[2015-09-25 19:52] mscholtz commented on #255
I believe that makes this an entirely pyramid ticket then.  @davisagli

[2015-09-25 19:57] mscholtz commented on #237
ok, just added this.  new param leadSource is in the login webservice.
it will not change leadsource if it finds an existing contact
if it creates a new contact, it will assign the given leadsource if there is one.  if not, it defaults to Trail Work.

@davisagli over to you to adjust your calls to the webservice.  when that's done plz assign to charlie for review

[2015-09-25 20:00] davisagli commented on #228
should work correctly now

[2015-09-25 20:17] davisagli commented on #237
The pyramid app now passes 'Trail Work' to the vmslogin webservice and the Plone site now passes 'Website'.

[2015-09-25 20:56] mscholtz commented on #231
This should be fixed now.  It was not using the right email fields on the SF side to match existing contacts.

One possible issue though, @WaBirder57 : in production, your C&P Settings are set to match on mailing address, in addition to name and email.  Our understanding of that is that if it doesn't match on all 3 of those things, it'll create a Temp Contact.  And that would be a big problem, sin

[2015-09-25 21:00] #133 closed

[2015-09-25 21:00] #134 closed

[2015-09-25 21:18] mscholtz commented on #216
hey @drewpiston finally got around to looking at this.  looks good i think.  One thing I can't remember: did we decide that if we split the party due to lack of room for all, that we only invite the "main" registrant at that point, as opposed to inviting as many people as we can fit from the party?

also: what happens if the user tries changing the status of one of the non-main registrants, and th

[2015-09-25 21:19] #254 closed

[2015-09-25 23:37] WaBirder57 opened #273 "Land managers, staff and CL need to view Summary Reports for Trail Segments."
This is complex place holder for what may be several tickets with different priorities.

1) Staff need to be able to see historical WP Summary Reports for specific Trial Segments. We are not even able to build a SF Report to show this information.
2) Land managers need to be able to see Summary Reports for work done on Trail Segments they manage
3) CL and ACL need to be able to see Summary Reports

[2015-09-26 00:19] davisagli commented on #273
Re 1, I'll leave it to @mscholtz for what the best way would be to do this in Salesforce.

Re 2 and 3, there is some ability to do this already: ACLs or CLs can click on the Report tab for a current work party, then click the "See All Summaries" button to get a list of summary reports for prior work parties on any of the work party's trail segments. Land Managers can also do this for work party's

[2015-09-28 17:25] WaBirder57 commented on #266
We are not going to support Guest sign ups for trips that require Medical or Back-country experience forms.  That will remove the need for this information in the Guest registration confirmation email.

We should explicitly change the Sign up UI for these types of Work Parties to let folks know they need to have a My Backpack account to register and prevent them from registering.

[2015-09-28 17:29] davisagli commented on #266
That's a new story.

[2015-09-28 17:31] WaBirder57 opened #274 "Add Captcha tool to reduce chance of bots signing up for Work Parties"
We need to add a re-Captcha tool to the WP Registration form to reduce change of BOTS signing up for Work Parties.

Note that we are not using this when a My Backpack is created.  Just add for the Guest registration page.

[2015-09-28 17:44] WaBirder57 commented on #266
VMS Story #317 has been created for this.

From: David Glick [mailto:notifications@github.com]
Sent: Monday, September 28, 2015 10:29 AM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] Guest Signs up for BCRT - no way to access required documents (#266)

That's a new story.

—
Reply to this email directly or view it on GitHub <https://github.com/washingtontrails/vms/issues/266#issuec

[2015-09-28 20:54] WaBirder57 commented on #71
Tiffany reports the following problems are still occurring.  I have attached an MS Word file with the following content plus hyperlinks to the various objects so you can more quickly reproduce her test.

[Re Testing Ticket #71.docx](https://github.com/washingtontrails/vms/files/3969/Re.Testing.Ticket.71.docx)
ACL:
•	I logged in as Margaret Sanger, ACL
•	I registered as an ACL for Sawtooth Logout -

[2015-09-29 15:12] WaBirder57 commented on #268
Right, don't show Edit since that is not an option we will support.

[2015-09-29 15:26] WaBirder57 commented on #204
Lets leave these as is with the ID. @ebskopin @mscholtz  I think this is OK to close but double check.

[2015-09-29 15:27] WaBirder57 commented on #204
Lets leave these as is with the ID. @ebskopin @mscholtz  I think this is OK to close but double check.

[2015-09-29 15:27] #204 closed

[2015-09-29 17:57] WaBirder57 commented on #266
Moved to ScrumDo Story 317.

[2015-09-29 17:57] #266 closed

[2015-09-29 18:33] WaBirder57 commented on #231
We have discussed this and we do use the Temp contacts created when the billing address doesn't match a mailing address to verify if that is a change we want to make.  Reasons why there may be a difference include seasonal address as well as folks who get their magazines and other mail at a different address (eg Europe) from their CC billing address.

In order not to hold up the Vol Vac payment co

[2015-09-29 19:17] mscholtz commented on #231
Yes, either of those might be possible.  But would be a new story, which I'm not sure we have enough time for.  But please go ahead and put it in if you'd like us to try.

I'm going to mark this ticket reviewing, please close it if you agree that the duplicate contact creation has been resolved.

[2015-09-29 19:19] mscholtz commented on #231
Not sure if we can use the response code, because as I understand it, VMS is simply submitting the form directly to C&P, rather than using their API.  So not sure if it's getting a response code.  @davisagli can you weigh in there?  Are you getting a response code from C&P that you could pass to SF?

[2015-09-29 19:27] davisagli commented on #231
Pyramid does get a response from C&P (we submit to a hidden iframe and pass a callback URL that C&P redirects to). I'd have a couple concerns about using it though:
1. If the user's browser closes or crashes after the payment is sent to C&P but before the callback is received, the payment wouldn't get recorded.
2. We'd have to be sure to validate that the callback was called by C&P. It looks like

[2015-09-30 00:43] mscholtz commented on #71
@davisagli you want first crack here re users not getting prompted for payment?

[2015-09-30 15:43] WaBirder57 commented on #263
@ebskopin  This looks complete now.  Elliott can you double check also.

[2015-09-30 15:43] #263 closed

[2015-09-30 16:21] WaBirder57 commented on #231
I would like to address this issue of the Paid work party registration not being marked complete (paid) if C&P creates a temporary contact and delays the opportunity record from being created.  If we receive payment (see response code) that is sufficient to handle these quickly.  We can clean manually match contacts and have the opportunity creation later.  We expect some 300 paid registrations ha

[2015-09-30 16:22] WaBirder57 commented on #231
The issue of the duplicate contact being created on Vol Val payment has been fixed.  Thank you.

[2015-09-30 16:28] WaBirder57 opened #275 "What Vol Vac payment form is completed, volunteers"
When a volunteer registering for a Volunteer Vacation (http://staging.wta.org:6543/workparty/a2eK00000000iUN/) completes the Payment page they get the following (attached) registration confirmation page which indicates that the payment is pending.
![registration status payment pending](https://cloud.githubusercontent.com/assets/8312206/10199345/1b8820de-6755-11e5-8240-0ed85ddbd4e8.JPG)

Is this to

[2015-09-30 16:30] ebskopin commented on #263
I'm seeing that this is complete as well.

[2015-09-30 16:32] davisagli commented on #275
It shows Payment Pending because the update of the registration status in Salesforce is asynchronous: C&P authorizes the payment and lets pyramid know it was authorized, then C&P separately records the opportunity in Salesforce (which triggers the update of the registration status).

If payment fails then C&P notifies the pyramid app of that and it shows an error. You can and should test this by e

[2015-09-30 20:06] WaBirder57 opened #276 "Work party registration confrimation screen shows todays date, not date of WP"
When you regester for a work party you directed to a Work Party registraion page (see attached).  The date on this screen shows the current system date (time) and not the date/start time of the work party.

When I registered for this work party: http://staging.wta.org:6543/workparty/a2eK00000000iUN/
I got this confirmation.  Note the difference in the dates.

![registration status payment pending]

[2015-09-30 20:17] WaBirder57 opened #277 "Mybackpack link for signed in user returns error"
When i have signed into My Backpack and then click "My Backpack at the top of the screen next to my icon I get the following error rather than being take to my My Backpack dash board.

We’re sorry, but there seems to be an error…

Here is the full error message:

Display traceback as text

Traceback (innermost last):

    Module ZPublisher.Publish, line 138, in publish
    Module ZPublisher.mapply

[2015-09-30 20:22] davisagli commented on #277
Which user's backpack?

David Glick
(mobile)

[2015-09-30 21:11] WaBirder57 commented on #277
Does this for me, charles@wta.org

Charlie

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 1:22 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] Mybackpack link for signed in user returns error (#277)

Which user's backpack?

David Glick
(mobile)

—
Reply to this email directly or view it on GitHub <https://github.com/washingtontrails/vms/is

[2015-09-30 22:31] WaBirder57 opened #278 "MBP: User Avatar (image) spacing - Website menu overlaps image"
When a user is logged into My Backpack their image from their profile is overlapped by the website menu.  See the following screenshot.
![avatarspacing](https://cloud.githubusercontent.com/assets/8312206/10208418/2912025a-6788-11e5-9854-05da64ea6714.png)
image should be sized or cropped to fix.

[2015-09-30 22:32] davisagli commented on #278
The design has the avatar image overlapping the image collage, so I think this will work okay once the collage is in place.

[2015-09-30 22:33] ebskopin commented on #273
It will be important that all parties (Staff, ACLs, CLs and LMs are able to access this info via a trail segment search function. As most of these parties won't have access to Salesforce this will be their only means of accessing this info, and it can't be dependent on an existing work-party to click through.

[2015-09-30 22:33] WaBirder57 opened #279 "MBP: Trip report list spacing is tight for USer name/Avatar and text below "hike 59 days ago""
When a user is looking at a list of trip reports the line spacing is to tight between the Users Avatar/Name and the following line with  "Hike ## Days ago".  See that attached screen shot.

![tripreportspacing](https://cloud.githubusercontent.com/assets/8312206/10208456/57c07c58-6788-11e5-86f8-09e6b7fabe18.png)

[2015-09-30 22:35] davisagli commented on #273
Sounds like you need to move story 95 out of phase 2 to a fairly high priority in the main backlog, then.

[2015-09-30 22:37] ebskopin commented on #273
Yep, will do.

*Elliott Skopin*
Volunteer Program Coordinator
Washington Trails Association
wta.org <http://www.wta.org/> l Facebook
<https://www.facebook.com/washingtontrails>
(D) 206-557-3406
(O) 206-625-1367

Help WTA celebrate 20 years of trail maintenance - Join a work party!
<http://www.wta.org/volunteer/trail-work-parties>

On Wed, Sep 30, 2015 at 3:35 PM, David Glick <notifications@github.

[2015-09-30 22:40] WaBirder57 opened #280 "MBP: Edit Profile should include the ability to change newsletter subscriptions."
When a user is editing their My Backpack profile they should see a list of all the WTA newsletters and change their subscription status.  These 4 newsletters are located on the SF Contact record as picklist values:
Trail News
Trail Action Network
Green Hat
Families Go Hiking

[2015-09-30 22:42] davisagli commented on #280
They're already there, down toward the bottom of the form:

![screen shot 2015-09-30 at 3 41 55 pm](https://cloud.githubusercontent.com/assets/49014/10208681/d6d0e3f6-6789-11e5-9b1e-ff07a1cccbcb.png)

[2015-09-30 22:45] WaBirder57 opened #281 "MBP: Edit profile should have Phone number "helper" fields to ensure complete phone numbers are entered"
When editing a My Backpack profile any value can be entered for any of the phone number fields.  There should be some input checking to check for valid phone numbers and format, see the attache example of to many numbers or text being entered for a phone number.
![profilephonenumbers](https://cloud.githubusercontent.com/assets/8312206/10208736/460cff0c-678a-11e5-8091-06f202942e62.JPG)

[2015-09-30 23:10] WaBirder57 commented on #273
I have moved this into the Backlog, #2 in the priority list.

Thanks for the tip David on the Story #.

Charlie

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 3:35 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] Land managers, staff and CL need to view Summary Reports for Trail Segments. (#273)

Sounds like you need to move story 95 out of

[2015-09-30 23:34] WaBirder57 opened #282 "VMS: List view for day work work parties should not include start and end times"
When viewing the list view of work parties in VMS, Day Work parties should not show start and end times.  This will only be visible when a use clicks to open the details for that work party.  Multi Day work parties will still show the start and end times on the list view.
![listviewtimes](https://cloud.githubusercontent.com/assets/8312206/10209504/fa3fedc6-6790-11e5-8899-1354aab674db.JPG)

[2015-09-30 23:36] davisagli commented on #282
This contradicts what you said in #211; did you change your mind?

[2015-09-30 23:38] WaBirder57 commented on #282
Yes, well Rebecca did.  Refining where these start and end times will be displayed.

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 4:36 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] VMS: List view for day work work parties should not include start and end times (#282)

This contradicts what you said in #211 <https://github.com/washington

[2015-10-01 01:33] mscholtz commented on #231
@WaBirder57 I think write a story for it, put it near the top of the backlog.  We can figure out on Monday which approach to take, and if everything you need looks like it'll fit into the iteration or not.

[2015-10-01 01:34] #231 closed

[2015-10-01 15:50] davisagli commented on #71
@mscholtz the problem is here: https://github.com/washingtontrails/WTA-Salesforce/blob/master/classes/WTA_VMS_REST_CreateRegistration.cls#L245

The Work_Party_Role__c picklist value is 'Assistant Crew Leader', not 'ACL'

[2015-10-01 16:27] davisagli commented on #268
Okay, the edit button no longer shows up for reports with a status of 'Publish'.

@mscholtz let me know when you want to change the value from Publish to Published so we can do it at the same time.

[2015-10-01 16:45] davisagli commented on #276
Fixed.

[2015-10-01 16:58] davisagli commented on #277
give this another try now. The membership dates fetched from Salesforce were not getting converted correctly.

[2015-10-02 11:26] WaBirder57 commented on #277
Thanks, this is working again.

[2015-10-02 11:26] #277 closed

[2015-10-02 11:29] WaBirder57 commented on #276
Looks good.

[2015-10-02 11:29] #276 closed

[2015-10-02 22:59] ebskopin commented on #231
Do we still need a story for this?

*Elliott Skopin*
Volunteer Program Coordinator
Washington Trails Association
wta.org <http://www.wta.org/> l Facebook
<https://www.facebook.com/washingtontrails>
(D) 206-557-3406
(O) 206-625-1367

Help WTA celebrate 20 years of trail maintenance - Join a work party!
<http://www.wta.org/volunteer/trail-work-parties>

On Wed, Sep 30, 2015 at 6:33 PM, Matthew Schol

[2015-10-03 13:11] WaBirder57 opened #283 "Work party registration question or comment - where does this go?"
When a volunteer registers for a work party and enters text in the Questions or Comments field near the bottom of the registration field, where does this information go?

[2015-10-03 18:35] davisagli commented on #283
It should be ending up in the Comments field of the WP Registration object in Salesforce.

[2015-10-04 21:35] alecpm commented on #278
I think this is ready for review.

[2015-10-04 21:46] alecpm commented on #279
This should be fixed on the dev server.

[2015-10-04 23:54] alecpm commented on #281
I've added a fairly tolerant phone number validator to these fields.  It should allow entering phone extensions as well as various sorts of delimiting punctuation.

[2015-10-05 15:43] davisagli commented on #280
@WaBirder57 please either confirm that this is working and close the ticket, or explain why you don't think it's working. It does look like we need to replace the lorem ipsum text for the "Green Hat Newsletter"...can you supply that please?

[2015-10-05 15:56] davisagli commented on #265
Note: this is also story 223

[2015-10-05 17:23] WaBirder57 commented on #280
Edit profile does display subscriptions.  Thank you.  Will get the text for the Green hat news letter.

[2015-10-05 17:23] #280 closed

[2015-10-05 17:27] WaBirder57 commented on #281
OK, this works better now traps random invalid phone numbers.

[2015-10-05 17:27] #281 closed

[2015-10-05 17:30] WaBirder57 opened #284 "MBP Edit Priofile "Cancel" button causes error"
![mbpeditpriofilecancelbuttonerror](https://cloud.githubusercontent.com/assets/8312206/10288136/ebe3ae34-6b4b-11e5-8e4c-dd609deff59a.JPG)

This is the error I get when editing the MBP profile for charlesfkahle@kahle.org

[2015-10-05 17:46] WaBirder57 opened #285 "MBP Trip Report submission Error"
When user charlesfkahle@kahle.org tries to submit a trip report I get the followiing error.  This may be related to difficulties selecting the hike this trip report is for.

![mbptripreportsubmissionerror](https://cloud.githubusercontent.com/assets/8312206/10288527/430fdae6-6b4e-11e5-9eb1-3fbeca5ae554.JPG)

[2015-10-05 17:47] davisagli commented on #284
Can you take this one, @alecpm? the traceback is:

[code]

[2015-10-05 17:48] davisagli commented on #285
Traceback:

[code]

[2015-10-05 17:52] alecpm commented on #285
For some strange reason someone moved/renamed the trip-reports folder to "Trip Reports".  The intent was probably to change the title, but the id/short-name was changed instead, causing existing links to create trip reports to fail.  The undo history is as follows:

/wtamain/wtaadmin/go-hiking/folder_moveitem by wtamain/wtaadmin kindra@wta.org
2015-09-29 08:06:45

/wtamain/wtaadmin/go-hiking/folde

[2015-10-05 18:24] alecpm commented on #284
Should be fixed now.

[2015-10-05 18:42] davisagli commented on #188
More discussion of the issue at http://salesforce.stackexchange.com/questions/3486/testing-httpcallout-with-httpcalloutmock-and-unittest-created-data

[2015-10-05 19:08] davisagli commented on #188
I'm puzzled trying to figure out the difference between this one and WTA_VMS_TEST_FetchHikingGuideEntry, which also does a (mocked) callout after inserting. One difference is that its callout happens in a @future method.

[2015-10-05 19:29] WaBirder57 commented on #283
Ah yes, I see this now and created a view or registrations to show this info.

[2015-10-05 19:29] #283 closed

[2015-10-05 19:32] davisagli opened #286 "Move code for updating registration status after payment"
This issue is a follow-up to the discussion in #231.

We have code in an opportunity trigger that updates the registration status to Registered (for the main registrant and any friends/family) after the payment opportunity is created by Click and Pledge.

But sometimes Click and Pledge doesn't create an opportunity right away (i.e. if there's a potential matching contact that needs to be reviewed

[2015-10-05 19:36] WaBirder57 opened #287 "MBP "Insufficient Privileges" when looking at Work Party Tile detail list of WP to click through to a WP."
Iteration 18, Story 301 generates the following error when trying to follow the instructions.

Testing instructions:
1. Log into mybackpack.wta.org
 as an ACL or CL and go to My Work Parties. The red hat icon should show
 up for work parties that still have "Alert ACLs Needed" checked in
Salesforce.
2. The icon should also show up in the list on the Crew Leader Corner page.

Julie@wta.org reports

[2015-10-05 19:54] WaBirder57 opened #288 "SF Custom Object name has typo: Custom Object WP Feedback Survey Subimtted"
How hard is it to change (correct) then name of this custom object?  It should be "WP Feedback Survey Submitted".

[2015-10-05 21:06] WaBirder57 commented on #284
Working now, thanks.

[2015-10-05 21:06] #284 closed

[2015-10-05 21:27] WaBirder57 opened #289 "MBP Edit Profile text descriptions for news letter subscriptions"
Please update the Edit My Back Profile page to include this language for the news letter descriptions where folks and change their subscription status.

Green Hat:
"Send me periodic info about volunteering on trail with WTA"

Trail Action Network:
"Join the Trail Action Network to receive emails about how you can advocate for trails."

[2015-10-06 17:26] mscholtz commented on #268
@davisagli done over here.
FWIW, next time you don't have to wait for us.  It will allow you to save values that aren't in the picklist.

[2015-10-06 17:27] mscholtz commented on #71
@ninetaLogik could you please make this change this week?  Thanks!

[2015-10-06 17:29] mscholtz commented on #271
Hi @ninetaLogik think you could tackle this one as well?  Let me know if you have questions, but see my last comment.

[2015-10-06 17:31] mscholtz commented on #286
@ninetaLogik here's yet another one having to do with the registration trigger.  If you have time for this one too, great.  If not, I can do it.  Please do this one last of the tickets for this week.  And of course, let me know if you want to talk it over.

[2015-10-06 19:48] davisagli commented on #287
This should work now.

[2015-10-06 19:49] davisagli commented on #289
done

[2015-10-06 19:53] davisagli commented on #268
@mscholtz this workflow rule needs to be updated too: https://cs9.salesforce.com/01QK00000001EjI ...There be other workflow rules or code that use "Publish" instead of "Published".

[2015-10-06 19:58] davisagli commented on #268
All mentions of 'Publish' now changed to 'Published' in pyramid

[2015-10-06 20:21] ebskopin opened #290 "VMS: Edits to Work Party Type "Info" Fields"
[VMS Info Tab Features and Fields.xlsx](https://github.com/washingtontrails/vms/files/8804/VMS.Info.Tab.Features.and.Fields.xlsx)

Let me know of any questions.
-Elliott

[2015-10-07 00:14] WaBirder57 commented on #289
Thanks, looks good.

[2015-10-07 00:14] #289 closed

[2015-10-07 00:53] WaBirder57 opened #291 "Trip report creation - Hike list doesn't populate until after Submit is pressed"
When creating a trip report from the My Backpack drop down menu "Write a Trip Report" the user is asked to select the hike they are reporting on.  When a value like "Test" is entered nothing happens to prompt the user to select the hike.  After the trip report is complete and the user presses the submit button an error occurs and the user is asked to select their hike from a list of hikes containi

[2015-10-07 01:01] WaBirder57 commented on #285
This is happening again (10-6-2015 at 6pm).  When i try to submit a trip report I get the following error.

![mbptripreportsubmissionerror-2](https://cloud.githubusercontent.com/assets/8312206/10326798/3455e7b4-6c54-11e5-8842-d8f72ce828dd.JPG)

[2015-10-07 01:04] alecpm commented on #285
The traceback below indicates that you entered "15" which it took to mean 15 AD instead of 2015 and didn't like that date:

Time
Oct 06, 2015 05:58 PM
User Name
charlesfkahle@kahle.org (charlesfkahle@kahle.org)
Request URL
https://mybackpack.wta.org/go-hiking/hikes/hike-with-1-supplement/@@tripreport-add
Exception Type
ValueError
Exception Value
year=15 is before 1900; the datetime strftime() meth

[2015-10-07 01:08] alecpm commented on #285
This should be easy to fix, since it's in appears to be in our custom setter.  It might also make sense to fill in a default date (today) there.

[2015-10-07 02:47] alecpm commented on #291
Does this work differently in current production?  We haven't made any changes here as far as I'm aware (which isn't to say this shouldn't be fixed, but it will be easier to fix if we know whether it's a regression or a pre-existing bug).

[2015-10-07 03:22] WaBirder57 opened #292 "Work party link to print information: Iteration 14, story 90"
Where is the link that this story refers to so that information on the WP can be printed?  There are no testing instructions on this story.

[2015-10-07 03:33] WaBirder57 commented on #237
I created a new SF contact by creating a guest WP registration.  The new contacts Lead Source is "Website" not "Trail Work".  Here is the new SF Contact that was created. @davisagli can you review this scenario, thanks.

[2015-10-07 03:39] WaBirder57 commented on #227
This works in Chrome and other browsers.

[2015-10-07 03:39] #227 closed

[2015-10-07 03:54] WaBirder57 commented on #220
Looks good, i will get the text for each of these updated.

[2015-10-07 03:54] #220 closed

[2015-10-07 04:01] WaBirder57 commented on #291
In production when you enter part of a Hike name it does a real time look up and shows the available options to choose from.  The user can then choose before they move to the next field on the trip report form.  As this is working in MBP now where they user has to get an error first to see the list of hikes is not that good.

[2015-10-07 04:02] WaBirder57 commented on #285
Yes, it would be great to fix as well as add the default (today) as a
starting point.

Charlie Kahle
Information Services Manager
Washington Trails Association
705 Second Ave, Suite 300
Seattle, Wa 98104
206.625.1367 - office
206.388.4511 - direct
www.wta.org

On Tue, Oct 6, 2015 at 6:08 PM, Alec Mitchell <notifications@github.com>
wrote:

[2015-10-07 04:19] WaBirder57 commented on #206
Looks good, thanks.

[2015-10-07 04:19] #206 closed

[2015-10-07 04:45] cguardia commented on #258
It's not just the image, all the information below the "previous summary" heading is duplicated. I'm not sure I get the purpose of that section. Seems like it could be removed entirely, but maybe I'm missing something?

[2015-10-07 05:54] alecpm commented on #291
OK, this should be easy to fix if it's just a regression from production.  Probably a JS bug, and hopefully one that's easy to track down.

[2015-10-07 06:34] davisagli commented on #258
I think the section below the "previous summary" heading is meant to show the report from the last time work was done on the same trail prior to the work party being viewed.

[2015-10-07 06:44] davisagli commented on #237
I tried the same thing and ended up with a lead source of "Trail Work": https://cs9.salesforce.com/003K0000015gTqx

Are you sure the name and email from the guest didn't match a contact that already existed previously?

Or did you maybe check the box to create a My Backpack account while registering, and maybe that's the case that isn't working right?

[2015-10-07 06:52] davisagli opened #294 "on registration form My Backpack section, remove 'user name' field"
Now that emails are used as logins, we shouldn't show the field for the user to choose their own user name, because it's not used.

[2015-10-07 06:54] davisagli commented on #237
I also tried one with the My Backpack account box checked, and it also ended up with a lead source of Trail Work. So I think you'll have to give me some more specific instructions to reproduce what you were doing.

[2015-10-07 06:59] davisagli commented on #292
There isn't a link shown in the design mockups (aside from the one on the Location tab which I think is meant to just print the directions) so I think we assumed that users will print using "File > Print" in their browser's menu. Alec implemented some styles specific to the printed format of the page. So the testing instructions are just to try that in different browsers and make sure it looks goo

[2015-10-07 16:00] WaBirder57 commented on #291
OK thanks for looking at this.  I didn't think this code needed to change
in the new MBP so I hope it is easy to track down.

Charlie Kahle
Information Services Manager
Washington Trails Association
705 Second Ave, Suite 300
Seattle, Wa 98104
206.625.1367 - office
206.388.4511 - direct
www.wta.org

On Tue, Oct 6, 2015 at 10:54 PM, Alec Mitchell <notifications@github.com>
wrote:

[2015-10-07 16:09] cguardia commented on #258
I see. Then when it works I suppose it will not show anything if there's only one report. Do you know if there's a story for this?

[2015-10-07 16:24] davisagli commented on #258
Right, the "previous summary" section should only show if there is a previous report! I don't think this got explicitly mentioned in any story, just implied by the mockup.

[2015-10-07 16:25] davisagli commented on #258
So maybe best to always hide the "previous summary" section for now. Keep the "view all summaries" button though, since that works.

[2015-10-07 16:40] WaBirder57 commented on #220
@davisagli , what formatting capabilities does this editor have?  Can we embed hyper links in the text?

[2015-10-07 16:43] davisagli commented on #220
It's an HTML contentEditable area, which means that it can hold anything your browser can display, but it's not currently set up with a full-fledged HTML editor with buttons to easily control formatting. You might be able to copy a link from another browser tab and paste it here.

[2015-10-07 16:44] davisagli commented on #220
Also, note that you can't access the editor for the "5 Reasons to Have a Backpack Account" that appears on the guest registration form, because it only shows up when you're logged out and don't have the privilege to edit the text. So just send me what you want for that one.

[2015-10-07 17:06] mscholtz commented on #290
@drewpiston assigning this to you for now

@davisagli there is some pyramid work in here as well.  ok if we just go ahead w/ the changes on the SF side and then pass over to your team when that's done?

[2015-10-07 17:07] mscholtz commented on #264
No, not without a completely custom UI including Javascript, which would be a big job and almost certainly not worth it for this need.

[2015-10-07 17:10] davisagli commented on #290
@mscholtz please wait to delete fields until we're no longer referencing them in queries, so that we don't break the site and block them from testing. You can go ahead with the other changes.

[2015-10-07 17:10] mscholtz commented on #24
@davisagli is this still something we need?  or was this taken care of?

[2015-10-07 17:13] mscholtz commented on #273
Is there still a ticket here, or does the story cover what you need?  IF the latter, can someone close this ticket?  Assigning back to @WaBirder57 for now to either close or clarify.

[2015-10-07 17:13] davisagli commented on #24
We don't need this unless they want to show the status for each family member on the confirmation page.

[2015-10-07 17:14] mscholtz commented on #239
@davisagli do you want to tackle this one this week?  Sounds like our part is just adding a contact field, if there isn't one already for this..

[2015-10-07 17:15] mscholtz commented on #210
@WaBirder57 bump.. we still need some guidance here.

[2015-10-07 17:18] mscholtz commented on #171
@drewpiston do you feel comfy taking this one on?  It was something @ninetaLogik built originally, IIRC, but she's got too many tickets already.

[2015-10-07 17:18] davisagli commented on #239
Sure. There's already a picklist, Work_Party_Carpool_Preference__c, but we also need a text field for carpool notes.

[2015-10-07 17:19] mscholtz commented on #239
@drewpiston can you add a contact field for this, and then assign over to David?

[2015-10-07 17:20] mscholtz commented on #24
@WaBirder57 I'm going to assume for now that you don't need that.  Assigning this over to you to close or reopen as you see fit.

[2015-10-07 17:43] davisagli opened #295 "add feature flag to control access to volunteer features in My Backpack"
We need to be able to control visibility of the following parts of My Backpack using an environment variable so that we can easily keep them enabled on the dev server while disabling them in staging and production until we're ready to launch VMS:

- Crew Leader Corner and My Work Parties doormats
- crew leader and work party related entries in the sidebar menu
- maybe some parts of the profile for

[2015-10-07 17:45] davisagli commented on #255
This is working now.

[2015-10-07 17:48] davisagli commented on #294
done

[2015-10-07 18:08] ninetaLogik commented on #71
This should be fixed now.

[2015-10-07 18:33] WaBirder57 commented on #220
Any tips on the format for pasting in HTML?  I pasted some into the VMS Find a Work party Work Party Type “?” tip field.  It just shows the HTML rather than render it.  Do I need to embed this inside other HTML tags?

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday, October 07, 2015 9:44 AM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] Work party type filter che

[2015-10-07 18:35] davisagli commented on #220
I didn't mean you can copy and paste HTML; I meant you can copy and paste formatted text as rendered by your browser.

[2015-10-07 18:51] drewpiston commented on #239
I added "Work_Party_Carpool_Notes__c" to the Contact -- if the name should be something different, @WaBirder57 , let me know.
Assigning to David.

[2015-10-07 18:55] drewpiston commented on #171
Sure, I can look into this.

[2015-10-07 20:18] drewpiston commented on #290
Hi @davisagli  ,

I think this is ready for you -- some notes:
1. I added a "DEL" prefix to the fields being deleted, but didn't actually delete them (or change the API name).  Once they are removed from your code let me know and I'll delete them.

2. For name changes to fields, I changed the Field Label only -- the Field API name will remain the same, so no need for updates to your code.  @ebskop

[2015-10-07 20:19] drewpiston commented on #290
[VMS.Info.Tab.Features.and.Fields Perc Edit 10.7.2015.xlsx](https://github.com/washingtontrails/vms/files/9646/VMS.Info.Tab.Features.and.Fields.Perc.Edit.10.7.2015.xlsx)

[2015-10-07 20:38] WaBirder57 commented on #220
Thanks for that tip.  It is mostly working as you describe.  When I open the attached file (change file name to drop the ".txt") in a browser I can then copy and past the formatted content into this pop up editor window.  The odd thing is the Order List (1,2,3) element doesn't show the numbers when pasted into the edit window.
[TestHTMLText.htm.txt](https://github.com/washingtontrails/vms/files/96

[2015-10-07 20:40] davisagli commented on #220
Hmm, I bet we need to add styles for ordered lists. Can you save one with the incorrectly displaying ordered list, and point me to where it is, and I'll take a look

[2015-10-07 20:43] WaBirder57 commented on #220
The site now: http://staging.wta.org:6543/ has the version i sent in that text file, look at the tip for Work Party Types to see how it renders.

[2015-10-07 20:53] WaBirder57 commented on #273
Looks like this ticket has been covered elsewhere, thanks.

[2015-10-07 20:53] #273 closed

[2015-10-07 20:59] WaBirder57 commented on #210
What we are looking for is a Volunteer Registration confirmation email template that is different for each Work Party Type.  Thus for a BCRT or Vol Vac we can include different information that would be contained in the Day Work party registration email conformation.  If we have a Crew Leader College Work Party Type, this registration confirmation would also have very different email.

[2015-10-07 21:06] WaBirder57 commented on #294
Looks good.

[2015-10-07 21:06] #294 closed

[2015-10-07 21:14] cewing commented on #251
This is fixed and will be ready for review once the PRs are merged and released.

[2015-10-07 21:21] WaBirder57 opened #298 "VMS Forms preview document"
When a user is looking at the WP forms to complete (Back country Experience or the Medical) the volunteer is given the option for complete online or to see a printable version of the document.  this link goes to a Google doc placeholder (https://docs.google.com/document/d/1tbzM0psvryhzO8Wznf3aOfuPH9xOc73ueEt6ojKGvO4/edit?usp=sharing)

Where can I store the PDF Version of these documents to be acce

[2015-10-07 21:29] mscholtz commented on #210
@WaBirder57  Does it still need to contain links to required documents, as you specified in a comment above?
Either way, I don't think we have time to get this done this week, but it's even more time-consuming if we need to include required documents.

[2015-10-07 21:38] WaBirder57 commented on #210
No, doesn't need links to required documents.  We can now point folks to their My Backpack to check status and complete these.

[2015-10-07 21:56] WaBirder57 opened #300 "Iteration #16, Story #27 - formating for mobile (narrow) device needs to be completed."
In Story #27 the formatting for a narrow screen device needs to be completed.  The attached screen shot is one example  Also the right hand side portlets will overlap the main body of the page on some devices.  Let us know if more examples are needed.
![mbpnarrowscreen](https://cloud.githubusercontent.com/assets/8312206/10352356/73032b0c-6d03-11e5-9137-296bd6c706b2.png)

[2015-10-07 22:07] drewpiston commented on #171
I can't recreate, it seems to be working for me.

Also, when I look at the email sent to Julie, I see it has a timestamp of Jul 4, 2015 at 2:56 PM.  The record it links to, a WP Registration, shows that the status was changed from "Waitlisted" to "Registered" on Jul4, 2015 at 3:29 PM.  Maybe it got updated in between the time the email was sent and the record was viewed?

[2015-10-07 22:10] davisagli commented on #298
Wherever you like. Somewhere in Plone would probably make sense.

[2015-10-07 22:16] WaBirder57 commented on #237
this seems to be working for me today.  Yea! and thanks.

[2015-10-07 22:16] #237 closed

[2015-10-07 22:23] drewpiston commented on #171
@WaBirder57 , assigning to you.

[2015-10-07 22:52] WaBirder57 opened #301 "MBP: Can't see public saved hikes in others My Backpack"
When not logged into MBP I go to the My Backpack for another user, say Charlie Kahle (charles@wta.org) https://mybackpack.wta.org/@@backpacks/scrnm-Charlie%20Kahle%20WTA and it doesn't show the tile for saved hikes although Charlie Kahle (charles@wta.org) has "my hikes viewable" selected and indeed has a saved hike.

[2015-10-07 23:01] WaBirder57 opened #302 "MBP: Hiking Guide correspondent showing on all My Backpack accounts"
The Hiking Guide Correspondent is showing on all My Backpack's regardless of setting on Salesforce contact.

Take EstelleG as an example:
My Backpack: https://mybackpack.wta.org/@@backpacks/scrnm-EstelleG
SF Contact: https://cs9.salesforce.com/003K0000014MMWX?srPos=0&srKp=003

[2015-10-07 23:07] WaBirder57 opened #303 "MBP: Trip Report List formating changes"
In MBP the list of Trip Reports should have the following changes made:
- [x] The trip reporter photo is still stacked too closely to the date field.
- [x] The dates should shift away from the "X days ago" model into actual dates after two weeks -- we should never see "15 days ago" or "254 days ago".
- [x] Unbold date line treatment.
- [x] Title and "Hiked X days" should align left.
- [x] The titl

[2015-10-07 23:40] WaBirder57 commented on #264
I'm going to have Aaron work on a solution to using Work Flows to calculate and display the number of characters used for these Rich Text Area fields.  It is a super pain when editing these and getting stuck not knowing how many characters you have used and i think his solution will work.

[2015-10-07 23:40] #264 closed

[2015-10-08 00:26] mscholtz commented on #264
@WaBirder57 unless I'm misunderstanding, workflows won't work for this.  WFs only fire once the record has been committed (i.e. after you hit the Save button), and sounds like you want this feedback sooner, right?  It would need to be custom UI & javascript if you want it displayed as you type.

Or am I not understanding what you want here?  Doesn't SF tell you when you click Save if you've exceed

[2015-10-08 14:30] WaBirder57 commented on #264
Matthew,

Aaron has worked up a work flow that displays the character count as well
as the limit for that field.  Yes, this only runs after the record has been
saved but it is better than no information.  Check out the field Default
Camping Information on the Work Party Type.  Just below this on the layout
is this new field: https://cs9.salesforce.com/a2wK0000002GGl5

Can you check that this work

[2015-10-08 19:00] mscholtz commented on #264
Hmm, gotcha.
I see the issue.  However, if it were me, I don't think I would address it
this way.  Adding a bunch of additional fields to the object can muddy
things up, especially when it comes to reports.  And if you change the
length of any fields you'll have to remember to change the WF.

Also, it won't tell you how many chars you have if you go over the limit,
so you won't know how many you n

[2015-10-08 19:33] cewing commented on #251
@WaBirder57: the fix for this has now been deployed to the testing site.  You should be able to see it in action.

### To Test
* Ensure that you are **not** logged in to http://staging.wta.org:6543/
* Go to mybackback.wta.org and log in as a user with one or more upcoming work parties
* Click on "cancel" for one of the work parties.
* Verify that when the page reloads, that work party is no longer

[2015-10-08 19:52] ninetaLogik commented on #271
@davisagli  This should be addressed now. Assigning back to you since you filed it.

[2015-10-08 19:58] davisagli commented on #220
I fixed the ordered list styles.

[2015-10-08 20:34] davisagli commented on #271
It works now; thanks.

[2015-10-08 20:34] #271 closed

[2015-10-08 21:10] davisagli commented on #290
I'm done with the changes to the Pyramid app and it should be okay to actually delete the fields now.

[2015-10-08 21:53] davisagli commented on #258
Okay, we're no longer showing the "previous summary"

[2015-10-08 22:00] mscholtz commented on #286
@drewpiston let me know if you have questions here.

[2015-10-08 22:01] davisagli commented on #300
This belongs in the MBP budget, surely.

Images of some other examples would be useful just to make sure we cover all the issues you're seeing.

[2015-10-08 22:18] davisagli commented on #301
Fixed

[2015-10-09 14:31] WaBirder57 commented on #220
Thank you.

Is there a way to control or reduce the spacing after the ordered lists?
It leaves too much white space.  This is evident both on the this "tip" pop
up as well as the SF Text Area Fields used for content on the VMS WP Info
tab.

Charlie Kahle
Information Services Manager
Washington Trails Association
705 Second Ave, Suite 300
Seattle, Wa 98104
206.625.1367 - office
206.388.4511 - direc

[2015-10-09 16:25] davisagli commented on #220
Yeah, I'm not sure why lists had such a large bottom margin. I fixed it to use the same margin as for paragraphs.

[2015-10-09 19:31] mscholtz commented on #288
Done.

[2015-10-09 19:31] #288 closed

[2015-10-09 19:33] mscholtz commented on #216
@drewpiston bump..

[2015-10-09 19:36] mscholtz commented on #268
fixed that WF, and don't see any other references to this value

[2015-10-09 19:59] mscholtz commented on #268
waiting to test this since Completed WPs currently disappear from the VMS index, giving us a very brief window to view them after the report is published.  Alec is working on a change here.  @davisagli assigning to you temporarily, please send it back when completed WPs can be accessed

[2015-10-09 20:17] drewpiston commented on #216
Thanks Matthew, I missed this.

"did we decide that if we split the party due to lack of room for all, that we only invite the "main" registrant at that point, as opposed to inviting as many people as we can fit from the party?"
- I thought that if there wasn't room for everyone, they would have to invite each person individually. But I'm not sure if that was a conscious decision.

"what happens i

[2015-10-09 21:23] drewpiston commented on #216
git push is up!
https://github.com/washingtontrails/WTA-Salesforce/commit/587b55f90085e5cdfadd8b9f01fcbc29a74697d4

[2015-10-09 21:27] drewpiston commented on #290
Fields deleted!
Updated status sheet:
[VMS.Info.Tab.Features.and.Fields Perc Edit 10.7.2015.xlsx](https://github.com/washingtontrails/vms/files/11062/VMS.Info.Tab.Features.and.Fields.Perc.Edit.10.7.2015.xlsx)

[2015-10-09 22:00] davisagli commented on #268
Completed work parties should be accessible now

[2015-10-12 17:19] davisagli commented on #302
This is fixed

[2015-10-12 17:48] WaBirder57 commented on #302
This seems to work.  Question: If I change the Hiking Guide Corespondent check box in Salesforce, how long before that change will be reflected on the website?

[2015-10-12 17:48] #302 closed

[2015-10-12 17:51] davisagli commented on #302
Values from Salesforce are currently updated in Plone nightly starting at 2 am.

[2015-10-12 20:13] WaBirder57 opened #308 "Salesforce Rich Text Area field provides too much space after ordered list elements"
The Salesforce Rich Text Area field that we use for the WP description fields, such as Planning Information display in VMS with to much white space after an Ordered (numbered list) or Unordered list (bullets).  Is there a way to change this style so that there is not so much empty space on the WP Info tab?  We would like no extra space after these formatting elements.

The Thanksgiving Day work pa

[2015-10-12 21:08] WaBirder57 commented on #71
Looks good, thanks.

[2015-10-12 21:08] #71 closed

[2015-10-12 21:46] WaBirder57 opened #309 "MBP: Default value for share work parties should be false in a users profile"
In My Backpack, the default value for "My Work Parties Visible" should be set to false.  Unless a user specifically clicks to share Work Parties these should not be view-able.  The same default should be used for "Saved Hikes", that is not share saved hikes by default.

I want to double check that this is the way the MBP is setup to work when a new account is created.

We have concerns about Youth

[2015-10-12 21:53] davisagli commented on #309
That should be the case. Please confirm it's working by registering a new user and checking to make sure that the settings are correct.

[2015-10-13 16:55] WaBirder57 commented on #251
Works like a charm, thanks.

[2015-10-13 16:55] #251 closed

[2015-10-13 16:57] WaBirder57 commented on #255
Tiffany confirms that this works.  Thanks.

[2015-10-13 16:57] #255 closed

[2015-10-13 16:57] davisagli commented on #308
The space actually isn't due to the lists; it's space that was in the template in between sections. I just removed it. Better?

[2015-10-13 17:09] WaBirder57 commented on #308
Yes, looks much better thanks.

[2015-10-13 17:11] davisagli commented on #291
Fixed. The dev site did not have AutocompleteWidget installed.

(@jessesnyder I guess that dependency is missing from the wta.content installation)

[2015-10-13 17:22] WaBirder57 opened #310 "MBP: Trip report Creator Field doesn't auto populate for logged in user"
When a logged in user selects Write A Trip Report from the My Backpack drop down menu they are taken to a blank Trip Report form.  The First Field, "Creator" is not filled in.  I would expect this to use the information from the currently logged in user.

[2015-10-13 17:23] WaBirder57 commented on #291
Ah, working nicely now.

[2015-10-13 17:23] #291 closed

[2015-10-13 17:24] davisagli commented on #279
Fixed the avatar image.

[2015-10-13 17:27] davisagli commented on #310
That field is only visible for admins, and if it's left blank it gets set to the current user when you save. So I think this is pretty low priority.

[2015-10-13 17:35] davisagli commented on #303
Note: the first bullet is covered by #279

[2015-10-13 18:12] davisagli commented on #285
It now defaults to today's date, and will show a more helpful validation error if the user enters a year before 1900.

[2015-10-13 18:20] davisagli commented on #136
I hid the button for now.

[2015-10-13 18:20] #136 closed

[2015-10-13 18:33] WaBirder57 commented on #308
Charlie,

David are we/you able to address some of the formating suggestions that Rebecca has on this VMS Info Tab.  Check out the WP in the link below for a good example - Charlie

Progress! The spacing around bulleted lists is much better. However, this appears to have eliminated the (prefered) spacing after normal paragraphs so that the subheaders are crammed underneath. The font sizes still do

[2015-10-13 18:36] davisagli commented on #308
I think the problem is that some of the fields coming from Salesforce do not have paragraph tags (i.e <p>) around their text, and the formatting only works correctly for paragraphs.

If it's not easy to coax Salesforce to add paragraph tags, I can make the pyramid app wrap the field values with them when they aren't already there. Should I do that?

[2015-10-13 19:18] WaBirder57 commented on #308
Yes if you could do it only if needed that would be great.  Other than changing the field type in SF I wouldn’t know how to do this.

Charlie

From: David Glick [mailto:notifications@github.com]
Sent: Tuesday, October 13, 2015 11:36 AM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] Salesforce Rich Text Area field provides too much space after ordered list elements (#308)

I think th

[2015-10-13 19:51] WaBirder57 commented on #310
Ah, this is a feature and a good one for Admin's only.  Please leave this as implemented.

[2015-10-13 19:51] #310 closed

[2015-10-13 21:08] jessesnyder commented on #291
@davisagli was this Products.AutocompleteWidget or plone.formwidget.autocomplete (or both)?

[2015-10-13 21:10] ebskopin commented on #290
This is complete.

[2015-10-13 21:10] #290 closed

[2015-10-13 21:11] davisagli commented on #291
@jessesnyder it was the trip report add form and it was Products.AutocompleteWidget that I needed to activate, not plone.formwidget.autocomplete which was already activated

[2015-10-13 21:56] WaBirder57 commented on #285
Yes , that is much better.

[2015-10-13 21:56] #285 closed

[2015-10-13 22:12] WaBirder57 opened #311 "MBP: Trip Report List view in My Backpack Trip Report Section: Sort by votes not working"
When a logged in user looks into their own My Backpack Trip reports.  Select "Most to Least Up Votes" (for the sort order).  No Trip reports are returned.  The other options, Chronological and Alphabetical, work as expected.

[2015-10-13 22:21] WaBirder57 opened #312 "MBP: Hiking guide Save to My Backpack button doesn't work"
When looking at a Hiking Guide Entry the button to "Save to my Backpack" doesn't work.  Also in some browsers the text doesn't display.  All we see is a colored button.  While the mouse pointer indicates the button is clickable, nothing happens when it is clicked.

![mbp - save to mbp not working](https://cloud.githubusercontent.com/assets/8312206/10469908/e3de3c18-71bd-11e5-8242-e84b9895ff72.JPG)

[2015-10-13 22:28] WaBirder57 opened #313 "MBP: Saved hike list adds green overlay to saved hikes which have been hiked."
In a users My Backpack we don't like the Green Overlay on the image for a Saved Hike that has been hiked.  Can you just show the white Check Mark but don't add the Green Overlay.

![mbp- saved hiked green overlay](https://cloud.githubusercontent.com/assets/8312206/10470030/0272bd9c-71bf-11e5-949c-1f108a97be83.JPG)

[2015-10-13 22:48] WaBirder57 opened #314 "MBP: Saved hikes add expand all notes toggle"
In a users My backpack looking at the list of saved hikes.  Per the Wire-frame (page 18) we would like to have the "expand all" notes toggle at the top of the list.  See Wire-frame note #4 in attache screen shot. (Sorry if this is working but I can't add additional saved hikes to my MBP at this time to test with more than one Saved hike. See ticket #312 )

![expand all notes toggle](https://cloud.

[2015-10-13 22:57] WaBirder57 opened #315 "MBP: Map view of Trip Report location needs default zoom to show more of Wa state"
The Map tab of a users My Backpack show the location of the selected trip reports.  This should default to a zoom level that shows more of Washington state.  Right now the map is zoomed in so tightly that users must click zoom out several times to see where the map pins are relative to the rest of the state.  When widely spaced TR pins are displayed this is OK, only if the TR selected for display

[2015-10-13 23:10] WaBirder57 opened #316 "MBP: Menu for My Backpack doesn't link to Dashboard if browser size is not full screen"
When a logged in user reduces the size of their browser so that the down arrow appears next to the My Backpack menu text - clicking "My Backpack" doesn't take the user to the Dash board.  There doesn't appear to be a way to get to the My Backpack dashboard in this situation.  See the screen shot to see how this looks when it doesn't work.
![mbp not full screen](https://cloud.githubusercontent.com/

[2015-10-13 23:11] jessesnyder opened #317 "Include spam score when Salesforce Contacts are created and updated"
We have added some code to include a calculated spam score in the Lead record when new accounts are created. When VMS launches we will want the same data sent when Contact records are updated or created. See https://github.com/washingtontrails/wta_buildout/commit/daaa78147c03b72ecea9d38775dba399410cc5d6

Assigning this to David for now.

[2015-10-13 23:22] WaBirder57 commented on #309
Yes, this is working correctly.  Thanks.

[2015-10-13 23:22] #309 closed

[2015-10-13 23:31] davisagli commented on #311
@cewing could you please take a look at this one?

[2015-10-13 23:33] davisagli commented on #313
I'm worried that the check mark by itself will be hard to see.

First I'll try adjusting the green overlay so it matches the border of the image like it's supposed to, and making it more subtle.

[2015-10-13 23:34] davisagli commented on #314
Once clicked should it disappear or turn into "collapse notes"?

[2015-10-13 23:35] davisagli commented on #315
@alecpm is it possible to set a maximum zoom level for the map?

[2015-10-13 23:36] davisagli commented on #317
We'll need to add a Spam_Score__c field to Contact in the sandbox like Aaron did in production.

[2015-10-13 23:37] davisagli commented on #316
I remember noticing that when implementing the nav bar, but forgot to mention it.

The user obviously needs a way to open the menu. What if we add 'dashboard' as a new link at the top of the menu?

[2015-10-13 23:38] WaBirder57 commented on #313
Loren is concerned that the list of hikes that have been hiked shown with the Green overlay is not very attractive.  So bear this in mind as you try adjusting this.  Perhaps the image could be larger and that would help.

[2015-10-13 23:38] WaBirder57 commented on #314
Yes, that would work well.

[2015-10-13 23:41] WaBirder57 commented on #316
Yes, I think adding "Dashboard" as a menu option is a good idea.

[2015-10-13 23:41] davisagli commented on #313
Or maybe a thick green border around the image so it's obvious but doesn't obscure the image?

[2015-10-13 23:42] davisagli commented on #313
You're right, the image is supposed to be larger; I'll look into that too.

[2015-10-13 23:42] davisagli commented on #314
Which one?

[2015-10-13 23:42] WaBirder57 commented on #313
Yes that might be the trick.  Once you have that in place I will have Loren test it.

[2015-10-13 23:44] WaBirder57 commented on #314
Once the "expand all" toggle is selected it will turn into "collapse notes" (or "collapse all" to be consistent with expand all.)  Let me check with Loren and get the final verdict.

[2015-10-14 00:26] WaBirder57 commented on #317
This field has been added to the contact object in the .vms2 sandbox.

I created Spam Score custom Number fields for both Contacts and Leads in the VMS sandbox to match the fields we added in production.  They are set to be Integers with a max length of 5 (as the spam scores only currently range from 0 to 17 according to Jesse).

[2015-10-14 01:24] davisagli commented on #312
Fixed.

[2015-10-14 15:47] WaBirder57 commented on #312
Thanks, working now.

[2015-10-14 15:47] #312 closed

[2015-10-14 15:53] WaBirder57 opened #318 "VMS: Create new work party fails on Appex Trigger when CL is assigned"
When creating a new work party, select a Crew Leader and Save.  You get the following error:

Error: Invalid Data.
Review all error messages below to correct your data.
Apex trigger WTA_VMS_Work_Party_After caused an unexpected exception, contact your administrator: WTA_VMS_Work_Party_After: execution of AfterUpdate caused by: System.DmlException: Insert failed. First exception on row 0; first err

[2015-10-14 16:04] WaBirder57 commented on #210
I think hat we need is a new field on the WP Type to hold the ID for the Registration Thank you email.  Also, the Work Flow that sends the registration email Thank You should be updated to use the email template for the corresponding WPT.

Here is a screen shot of the existing fields where we need to add this new one.
![wptemailtemplates](https://cloud.githubusercontent.com/assets/8312206/10489527

[2015-10-14 19:09] mscholtz commented on #318
@WaBirder57 I'm going to look into this now.  I will try to fix it but I have a doctor appointment this afternoon and may not be able to do so before that.  If that's the case I can do it later today or tomorrow.

BTW, for urgent issues like this it would be very helpful if you could @ mention me, or assign the ticket to me.  Otherwise I don't get any notification.  I only heard about this b/c Dav

[2015-10-14 19:41] mscholtz commented on #318
@WaBirder57 in the meantime you can use this workaround:

* initially create a WP without a leader
* add a registration for the leader w/ role = Leader and Status = Registered

that will automatically update the leader field on the WP

[2015-10-14 19:53] mscholtz commented on #318
note to self: failing test exposes this in WTA_VMS_TEST_WP_Manage_CLRegistration.cls

[2015-10-14 19:55] WaBirder57 commented on #318
@mscholtz Thanks for the work around and trying to get to this ASAP.

[2015-10-14 20:36] mscholtz commented on #318
this is fixed

[2015-10-14 20:47] mscholtz opened #319 "pyramid app is changing names of contacts in some circumstances"
placeholder for now, circumstances still under investigation
Ethan Scholtz used to be Jerome Scholtz used to be Matthew Scholtz

[2015-10-14 20:52] davisagli commented on #319
Are you entering a new name into the registration form while logged in as an existing contact?

[2015-10-14 21:25] mscholtz commented on #319
95% sure that's not it.
On Oct 14, 2015 1:52 PM, "David Glick" <notifications@github.com> wrote:

[2015-10-14 21:51] davisagli commented on #274
This is now in place for guest registrations.

[2015-10-14 21:59] WaBirder57 commented on #318
It works, thanks.

[2015-10-14 21:59] #318 closed

[2015-10-14 22:04] davisagli commented on #317
This also requires updating the vmslogin webservice in Salesforce to accept a spam score and add it to a contact if one is created. @mscholtz is it all right if I work on that?

[2015-10-14 22:12] WaBirder57 commented on #274
Seems to work pretty smoothly.

[2015-10-14 22:40] davisagli commented on #295
This is in place. Currently set up to be enabled for our local developer sites and mybackpack.wta.org, but not for staging or production.

[2015-10-14 22:40] #295 closed

[2015-10-14 23:22] mscholtz commented on #317
Yep, just point me to the commit please when it's done.

On Wed, Oct 14, 2015 at 3:04 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-10-14 23:35] mscholtz commented on #210
If we are using Workflow to send the email, then just FYI we can't pull the template by ID in the same way as we do in apex code.   So we could still specify it in the way you describe, but might be better to just have a picklist with names, and effectively map those to the templates using the WF rules themselves (b/c we'll need one rule per template instead of a single rule).  We might actually w

[2015-10-14 23:40] davisagli commented on #300
I fixed the misplaced vertical line. Please file new issues with screenshots for other things that are not working well on mobile.

[2015-10-14 23:53] davisagli commented on #316
All right, the Dashboard link is there now.

[2015-10-14 23:55] WaBirder57 commented on #316
Looks good.

[2015-10-14 23:55] #316 closed

[2015-10-15 00:02] ebskopin opened #320 "Membership not reflected in fee for Volunteer Vacations"
From what I can see, someone who is marked a member in Salesforce is still prompted to pay the non-member price ($245) in VMS when they register for a Volunteer Vacation. The fee seems to be $245 for everyone.

[2015-10-15 00:03] davisagli commented on #320
We need specifics so we can debug. Which contact did you try to register? Which work party? Were you logged in or not?

[2015-10-15 00:14] ebskopin commented on #320
huh, scratch that, seems to be working as of my last test.

[2015-10-15 00:14] #320 closed

[2015-10-15 00:16] davisagli commented on #320
Okay, well if you run into it again and want us to take a look, please provide the above info. It may be a specific case affecting some subset of work parties or users rather than a general problem.

[2015-10-15 00:19] ebskopin commented on #320
Will do.  Thanks David.

*Elliott Skopin*
Volunteer Program Coordinator
Washington Trails Association
wta.org <http://www.wta.org/> l Facebook
<https://www.facebook.com/washingtontrails>
(D) 206-557-3406
(O) 206-625-1367

Help WTA celebrate 20 years of trail maintenance - Join a work party!
<http://www.wta.org/volunteer/trail-work-parties>

On Wed, Oct 14, 2015 at 5:16 PM, David Glick <notificatio

[2015-10-15 01:36] davisagli commented on #303
These changes could be summarized by saying that you want the styles to better match the design (http://wta.mybackpack.emptycan.com/profile/my-reports/) but also include some of the elements that are present in the existing listings (e.g. http://www.wta.org/go-hiking/hikes/green-mountain) but not in the MBP designs.

I've done a pass at that and it's a lot better, but still feels cluttered compare

[2015-10-15 20:06] WaBirder57 commented on #274
@davisagli Tiffany reports the following when testing this further.  Not sure if this is fixable.

Tiffany:
So when I did this, I accidentally forgot to add my state to the registration info and when I clicked the "I am not a robot" and hit register, I was given the message that I needed to add a state. But once I added a state and hit save I was given the message "You need to verify that you are

[2015-10-15 20:10] davisagli commented on #274
Hmm, @cguardia I think we need to do the recaptcha verification in the registration POST request, so that we can delay doing it until after the other validation is complete (once recaptcha has been verified, it can't be verified again using the same token).

Either that or set a flag in the user's session that we know they're human, and if that flag is present don't show the captcha or verify it a

[2015-10-15 23:21] WaBirder57 commented on #303
David, great catch on this.  Loren sends a thank you.

Loren will work on the designs for the 3 locations where trip report lists are used (Trip Reports, under a Hiking Guide entry and in My Backpack) and send a mock up to you all Monday.  Lets hold on other changes in this area until we get these designs.

[2015-10-15 23:24] WaBirder57 opened #321 "MBP: Registration form font should be same as current production"
The My Backpack Registration page: http://mybackpack.wta.org/@@register should use the same font (size and color) as the current production system: http://www.wta.org/@@register

This page was not designed by Ethical UX, we just assumed it would stay the same.

[2015-10-15 23:34] WaBirder57 opened #322 "MBP: Menu colors should be same as current production environement"
This is a change from the Ethical UX designs I think.

We would like the new MBP Menu to match our current production menu colors.

Our production Menu uses a gray/blue menu color, Orange for active menu and light orange/yellow for the active selected item on the pull down menu.
![productionmenucolors](https://cloud.githubusercontent.com/assets/8312206/10530215/10ad4818-735a-11e5-983f-65f1a64b47e6

[2015-10-15 23:44] WaBirder57 opened #323 "MBP: Hyperlinks on WTA web should not have underlines - they appeard on Hike Names in some locations"
We should removed the underline from HikeName Hyperlinks.

If you go to your My backpack, look at Trip Reports and Click on a trip report.  The view of that Trip report opens with the Hike Name Underlined.

![trwithhikeunderlined](https://cloud.githubusercontent.com/assets/8312206/10530318/67efdc20-735b-11e5-9cb1-5eaac64ccca8.JPG)

This same Underlined Hike name is visible if you:
From the hiking

[2015-10-15 23:48] WaBirder57 opened #324 "MBP: Side Menu change section names in include "My"."
The My Backpack menu sections should be renamed to include "My" in 3 places.  This will be:
My Trip Reports
My Hikes
My Work Parties

![mbpsidemenu](https://cloud.githubusercontent.com/assets/8312206/10530394/767bd2fc-735c-11e5-9260-644fca8c7247.JPG)

User testing should users were confused and this should clarify this for them.

[2015-10-15 23:50] davisagli commented on #303
Okay. It will be easiest to implement if the 3 trip report listings look similar, but it's fine if some pieces should be omitted on some of the listings (i.e. no region on the hike's trip reports because it duplicates info from the hike; no author in the My Backpack listing because they're all the same...)

[2015-10-15 23:51] WaBirder57 opened #325 "MBP: MBP Side Menu subsections should be hidden unless user is in that part of MBP"
When a user is in MBP the side menu should collapse to only show the main menu choices unless they are in that section of MBP.  This only currently is illustrated with My Work Parties or Crew Leader Corner.

We don't want the average user to be confused by seeing "Forms" under Work Parties when they are looking at their My Hikes as an example.

[2015-10-15 23:52] davisagli commented on #321
This may be an unintentional change on our part, i.e. some styles that Ethical UX wrote for My Backpack that are applying a bit more broadly than intended now that they're active within the Plone site. We'll take a look.

[2015-10-15 23:55] WaBirder57 opened #326 "MBP: Save Hikes filter should show three options"
When a user is looking at their My Hikes the drop down option to filter the list should include 3 options:
All Hikes
Hiked
Want to Hike

Currently this shows:
Saved Hikes
Completed Hikes

I think what should be displayed for each of these filter settings is self evident but please ask if there are questions.

![myhikeslistfilteroption](https://cloud.githubusercontent.com/assets/8312206/10530506/6c

[2015-10-15 23:58] WaBirder57 opened #327 "MBP: Edit Profile Instagram fields needs "@" symbol"
The Edit Profile Screen of MBP field for Instagram should include the "@" symbol as does the Twitter field.

![mbpprofileinstagramfield](https://cloud.githubusercontent.com/assets/8312206/10530569/de19fd2a-735d-11e5-8a0e-231f7309aa60.JPG)

[2015-10-16 00:00] davisagli commented on #324
But not if you're looking at a different user's backpack, right?

[2015-10-16 00:02] davisagli commented on #326
So "Want to hike" is the hikes that have been saved but not completed?

[2015-10-16 00:03] WaBirder57 commented on #326
Yes, that is correct.

From: David Glick [mailto:notifications@github.com]
Sent: Thursday, October 15, 2015 5:02 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] MBP: Save Hikes filter should show three options (#326)

So "Want to hike" is the hikes that have been saved but not completed?

—
Reply to this email directly or view it on GitHub <https://github.com/washingtontrails/vms/

[2015-10-16 00:03] WaBirder57 commented on #324
Good point, I will have more on this tomorrow.

[2015-10-16 01:03] davisagli commented on #317
This is in place on mybackpack.wta.org and the vms2 sandbox now.

@mscholtz https://github.com/washingtontrails/WTA-Salesforce/commit/92b34e47b45812f95c3b414aa5fbaf02b9b34c2b

[2015-10-16 02:54] davisagli commented on #323
Fixed

[2015-10-16 02:54] davisagli commented on #325
Fixed

[2015-10-16 02:56] davisagli commented on #324
I made this change for when users are looking at their own backpack; not when they are looking at others. I also noticed that when looking at another user's backpack, the Hikes and Work Parties links showed up even if they are not public; that's fixed too.

[2015-10-16 04:33] mscholtz commented on #317
Looks good to me!

On Thu, Oct 15, 2015 at 6:03 PM, David Glick <notifications@github.com>
wrote:

--

Matthew Scholtz
Percolator Consulting
(206) 289-0816 x3

http://percolatorconsulting.com/

[2015-10-16 15:43] WaBirder57 commented on #317
Excellent.  Spam, what a pain!

[2015-10-16 15:43] #317 closed

[2015-10-16 15:52] WaBirder57 commented on #324
Ah that is good and you added the owners name to the top.  I see that since Trip Reports are always public that the UI is different when I look at someones Trip Reports V Saved Hikes.

When a non-logged in user looks at My Backpack (http://mybackpack.wta.org/@@backpacks/scrnm-Charlie%20Kahle%20WTA) they can click on Hikes to see those with this new Sidemenu.  Looks good although my name is too lon

[2015-10-16 15:57] WaBirder57 commented on #325
Looks good.

[2015-10-16 15:57] #325 closed

[2015-10-16 16:00] WaBirder57 commented on #323
Excellent!

[2015-10-16 16:28] davisagli commented on #324
That's going to be a bit tricky to fix since the design assumes the header has a fixed height.

An oversight on my part; fixed.

When you click to see a different user's trip reports, we agreed it should take you to the main trip report search rather than My Trip Reports. So you're no longer in the My Backpack section.

[2015-10-16 16:49] WaBirder57 commented on #324
Regarding the last point on the TR List in My Backpack directing the user
back to a filtered list of Trip Reports in the TR section...

How many Trip report lists are there?  Loren is working on designing these,
are there 2 or 3 locations this is used, she is trying to describe the
variations on showing regions, maps, user names, etc.:
1) - Trip Report Section
2) - List under a give Hike
3) - My B

[2015-10-16 16:52] davisagli commented on #324
That's the correct list of locations. When you're looking at your own backpack and click on My Trip Reports it takes you to the 3rd one, but if you're looking at someone else's backpack and click on Trip Reports it takes you to the 1st one with a search for only that user's trip reports.

[2015-10-16 17:51] WaBirder57 commented on #210
Matthew, sorry I don't mean to be prescribing how best to implement this, you are best at that.   We just really need to have the ability to send various WP Registration Thank you messages based on the Work Party Type.  If it would be helpful to see examples based on WP Type I can get our Trail Team to work on that.

[2015-10-16 17:57] davisagli commented on #239
This now shows up on the MBP profile, updates Salesforce when saved, and the carpool preference and notes from the Contact will be used to prefill the VMS registration form.

[2015-10-16 18:06] WaBirder57 opened #328 "MBP: Edit profile Birth Date date picker for iOS"
In MBP when you are editing the logged in users Profile the Birth Date field has a date picker to help enter a correctly formated Birth Date.  This works for web browsers from a desktop and Android phone.  How ever on iOS when editing this date field the user is presented with the full keyboard to enter the date.  Can we hook up an iOS date picker for this platform?

[2015-10-16 18:12] WaBirder57 opened #329 "MBP: What is the green "Public" icon for on the MBP"
What is the Green "Public" icon for in the MBP just under the users images?

![mbppublicicon](https://cloud.githubusercontent.com/assets/8312206/10549567/ae0e3184-73f6-11e5-8bbb-ab85a917f7ac.JPG)

[2015-10-16 18:31] davisagli commented on #329
Not sure...just a reminder that this page can be viewed by other users I guess? We copied it from the design mockups.

[2015-10-16 18:45] davisagli commented on #326
Done

[2015-10-16 20:13] ebskopin commented on #99
I am still finding that the capacity set in Salesforce for a WP is not reflected correctly.  Example: Pinnacle Peak - http://staging.wta.org:6543/workparty/a2eK00000000j5Q/ indicates that there is 1 spot available when it should actually be wait-list only (SF WP - https://cs9.salesforce.com/a2eK00000000j5Q). It seems that both on the Salesforce side and on the registration page it is taking the "C

[2015-10-16 20:16] davisagli commented on #99
There's one spot available because there's no registration for a Crew Leader on that work party, and it holds one space for the CL.

[2015-10-16 20:16] WaBirder57 commented on #326
Looks nice.

[2015-10-16 20:16] #326 closed

[2015-10-16 20:52] ebskopin commented on #99
Even with a crew leader registered it still indicates that one spot is available on the VMS registration page for some reason (https://cs9.salesforce.com/a2eK00000000j5Q?newid=a2oK00000003HLC). If a 4th Volunteer is registered then the capacity drops to 0, which is strange since that is 4 vols to the 3 vol capacity.

[2015-10-16 20:56] davisagli commented on #99
@mscholtz I think one of you will have to take a look.

[2015-10-16 22:08] mscholtz commented on #99
I think you guys are correct, this is not working.  Furthermore, I think the code was never written to take this into account.  Probably a miscommunication between Nineta and myself at some point.  Sorry!  And we suspect that David was looking at something he different when  he thought this was working back in June.

So we will get to this ASAP, but probably not until the formal QA process for MBP

[2015-10-16 22:09] mscholtz commented on #99
note to self: there is no mechanism at all to consider this when assigning waitlist status.  looks like easiest fix is to include this in the Waitlist Volunteers Only formula, that should trigger the action we want.  also write a test.

[2015-10-18 23:25] alecpm commented on #315
OK, this is implemented and deployed.

[2015-10-18 23:35] alecpm commented on #322
I see how this could be confusing, the designs didn't specify a highlight color for the top My Backpack menu items, but otherwise the current color scheme matches the designs:

http://wta.mybackpack.emptycan.com/profile/advanced/index-logged-in.html

Should we perhaps just change the top My Backpack menu item highlight color to the orange?  Or do you want to change that menu to match the color sch

[2015-10-18 23:40] alecpm commented on #321
Looks like we can get rid of much of the form styling from mbp.css, since those are primarily coming from VMS or similar and aren't intended to be applied broadly within the MBP mockups.

[2015-10-18 23:54] alecpm commented on #321
This change is deployed.  You may need to clear your browser cache or shift-reload.

[2015-10-18 23:56] alecpm commented on #322
I've made a quick tweak to use the orange highlight color on the dark blue menu.  Let me know if this works for you or if we should make it more similar to the nav menu.

[2015-10-19 00:01] alecpm commented on #327
Should be fixed.

[2015-10-19 00:54] davisagli commented on #322
One thing -- notice that the My Backpack menu is orange when logged out but blue when logged in. I think it'd be a shame to lose that visual cue of whether you are are logged in or not.

[2015-10-19 16:53] WaBirder57 opened #330 "MBP/VMS: My Backpack Tile for Work parties doesn't display"
Logon to MyBackpack.wta.org.  View your MBP Dashboard.  There is no Work Party tile or My Work Party, or Crew Leader Corner option on the side menu.

[2015-10-19 16:55] davisagli commented on #330
@alecpm did you do a deploy using ansible? You probably need to update so that it runs mybackpack_dev.cfg instead of staging.cfg (the former has VMS features enabled and the latter does not).

I'll fix it.

[2015-10-19 16:59] davisagli commented on #330
Fixed; Charlie, you were seeing My Backpack as it's meant to work once we deploy to staging.wta.org

[2015-10-19 17:03] WaBirder57 commented on #330
Right, it is back working now.  Also good to verify that the code for MBP to launch before VMS is working.

[2015-10-19 17:03] #330 closed

[2015-10-19 17:05] WaBirder57 opened #331 "MBP: Side Menu overlaps main drop down menu when in Hikes, Trip Reports or Work Parties"
The attached screen shot shows how the top right square "barred" part of the green MBP side menu displays over the main (top) drop down menu. This should not display over the drop down menu.

![mbpmenuoverlap](https://cloud.githubusercontent.com/assets/8312206/10584781/d6d3efc4-7648-11e5-8990-5ddf605b7034.JPG)

[2015-10-19 17:11] WaBirder57 commented on #323
These underlines are showing up again.

Go to any users My Backpack, click to look at their Trip Report.
Click on a Trip Report to view details.
The Trip report details shows the Hike Name (hyperlink) with an underline.

[2015-10-19 17:12] WaBirder57 commented on #315
Looks correct now.

[2015-10-19 17:12] #315 closed

[2015-10-19 17:12] davisagli commented on #323
Not for me. Try clearing your cache and/or force-reloading the page.

[2015-10-19 17:15] WaBirder57 commented on #323
I stand corrected after clearing my browser cache and restarting this is displaying correctly.  Sorry about the false alarm.

[2015-10-19 17:15] #323 closed

[2015-10-19 17:37] davisagli commented on #217
Okay, the option to split the party is now only offered if an email was entered for each person.

[2015-10-19 17:59] davisagli commented on #313
Okay, it now uses a larger image and a green border instead of the semi-transparent overlay. I also added text shadow to the checkmark so it shows up on a light background.

[2015-10-19 18:12] davisagli commented on #331
Only admins see enough menu items to make it overlap, so this is probably not high priority. Shouldn't be hard to fix though.

[2015-10-19 18:14] davisagli commented on #331
Should work now if you reload.

[2015-10-19 18:20] WaBirder57 commented on #331
It is better now but now we can see that the right edge of the drop down menu is not inline with the top menu box.  Looks like the drop down top Mybackpack menu is about 1px to narrow.  See if this is evident in this screen shot.

![mbpmenuoverlapaverageuser2](https://cloud.githubusercontent.com/assets/8312206/10586869/4b1b683a-7653-11e5-92f5-a37abd42b3ba.JPG)

[2015-10-19 18:29] WaBirder57 commented on #327
Looks good

[2015-10-19 18:29] #327 closed

[2015-10-19 18:32] WaBirder57 commented on #322
Loren reports:
Testers found the color behavior shift pretty jarring.

David makes a good point, but I think the icon-to-profile image is enough of visual cue, and we've not had any problems with folks knowing whether they are logged in or not with the current static nav.
If it becomes a problem, we have the solution mapped out for us.

So lets stick (change to) with the Orange menu for MBP using

[2015-10-19 18:48] cguardia commented on #274
@davisagli fixed on master

[2015-10-19 18:52] WaBirder57 commented on #321
Looks better thanks.

[2015-10-19 18:52] #321 closed

[2015-10-19 18:54] davisagli commented on #274
@cguardia can you change it to check for the value in the session first so that we can avoid the external request when it's not needed?

[2015-10-19 19:02] WaBirder57 opened #332 "VMS: How do we determine if a WP participant is paid or not"
@mscholtz @kuffelman We need to track if a work party participant is paid or not for each particular work party.  While we track the Contact Crew Leader Paid status to use as a default for Crew Leaders, other participants for a particular work party may be paid (such as staff filling in as an ACL) or other person.  Also, a Paid Crew leader might participate as a volunteer, so they are not always p

[2015-10-19 19:02] cguardia commented on #274
Oops, sorry about that. Fixed.

[2015-10-19 19:13] davisagli commented on #274
@WaBirder57 the issue Tiffany found should be fixed now. Once you've completed a captcha you won't have to complete it again even if you have to adjust something on the form.

[2015-10-19 19:56] cguardia commented on #308
@davisagli Added a fix for this.

[2015-10-19 20:40] davisagli commented on #308
@cguardia you did exactly what I said but we actually need to do more because there are some field values that contain a valid paragraph or header followed by some text that is not wrapped with any tag. For example the Overview field for this work party: http://staging.wta.org:6543/workparty/a2eK00000000gHB/

Can you change it so that it splits the field on \n\n, and uses your logic to add p tags

[2015-10-19 20:44] davisagli commented on #308
This is already quite a bit better though, @WaBirder57

[2015-10-19 20:55] WaBirder57 commented on #274
Tiffany reports this is fixed, thanks.
:
Yep--problem fixed. I tried it in all the desktop browsers and didn't have a problem. I did notice that the Captcha on Firefox required me to pick a photo (of pizza!) whereas the other browsers just made me confirm I wasn't a robot with a check box. I don't know that it's very important, but thought I'd mention it.

[2015-10-19 20:55] #274 closed

[2015-10-19 20:57] davisagli commented on #274
I think google does some A/B testing with different captcha approaches as they try to stay ahead of spammers, so that's probably why it was different in one case.

[2015-10-19 21:24] cguardia commented on #274
During testing and development of this feature, I sometimes got the pictures, sometimes just the checkbox. No discernible pattern.

[2015-10-19 21:37] WaBirder57 opened #333 "VMS: Group work party Docusign Group MOU Error"
When you click the "Send MOU" button on a Work Party Group (for example: https://cs9.salesforce.com/a2yK0000000BwB4 ) you get the following Error:

![docusignerrorgroupmou](https://cloud.githubusercontent.com/assets/8312206/10592099/be37684e-766e-11e5-836e-eaac28821098.JPG)

[2015-10-19 22:12] cguardia commented on #308
@davisagli ok, I think I got it now.

[2015-10-19 22:35] cewing commented on #311
It would appear that the problem here is that the interface that supports indexing for twothumbs is not provided by the trip report content type.  I'll fix that and it should allow this to work.  As an aside, this should also mean that the display of the maximum number of upvotes on the trip reports page (and on the my backpack dashboard in the trip reports widget) will work properly too.  I don't

[2015-10-19 23:23] davisagli commented on #286
Removing the reviewing tag because there's a pyramid part to this too that still needs to be done.

[2015-10-19 23:33] davisagli commented on #308
Looks good to me.

[2015-10-19 23:37] WaBirder57 opened #334 "VMS: Group Work party capacity should hold slots in WP and also shows ACL needed"
For a Group Work party we need to have the number of slots for the Group Capacity saved so that others (in public work parties) can't take those spots.

Also, for Private or Public group work parties if the slots have been saved for a group (even if we don't know the specific names of the volunteers yet) we need to show that we need ACL's, based on the size of the group so that ACL will know they

[2015-10-19 23:47] davisagli commented on #311
Should work now. Thanks for the diagnosis and fix @cewing.

[2015-10-19 23:55] #329 closed

[2015-10-20 00:01] WaBirder57 commented on #311
It works, thanks!

[2015-10-20 00:01] #311 closed

[2015-10-20 13:31] cguardia commented on #314
Added js toggle.

[2015-10-20 16:33] WaBirder57 opened #335 "VMS: WP with Reguired forms - auto un-check "allow guest registration""
When a Work Party Type has required documents other than Parent Release auto Un-check the Allow Guest Registrations field.  We will not allow guest registrations for WP Type that have these other required documents so this is just a check that this field is set correctly.

[2015-10-20 16:36] WaBirder57 opened #336 "VMS/MBP: MBP Work Party Summary should show WP Name"
Attached is a screen shot of the WP Summary list.  The WP Name should be included before the date.

![wpsummaryreportsneedwpname](https://cloud.githubusercontent.com/assets/8312206/10614208/d0946d6c-770d-11e5-9a63-e859e84bcad3.png)

[2015-10-20 16:58] WaBirder57 opened #337 "VMS: Volunteers Needed tool tip (pop up text) should read "Extra Volunteers Needed""
When a user mouses over the Green Hat icon in the WP List view indicating that we want to draw attention to a work party the tip that shows in the text pop up should read "Extra Volunteers Needed", currently it reads "Volunteers Needed".

![extravolunteersneededtip](https://cloud.githubusercontent.com/assets/8312206/10614878/7bb171ba-7711-11e5-9d97-2b31a50808f2.png)

[2015-10-20 18:42] davisagli commented on #314
This is working now.

[2015-10-20 18:46] davisagli commented on #337
fixed

[2015-10-20 19:05] davisagli commented on #336
Fixed

[2015-10-20 19:07] davisagli commented on #282
done

[2015-10-20 19:52] davisagli commented on #331
Fixed (there was a 1px right border on the My Backpack button)

[2015-10-20 22:34] WaBirder57 opened #340 "VMS: WP payment screen layout for iPad"
Tiffany reports this issue with the WP Payment screen on iPad:

I just tried to sign up for White Bluffs on my iPad and couldn't find a way to actually make the pretend credit card payment. I tried Firefox and the button showed up but chrome and iPad didn't provide me with a pay now button.

(Also, the expiration and code Info on the payment page looked a bit weird on my iPad in portrait mode--pic

[2015-10-20 23:10] davisagli commented on #275
This should now show Registered if the payment was successfully processed.

[2015-10-20 23:53] davisagli commented on #286
This is done but I'm not sure how to test it because in staging I don't think the Click and Pledge settings are set up to create a temporary contact when the address doesn't match like they are in production. @mscholtz or @WaBirder57 can you adjust those settings to match the production click and pledge settings so I can test? (I don't remember which of you has access to the Click and Pledge accou

[2015-10-21 06:21] cguardia commented on #259
Added an image tag to the body of the email.

[2015-10-21 20:04] davisagli opened #341 "canceling registration does not work"
If I click the Cancel Registration button in VMS, it changes to Cancelling... and just sits there.

This used to update the registration info in the session which triggered a rerender, but now registration info is no longer in the session so we need to update it a different way.

[2015-10-21 20:32] WaBirder57 commented on #337
Looks great.

[2015-10-21 20:32] #337 closed

[2015-10-21 21:47] davisagli commented on #340
Both should work better now. If it doesn't look any different you might need to clear the mobile Safari browser cache in system settings.

[2015-10-21 21:52] WaBirder57 opened #342 "VMS: Multiday WP Edit hours only shows one day rather than each day of WP to enter Hrs"
As a CL when wants to enter the hours worked for a multi day work party the Edit Hours button on the Report tab opens up the pop up for this.  However, only one day is shown (see attached).  There should be (and there was before) a column available for each day of the work party with a row for each registered participant.  Here is a link to a work party which shows this problem http://staging.wta.

[2015-10-21 21:56] WaBirder57 opened #343 "VMS: WP Edit Hours should show hours entered for each Volunteer for each day if already entered"
When a CL on the Report Tab for a Work party wants to "edit" the Hours Work they should be able to click the Edit button to review the data that has already been entered for each volunteer, for each day.  Currently if hours worked has been entered and saved, these values are not shown again if the CL again clicks on Edit Hours, rather they show 0 for hrs worked.

[2015-10-21 21:58] davisagli commented on #342
Fixed, this was another accidental side effect of the switch to showing start/end times in addition to dates.

[2015-10-21 22:03] WaBirder57 commented on #341
Is this also affecting the VMS Crew Corner tab.  When i click on "Cancel" for a registered participant it flashes for a sec (looks like is says Submitting) and then goes back to "Cancel". Nothing happens to the registration record in Salesforce, the registration status does not change.  If this is a different issue we can move my comment to a new Ticket.

[2015-10-21 22:04] davisagli commented on #341
Not sure if it's the same, we'll figure that out. Thanks for mentioning it.

[2015-10-21 22:04] davisagli commented on #343
Fixed

[2015-10-21 22:07] WaBirder57 commented on #343
Thanks, showing each day now.

[2015-10-21 22:07] #343 closed

[2015-10-21 22:10] WaBirder57 commented on #259
Tiffany reports the following problem with this now.  Email is not sent but the following error appears:
![wpemailthanksimageerror](https://cloud.githubusercontent.com/assets/8312206/10651676/d7ef3e36-7805-11e5-84b1-2e266cc0fbcb.PNG)

So I tried to do this as a crew leader for the following parties:
https://cs9.salesforce.com/a2eK00000000jDN
https://cs9.salesforce.com/a2eK00000000jDS
https://cs9.s

[2015-10-21 22:11] WaBirder57 commented on #342
Looks good.

[2015-10-21 22:11] #342 closed

[2015-10-21 22:24] davisagli commented on #259
Can you debug this @cguardia?

David Glick
(mobile)

[2015-10-21 22:29] WaBirder57 commented on #259
Did Matthew at one point say that there is some API issue regarding sending images this way using SendGrid, or was that regarding a different issue?

Charlie

From: David Glick [mailto:notifications@github.com]
Sent: Wednesday, October 21, 2015 3:25 PM
To: washingtontrails/vms
Cc: Charles Kahle
Subject: Re: [vms] thank you email: put image inline? (#259)

Can you debug this @cguardia?

David Glick

[2015-10-21 22:31] davisagli commented on #259
Different issue; we are just sending an img tag that loads an image from a URL here, not the image data as an attachment

David Glick
(mobile)

[2015-10-21 23:51] cguardia commented on #259
I have not been able to reproduce this so far (email gets sent for me). However, I noticed something else: The help text for the image field says that the user can put the URL of an image or a of a page with images. Inserting an image tag will not work in the latter case. Maybe I should see if the URL ends with an image extension and use an image tag in that case, or a plain link otherwise?

[2015-10-22 00:12] cguardia commented on #259
I did it the way I described above.

[2015-10-22 15:28] WaBirder57 commented on #259
I will ask Tiffany to send more detailed steps to reproduce the error she reported.

[2015-10-22 20:21] WaBirder57 commented on #331
Looks good.

[2015-10-22 20:21] #331 closed

[2015-10-22 20:22] WaBirder57 commented on #324
The side menu now includes "My" as requested.

[2015-10-22 20:22] #324 closed

[2015-10-22 23:17] WaBirder57 commented on #259
@cguardia Here is more from Tiffany:

Okay, I think I've got something figured out.

I tested this a bunch of different ways and if you want to read the details, I attached a google doc where I documented what I was doing. But the gist is: I was consistently blocked on sending a message until I edited the subject line of the email message, at which point the message sent. As long as I left the aut

[2015-10-22 23:49] WaBirder57 commented on #340
Tiffany says it is better.  However, test with any payment for a WP and the "Pay Now" button doesn't show on iPad or iPhone.  (perhaps hidden behind time remaining bar)

[2015-10-23 06:59] davisagli commented on #259
Thanks, that's a great clue about it not working unless you edit the subject. We'll take another look.

[2015-10-23 07:00] davisagli commented on #340
I moved the time remaining bar so it's just below the step 1/2/3 header, so if you're still seeing it at the bottom you have an old cached page.

[2015-10-23 13:51] cguardia commented on #259
I believe I have fixed the issues, but this is not deployed yet.

[2015-10-23 17:01] WaBirder57 commented on #340
@davisagli Does the Time remaining bar float over the content of the page?  When the browser window is sized so it is not tall enough, the Pay Now button is hidden by this floating bar.  I think that is confusing folks and they can see the "Pay Now" button (unless the think to try the vertical scroll bar).  I think this is impacting mobile devices as those screens are smaller and scrolling may not

[2015-10-23 17:29] WaBirder57 opened #345 "VMS: Payment not provided WP registration doesn't time out in SF - user can't try again."
What a volunteer signs up for a Work Party which requires a payment.  On the Payment screen if they do not complete the form in the time period provided  they are given a button to "Try Again".  However the SF Registration record still has a status of "Payment Not Provided" and when they click the Try Again button they are taken to the Registration page but now get an error "Contact already has a

[2015-10-23 17:34] davisagli commented on #340
It was floating, but I fixed that a couple days ago.

[2015-10-23 18:09] WaBirder57 commented on #340
Well this is frustrating...
Tiffany just did a screen share to show me her Chrome browser and how the Time remaining Bar is static/fixed but is on top of the Pay Now button.  changing the size of the browser window gives you a vertical scroll bar but that doesn't reveal the Pay Now button.

However on my computer with Chrome the time remaining bar is locked at the bottom of my browser window.  Whe

[2015-10-23 19:46] davisagli commented on #345
Actually we should leave it as "Payment Not Provided" -- so you can tell that that's what happened -- but treat it the same as Canceled.

[2015-10-23 19:55] WaBirder57 commented on #345
Yes, that would work, I think.

[2015-10-23 20:43] cewing commented on #345
I'll pick this one up and work on it.

[2015-10-23 23:00] WaBirder57 commented on #213
@davisagli This update needs to be made to the printer roster.  It shows on Crew Corner just fine.

[2015-10-23 23:03] WaBirder57 commented on #313
This looks GREAT!  Nice job.

[2015-10-23 23:03] #313 closed

[2015-10-23 23:06] WaBirder57 commented on #239
OK, looks good.

[2015-10-23 23:06] #239 closed

[2015-10-23 23:07] WaBirder57 commented on #308
Good.

[2015-10-23 23:07] #308 closed

[2015-10-23 23:08] #275 closed

[2015-10-23 23:10] WaBirder57 commented on #196
Thanks,

[2015-10-23 23:10] #196 closed

[2015-10-23 23:11] #193 closed

[2015-10-23 23:12] #314 closed

[2015-10-23 23:12] #200 closed

[2015-10-23 23:13] #282 closed

[2015-10-23 23:16] WaBirder57 commented on #161
Nice!

[2015-10-23 23:16] #161 closed

[2015-10-23 23:19] #160 closed

[2015-10-23 23:19] #270 closed

[2015-10-23 23:29] WaBirder57 commented on #240
Good.

[2015-10-23 23:29] #240 closed

[2015-10-23 23:31] #223 closed

[2015-10-23 23:32] #279 closed

[2015-10-23 23:32] #234 closed

[2015-10-23 23:33] #228 closed

[2015-10-23 23:34] WaBirder57 commented on #278
Looks good.

[2015-10-23 23:34] #278 closed

[2015-10-23 23:36] #195 closed

[2015-10-23 23:37] WaBirder57 commented on #155
Working now.

[2015-10-23 23:37] #155 closed

[2015-10-24 00:28] cewing commented on #345
I am unable to reproduce this behavior, even though yesterday I saw it myself.

As things stand on master now, when the payment form times out, an AJAX request is sent to `/workparty/<wp_id>/cancel`.  That view updates the status of the registration of the current user in the identified workparty to **Cancelled**.  Then when the user clicks on "Try again" they end up at the registration form and a

[2015-10-24 00:32] cewing commented on #345
I'm removing the "pyramid" tag from this issue, as it appears to be a problem that can only be solved from within Salesforce

[2015-10-24 02:12] cewing commented on #341
@davisagli, I've got the cancel button fixed so that the `WorkPartyStatus` component is appropriately redrawn after the AJAX call to cancel the registration returns successfully.

I'm still working out how we might deal with the fact that we can still see information in the `WorkPartyCrewCorner` component and the `WPReportLoader`/`WPReportView` components, which may now be in the page, but should

[2015-10-26 17:06] WaBirder57 opened #346 "VMS: Work Party list should not list work parties either 2 or 5 days before start date"
On the Find a Work party list, work parties should not be displayed if they are close to starting.  For One Day or Two Day work parties, they should not be displayed 2 days prior to the start date.

For longer work parties (typically Volunteer vacations, BCRT's etc) they should not be listed 5 days prior to the start date.

[2015-10-26 17:08] davisagli commented on #346
Sounds like a new story -- that hasn't come up before, has it?

What if the user has explicitly chosen "this week" or a custom date range that includes the next 2-5 days?

[2015-10-26 17:09] davisagli commented on #346
What's the motivation for this? i.e. what's the "so that I can Z" part of the "as an X, I can Y, so that I can Z" user story format?

[2015-10-26 17:20] WaBirder57 commented on #346
@ebskopin I would have to dig up the reference to this in the discovery process.  Basically the motivation for this is that Work Parties need lead time for planning.  Day Work (or weekend) parties 2 days, longer work parties need 5 days.  Custom Date range selection should still honor this black out period and not show work parties that fall in this range.  Any additional ACL's that are needed dur

[2015-10-26 17:22] davisagli commented on #346
Yes, but you don't know that users are searching for the purpose of registering. They might be trying to find a work party that's happening tomorrow so that they can see the directions and other info.

[2015-10-26 17:23] davisagli commented on #346
If the goal is to keep people from registering too close to the start of a work party, we should implement that, not hide work parties from the search.

[2015-10-26 17:33] WaBirder57 opened #347 "VMS: Work party registration with required forms add language to Friends/Family sign up"
When a volunteer is signing up for a Work Party that requires forms they can also include a registration for a Friend or Family member.  This person will also need to complete these required forms and we should mention this on that part of the registration form.

"You may register yourself and a spouse or partner.  Each participant will need to complete the required forms accessed through My Backp

[2015-10-26 17:48] WaBirder57 opened #348 "MBP/VMS - My Backpack Menu title wraps"
When a user logs into VMS the My Backpack menu wraps as shown in the screen shot below.  The "MY" is in the Menu but the "Backpack" wraps and is displayed over the background image.  If the drop down menu is displayed this wrapped text disappears.  When the screen size is reduced is it possible to reduce the size of the font so that menu text doesn't need to wrap?  Not sure what the best approach

[2015-10-26 17:51] davisagli commented on #348
Which browser is this?

[2015-10-26 17:52] WaBirder57 commented on #346
Yes, you are correct.  Goal is to keep folks from registering.  Lets implement that as you suggest.  Great idea, thank you.

[2015-10-26 17:55] WaBirder57 commented on #348
Firefox and also reported in Chrome.  Works OK in Internet Explorer.

[2015-10-26 17:57] davisagli commented on #346
Do you need to be able to override this registration cutoff period for particular work parties, or is it enough to have a number of days configured on the Work Party Type?

After the cutoff should people be allowed to join the waitlist, or not sign up at all?

Does this new feature have any correspondence with the existing Work Party Type setting for "Waitlist Volunteers Window" which controls the

[2015-10-26 18:00] davisagli commented on #348
And are you seeing it on VMS (http://staging.wta.org:6543), Plone (http://mybackpack.wta.org) or both?

I'm not seeing it, so another possibility is that Chrome & Firefox are rendering the font slightly differently on Windows vs OS X.

I'll try to make the button slightly wider or able to adjust to the width of what's inside it, but it'll be easiest to get right if I can reproduce the problem.